<template>
  <div>
    <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Tickets &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewTicket">Create New Ticket</a></h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">OICC Management</li>
                <li class="breadcrumb-item active">Tickets</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
            <div class="card-body"> 
                  <Table 
                  :dataFields="dataFields"
                  :dataUrl="dataUrl"
                  :primaryKey="primaryKey"
                  :actionButtons="actionButtons"
                  v-on:editButton="editTicket"
                  v-on:modalViewTickets="viewTickets"
                  ref="dataTable">
                  </Table>
                </div>
            </div>
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

      <!-- Modal Add New / Edit Employee -->
      <div class="modal fade" id="ticket-form" tabindex="-1" aria-labelledby="ticket-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addNewTicket" v-show="addNewButton">Add New Ticket</h5>
              <h5 class="modal-title" id="editTicket" v-show="saveButton">Edit Ticket</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">

                <div class="form-group row">
                  <label for="id_number" class="col-sm-4 col-form-label">Client <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8" id="client_id">
                    <multiselect v-model="tiket_form.client_id" track-by="client_name" label="client_name" placeholder="Select Client" :options="clients" :searchable="true" :allow-empty="false" @input="getJobOrder" @select="getJobOrder">
                    </multiselect>
                    <div class="invalid-feedback" id="error_client_id"></div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="id_number" class="col-sm-4 col-form-label">Order Number / PO Number <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8" id="job_order_id">
                    <multiselect v-model="tiket_form.job_order_id" track-by="po_order_number" label="po_order_number" placeholder="Select Order / PO Number" :options="job_orders" :searchable="true" :allow-empty="false" @select="getSiteList">
                    </multiselect>
                    <div class="invalid-feedback" id="error_job_order_id"></div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="id_number" class="col-sm-4 col-form-label">Site Name <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8" id="job_order_details_id">
                    <multiselect v-model="tiket_form.job_order_details_id" track-by="site_name" label="site_name" placeholder="Select Client" :options="job_order_details" :searchable="true" :allow-empty="false">
                    </multiselect>
                    <div class="invalid-feedback" id="error_job_order_details_id"></div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="name" class="col-sm-4 col-form-label">Team Name / Subcon Name <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8" id="team_id">
                    <multiselect v-model="tiket_form.team_id" track-by="name" label="name" placeholder="Select Team" :options="teams" :searchable="true" :allow-empty="false">
                    </multiselect>
                    <div class="invalid-feedback" id="error_team_id"></div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="team_lead" class="col-sm-4 col-form-label">Service Type <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8" id="service_type">
                    <multiselect v-model="tiket_form.service_type" placeholder="Select Service Type" :options="service_types" :searchable="true" :allow-empty="false">
                    </multiselect>
                    <div class="invalid-feedback" id="error_service_type"></div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="team_lead" class="col-sm-4 col-form-label">Start Date <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <date-picker v-model="tiket_form.start_date" placeholder="YYYY-MM-DD" :config="options" id="start_date" autocomplete="off"></date-picker>
                    <div class="invalid-feedback" id="error_start_date"></div>
                  </div>
                </div>                

                <div class="form-group row">
                  <label for="team_lead" class="col-sm-4 col-form-label">Is Priority</label>
                  <div class="col-sm-8">
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" type="checkbox" id="status" v-model="tiket_form.is_priority" value="true">
                        <label for="status" class="custom-control-label"></label>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="team_lead" class="col-sm-4 col-form-label">Remarks / Special Instructions</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" id="remarks" v-model="tiket_form.remarks" placeholder="References"></textarea>
                  </div>
                </div>                

              </div>
              <!-- /.card-body -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" v-show="addNewButton" @click="validateForm">Create Ticket</button>
              <button type="button" class="btn btn-primary" v-show="saveButton" @click="validateForm">Save Changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Add New Team -->

      <div class="modal fade" id="ticketModal" tabindex="-1" aria-labelledby="ticketModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h5 class="modal-title" id="exampleModalLabel" style="color:#fff;">Ticket Details</h5>
            </div>
            <div class="modal-body mt-3">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="text-nowrap">Ticket</th>
                    <th class="text-nowrap">References</th>
                    <th class="text-nowrap">Start Date</th>
                    <th class="text-nowrap">End Date</th>
                    <th class="text-nowrap">Status</th>
                    <th class="text-nowrap">Remarks</th>
                  </tr>                  
                </thead>
                <tbody>
                  <tr v-for="(ticket, index) in tiket_form.ticket_details">
                    <td>{{ ticket.ticket_name }}</td>
                    <td>{{ ticket.ticket_references }}</td>
                    <td class="text-nowrap">{{ ticket.start_date }}</td>
                    <td class="text-nowrap">{{ ticket.end_date }}</td>
                    <td>
                      <span v-if="ticket.status== 1" class="badge btn-secondary">Not yet started</span> 
                      <span v-if="ticket.status == 2" class="badge badge-primary">On Going</span>
                      <span v-if="ticket.status == 3" class="badge badge-success">Done</span>
                    </td>
                    <td>{{ ticket.remarks }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>

  </div>
</template>
<script>  
  import Table from '../../../components/Table';
  import Multiselect from 'vue-multiselect';

  export default {
    name: "Users",
    data() {
        return {
          tiket_form: {
              id: '',
              client_id: '',                    
              job_order_id: '',
              job_order_details_id: '',
              team_id: '',
              service_type: '',
              remarks: '',
              start_date: '',
              end_date: '',
              is_priority: '',
              ticket_details: [],
          },
          clients: [],
          job_orders: [],
          job_order_details: [],
          teams: [],
          service_types: ['SIMPLE', 'MEDIUM', 'COMPLEX'],
          options: {
            format: 'YYYY-MM-DD',
            useCurrent: true,
          },
          addNewButton: true,
          saveButton: false,                
          dataFields: {
            ticket_number: "Ticket Number",
            client_name: "Client Name", 
            job_order: "Job Order / PO Number", 
            site_name: "Site Name", 
            team_name: "Team Name", 
            service_type: "Service Type", 
            start_date: "Start Date", 
            end_date: "End Date", 
            is_priority: {
              name: "Is Priority", 
              type:"Boolean", 
              status: { 
                0: '<span class="badge btn-secondary">No</span>', 
                1: '<span class="badge badge-success">Yes</span>',
              },
            }, 
            track_code: "Track Code", 
            status: {
              name: "Status", 
              type:"Boolean", 
              status: { 
                1: '<span class="badge badge-primary">Created</span>',
                2: '<span class="badge badge-secondary">In Progress</span>',
                3: '<span class="badge badge-success">Finish</span>',
              },
            },  
            remarks: "Remarks", 
            name: "Date Created", 
          },
          primaryKey: "id",
          dataUrl: "/api/v1/ticket/list",
          actionButtons: {
            edit: {
              title: 'Edit this ticket',
              name: 'Edit',
              apiUrl: '',
              routeName: 'ticket.edit',
              button: '<i class="fas fa-edit"></i> Edit',
              method: 'edit'
            },
            delete: {
              title: 'Delete this ticket',
              name: 'Delete',
              apiUrl: '/api/v1/ticket/delete',
              routeName: '',
              button: '<i class="fas fa-trash-alt"></i> Delete',
              method: 'delete'
            },
            view: {
              title: 'View this ticket',
              name: 'View',
              apiUrl: '',
              routeName: '',
              button: '<i class="fas fa-clipboard-check"></i> View Tickets',
              method: 'view',
              v_on: 'modalViewTickets',
            },
          },
        };
    },

    created() {
      axios.get('/api/v1/lookup/clients')
      .then( response => {
        this.clients = response.data.data;
      });

      this.getTeamList();
    },

    methods: {
        getJobOrder: function(client) {
          this.tiket_form.job_order_id = '';
          this.job_orders = [];

          axios.put('/api/v1/lookup/job-orders', { client_id : client.id })
          .then( response => {
            this.job_orders = response.data.data;
          });
        },

        getSiteList: function(job_order) {
          axios.put('/api/v1/lookup/site-list', { job_order_id: job_order.id })
          .then( response => {
            this.job_order_details = response.data.data;
          });
        },

        getTeamList: function(client) {
          axios.get('/api/v1/lookup/team-list')
          .then( response => {
            this.teams = response.data.data;
          });
        },

        addNewTicket: function() {
          this.tiket_form.id = '';
          this.tiket_form.client_id = '';                    
          this.tiket_form.job_order_id = '';
          this.tiket_form.job_order_details_id = '';
          this.tiket_form.team_id = '';
          this.tiket_form.service_type = '';
          this.tiket_form.remarks = '';
          this.tiket_form.start_date = '';
          this.tiket_form.end_date = '';
          this.tiket_form.is_priority = '';                    
          this.addNewButton = true;
          this.saveButton = false;
          $('#ticket-form').modal('show');
        },

        editTicket: function(id) {
          axios.get('/api/v1/ticket/'+id)
          .then(response => {
            var ticket = response.data.data;

            this.getJobOrder(ticket.client_details);
            this.getSiteList(ticket.job_order_details);

            this.tiket_form.id = ticket.id;
            this.tiket_form.client_id = ticket.client_details;                    
            this.tiket_form.job_order_id = ticket.job_order_details;
            this.tiket_form.job_order_details_id = ticket.site_details;
            this.tiket_form.team_id = ticket.team_details;
            this.tiket_form.service_type = ticket.service_type;
            this.tiket_form.start_date = ticket.start_date;
            this.tiket_form.is_priority = ticket.is_priority;
            this.tiket_form.remarks = ticket.remarks;

            this.addNewButton = false;
            this.saveButton = true;
            $('#ticket-form').modal('show');
          });          
        },

        validateForm: function() {
          if(this.tiket_form.client_id
            && this.tiket_form.job_order_id
            && this.tiket_form.job_order_details_id
            && this.tiket_form.team_id
            && this.tiket_form.service_type
            && this.tiket_form.start_date) 
            {
              this.storeTicket();             
            }

            if(!this.tiket_form.client_id) {
                $("#client_id").addClass("is-invalid");
                $("#error_client_id").css("display", "block");
                $("#error_client_id").html("Client is required.");
            }
            else {
                $("#client_id").removeClass("is-invalid");
                $("#error_client_id").css("display", "none");
                $("#error_client_id").html("");
            }

            if(!this.tiket_form.job_order_id) {
                $("#job_order_id").addClass("is-invalid");
                $("#error_job_order_id").css("display", "block");
                $("#error_job_order_id").html("Job order is required.");
            }
            else {
                $("#job_order_id").removeClass("is-invalid");
                $("#error_job_order_id").css("display", "none");
                $("#error_job_order_id").html("");
            }

            if(!this.tiket_form.job_order_details_id) {
                $("#job_order_details_id").addClass("is-invalid");
                $("#error_job_order_details_id").css("display", "block");
                $("#error_job_order_details_id").html("Site name is required.");
            }
            else {
                $("#job_order_details_id").removeClass("is-invalid");
                $("#error_job_order_details_id").css("display", "none");
                $("#error_job_order_details_id").html("");
            }

            if(!this.tiket_form.team_id) {
                $("#team_id").addClass("is-invalid");
                $("#error_team_id").css("display", "block");
                $("#error_team_id").html("Team is required.");
            }
            else {
                $("#team_id").removeClass("is-invalid");
                $("#error_team_id").css("display", "none");
                $("#error_team_id").html("");
            }

            if(!this.tiket_form.service_type) {
                $("#service_type").addClass("is-invalid");
                $("#error_service_type").css("display", "block");
                $("#error_service_type").html("Service type is required.");
            }
            else {
                $("#service_type").removeClass("is-invalid");
                $("#error_service_type").css("display", "none");
                $("#error_service_type").html("");
            }

            if(!this.tiket_form.start_date) {
                $("#start_date").addClass("is-invalid");
                $("#error_start_date").html("Start date is required.");
            }
            else {
                $("#start_date").removeClass("is-invalid");
                $("#error_start_date").html("");
            }

        },

        storeTicket: function() {
          axios.post('/api/v1/ticket/store', this.tiket_form)
          .then( response => {
              toastr.success(response.data.message)
              this.$refs.dataTable.fetchData();
              $('#ticket-form').modal('hide');
          });
        },

        viewTickets: function(data) {
          this.tiket_form.ticket_details = data.ticket_details;
          $("#ticketModal").modal('show');
        }

    },

    components: {
      Table, Multiselect
    }
  };
</script>