<template>
  <div>
    <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Pay Period &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="createNewPayPeriod">Create Pay Period</a></h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Payroll Management</li>
                <li class="breadcrumb-item active">Pay Period</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body"> 
                  <Table 
                  :dataFields="dataFields"
                  :dataUrl="dataUrl"
                  :actionButtons="actionButtons"
                  :primaryKey="primaryKey"
                  v-on:editButton="editPayPeriod"
                  ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

      <!-- Modal Add New / Edit Attendance -->
      <div class="modal fade" id="payperiod-form" tabindex="-1" aria-labelledby="payperiod-form" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addNewAttendance" v-show="addNewButton">Create Pay Period</h5>
                <h5 class="modal-title" id="editAttendance" v-show="saveButton">Edit Pay Period</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="userName" class="col-sm-4 col-form-label">Date From <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <date-picker v-model="payperiod.date_from" placeholder="YYYY-MM-DD" :config="options" id="date_from" autocomplete="off"></date-picker>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="userName" class="col-sm-4 col-form-label">Date To <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <date-picker v-model="payperiod.date_to" placeholder="YYYY-MM-DD" :config="options" id="date_to" autocomplete="off"></date-picker>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="userName" class="col-sm-4 col-form-label">Categories <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <select class="custom-select" v-model="payperiod.category_id">
                        <option value="" selected="selected">Select Category</option>
                        <option v-for="category in categories" :value="category.id">{{ category.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="userName" class="col-sm-4 col-form-label">Remarks</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" id="remarks" v-model="payperiod.remarks" placeholder="Remarks" rows="3"></textarea>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storePayPeriod">Add New Pay Period</button>
                <button type="button" class="btn btn-primary" v-show="saveButton" @click="updatePayPeriod">Save Changes</button>
              </div>
            </div>
          </div>
      </div>
      <!-- End Modal Add New Designation -->
  </div>
</template>
<script>  
  import Table from '../../../components/Table';

  export default {
    name: "Payroll",
    data() {
        return {
          payperiod: {
            id: '',
            date_from: '',
            date_to: '',
            category_id: '',
            remarks:'',
          },
          categories: [],
          addNewButton: true,
          saveButton: false,
          options: {
            format: 'YYYY-MM-DD',
            useCurrent: false,
          },            
          dataFields: {
            pay_period: "Pay Period", 
            category: "Category Name", 
            remarks: "Remarks",
            created_at: "Date Created"
          },
          primaryKey: "id",
          dataUrl: "/api/v1/payperiod/list",
          actionButtons: {
            edit: {
              title: 'Edit this payperiod',
              name: 'Edit',
              apiUrl: '',
              routeName: 'payperiod.edit',
              button: '<i class="fas fa-edit"></i> Edit',
              method: 'edit'
            },
            delete: {
              title: 'Delete this payperiod',
              name: 'Delete',
              apiUrl: '/api/v1/payperiod/delete',
              routeName: '',
              button: '<i class="fas fa-trash-alt"></i> Delete',
              method: 'delete'
            },
            view: {
              title: 'Show Details',
              name: 'View',
              routeName: 'payroll-process',
              button: '<i class="fas fa-file-invoice"></i> Show Details',
              method: 'link'
            },
          },
        };
    },

    created(){
      axios.get('/api/v1/category/all/employee')
          .then(response => this.categories = response.data.data);
    },

    methods: {

        createNewPayPeriod: function() {
          this.payperiod.id = null;
          this.payperiod.date_from = null;
          this.payperiod.date_to = null;
          this.payperiod.category_id = '';
          this.payperiod.remarks = null;
          this.addNewButton = true;
          this.saveButton = false;
          $('#payperiod-form').modal('show');
        },

        editPayPeriod: function(id) {
            axios.get('/api/v1/payperiod/'+id)
            .then(response => {
              var payperiod = response.data.data;
              this.payperiod.id = payperiod.id;
              this.payperiod.date_from = payperiod.date_from;
              this.payperiod.date_to = payperiod.date_to;
              this.payperiod.category_id = payperiod.category_id;
              this.payperiod.remarks = payperiod.remarks;
              this.addNewButton = false;
              this.saveButton = true;
              $('#payperiod-form').modal('show');
            });
        },

        storePayPeriod: function() {

            axios.post('/api/v1/payperiod/store', this.payperiod)
            .then( response => {
                console.log(response.data);
                toastr.success(response.data.message)
                this.$refs.dataTable.fetchData();
                $('#payperiod-form').modal('hide');
                this.$router.push({name: 'payroll-process', params: { id: response.data.data.id}});
            });

        },

        updatePayPeriod: function() {

            axios.put('/api/v1/payperiod/update', this.payperiod)
            .then( response => {
                toastr.success(response.data.message);
                this.$refs.dataTable.fetchData();
                $('#payperiod-form').modal('hide');
            });
        },

    },

    components: {
      Table,
   }
  };
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
