<template>
  <div>
    <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h2>Pay Period ( {{ payperiod }} )</h2>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Payroll Management</li>
                <li class="breadcrumb-item active">Pay Period ( {{ payperiod }} )</li>
              </ol>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-sm-4">
              <h5>Category : {{ category_name }}</h5>
            </div>
            <div class="col-sm-8" style="text-align: right;">
              <button type="button" class="btn btn-primary" v-if="is_lock == 0" data-toggle="modal" data-target="#confirmPayroll">Process Payroll</button>
              <button type="button" class="btn btn-danger" v-if="is_lock == 0" data-toggle="modal" data-target="#confirmModal">Lock Pay Period</button>
              <button type="button" class="btn btn-primary" @click="downloadCsv"><i class="fas fa-download"></i> Download CSV</button>
              <router-link :to="{ name: 'payroll' }" type="button" class="btn btn-outline-primary"><i class="fas fa-arrow-left"></i>&nbsp;Back to List</router-link>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive mt-2">
                    <table class="table table-hover table-bordered" id="payrolls" style="width:100%; height: 550px;">
                      <thead class="text-center">
                        <tr>
                            <th rowspan="2" class="sticky-col first-col align-middle">EMPLOYEE ID</th>
                            <th rowspan="2" class="sticky-col second-col align-middle">EMPLOYEE NAME</th>
                            <th rowspan="2" class="align-middle">STATUS</th>
                            <th rowspan="2" class="align-middle">MONTHLY RATE</th>
                            <th rowspan="2" class="align-middle">DAILY WAGE w/o COLA</th>
                            <th rowspan="2" class="align-middle">NO. OF DAYS</th>
                            <th rowspan="2" class="align-middle">NO. REGULAR/SPECIAL HOLIDAYS</th>
                            <th rowspan="2" class="align-middle">APPROVED LEAVES</th>
                            <th rowspan="2" class="align-middle">COLA</th>
                            <th rowspan="2" class="align-middle">TOTAL BASIC SALARY</th>
                            <th rowspan="2" class="align-middle">OTHER INCOME</th>
                            <th colspan="3">OVER TIME</th>
                            <th colspan="3">NIGHT DIFFERENCIAL</th>
                            <th colspan="3">SPECIAL DAY OR SUNDAY</th>
                            <th colspan="3">SPECIAL DAY OR SUNDAY (OT)</th>
                            <th colspan="3">REGULAR HOLIDAY</th>
                            <th colspan="3">REGULAR HOLIDAY (OT)</th>
                            <th rowspan="2" class="align-middle">TOTAL OVER TIME</th>
                            <th colspan="3" class="align-middle">LATE</th>
                            <th rowspan="2" class="align-middle">TOTAL GROSS SALARY</th>
                            <th rowspan="2" class="align-middle">TAXABLE INCOME</th>
                            <th rowspan="2" class="align-middle">W/TAX</th>
                            <th colspan="4" class="align-middle">DEDUCTIONS FOR GOVERNMENT</th>
                            <th rowspan="2" class="align-middle">TOTAL LOANS</th>
                            <th rowspan="2" class="align-middle">OTHER DEDUCTIONS</th>
                            <th rowspan="2" class="align-middle">TOTAL DEDUCTION</th>
                            <th rowspan="2" class="align-middle">NET SALARY</th>
                        </tr>
                        <tr>
                          <th>No of Hrs</th>
                          <th>Rate/Hr</th>
                          <th>Total Amount</th>
                          <th>No of Hrs</th>
                          <th>Rate/Hr</th>
                          <th>Total Amount</th>                          
                          <th>No of Hrs</th>
                          <th>130%</th>
                          <th>Total Amount</th>                          
                          <th>No of Hrs</th>
                          <th>169%</th>
                          <th>Total Amount</th>  
                          <th>No of Hrs</th>
                          <th>Rate/Hr</th>
                          <th>Total Amount</th>                          
                          <th>No of Hrs</th>
                          <th>260%</th>
                          <th>Total Amount</th>
                          <th>No of Hrs</th>
                          <th>Rate/Hr</th>
                          <th>Total Amount</th>
                          <th>SSS PREM</th>
                          <th>SSS MPF</th>
                          <th>PHIC PREM</th>
                          <th>PAG IBIG PREM</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(payroll, index) in payrolls" v-bind:key="index" class="has-row-actions">
                          <td class="sticky-col first-col"> {{ payroll.employee.id_number }} </td>
                          <td class="sticky-col second-col"> {{ payroll.employee.name}} </td>
                          <td> <div :id="payroll.employee.id_number"></div> </td>
                          <td> {{ payroll.employee.monthly_rate }} </td>
                          <td> {{ payroll.employee.daily_wage_wo_cola }} </td>
                          <td> {{ payroll.number_of_days }} </td>
                          <td> {{ payroll.regular_holidays }} </td>
                          <td> {{ payroll.approved_leaves }} </td>                          
                          <td> {{ payroll.total_cola }} </td>
                          <td> {{ payroll.total_basic_salary }} </td>
                          <td> {{ payroll.other_income }} 
                            <div class="row-actions" style="min-width: 150px;">
                              <span>
                                <a href="#" @click="modalOtherIncome(payroll ,payroll.pay_period, payroll.employee.id, payroll.employee.other_incomes)">
                                  <span><i class="fas fa-edit"></i> Add Other Income</span>
                                </a>
                              </span>
                            </div>
                          </td>
                          <td> {{ payroll.over_time_no_of_hrs }} </td>
                          <td> {{ payroll.over_time_rate_per_hrs }} </td>
                          <td> {{ payroll.over_time_total_amount }} </td>
                          <td> {{ payroll.night_differential_no_of_hrs }} </td>
                          <td> {{ payroll.night_differential_rate_per_hrs }} </td>
                          <td> {{ payroll.night_differential_total_amount }} </td>
                          <td> {{ payroll.special_day_no_of_hrs }} </td>
                          <td> {{ payroll.special_day_rate_per_hrs }} </td>
                          <td> {{ payroll.special_day_total_amount }} </td>
                          <td> {{ payroll.special_day_over_time_no_of_hrs }} </td>
                          <td> {{ payroll.special_day_over_time_rate_per_hrs}} </td>
                          <td> {{ payroll.special_day_over_time_total_amount }} </td>
                          <td> {{ payroll.holiday_day_no_of_hrs }} </td>
                          <td> {{ payroll.holiday_day_rate_per_hrs }} </td>
                          <td> {{ payroll.holiday_day_total_amount }} </td>
                          <td> {{ payroll.holiday_day_over_time_no_of_hrs }} </td>
                          <td> {{ payroll.holiday_day_over_time_rate_per_hrs }} </td>
                          <td> {{ payroll.holiday_day_over_time_total_amount }} </td>
                          <td> {{ payroll.total_over_time }} </td>
                          <td> {{ payroll.late_no_of_minutes }} </td>
                          <td> {{ payroll.late_rate_per_hrs }} </td>
                          <td> {{ payroll.late_total_amount }} </td>
                          <td> {{ payroll.total_gross_salary }} </td>
                          <td> {{ payroll.taxable_income }} </td>                          
                          <td> {{ payroll.withholding_tax }} </td>
                          <td> {{ payroll.sss_prem }} </td>
                          <td> {{ payroll.sss_mpf }} </td>
                          <td> {{ payroll.philhealth_prem }} </td>
                          <td> {{ payroll.pagibig_prem }} </td>
                          <td> {{ payroll.total_loans }} 
                            <div class="row-actions" style="min-width: 150px;">
                              <span>
                                <a href="#" @click="modalShowDetails(payroll.loans)">
                                  <span><i class="fas fa-eye"></i> View Details</span>
                                </a>
                              </span>
                            </div>
                          </td>
                          <td> {{ payroll.other_deductions }} 
                            <div class="row-actions" style="min-width: 150px;">
                              <span>
                                <a href="#" @click="modalOtherDeduction(payroll ,payroll.pay_period, payroll.employee.id, payroll.employee.other_deductions)">
                                  <span><i class="fas fa-edit"></i> Add Other Deduction</span>
                                </a>
                              </span>
                            </div>
                          </td>
                          <td> {{ payroll.total_deductions }} </td>
                          <td> {{ payroll.net_salary }} </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

      <!-- Modal Add New / Edit Other Income -->
      <div class="modal fade" id="otherIncome-form" tabindex="-1" aria-labelledby="otherIncome-form" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="other_income">Other Income</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="row">
                    <div class="col-3"><label class="col-form-label">Amount <span class="font-italic">(required)</span></label></div>
                    <div class="col-3"><label class="col-form-label">Type</label></div>
                    <div class="col-6"><label class="col-form-label">Remarks</label></div>
                  </div>
                  <div class="row mb-3" v-for="(other_income, index) in other_incomes">
                    <div class="col-3">
                        <input type="text" class="form-control" v-model="other_income.amount" placeholder="0.00">
                    </div>
                    <div class="col-3">
                      <select class="custom-select" v-model="other_income.type">
                        <option value="" selected="selected">Select Type</option>
                        <option value="allowance">Allowance</option>
                        <option value="incentive">Incentive</option>
                        <option value="13th-mon">13th Month</option>
                        <option value="tax-refund">Tax Refund</option>
                        <option value="adjustment">+ Adjustment</option>
                        <option value="less-adjustment">- Adjustment</option>
                      </select>
                    </div>
                    <div class="col-5">
                      <input type="text" class="form-control" v-model="other_income.remarks" placeholder="Remarks"/>
                    </div>
                    <div class="col-1">
                      <button type="button" class="btn btn-danger" title="Delete" @click="deleteOtherIncome(index)"><i class="fas fa-trash-alt"></i></button>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-3">
                    <button type="button" class="btn btn-block btn-primary btn-sm" @click="addOtherIncome">Add Other Income <i class="icon fas fa-plus"></i></button>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="saveOtherIncome">Save Changes</button>
              </div>
            </div>
          </div>
      </div>
      <!-- End Modal Add New Other Income -->

      <!-- Modal Add New / Edit Other Deduction -->
      <div class="modal fade" id="otherDeduction-form" tabindex="-1" aria-labelledby="otherDeduction-form" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="other_income">Other Deduction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="row">
                    <div class="col-3"><label class="col-form-label">Amount <span class="font-italic">(required)</span></label></div>
                    <div class="col-9"><label class="col-form-label">Remarks</label></div>
                  </div>
                  <div class="row mb-3" v-for="(other_deduction, index) in other_deductions">
                    <div class="col-3">
                        <input type="text" class="form-control" v-model="other_deduction.amount" placeholder="0.00">
                    </div>
                    <div class="col-8">
                      <input type="text" class="form-control" v-model="other_deduction.remarks" placeholder="Remarks"/>
                    </div>
                    <div class="col-1">
                      <button type="button" class="btn btn-danger" title="Delete" @click="deleteOtherDeduction(index)"><i class="fas fa-trash-alt"></i></button>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-3">
                    <button type="button" class="btn btn-block btn-primary btn-sm" @click="addOtherDeduction">Add Other Deduction <i class="icon fas fa-plus"></i></button>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="saveOtherDeduction">Save Changes</button>
              </div>
            </div>
          </div>
      </div>
      <!-- End Modal Add New Other Deduction -->

      <!-- Modal Show Loan Details -->
      <div class="modal fade" id="loand-details" tabindex="-1" aria-labelledby="loand-details" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="other_income">Loans Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12" v-html="loan_details"></div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
      </div>
      <!-- End Modal Add New Designation -->

     <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModal" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
          </div>
          <div class="modal-body">
            <h6>Locking this pay period means, you cannot edit or re-process this pay period again?</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="lockPayPeriod">OK</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="confirmPayroll" tabindex="-1" aria-labelledby="confirmPayroll" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-danger">
              <h5 class="modal-title" id="exampleModalLabel">Process Payroll</h5>
            </div>
            <div class="modal-body">
              <h6>Period Covered: {{ payperiod }}</h6>
              <h6>Category: {{ category_name }}</h6>
              <h6>Include Government Contribution:
              <label class="checkbox-holder">
                <input type="checkbox" name="government_contribution" id="government_contribution" v-model="government_contribution">
                <span class="checkmark"></span>
              </label>
              </h6>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" @click="generatePayroll">OK</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>


  </div>
</template>
<script>  

  export default {
    name: "Payroll",
    data() {
      return {     
        id: '',
        payperiod: '',
        is_lock: '',
        category_name: '',
        payrolls: [],
        other_incomes: [],
        other_deductions: [],
        loan_details: '',
        payperiod_id: '',
        employee_id: '',
        index_id: '',
        employee_payroll: '',
        government_contribution: true,
      };
    },

    created(){
      this.fetchData();
    },

    methods: {
      fetchData() {
        var id = this.$route.params.id;

        axios.get('/api/v1/payperiod/'+id)
        .then(response => {
            this.id = response.data.data.id;
            this.payperiod = response.data.data.pay_period;
            this.is_lock = response.data.data.is_lock;
            this.category_name = response.data.data.category;
            this.payrolls = response.data.data.payrolls;
        });
      },

      processPayroll(payroll) {
        $('#confirmPayroll').modal('hide');

        $("#"+payroll.employee.id_number).html('<div class="spinner-border text-primary" role="status"></div>');
        axios.post('/api/v1/payperiod/process-payroll', { payroll: payroll, payperiod_id: this.id, with_contri: this.government_contribution } )
        .then( response => {
          if(response.data == true) {
            $("#"+payroll.employee.id_number).html('<span class="badge badge-success">Processed</span>');
          }else {
            $("#"+payroll.employee.id_number).html('<span class="badge badge-danger">Failed</span>');
          }
        })
        .catch((error) => {
          $("#"+payroll.id_number).html('<span class="badge badge-danger">Failed</span>');
        });
      },

      downloadCsv: function() {
        var id = this.$route.params.id;
        axios.get('/api/v1/payperiod/download-csv/'+id)
        .then(response => {
          const link = document.createElement('a');
          link.href = response.data.data.filepath;
          link.setAttribute('download', response.data.data.filename); //or any other extension
          document.body.appendChild(link);
          link.click();
        })
      },

      generatePayroll: function() {
        var object = this;
        $.each( this.payrolls, function( key, payroll ) {
          object.processPayroll(payroll);
        })
        this.fetchData();
      },

      modalOtherIncome: function(payroll, payperiod_id, employee_id, other_incomes) {
        this.employee_payroll = payroll;
        this.payperiod_id = payperiod_id;
        this.employee_id = employee_id;
        this.other_incomes = [];

        if(other_incomes.length) {
          for(var index = 0; index < other_incomes.length; index++) {
            this.other_incomes.push({
              id: other_incomes[index].id,
              amount: other_incomes[index].amount,
              type: other_incomes[index].type,
              remarks: other_incomes[index].remarks
            });
          }
        }else {
          this.addOtherIncome();
        }

        $('#otherIncome-form').modal('show');
      },

      modalOtherDeduction: function(payroll, payperiod_id, employee_id, other_deductions) {
        this.employee_payroll = payroll;
        this.payperiod_id = payperiod_id;
        this.employee_id = employee_id;
        this.other_deductions = [];

        if(other_deductions.length) {
          for(var index = 0; index < other_deductions.length; index++) {
            this.other_deductions.push({
              id: other_deductions[index].id,
              amount: other_deductions[index].amount,
              type: other_deductions[index].type,
              remarks: other_deductions[index].remarks
            });
          }
        }else {
          this.addOtherDeduction();
        }

        $('#otherDeduction-form').modal('show');
      },

      addOtherIncome: function() {
        this.other_incomes.push({
          id: '',
          amount: '',
          type: '',
          remarks: ''
        });
      },

      addOtherDeduction: function() {
        this.other_deductions.push({
          id: '',
          amount: '',
          type: 'deduction',
          remarks: ''
        });
      },

      deleteOtherIncome: function(index){
        this.index_id = index;
        axios.get("/api/v1/payperiod/other-income/delete/"+this.other_incomes[index].id)
        .then(response => {
          if(response.data.status == true){
            this.removedOtherIncome();
          }
        });      
      },

      deleteOtherDeduction: function(index){
        this.index_id = index;
        axios.get("/api/v1/payperiod/other-income/delete/"+this.other_deductions[index].id)
        .then(response => {
          if(response.data.status == true){
            this.removedOtherDeduction();
          }
        });      
      },

      removedOtherIncome: function() {
        this.$delete(this.other_incomes, this.index_id);
        this.index_id = null;
      },

      removedOtherDeduction: function() {
        this.$delete(this.other_deductions, this.index_id);
        this.index_id = null;
      },

      modalShowDetails: function(loans){
        this.loan_details = loans;
        $('#loand-details').modal('show');
      },

      saveOtherIncome: function() {
        axios.put('/api/v1/payperiod/add-other-income', { payroll: this.employee_payroll, payperiod_id: this.payperiod_id, employee_id: this.employee_id, other_incomes: this.other_incomes } )
        .then( response => {
          if(response.data == true){
            this.fetchData();
            this.employee_payroll = null;
            $('#otherIncome-form').modal('hide');
          }
          else {
            toastr.error('Other income must not be empty before saving.');            
          }
        })
      },

      saveOtherDeduction: function() {
        axios.put('/api/v1/payperiod/add-other-income', { payroll: this.employee_payroll, payperiod_id: this.payperiod_id, employee_id: this.employee_id, other_incomes: this.other_deductions } )
        .then( response => {
          if(response.data == true){
            this.fetchData();
            $('#otherDeduction-form').modal('hide');
          }
          else {
            toastr.error('Other deduction must not be empty before saving.');            
          }
        })
      },

      lockPayPeriod: function() {
        var id = this.$route.params.id;
        axios.get('/api/v1/payperiod/locked/'+id)
        .then( response => {
          toastr.success(response.data.message);
          location.reload();
        });
      },

    },
  };
</script>
<style lang="scss" scoped>
    /* Customize the label (the container) */
    .checkbox-holder {
      display: inline-block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 18px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-left: 5px;
    }

    /* Hide the browser's default checkbox */
    .checkbox-holder input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .checkbox-holder:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox-holder input:checked ~ .checkmark {
      background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .checkbox-holder input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox-holder .checkmark:after {
      left: 9px;
      top: 3px;
      width: 7px;
      height: 15px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .sticky-col {
      position: -webkit-sticky;
      position: sticky;
      background-color: white;
      border: 2px solid #dee2e6;
    }

    .sticky-row {
      position: -webkit-sticky;
      position: sticky;
      background-color: white;
      border: 2px solid #dee2e6;
    }

    .first-col {
      width: 100px;
      min-width: 100px;
      max-width: 100px;
      left: 0px;
    }

    .second-col {
      width: 150px;
      min-width: 150px;
      max-width: 150px;
      left: 100px;
    }
</style>