<template>
    <div class="card">
        <div class="card-header border-transparent bg-info">
            <h3 class="card-title">Inbound Transactions</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Request Number</th>
                            <th>Transaction Type</th>
                            <th>Remarks</th>
                            <th>Request Status</th>
                            <th>Updated Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(inbound, index) in inbound_list" v-bind:key="index">
                            <td>{{ inbound.reference_number}}</td>
                            <td>{{ inbound.transaction_type}}</td>
                            <td>{{ inbound.remarks}}</td>
                            <td>
                                <span v-if="inbound.status_id == 3" class="badge badge-warning text-dark">For Verification</span>
                                <span v-if="inbound.status_id == 4" class="badge badge-primary">Verified</span>
                                <span v-if="inbound.status_id == 12" class="badge badge-primary">With Discrepancy</span>
                            </td>
                            <td>{{ inbound.updated_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer text-center">
            <router-link :to="{ name: 'inbound-request' }" class="uppercase">View All Inbound Transactions</router-link>
        </div>
        <!-- /.card-footer -->
    </div>
</template>
<script>

  export default {
    name: 'InBoundRequest',
    data() {
      return {
        inbound_list: [],
      };
    },

    created() {
        this.getInboundRequest();
    },

    methods: {
        getInboundRequest: function() {
            axios.get('/api/v1/warehouse/get-inbound-request')
            .then( response => {
                this.inbound_list = response.data.data;
            });    
        },
    },

    components: {
    }
  };
</script>
<style lang="scss" scoped>
</style>