<template>
  <div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ totals.total_inbound_verifications }}</h3>

                <p>Inbound For Verification</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            </div>
          </div>
          
          <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ totals.total_inbound }}</h3>

                <p>Inbound Transactions</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ totals.total_outbound_verifications }}</h3>

                <p>Outbound For Verification</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
          </div> 

          <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ totals.total_outbound }}</h3>

                <p>Outbound Request</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
          </div> 

          <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ totals.total_po_verifications }}</h3>

                <p>PO For Verification</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
            </div>
          </div>      
          
          <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ totals.total_purchase_orders }}</h3>

                <p>Purchase Orders</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
            </div>
          </div>  
          
        </div>

        <div class="row">
          <div class="col-lg-6 col-12">
            <InboundRequest></InboundRequest>
          </div>
          <div class="col-lg-6 col-12">
            <OutboundRequest></OutboundRequest>
          </div>
          <div class="col-lg-6 col-12">
            <PurchaseOrder></PurchaseOrder>
          </div>
          <div class="col-lg-6 col-12">
            <Inventories></Inventories>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  import PurchaseOrder from './PurchaseOrder';
  import OutboundRequest from './OutboundRequest';
  import InboundRequest from './InboundRequest';
  import Inventories from './Inventories';

  export default {
    name: 'Warehouse',
    data() {
      return {
        totals: [],
      };
    },
    mounted() {
      if (localStorage.getItem('reloaded')) {
        // The page was just reloaded. Clear the value from local storage
        // so that it will reload the next time this page is visited.
        localStorage.removeItem('reloaded');
      } else {
        // Set a flag so that we know not to reload the page twice.
        localStorage.setItem('reloaded', '1');
        location.reload();
      }
    },

    created(){
      this.getTotalsRequest();
    },

    methods: {
      getTotalsRequest: function() {
          axios.get('/api/v1/warehouse/get-totals')
          .then( response => {
              this.totals = response.data.data;
          });    
      },
    },

    components: {
      PurchaseOrder,
      OutboundRequest,
      InboundRequest,
      Inventories
    },

  };
</script>
<style scoped>
  ul {
    list-style-type: none;
    padding: 0;
  }

  .wrapper {
    padding: 1rem;
  }

  section.contact h2 {
    margin-bottom: 0;
  }

  .bg-secondary {
    color: #fff;
  }

  .bg-secondary h6{
    color: #fff;
  }

  .bg-success {
    color: #fff;
  }

  .bg-success h6{
    color: #fff;
  }

  /* column styles */

  .column__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: .5rem;
    align-items: start;
  }

  .column__item {
    border-radius: .2rem;
    background-color: #dfe3e6;
    padding: .5rem;
  }

  .column__title--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .25rem;
    align-items: center;
  }

  .column__title--wrapper h2 {
    color: #17394d;
    font-weight: 700;
    font-size: .9rem;
  }

  .column__title--wrapper i {
    text-align: right;
    color: #798d99;
  }

  .column__item--cta {
    padding: .25rem;
    display: flex;
    color: #798d99;
  }

  .column__item--cta i {
    margin-right: .25rem;
  }

  /* card styles */

  .card__list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: .5rem;
    margin: .5rem 0;
    padding: 0;
  }

  .card__item {
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    padding: .5rem;
  }

  .card__tag {
    font-size: .75rem;
    padding: .1rem .5rem;
    border-radius: .25rem;
    font-weight: 700;
    color: white;
    margin-bottom: .75rem;
    display: inline-block;
  }

  .card__image {
    width: 100%;
    margin-bottom: .25rem;
  }

  /* sticker colors */

  .card__tag--design {
    background-color: #61bd4f;
  }

  .card__tag--browser {
    background-color: #c377e0;
  }

  .card__tag--mobile {
    background-color: #f2d600;
  }

  .card__tag--high {
    background-color: #eb5a46;
  }

  .card__tag--low {
    background-color: #00c2e0;
  }

  .card__title {
    color: #17394d;
    margin-bottom: .75rem;
  }

  strong {
    color: #FFF;
  }


  /* card actions */

  .card__actions {
    display: flex;
    align-items: center;
  }

  .card__actions--wrapper i {
    color: #798d99;
    margin-right: .5rem;
  }

  .card__actions--text {
    color: #798d99;
    font-size: .8rem;
    margin-left: -.25rem;
    margin-right: .5rem;
  }

  .card__avatars {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .card__avatars--item {
    margin-left: .25rem;
    width: 28px;
    height: 28px;
  }

  .avatar__image {  
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
