<template>
    <div class="card">
        <div class="card-header border-transparent bg-info">
            <h3 class="card-title">Inventories</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>UOM</th>
                            <th>In Stock</th>
                            <th>Updated Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(inventory, index) in inventories" v-bind:key="index">
                            <td>{{ inventory.item_name}}</td>
                            <td>{{ inventory.unit_of_measurement}}</td>
                            <td>{{ inventory.in_stock}}</td>
                            <td>{{ inventory.updated_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer text-center">
            <router-link :to="{ name: 'warehouse-inventory' }" class="uppercase">View All Inventories</router-link>
        </div>
        <!-- /.card-footer -->
    </div>
</template>
<script>

  export default {
    name: 'Inventories',
    data() {
      return {
        inventories: [],
      };
    },

    created() {
        this.getInventories();
    },

    methods: {
        getInventories: function() {
            axios.get('/api/v1/warehouse/get-inventories')
            .then( response => {
            this.inventories = response.data.data;
            });    
        },
    },

    components: {
    }
  };
</script>
<style lang="scss" scoped>
</style>