<template>
    <div class="card">
        <div class="card-header border-transparent bg-warning">
            <h3 class="card-title">Outbound Request List</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Request Number</th>
                            <th>Deliver To</th>
                            <th>Request Status</th>
                            <th>Updated Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(outbound, index) in outbound_list" v-bind:key="index">
                            <td>{{ outbound.request_number}}</td>
                            <td>{{ outbound.deliver_to}}</td>
                            <td>
                                <span v-if="outbound.status_id == 1" class="badge badge-secondary">Draft</span>
                                <span v-if="outbound.status_id == 2" class="badge badge-success">For Canvassing</span>
                                <span v-if="outbound.status_id == 3" class="badge badge-warning text-dark">For Verification</span>
                                <span v-if="outbound.status_id == 4" class="badge badge-primary">Verified</span>
                                <span v-if="outbound.status_id == 5" class="badge badge-primary">For Endorsement</span>
                                <span v-if="outbound.status_id == 6" class="badge badge-primary">Endorsed</span>
                                <span v-if="outbound.status_id == 7" class="badge badge-success">Approved</span>
                                <span v-if="outbound.status_id == 8" class="badge badge-danger">Decline</span>
                                <span v-if="outbound.status_id == 9" class="badge badge-danger">Canceled</span>
                                <span v-if="outbound.status_id == 10" class="badge badge-danger">For Cancelation</span>
                                <span v-if="outbound.status_id == 11" class="badge badge-success">Delivered</span>
                                <span v-if="outbound.status_id == 12" class="badge badge-success">With Discrepancy</span>
                            </td>
                            <td>{{ outbound.updated_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer text-center">
            <router-link :to="{ name: 'outbound-request' }" class="uppercase">View All Outbound Request</router-link>
        </div>
        <!-- /.card-footer -->
    </div>
</template>
<script>

  export default {
    name: 'OutboundRequest',
    data() {
      return {
        outbound_list: [],
      };
    },

    created() {
        this.getOutboundRequest();
    },

    methods: {
        getOutboundRequest: function() {
        axios.get('/api/v1/warehouse/get-outbound-request')
        .then( response => {
          this.outbound_list = response.data.data;
        });    
      },
    },

    components: {
    }
  };
</script>
<style lang="scss" scoped>
</style>