<template>
    <div class="card">
        <div class="card-header border-transparent bg-warning">
            <h3 class="card-title">Latest Purchase Orders</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Request Number</th>
                            <th>PO Number</th>
                            <th>Requestor</th>
                            <th>Request Status</th>
                            <th>Updated Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(order, index) in purchase_orders" v-bind:key="index">
                            <td>{{ order.request_number}}</td>
                            <td>{{ order.po_number}}</td>
                            <td>{{ order.requestor}}</td>
                            <td>
                                <span v-if="order.status_id == 1" class="badge badge-secondary">Draft</span>
                                <span v-if="order.status_id == 2" class="badge badge-success">For Canvassing</span>
                                <span v-if="order.status_id == 3" class="badge badge-warning text-dark">For Verification</span>
                                <span v-if="order.status_id == 4" class="badge badge-primary">Verified</span>
                                <span v-if="order.status_id == 5" class="badge badge-primary">For Endorsement</span>
                                <span v-if="order.status_id == 6" class="badge badge-primary">Endorsed</span>
                                <span v-if="order.status_id == 7" class="badge badge-success">Approved</span>
                                <span v-if="order.status_id == 8" class="badge badge-danger">Decline</span>
                                <span v-if="order.status_id == 9" class="badge badge-danger">Canceled</span>
                                <span v-if="order.status_id == 10" class="badge badge-danger">For Cancelation</span>
                            </td>
                            <td>{{ order.updated_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer text-center">
            <router-link :to="{ name: 'purchase-orders' }" class="uppercase">View All Purchase Orders</router-link>
        </div>
        <!-- /.card-footer -->
    </div>
</template>
<script>

  export default {
    name: 'PurchaseOrders',
    data() {
      return {
        purchase_orders: [],
      };
    },

    created() {
        this.getPurchaseOrders();
    },

    methods: {
      getPurchaseOrders: function() {
        axios.get('/api/v1/warehouse/get-purchase-orders')
        .then( response => {
          this.purchase_orders = response.data.data;
        });    
      },
    },

    components: {
    }
  };
</script>
<style lang="scss" scoped>
</style>