<template>
    <div>
        <section class="content bg-primary">
            <div class="container-fluid">
                <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header p-2">
                            <h2>Catalog Request Details &nbsp;&nbsp;<router-link :to="{ name: 'request-catalog' }" type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-arrow-left"></i>&nbsp;Back to List</router-link></h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table style="width: 100%;">
                                    <tr>
                                    <td style="text-align: center;"><h1>PURCHASE ORDER</h1></td>
                                    </tr>     
                                </table>
                                <hr>
                                <table style="width: 100%;" class="supplier-info">
                                    <tr>
                                    <td class="col-label col-border">Request Number :</td>
                                    <td class="col-content col-border">{{ request_details.request_number }}</td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Requestor :</td>
                                    <td class="col-content col-border">{{ request_details.requestor }}</td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Request Status :</td>
                                    <td class="col-content col-border">
                                        <span v-if="request_details.status_id == 1" class="badge btn-secondary">Pending</span> 
                                        <span v-if="request_details.status_id == 2" class="badge badge-success">For Canvassing</span>
                                        <span v-if="request_details.status_id == 3" class="badge badge-warning text-dark">For Verification</span>
                                        <span v-if="request_details.status_id == 4" class="badge badge-primary">Verified</span>
                                        <span v-if="request_details.status_id == 5" class="badge badge-primary">For Endorsement</span>
                                        <span v-if="request_details.status_id == 6" class="badge badge-primary">Endorsed</span>
                                        <span v-if="request_details.status_id == 7" class="badge badge-success">Approved</span>
                                        <span v-if="request_details.status_id == 8" class="badge badge-danger">Decline</span>
                                    </td>
                                    </tr>
                                </table>
                                <hr>
                                <table style="width: 100%;" class="supplier-info">
                                    <tr>
                                    <td class="col-label col-border">TO:</td>
                                    <td class="col-content col-border">{{ request_details.supplier.name }}</td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Contact Person:</td>
                                    <td class="col-content col-border">{{ request_details.supplier.contact_person }}</td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Address & TIN number:</td>
                                    <td class="col-content col-border">{{ request_details.supplier.address }} / {{ request_details.supplier.tin }}</td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Contact Number:</td>
                                    <td class="col-content col-border">{{ request_details.supplier.contact_number }}</td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Payment Terms:</td>
                                    <td class="col-content col-border">{{ request_details.remarks }}</td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border" style="vertical-align: top;">Attachments:</td>
                                    <td class="col-content col-border">
                                        <div v-for="(attachment, index) in request_details.attachments" v-bind:key="index"><a :href="attachment.file_path" target="_blank">{{ attachment.file_path }}</a></div>
                                    </td>
                                    </tr>
                                </table>
                                <hr>
                                <table style="width: 100%;">
                                    <tr>
                                    <td class="col-border text-center">ITEM</td>
                                    <td class="col-border text-center">QUANTITY</td>
                                    <td class="col-border text-center">UNIT OF MEASUREMENT</td>
                                    <td class="col-border text-center">UNIT PRICE</td>
                                    <td class="col-border text-center">TOTAL PRICE</td>
                                    </tr>
                                    <tr v-for="(item, i_index) in request_details.catalog_details" v-bind:key="i_index">
                                        <td class="col-border text-left">{{ item.item_name }}</td>
                                        <td class="col-border text-center">{{ item.quantity }}</td>
                                        <td class="col-border text-center">{{ item.uom }}</td>
                                        <td class="col-border text-right">{{ item.unit_price }}</td>
                                        <td class="col-border text-right">{{ item.total_price }}</td>                        
                                    </tr>
                                    <tr>
                                    <td colspan="5">&nbsp;</td>
                                    </tr>         
                                    <tr>
                                    <td colspan="3">&nbsp;</td>
                                    <td class="col-border text-left"><strong>GROSS AMOUNT</strong></td>
                                    <td class="col-border text-right"><strong>{{ request_details.total_price_formated }}</strong></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <button type="button" class="btn btn-danger" @click="updateStatus(8)">Decline</button>
                    <button type="button" class="btn btn-primary" v-if="request_details.status_id == 4" @click="updateStatus(7)"><i class="fas fa-check"></i> Approved Request</button>
                    <button type="button" class="btn btn-primary" v-if="request_details.payment_status_id == 4" @click="updateStatus(7)"><i class="fas fa-check-double"></i> Approved Payment</button>
                </div>
            </div>
            </div>
        </section>
    </div>
</template>
<script>  
    export default {
      name: "RequestDetails",
      data() {
        return {
          request: {
            id: '',
            status: '',
            approver_id: 2,
          },
          frm: {
            vatable: 1,
            type: '',
            gross_amount: '',
            net_amount: '',
            vat_amount: '',
            ewt_amount: '',
            total_amount_due: '',
          },
          request_details: {
            request_number: '',
            total_price_formated: '',
            requestor: '',
            status_id: '',
            payment_status_id: '',
            supplier: '',
            remarks: '',
            po_number: '',
            catalog_details: [],
            attachments: [],
          },
        };
      },

      created(){
        var id = this.$route.params.id;
        axios.get('/api/v1/request/catalog/'+id)
        .then(response => {
          var request_details = response.data.data;
          this.request.id = id;
          this.request_details.request_number = request_details.request_number;
          this.request_details.total_price_formated = request_details.total_price_formated;
          this.request_details.requestor = request_details.requestor;
          this.request_details.status_id = request_details.status_id;
          this.request_details.payment_status_id = request_details.payment_status_id;          
          this.request_details.remarks = request_details.remarks;
          this.request_details.po_number = request_details.po_number;
          this.request_details.supplier = request_details.supplier_details;
          this.request_details.catalog_details = request_details.catalog_details;
          this.request_details.attachments = request_details.attachments;
        });
      },

      methods: {
        updateStatus: function(status) {
          this.request.status = status;
          axios.put('/api/v1/request/catalog/update', this.request)
          .then( response => {
            toastr.success(response.data.message);
            this.$router.push({name: 'request-catalog'});
          });
        },
      },
    };
</script>
<style lang="scss" scoped>
    .supplier-info tr td:first-child {
      width: 20%;
      font-weight: bold;
    }

    .supplier-info tr td:nth-child(2) {
      width: 40%;
    }

    .supplier-info tr td:nth-child(3) {
      width: 20%;
      font-weight: bold;
    }

    .supplier-info tr td:nth-child(4) {
      width: 20%;
    }

</style>