<template>
    <div>
        <section class="content bg-primary">
            <div class="container-fluid">
                <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header p-2">
                            <h2>Payment Request Details &nbsp;&nbsp;<router-link :to="{ name: 'request-payment' }" type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-arrow-left"></i>&nbsp;Back to List</router-link></h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" style="width:100%">
                                    <tr>
                                        <td><img :src="logo"></td>
                                        <td style="text-align: center; vertical-align: middle;"><h1>PAYMENT FORM</h1></td>
                                    </tr>
                                </table>
                                <table class="table table-hover" style="width:100%">
                                    <tr>
                                        <td class="col-border">PAY TO</td>
                                        <td class="col-border col-label"><strong>{{ request_details.pay_to }}</strong></td> 
                                    </tr> 
                                    <tr>
                                        <td class="col-border">DATE REQUESTED</td>
                                        <td class="col-border col-label"><strong>{{ request_details.updated_at }}</strong></td> 
                                    </tr> 
                                    <tr>
                                        <td class="col-border">PROJECT / SITE NAME:</td>
                                        <td class="col-border col-label">{{ request_details.client_name }} / {{ request_details.site_name }}</td> 
                                    </tr> 
                                    <tr>
                                        <td class="col-border">DATE NEEDED:</td>
                                        <td class="col-border col-label">{{ request_details.required_date }}</td> 
                                    </tr> 
                                    <tr>
                                        <td class="col-border">NAME OF REQUESTOR:</td>
                                        <td class="col-border col-label">{{ request_details.requestor_name }}</td> 
                                    </tr>
                                    <tr>
                                        <td class="col-border">PF NUMBER:</td>
                                        <td class="col-border col-label"><strong><span style="color:red; font-size: 1.5rem;">{{ request_details.request_number }}</span></strong></td> 
                                    </tr> 
                                </table>
                                <table class="table table-hover" style="width:100%">
                                    <tr style="text-align: center;">
                                    <td class="col-border">AVAILABLE BALANCE</td>
                                    <td class="col-border">PARTICULARS</td>
                                    <td class="col-border">AMOUNT</td>
                                    </tr>
                                    <tr style="text-align: center; height: 2rem;">
                                    <td class="col-label col-border" rowspan="7"><strong><span style="color:red; font-size: 1.5rem;">PHP {{ current_balance }}</span></strong></td>
                                    <td class="col-label col-border"> {{ request_details.request_name }} </td>
                                    <td class="col-label col-border text-right">PHP {{ request_details.amount_formated }}</td>
                                    </tr>
                                    <tr style="text-align: center; height: 2rem;">
                                    <td class="col-label col-border"> {{ request_details.remarks }} </td>
                                    <td class="col-label col-border"></td>
                                    </tr>
                                    <tr style="text-align: center; height: 2rem;">
                                    <td class="col-label col-border"></td>
                                    <td class="col-label col-border"></td>
                                    </tr>
                                    <tr style="text-align: center; height: 2rem;">
                                    <td class="col-label col-border">
                                        <select v-if="request_details.status_id == 5" class="custom-select" v-model="request.vatable" @change="getTotalAmountDue">
                                        <option value="">Select if Vatable</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                        </select>
                                    </td>
                                    <td class="col-label col-border"></td>
                                    </tr>
                                    <tr style="text-align: center; height: 2rem;">
                                    <td class="col-label col-border">
                                        <select v-if="request_details.status_id == 5" class="custom-select" v-model="request.ewt" @change="getTotalAmountDue">
                                        <option value="">Select EWT</option>
                                        <option value="1">Services</option>
                                        <option value="2">Goods</option>
                                        <option value="3">Professional</option>
                                        <option value="4">Rental</option>
                                        <option value="5">Others</option>
                                        </select>
                                    </td>
                                    <td class="col-label col-border"></td>
                                    </tr>
                                    <tr style="text-align: center; height: 2rem;">
                                    <td class="col-label col-border">
                                        <input v-show="request.ewt==5" type="text" class="form-control" v-model="request.ewt_other" placeholder="Enter EWT by Percentage" v-on:keyup="getTotalAmountDue">
                                    </td>
                                    <td class="col-label col-border"></td>
                                    </tr>
                                    <tr style="height: 2rem;">
                                    <td class="col-label col-border" style="text-align: right;">NET VAT</td>
                                    <td class="col-label col-border text-right">PHP {{ request.net_amount }}</td>
                                    </tr>
                                    <tr style="text-align: left; height: 2rem;">
                                    <td class="col-label col-border">REQUEST TYPE: <span style="color: red;">{{ request_details.payment_type }}</span></td>
                                    <td class="col-label col-border" style="text-align: right;">VAT INPUT</td>
                                    <td class="col-label col-border text-right">PHP {{ request.vat_amount }}</td>
                                    </tr>
                                    <tr style="text-align: left; height: 2rem;">
                                    <td class="col-label col-border">PAYMENT OPTION: <span style="color: red;">{{ request_details.release_type }}</span></td>
                                    <td class="col-label col-border" style="text-align: right;"><span style="color: red;">LESS EWT {{ request.ewt_percent }}</span></td>
                                    <td class="col-label col-border text-right"><span style="color: red;">PHP {{ request.ewt_amount }}</span></td>
                                    </tr>
                                    <tr style="text-align: left; height: 2rem;">
                                    <td class="col-label col-border"></td>
                                    <td class="col-label col-border" style="text-align: right;">TOTAL AMOUNT:</td>
                                    <td class="col-label col-border text-right">PHP {{ request.total_amount_due }}</td>
                                    </tr>
                                </table>
                                <table style="width: 100%;" class="supplier-info">
                                    <tr>
                                    <td class="col-label col-border">Request Number :</td>
                                    <td class="col-content col-border">{{ request_details.request_number }}</td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Request Status :</td>
                                    <td class="col-content col-border">
                                        <span v-if="request_details.status_id == 1" class="badge badge-secondary">Pending</span> 
                                        <span v-if="request_details.status_id == 2" class="badge badge-success">For Canvassing</span>
                                        <span v-if="request_details.status_id == 3" class="badge badge-warning text-dark">For Verification</span>
                                        <span v-if="request_details.status_id == 4" class="badge badge-primary">Verified</span>
                                        <span v-if="request_details.status_id == 5" class="badge badge-secondary">Validated</span>
                                        <span v-if="request_details.status_id == 6" class="badge bg-info text-dark">Endorsed</span>
                                        <span v-if="request_details.status_id == 7" class="badge badge-success">Approved</span>
                                        <span v-if="request_details.status_id == 8" class="badge badge-danger">Decline</span>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Request Type :</td>
                                    <td class="col-content col-border">{{ request_details.request_name }}</td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Client Name :</td>
                                    <td class="col-content col-border">{{ request_details.client_name }}</td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Job Order Number :</td>
                                    <td class="col-content col-border">{{ request_details.job_order_number }}</td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Site Name :</td>
                                    <td class="col-content col-border">{{ request_details.site_name }}</td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Current Badget :</td>
                                    <td class="col-content col-border"><strong>{{ request_details.site_details.badget_formated }}</strong></td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Expense :</td>
                                    <td class="col-content col-border"><strong>PHP {{ request_details.amount_formated }}</strong></td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border">Balance :</td>
                                    <td class="col-content col-border"><strong>{{ request_details.site_details.balance_amount_formated }}</strong></td>
                                    </tr>
                                    <tr>
                                    <td class="col-label col-border" style="vertical-align: top;">Attachments:</td>
                                    <td class="col-content col-border">
                                        <div v-for="(attachment, index) in request_details.attachments" v-bind:key="index"><a :href="attachment.file_path" target="_blank">{{ attachment.file_path }}</a></div>
                                    </td>
                                    </tr>
                                </table>
                                <table style="width: 100%;">
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-danger" @click="showModal(8)">Decline</button>
                                            <button type="button" class="btn btn-danger" @click="showModal(9)">Cancel</button>
                                            <button type="button" class="btn btn-primary" v-if="request_details.status_id == 6" @click="updateStatus(7)"><i class="fas fa-check-double"></i> Approved</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="declineNonCatModal" tabindex="-1" aria-labelledby="declineNonCatModal" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                <h5 class="modal-title" id="exampleModalLabel">Decline</h5>
                </div>
                <div class="modal-body">
                <div class="form-group row">
                    <label for="id_number" class="col-sm-4 col-form-label">Remarks <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                    <textarea class="form-control" v-model="request.remarks"></textarea>
                    </div>
                </div> 
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" @click="updateStatus(request.status)">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>
<script>  
    export default {
      name: "RequestDetails",
      data() {
        return {
          request: {
            id: '',
            status: '',
            ewt: '',
            ewt_other: '',
            gross_amount: 0,
            vatable: '',
            net_amount: 0,
            vat_amount: 0,
            ewt_amount: 0,
            ewt_percent: 0,
            ewt_type: '',
            total_amount_due: 0,
            remarks: '',
          },
          request_details: '',
          current_balance: 0,
          logo: window.location.origin +'/img/fabriquem-logo-small.png',
          modal_label: 'Decline',
        };
      },

      created(){
        var id = this.$route.params.id;
        axios.get('/api/v1/request/non-catalog/'+id)
        .then(response => {
          var request_details = response.data.data;
          this.request.id = id;
          this.request_details = request_details;
          this.request.gross_amount = request_details.gross_amount;

          if(request_details.status_id == 6 || request_details.status_id == 7) {
            this.current_balance = this.numberWithCommas(parseFloat(request_details.site_details.balance_amount).toFixed(2));
            this.request.net_amount = request_details.net_amount;
            this.request.vat_amount = request_details.vat_amount;
            this.request.ewt_amount = request_details.ewt_amount;
            this.request.ewt_percent = request_details.ewt_percent;
            this.request.total_amount_due = request_details.total_amount_due;
          }
          else {
            this.current_balance = this.numberWithCommas((parseFloat(request_details.site_details.balance_amount)-parseFloat(request_details.gross_amount)).toFixed(2));
          }

        });
      },

      methods: {
        showModal: function(status) {
          this.request.status = status;
          if(status == 8) {
            this.modal_label = 'Decline';
          }
          if(status == 9) {
            this.modal_label = 'Cancel';
          }
          $("#declineNonCatModal").modal('show');
        },

        updateStatus: function(status) {
          this.request.status = status;
          axios.put('/api/v1/request/non-catalog/tagging', this.request)
          .then( response => {
            $("#declineNonCatModal").modal('hide');
            toastr.success(response.data.message);
            this.$router.push({name: 'request-payment'});
          });
        },

        numberWithCommas: function(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },

        getTotalAmountDue: function() {
          var ewt = 0;
          var type = '';
          if(this.request.ewt == 1) {
            ewt = 0.02;
            type = 'Services';          
          }
          else if(this.request.ewt == 2) {
            ewt = 0.01;
            type = 'Goods';
          }
          else if(this.request.ewt == 3) {
            ewt = 0.05;
            type = 'Professional';
          }
          else if(this.request.ewt == 4) {
            ewt = 0.05; 
            type = 'Rental';
          }
          else if(this.request.ewt == 5) {
            ewt = this.request.ewt_other;
            type = 'Others';      
          }

          this.request.ewt_percent = ewt;
          this.request.ewt_type = type;

          if(this.request.vatable == 0) {
            this.request.net_amount = 0;
            this.request.vat_amount = 0;
            this.request.ewt_amount = (this.request.gross_amount*ewt).toFixed(2);
            this.request.total_amount_due = (this.request.gross_amount-this.request.ewt_amount).toFixed(2);
          }
          else {
            this.request.net_amount = (this.request.gross_amount/1.12).toFixed(2);
            this.request.vat_amount = (this.request.net_amount*0.12).toFixed(2);
            this.request.ewt_amount = (this.request.net_amount*ewt).toFixed(2);
            this.request.total_amount_due = (this.request.gross_amount-this.request.ewt_amount).toFixed(2);
          }
        },

        printPayment: function(id) {
          window.open(
              '/non-catalog-payment/'+id,
              '_blank' // <- This is what makes it open in a new window.
            );
        },

      },
    };
</script>
<style lang="scss" scoped>
    .supplier-info {border: solid 1px; }

    .supplier-info tr td:first-child {
      width: 20%;
      font-weight: bold;
    }

    .supplier-info tr td:nth-child(2) {
      width: 40%;
    }

    .supplier-info tr td:nth-child(3) {
      width: 20%;
      font-weight: bold;
    }

    .supplier-info tr td:nth-child(4) {
      width: 20%;
    }

    table th{
        font-size: 14px;
        font-weight: bold;
        text-align:center;
    }
    table td{
        font-size: 16px;
        padding: 5px;
    }

    table td p{
        margin: 0;
        padding: 0;
    }

    .col-label {
      font-size: 16px;
      font-weight: 700;
    }

    .col-content {
      font-size: 18px;
      font-weight: 500;
      padding: 16px 5px;
    }

    .col-border {
      border: solid 1px; 
    }

    .col-side-border {
      border-left: solid 1px;
      border-right: solid 1px;
    }

    .col-border-wo-top {
      border-left: solid 1px;
      border-right: solid 1px;
      border-bottom: solid 1px;
    }
    
    .col-border-right {
      border-right: solid 1px;
    }

    hr {
      border:solid 5px;
      width: 99.1%;
      margin: 0;
    }

    h4 {
      color: red;
    }

    input[type=checkbox] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);  
    margin-left: 5px;
    }

</style>