<template>
    <div>
        <section class="content bg-primary">
            <div class="container-fluid">
                <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header p-2">
                            <h2>Payment Request</h2>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab" @click="filter('')">All</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filterByType('catalog')">Catalog Request</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filterByType('non-catalog')">Non-Catalog Request</a></li>
                            </ul>
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab" @click="filter(0)">All</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(6)">Endorsed</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(7)">Approved</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(8)">Decline</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(9)">Canceled</a></li>
                            </ul>
                            <Table 
                            :dataFields="dataFields"
                            :dataUrl="dataUrl"
                            :actionButtons="actionButtons"
                            :actions="bulkUpdate"
                            :primaryKey="primaryKey"
                            ref="dataTable">
                            </Table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
      name: "Non-Catalog",
      data() {
        return {
	        clients: [],
	        addNewButton: true,
	        saveButton: false,
	        payment_form: {
	          type: '',
	          id: 0
	        },                
        	dataFields: {
            request_number: "Request Number", 
            job_order_number: "PO Number",
            requestor_name: "Requested By",
            request_type: "Request Type",
            site_name: "Site Name",
            remarks: "Remarks",
            amount_formated: "Total Gross Amount",
            status_id: {
              name: "Status", 
              type:"Boolean", 
              status: { 
                  1: '<span class="badge btn-secondary">Draft</span>', 
	              2: '<span class="badge badge-success">For Canvassing</span>',
	              3: '<span class="badge badge-warning text-dark">For Verification</span>',
	              4: '<span class="badge badge-primary">Verified</span>',
	              5: '<span class="badge badge-secondary">For Endorsement</span>',
	              6: '<span class="badge bg-info text-dark">Endorsed</span>',
	              7: '<span class="badge badge-success">Approved</span>',
	              8: '<span class="badge badge-danger">Decline</span>',
	              9: '<span class="badge badge-danger">Canceled</span>',
	              10: '<span class="badge badge-danger">For Cancelation</span>',
              },
            },
            created_at: "Date Created"
          },
        	primaryKey: "id",
        	dataUrl: "/api/v1/request/non-catalog/payment-list",
        	actionButtons: {
                view: {
                    title: 'Review Details',
                    name: 'View',
                    routeName: 'requests-payment-details',
                    button: '<i class="fas fa-file-invoice"></i> Review Details',
                    method: 'link'
                },
        	},
            bulkUpdate: {
                statuses: [
                    {
                        id: 6,
                        label: "Endorsed"
                    },
                    {
                        id: 7,
                        label: "Approved"
                    },
                    {
                        id: 8,
                        label: "Decline"
                    },
                    {
                        id: 9,
                        label: "Canceled"
                    },
                ],
                action_url: '/api/v1/request/non-catalog/bulk-update',
            }
        };
      },

      created(){
      },

      methods: {
      	filterByType: function(type) {
	        this.payment_form.type = type;
	        this.$refs.dataTable.filters = this.payment_form;
	        this.$refs.dataTable.fetchData();
	    },

        filter: function(id) {
	       	this.payment_form.id = id;
	        this.$refs.dataTable.filters = this.payment_form;
	        this.$refs.dataTable.fetchData();
	    },
      },

      components: {
      	Table
 	    }
    };
</script>