<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2><i class="fas fa-boxes"></i>&nbsp;&nbsp;<strong>Inbound</strong></h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <Table 
                  :dataFields="dataFields"
                  :dataUrl="dataUrl"
                  :actionButtons="actionButtons"
                  :primaryKey="primaryKey"
                  v-on:modalViewDetails="viewDetails"
                  ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal Add New / Edit Category -->
    <div class="modal fade" id="logistic-form" tabindex="-1" aria-labelledby="logistic-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><i class="fa fa-plus-square" aria-hidden="true"></i> <strong>New Stocks</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="form-group row">
                  <label for="userName" class="col-4 col-form-label">Search PO Number:</label>
                  <div class="col-8">
                    <div class="input-group mb-1"> 
                      <input type="text" class="form-control" id="po_number" v-model="logistic.po_number" placeholder="PO Number" aria-label="PO Number">
                      <button class="btn btn-primary" type="button" @click="searchPO"><i class="fas fa-search"></i> Search</button>
                      <div class="invalid-feedback" id="error_po_number"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="userName" class="col-4 col-form-label">Reference Number:</label>
                  <div class="col-8">
                    <div class="input-group"> 
                      <input type="text" class="form-control" id="reference_number" v-model="logistic.reference_number" placeholder="Reference Number">
                      <div class="invalid-feedback" id="error_reference_number"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="userName" class="col-4 col-form-label">Remarks:</label>
                  <div class="col-8">
                    <div class="input-group"> 
                      <textarea class="form-control" id="remarks" v-model="logistic.remarks" placeholder="Remarks"></textarea>
                      <div class="invalid-feedback" id="error_remarks"></div>
                    </div>
                  </div>
                </div>
                <hr>
                <table class="table table-dark">
                  <tr>
                    <td><label>Supplier :</label></td>
                    <td>{{ po_details.supplier_name }}</td>
                    <td><label>Due Date :</label></td>
                    <td>{{ po_details.due_date }}</td>                      
                  </tr>
                  <tr>
                    <td><strong>PO Number :</strong></td>
                    <td>{{ po_details.po_number }}</td>
                    <td><strong>Total Amount Due :</strong></td>
                    <td><strong style="color:#dc3545;">PHP {{ po_details.total_amount_due_formated }}</strong></td>
                  </tr>
                </table>
                <hr>
                <div class="invalid-feedback" id="error_particulars"></div>
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th></th>
                      <th>ITEM NAME</th>
                      <th>QTY</th>
                      <th>RECEIVED QTY</th>
                      <th>UOM</th>
                      <th>UNIT PRICE</th>
                      <th>TOTAL PRICE</th>
                      <th>TO RECEIVED</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(data, index) in logistic.particulars" v-bind:key="index">
                      <td>
                        <input class="form-check-select" type="checkbox" v-model="data.is_checked" :disabled="data.quantity == data.total_receive_qty">
                      </td>
                      <td>{{ data.item }}</td>
                      <td class="text-center">{{ data.quantity }}</td>
                      <td class="text-center">{{ data.total_receive_qty }}</td>
                      <td>{{ data.uom }}</td>                      
                      <td>{{ data.unit_price }}</td>
                      <td>{{ data.total_price }}</td>
                      <td width="20%">
                        <input type="number" class="form-control" v-model="data.qty_receive" :disabled="data.quantity == data.total_receive_qty" v-on:keyup="validateQty(data.quantity, data.total_receive_qty, index)">
                      </td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" @click="validateInbound">Submit for Verification</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Modal Add New -->
    <div class="modal fade" id="return-form" tabindex="-1" aria-labelledby="return-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewRequest"><i class="fa fa-undo" aria-hidden="true"></i> <strong>Returns</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="client_id" class="col-sm-4 col-form-label">Client <span class="font-italic">(required)</span></label>
              <div class="col-sm-8">
                <div id="client_id">
                  <multiselect 
                    v-model="logistic.client_id" 
                    track-by="client_name" 
                    label="client_name" 
                    placeholder="Select Client" 
                    :options="clients" 
                    :searchable="true" 
                    :allow-empty="false" 
                    @select="getJobOrder">
                  </multiselect>  
                </div>
                <div class="invalid-feedback" id="error_client_id"></div>
              </div>
            </div>
            <div class="form-group row">
              <label for="job_order_id" class="col-sm-4 col-form-label">Order Number / PO Number <span class="font-italic">(required)</span></label>
              <div class="col-sm-8">
                <div id="job_order_id">
                  <multiselect v-model="logistic.job_order_id" track-by="po_order_number" label="po_order_number" placeholder="Select Order / PO Number" :options="job_orders" :searchable="true" :allow-empty="false" @select="getSiteList">
                  </multiselect>                    
                </div>
                <div class="invalid-feedback" id="error_job_order_id"></div>
              </div>                
            </div>
            <div class="form-group row">
              <label for="job_order_details_id" class="col-sm-4 col-form-label">Site Name <span class="font-italic">(required)</span></label>
              <div class="col-sm-8">
                <div id="job_order_details_id">
                  <multiselect v-model="logistic.job_order_details_id" track-by="site_name" label="site_name" placeholder="Select Client" :options="job_order_details" :searchable="true" :allow-empty="false" @select="getSiteDetails">
                  </multiselect>
                </div>
                <div class="invalid-feedback" id="error_job_order_details_id"></div>
              </div>
            </div>
            <div class="form-group row">
              <label for="userName" class="col-4 col-form-label">Reference Number <span class="font-italic">(required)</span></label>
              <div class="col-8">
                <div class="input-group"> 
                  <input type="text" class="form-control" id="reference_number" v-model="logistic.reference_number" placeholder="Reference Number">
                  <div class="invalid-feedback" id="error_reference_number"></div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="userName" class="col-4 col-form-label">Remarks <span class="font-italic">(required)</span></label>
              <div class="col-8">
                <div class="input-group"> 
                  <textarea class="form-control" id="remarks" v-model="logistic.remarks" placeholder="Remarks"></textarea>
                  <div class="invalid-feedback" id="error_remarks"></div>
                </div>
              </div>
            </div>
            <hr/>
            <table class="table table-dark table-hover">
               <tr>
                  <td>ITEM</td>
                  <td>UOM</td>
                  <td>QTY</td>
                  <td>CONDITION</td>
                  <td></td>
                </tr>
                <tr v-for="(particular, index) in logistic.particulars">
                  <td width="35%">
                    <multiselect v-model="particular.item" track-by="item_name" label="item_name" placeholder="Select Item" :options="logistic_masters" :searchable="true" :allow-empty="false">
                    </multiselect>
                  </td>
                  <td><input type="text" class="form-control" v-model="particular.uom" readonly="readonly"></td>
                  <td><input type="number" class="form-control" v-model="particular.qty_receive"></td>
                  <td>
                    <select class="custom-select" v-model="particular.condition">
                      <option value="">Select Condition</option>
                      <option value="damage">Damage</option>
                      <option value="defective">Defective</option>
                    </select>
                  </td>
                  <td style="vertical-align: middle;" v-if="condition">
                    <button type="button" class="btn btn-danger" title="Delete" @click="deleteParticular(index, particular.id)"><i class="fas fa-trash-alt"></i></button>
                  </td>
                </tr>
            </table>
            <div class="invalid-feedback pl-3" id="error_items"></div>
            <table class="table table-hover">
              <tr>
                <td width="50%"><button type="button" class="btn btn-primary btn-sm" @click="addParticulars">+ Add</button></td>
              </tr>
            </table>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-sm" @click="validateInbound">Submit for Verification</button>
          </div>
        </div>
      </div>
    </div>    
    <!-- End Modal Add New Particulars -->
    
    <div class="modal fade" id="inbound-details" tabindex="-1" aria-labelledby="inbound-details" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><i class="fas fa-boxes"></i> <strong>Particulars</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <table class="table table-dark table-hover">
                <thead>
                  <tr>
                    <th>ITEM NAME</th>
                    <th>UOM</th>
                    <th>QTY RECEIVE</th>
                    <th v-if="inbound_info.transaction_type == 'DELIVERY'">UNIT PRICE</th>
                    <th v-if="inbound_info.transaction_type == 'DELIVERY'">TOTAL PRICE</th>
                    <th>ITEM STATUS</th>
                    <th v-if="inbound_info.transaction_type == 'DELIVERY' && (inbound_info.status_id == 3 || inbound_info.status_id == 12)">SHORT QTY</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(data, index) in inbound_info.inbound_details" v-bind:key="index">
                    <td>{{ data.item_name }}</td>
                    <td>{{ data.unit_of_measurement }}</td>                      
                    <td v-if="inbound_info.status_id == 4">{{ data.quantity_receive }}</td>
                    <td v-if="inbound_info.transaction_type == 'RETURN' && inbound_info.status_id == 3">
                      <input type="text" class="form-control" v-model="data.quantity_receive"> 
                    </td>
                    <td v-if="inbound_info.transaction_type == 'DELIVERY'">{{ data.unit_price }}</td>
                    <td v-if="inbound_info.transaction_type == 'DELIVERY'">{{ data.total_price }}</td>
                    <td v-if="inbound_info.status_id == 4">
                      <span v-if="inbound_info.transaction_type == 'DELIVERY' && data.condition == 'Complete'" class="badge btn-success">{{ data.condition }}</span> 
                      <span v-if="inbound_info.transaction_type == 'DELIVERY' && data.condition == 'Incomplete'" class="badge btn-warning">{{ data.condition }}</span> 
                      <span v-if="inbound_info.transaction_type == 'DELIVERY' && data.condition == 'With Defective'" class="badge btn-danger">{{ data.condition }}</span> 
                      <span v-if="inbound_info.transaction_type == 'RETURN' && data.condition == 'New'" class="badge btn-success">{{ data.condition }}</span> 
                      <span v-if="inbound_info.transaction_type == 'RETURN' && data.condition == 'Good'" class="badge btn-success">{{ data.condition }}</span> 
                      <span v-if="inbound_info.transaction_type == 'RETURN' && data.condition == 'Retread'" class="badge btn-success">{{ data.condition }}</span> 
                      <span v-if="inbound_info.transaction_type == 'RETURN' && data.condition == 'Fair'" class="badge btn-warning">{{ data.condition }}</span> 
                      <span v-if="inbound_info.transaction_type == 'RETURN' && data.condition == 'Poor'" class="badge btn-warning">{{ data.condition }}</span> 
                      <span v-if="inbound_info.transaction_type == 'RETURN' && data.condition == 'Damage'" class="badge btn-danger">{{ data.condition }}</span> 
                      <span v-if="inbound_info.transaction_type == 'RETURN' && data.condition == 'Added'" class="badge btn-success">{{ data.condition }}</span> 
                    </td>
                    <td v-if="inbound_info.status_id == 3 || inbound_info.status_id == 12">
                      <select class="custom-select" v-model="data.condition">
                        <option v-if="inbound_info.transaction_type == 'DELIVERY'" value="Complete">Complete</option>
                        <option v-if="inbound_info.transaction_type == 'DELIVERY'" value="Incomplete">Incomplete</option>
                        <option v-if="inbound_info.transaction_type == 'DELIVERY'" value="With Defective">With Defective</option>
                        <option v-if="inbound_info.transaction_type == 'RETURN'" value="New">New</option>
                        <option v-if="inbound_info.transaction_type == 'RETURN'" value="Good">Good</option>
                        <option v-if="inbound_info.transaction_type == 'RETURN'" value="Retread">Retread</option>
                        <option v-if="inbound_info.transaction_type == 'RETURN'" value="Fair">Fair</option>
                        <option v-if="inbound_info.transaction_type == 'RETURN'" value="Poor">Poor</option>
                        <option v-if="inbound_info.transaction_type == 'RETURN'" value="Damage">Damage</option>
                      </select>
                    </td>
                    <td v-if="inbound_info.transaction_type == 'DELIVERY' && (inbound_info.status_id == 3 || inbound_info.status_id == 12)"><input type="text" class="form-control" v-model="data.short" :disabled="data.condition=='Complete'"></td>
                  </tr>                    
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-sm" v-if="inbound_info.status_id == 3 || inbound_info.status_id == 12" @click="verifiedInbound()">Verified</button>
          </div>
        </div>
      </div>
  </div>

  </div>
</template>

<script>  
  import Table from '../../components/Table';
  import Multiselect from 'vue-multiselect';

    export default {
        name: "Inbound-Request",
        data() {
            return {
              logistic: {
                  id: '',
                  client_id: '',
                  job_order_id: '',
                  job_order_details_id: '',
                  reference_number: '',
                  transaction_type: 'DELIVERY',
                  po_number: '',
                  remarks: '',
                  particulars: [],
              },
              addNewButton: true,
              saveButton: false,   
              clients: [],
              job_orders: [],
              job_order_details: [],             
              logistic_masters: [],
              dataFields: {
                reference_number: "Reference Number", 
                po_number: "PO Number", 
                transaction_type: 'Transaction Type',
                remarks: "Remarks", 
                status_id: {
                  name: "Status", 
                  type:"Boolean", 
                  status: { 
                    3: '<span class="badge badge-warning text-dark">For Verification</span>',
                    4: '<span class="badge badge-primary">Verified</span>',
                    12: '<span class="badge badge-danger">With Discrepancy</span>',
                  },
                },
                updated_at: "Updated Date",
                employee_name: "Modified By"
              },
              primaryKey: "id",
              dataUrl: "/api/v1/requisition/inbound/list",
              actionButtons: {
                view: {
                  title: 'View Details',
                  name: 'View Details',
                  apiUrl: '',
                  routeName: '',
                  button: '<i class="fas fa-clipboard-list"></i> View Details',
                  method: 'view',
                  v_on: 'modalViewDetails',
                },
              },
              po_details: '',
              inbound_details: [],
              inbound_info: '',
            };
        },

        created() {
          axios.get('/api/v1/lookup/clients')
          .then( response => {
            this.clients = response.data.data;
          });
          
          axios.get('/api/v1/lookup/logistics')
          .then( response => {
            this.logistic_masters = response.data.data;
          });
        },

        computed: {
          validated(quantity, receive_qty) {
            if (quantity == receive_qty) {
              return true
            }
          },

          condition() {
            if(this.logistic.status_id == '') {
              return true;
            }
            else if (this.logistic.status_id == '1') {
              return true;
            }
            else if (this.logistic.status_id == '2') {
              return true;
            }
            return false;
          }
        },

        methods: {
          getJobOrder: function(client) {
            this.logistic.job_order_id = '';
            this.job_orders = [];

            axios.put('/api/v1/lookup/job-orders', { client_id : client.id })
            .then( response => {
              this.job_orders = response.data.data;
            });

            if(client.client_name == 'Admin') {
              this.site_list = false;
              this.po_list = false;
            }
            else {
              this.site_list = true;
              this.po_list = true;
            }
          },

          getSiteList: function(job_order) {
            axios.put('/api/v1/lookup/site-list', { job_order_id: job_order.id })
            .then( response => {
              this.job_order_details = response.data.data;
            });
          },

          getSiteDetails: function(site_details) {
            this.logistic.badget = site_details.badget_formated;
            this.logistic.balance_amount = site_details.balance_amount_formated;
          },

          addNewItem: function() {
            this.logistic.id = '';
            this.logistic.client_id = '';
            this.logistic.job_order_id = '';
            this.logistic.job_order_details_id = '';
            this.logistic.transaction_type = 'DELIVERY';
            this.logistic.reference_number = '';
            this.logistic.po_number = '';
            this.logistic.remarks = '';
            this.logistic.particulars = [];
            $('#logistic-form').modal('show');
          },

          addReturns: function() {
            this.logistic.id = '';
            this.logistic.client_id = '';
            this.logistic.job_order_id = '';
            this.logistic.job_order_details_id = '';
            this.logistic.transaction_type = 'RETURN';
            this.logistic.reference_number = '';
            this.logistic.po_number = '';
            this.logistic.remarks = '';
            this.logistic.particulars = [];
            this.addParticulars();
            $('#return-form').modal('show');
          },

          addParticulars: function() {        
            this.logistic.particulars.push({
              id: '',
              item: '',
              unit_price: '',
              qty_receive: '',
              uom: '',
              total_price: '',
              condition: '',
              is_checked: true,
            });
          },

          searchPO: function() {
            axios.post('/api/v1/requisition/inbound/search-po', this.logistic)
              .then( response => {
                this.po_details = response.data.data; 
                this.logistic.particulars = [];

                for (let i = 0; i < this.po_details.catalogs.length; i++) {
                  let catalog = this.po_details.catalogs[i];
                  this.logistic.particulars.push({
                    is_checked: false,
                    id: catalog.id,
                    catalog_request_id: catalog.catalog_request_id,
                    logistic_master_id: catalog.logistic_master_id,
                    item: catalog.item_name,
                    unit_price: catalog.unit_price,
                    quantity: catalog.quantity,
                    uom: catalog.uom,
                    total_price: catalog.total_price,
                    total_receive_qty: catalog.total_inbound_qty,
                    qty_receive: 0,
                  });
                }
              });
          },     

          validateInbound: function() {
            if(this.logistic.reference_number
            && this.logistic.remarks
            && this.validateParticulars()) 
            {
                this.storeItem();
            }

            if(!this.logistic.reference_number) {
                $("#reference_number").addClass("is-invalid");
                $("#error_reference_number").html("Reference number is required.");
            }
            else {
                $("#reference_number").removeClass("is-invalid");
                $("#error_reference_number").html("");
            }

            if(!this.logistic.po_number) {
                $("#po_number").addClass("is-invalid");
                $("#error_po_number").html("PO number is required.");
            }
            else {
                $("#po_number").removeClass("is-invalid");
                $("#error_po_number").html("");
            }

            if(!this.logistic.remarks) {
                $("#remarks").addClass("is-invalid");
                $("#error_remarks").html("Remarks is required.");
            }
            else {
                $("#remarks").removeClass("is-invalid");
                $("#error_remarks").html("");
            }

            if(!this.validateParticulars()) {
              $("#particulars").addClass("is-invalid");
              $("#error_particulars").html("Please select item in particulars list.");
            }
            else {
              $("#particulars").removeClass("is-invalid");
              $("#error_particulars").html("");
            }
          },

          validateParticulars: function() {
            var checked_count = 0;
            for(var i = 0; i < this.logistic.particulars.length; i++) {
              if(this.logistic.particulars[i].is_checked == true) {
                checked_count++;
              }
            }

            if(checked_count > 0) {
              return true;
            }

            return false;
          },

          storeItem: function() {
            axios.post('/api/v1/requisition/inbound/store', this.logistic)
            .then( response => {
              toastr.success(response.data.message)
              this.$refs.dataTable.fetchData();
              $('#logistic-form').modal('hide');
            });              
          },

          viewDetails: function(data) {
            this.inbound_info = data;
            console.log(this.inbound_info);
            // this.inbound_details = data.inbound_details;
            $('#inbound-details').modal('show');
          },

          validateQty: function(quantity, receive_qty, index) {
              var tobe_receive = parseInt(quantity)-parseInt(receive_qty);
              if(parseInt(this.logistic.particulars[index].qty_receive) > tobe_receive) {
                toastr.error('Invalide quantity to receive.');
                this.logistic.particulars[index].qty_receive = parseInt(tobe_receive);
              }
              else {
                this.logistic.particulars[index].is_checked = true;
              }
          },

          setUOM: function(item, index) {
            console.log(item);
            this.logistic.particulars[index].uom = item.unit_of_measurement;
            this.logistic.particulars[index].unit_price = item.unit_price;            
          },

          verifiedInbound: function(id) {
            axios.post('/api/v1/warehouse/inbound/verified', this.inbound_info )
            .then( response => {
              toastr.success(response.data.message)
              this.$refs.dataTable.fetchData();
              $('#inbound-details').modal('hide');
            }); 
          },

        },

        components: {
          Table, Multiselect
        }
    };
</script>