<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2><i class="fas fa-truck"></i> <strong>Outbound</strong></h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <Table 
                  :dataFields="dataFields"
                  :dataUrl="dataUrl"
                  :actionButtons="actionButtons"
                  v-on:editButton="editRequest"
                  :primaryKey="primaryKey"
                  v-on:modalGenerateGatePass="generateGatePass"
                  v-on:modalCancelOutbound="cancelModal"
                  v-on:markAsTaged="markAsTagedModal"
                  ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal Add New / Edit Category -->
    <div class="modal fade" id="logistic-form" tabindex="-1" aria-labelledby="logistic-form" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><i class="fas fa-truck"></i> <strong>Outbound Request</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Client</label>
                <div class="col-sm-8" id="client_id">
                  <strong>{{ requestFrm.client_id.client_name }}</strong>
                </div>
              </div>
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Order Number / PO Number</label>
                <div class="col-sm-8" id="job_order_id">
                  <strong>{{ requestFrm.job_order_id.order_number }} ({{ requestFrm.job_order_id.po_number }})</strong>
                </div>
              </div>
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Site Name</label>
                <div class="col-sm-8" id="job_order_details_id">
                  <strong>{{ requestFrm.job_order_details_id.site_name }}</strong>
                </div>
              </div>
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Deliver To</label>
                <div class="col-sm-8" id="deliver_to">
                  <strong>{{ requestFrm.deliver_to }}</strong>
                </div>
              </div>
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Date</label>
                <div class="col-sm-8" id="required_date">
                  <strong>{{ requestFrm.required_date }}</strong>
                </div>
              </div>
              <div id="items">
                <table class="table table-hover">
                   <tr>
                      <td>ITEM</td>
                      <td>UOM</td>
                      <td>QTY</td>
                      <td>STATUS</td>
                    </tr>
                    <tr v-for="(particular, index) in requestFrm.particulars">
                      <td width="35%">
                        <strong>{{ particular.item.item_name }}</strong>
                      </td>
                      <td><strong>{{ particular.uom }}</strong></td>
                      <td><strong>{{ particular.quantity }}</strong></td>
                      <td style="vertical-align: middle;">
                        <template v-if="requestFrm.status_id == 4">
                          <select class="custom-select" v-model="particular.item_status">
                            <option value="On hand">On hand</option>
                            <option value="Out Stock">Out Stock</option>
                          </select>
                        </template>
                        <template v-else>
                          <span v-if="particular.item_status == 'On hand'" class="badge btn-success">{{ particular.item_status }}</span> 
                          <span v-if="particular.item_status == 'Out Stock'" class="badge btn-danger">{{ particular.item_status }}</span> 
                        </template>
                      </td>
                    </tr>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info btn-sm" v-if="requestFrm.status_id == 4" @click="verifiedOutbound">Endorsed</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Confirm Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h5 class="modal-title" id="exampleModalLabel" style="color:#fff;">Confirm</h5>
          </div>
          <div class="modal-body mt-3">
            <h6><strong>You cannot edit this request after submitted for verification. Do you really want to submit this request?</strong></h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" @click="submitRequest">OK</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Confirm Modal -->
    <div class="modal fade" id="markAsTagedModal" tabindex="-1" aria-labelledby="markAsTagedModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h5 class="modal-title" id="exampleModalLabel" style="color:#fff;">Confirm</h5>
          </div>
          <div class="modal-body mt-3">
            <h6><strong>Are you sure to marked this transaction as "Delivered"?</strong></h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" @click="markedAsTaged">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Cancel Modal -->
    <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title" id="exampleModalLabel">Cancelation Request</h5>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="id_number" class="col-sm-4 col-form-label">Remarks <span class="font-italic">(required)</span></label>
              <div class="col-sm-8">
                <textarea class="form-control" v-model="requestFrm.remarks"></textarea>
              </div>
            </div> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" @click="updateRequest(10)">OK</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>  
  import Table from '../../components/Table';
  import Multiselect from 'vue-multiselect';
    export default {
        name: "OutboundRequest",
        data() {
            return {
              requestFrm: {
                id: '',
                client_id: '',
                job_order_id: '',
                job_order_details_id: '',
                deliver_to: '',
                required_date: '',
                status_id: '',
                particulars: [],
                grand_total: 0.00,
                remarks: ''
              },
              clients: [],
              job_orders: [],
              job_order_details: [],
              logistic_masters: [],
              options: {
                format: 'YYYY-MM-DD',
                useCurrent: false,
              },
              dataFields: {
                request_number: "Request Number", 
                client_name: "Client Name", 
                po_number: "PO Number", 
                deliver_to: "Deliver To",
                total_price_formated: "Total Costs",
                status_id: {
                  name: "Status", 
                  type:"Boolean", 
                  status: { 
                    1: '<span class="badge btn-secondary">Draft</span>', 
                    2: '<span class="badge badge-secondary text-dark">For Canvassing</span>',
                    3: '<span class="badge badge-warning">For Verification</span>',
                    4: '<span class="badge badge-primary">Verified</span>',
                    5: '<span class="badge badge-success">For Endorsement</span>',
                    6: '<span class="badge badge-info">Endorsed</span>',
                    7: '<span class="badge badge-success">Approved</span>',
                    8: '<span class="badge badge-danger">Decline</span>',                  
                    9: '<span class="badge badge-danger">Canceled</span>',                  
                    10: '<span class="badge badge-warning">For Cancelation</span>',                  
                    11: '<span class="badge badge-success">Delivered</span>',                  
                    12: '<span class="badge badge-danger">With Discrepancy</span>',                   
                  },
                },
                remarks: "Remarks",
                employee_name: "Modified By",
                updated_at: "Updated Date",
              },
              primaryKey: "id",
              dataUrl: "/api/v1/requisition/outbound/list",
              actionButtons: {
                edit: {
                  title: 'View Details',
                  name: 'View Details',
                  apiUrl: '',
                  routeName: 'requisition.edit',
                  button: '<i class="fas fa-clipboard-list"></i> View Details',
                  method: 'view'
                },
                taged: {
                  title: 'Mark as Taged',
                  name: 'Mark as Taged',
                  apiUrl: '',
                  routeName: '',
                  button: '<i class="fa fa-tags"></i> Mark as Delivered',
                  method: 'view',
                  v_on: 'markAsTaged',
                },
                view: {
                  title: 'Generate Gate Pass',
                  name: 'Generate Gate Pass',
                  apiUrl: '',
                  routeName: '',
                  button: '<i class="fas fa-file-invoice"></i> Generate Gate Pass',
                  method: 'view',
                  v_on: 'modalGenerateGatePass',
                },
              },
            };
        },

        created() {
          axios.get('/api/v1/lookup/clients')
          .then( response => {
            this.clients = response.data.data;
          });

          axios.get('/api/v1/lookup/logistics')
          .then( response => {
            this.logistic_masters = response.data.data;
          });

        },

        methods: {
          condition() {
            if(this.requestFrm.status_id == '') {
              return true;
            }
            else if (this.requestFrm.status_id == '1') {
              return true;
            }
            else if (this.requestFrm.status_id == '2') {
              return true;
            }
            return false;
          },

          addNewItem: function() {
            this.requestFrm.id = '';
            this.requestFrm.client_id = '';
            this.requestFrm.job_order_id = '';
            this.requestFrm.job_order_details_id = '';
            this.requestFrm.deliver_to = '';
            this.requestFrm.required_date = '';            
            this.requestFrm.status_id = '';                        
            this.requestFrm.particulars = [];
            this.addParticulars();
            $('#logistic-form').modal('show');
          },

          editRequest: function(request) {
            this.getJobOrder(request.client_details);
            this.getSiteList(request.job_order_details);
            
            this.requestFrm.id = request.id;
            this.requestFrm.client_id = request.client_details;
            this.requestFrm.job_order_id = request.job_order_details;
            this.requestFrm.job_order_details_id = request.site_details;
            this.requestFrm.deliver_to = request.deliver_to;
            this.requestFrm.required_date = request.required_date;
            this.requestFrm.grand_total = request.total_price;
            this.requestFrm.status_id = request.status_id;            
            this.requestFrm.particulars = [];

            for (let i = 0; i < request.outbound_details.length; i++) {
              let catalog = request.outbound_details[i];

              this.requestFrm.particulars.push({
                id: catalog.id,
                item: catalog.item_details,
                unit_price: catalog.unit_price,
                quantity: catalog.quantity,
                uom: catalog.uom,
                total_price: catalog.total_price,
                item_status: catalog.item_status
              });
            }
            $('#logistic-form').modal('show');
          },

          getJobOrder: function(client) {
            this.requestFrm.job_order_id = '';
            this.job_orders = [];

            axios.put('/api/v1/lookup/job-orders', { client_id : client.id })
            .then( response => {
              this.job_orders = response.data.data;
            });
          },

          getSiteList: function(job_order) {
            axios.put('/api/v1/lookup/site-list', { job_order_id: job_order.id })
            .then( response => {
              this.job_order_details = response.data.data;
            });
          },

          getSiteDetails: function(site_details) {
            this.requestFrm.badget = site_details.badget_formated;
            this.requestFrm.balance_amount = site_details.balance_amount_formated;
          },

          addParticulars: function() {        
            this.requestFrm.particulars.push({
              id: '',
              item: '',
              unit_price: '',
              quantity: '',
              uom: '',
              total_price: '',
            });
          },

          getTotalPrice: function(index) {
            var unit_price = this.requestFrm.particulars[index].unit_price;
            var qty = this.requestFrm.particulars[index].quantity;
            var total_price = parseFloat(unit_price)*qty;

            this.requestFrm.particulars[index].total_price = this.roundToTwo(total_price);
            this.computeTotals();
          },

          roundToTwo: function(num) {    
            return +(Math.round(num + "e+2")  + "e-2");
          },

          computeTotals: function() {
            var totals = 0;
            for (var i = 0; i <= this.requestFrm.particulars.length; i++) {
              if(this.requestFrm.particulars[i]) {
                totals = totals+parseFloat(this.requestFrm.particulars[i].total_price);
              }
            }
            this.requestFrm.grand_total = totals;
          },

          setUOM: function(item, index) {
            this.requestFrm.particulars[index].unit_price = item.unit_price;
            this.requestFrm.particulars[index].uom = item.unit_of_measurement;
          },        

          validateOutbound: function() {
            if(this.requestFrm.client_id
            && this.requestFrm.job_order_id
            && this.requestFrm.job_order_details_id
            && this.requestFrm.required_date
            && this.requestFrm.grand_total
            && this.requestFrm.deliver_to) 
            {
                this.storeOutbound();
            }

            if(!this.requestFrm.client_id) {
                $("#client_id").addClass("is-invalid");
                $("#error_client_id").html("Client is required.");
            }
            else {
                $("#client_id").removeClass("is-invalid");
                $("#error_client_id").html("");
            }

            if(!this.requestFrm.deliver_to) {
                $("#deliver_to").addClass("is-invalid");
                $("#error_deliver_to").html("Deliver to is required.");
            }
            else {
                $("#deliver_to").removeClass("is-invalid");
                $("#error_deliver_to").html("");
            }

            if(!this.requestFrm.job_order_id) {
                $("#job_order_id").addClass("is-invalid");
                $("#error_job_order_id").html("Job order is required.");
            }
            else {
                $("#job_order_id").removeClass("is-invalid");
                $("#error_job_order_id").html("");
            }

            if(!this.requestFrm.job_order_details_id) {
                $("#job_order_details_id").addClass("is-invalid");
                $("#error_job_order_details_id").html("Site is required.");
            }
            else {
                $("#job_order_details_id").removeClass("is-invalid");
                $("#error_job_order_details_id").html("");
            }

            if(!this.requestFrm.required_date) {
                $("#required_date").addClass("is-invalid");
                $("#error_required_date").html("Date is required.");
            }
            else {
                $("#required_date").removeClass("is-invalid");
                $("#error_required_date").html("");
            }

            if(this.requestFrm.grand_total == 0) {
                $("#items").addClass("is-invalid");
                $("#error_items").html("Particulars is required.");
            }
            else {
                $("#items").removeClass("is-invalid");
                $("#error_items").html("");
            }
          },

          storeOutbound: function() {
            if(this.requestFrm.id) {
              axios.put('/api/v1/requisition/outbound/update', this.requestFrm)
              .then( response => {
                  toastr.success(response.data.message)
                  this.$refs.dataTable.fetchData();
                  $('#logistic-form').modal('hide');
              });
            }
            else {
              axios.post('/api/v1/requisition/outbound/store', this.requestFrm)
              .then( response => {
                  toastr.success(response.data.message);
                  this.$refs.dataTable.fetchData();
                  $('#logistic-form').modal('hide');
              });                    
            }
          },

          submitRequest: function() { 
            this.requestFrm.status_id = 2;
            axios.put('/api/v1/requisition/outbound/update-status', this.requestFrm)
            .then( response => {
              toastr.success(response.data.message)
              this.$refs.dataTable.fetchData();
              $('#confirmModal').modal('hide');
              $('#logistic-form').modal('hide');
            });            
          },

          generateGatePass: function(data) {
              if(data.status_id == 7 || data.status_id == 11) {
                window.open(
                  '/gatepass/'+data.request_number,
                  '_blank' // <- This is what makes it open in a new window.
                );
              }
              else {
                toastr.error("Request must be approved.");
              }
          },

          markAsTagedModal: function(data) {
              if(data.status_id == 7) {
                this.requestFrm.id = data.id; 
                this.requestFrm.status_id = 11;
                $('#markAsTagedModal').modal('show');            
              }
              else {
                toastr.error("Request must be approved.");
              }
          },

          markedAsTaged: function() { 
            if(this.requestFrm.id) {
               axios.put('/api/v1/requisition/outbound/update-status', this.requestFrm)
              .then( response => {
                toastr.success(response.data.message)
                this.$refs.dataTable.fetchData();
                $('#markAsTagedModal').modal('hide');            
              });  
            }else {
              toastr.error("Error: No selected transaction to be taged as delivered.");
            }
          },

          deleteParticular: function(index, id) {
            if(id) {
              if(confirm("Do you really want to delete?")) { 
                 axios.get('/api/v1/requisition/outbound/delete-details/'+id)
                .then(response => {
                    this.$delete(this.requestFrm.particulars, index);
                });
              }        
            }
            else {
              this.$delete(this.requestFrm.particulars, index);
            }
          },

          updateRequest: function(status) {
            this.requestFrm.status_id = status;

            axios.put('/api/v1/requisition/outbound/update-status', this.requestFrm)
            .then( response => {
                toastr.success(response.data.message);
                this.$refs.dataTable.fetchData();
                $('#cancelModal').modal('hide');
                $('#logistic-form').modal('hide');
                this.requestFrm.remarks = '';
            });
          },

          cancelModal: function(data) { 
            this.requestFrm.id = data.id;
            $('#cancelModal').modal('show');            
          },

          verifiedOutbound: function(id) {
            axios.post('/api/v1/warehouse/outbound/verified', this.requestFrm )
            .then( response => {
              toastr.success(response.data.message)
              this.$refs.dataTable.fetchData();
              $('#logistic-form').modal('hide');
            }); 
          },

        },

        components: {
          Table,
          Multiselect
        }
    };
</script>