<template>
  <div>
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="m-0">Catalog Requests</h5>
              </div>
              <div class="card-body">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-primary">
                      <div class="inner">
                        <h3>{{ catalog.verified }}</h3>

                        <p>Verified / For Approval</p>
                      </div>
                      <div class="icon">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </div>
                      <router-link :to="{ name: 'requests' }" class="small-box-footer">
                      More info <i class="fas fa-arrow-circle-right"></i>
                      </router-link>
                    </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                      <div class="inner">
                        <h3>{{ catalog.approved }}</h3>

                        <p>Approved</p>
                      </div>
                      <div class="icon">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                      </div>
                      <router-link :to="{ name: 'requests' }" class="small-box-footer">
                      More info <i class="fas fa-arrow-circle-right"></i>
                      </router-link>
                    </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <h3>{{ catalog.for_canvassing }}</h3>

                        <p>For Canvassing / For Verification</p>
                      </div>
                      <div class="icon">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                      </div>
                      <router-link :to="{ name: 'requests' }" class="small-box-footer">
                      More info <i class="fas fa-arrow-circle-right"></i>
                      </router-link>
                    </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                      <div class="inner">
                        <h3>{{ catalog.canceled }}</h3>

                        <p>Canceled / Decline</p>
                      </div>
                      <div class="icon">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                      </div>
                      <router-link :to="{ name: 'requests' }" class="small-box-footer">
                      More info <i class="fas fa-arrow-circle-right"></i>
                      </router-link>
                    </div>
                  </div>
                  <!-- ./col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="m-0">Payment Requests</h5>
              </div>
              <div class="card-body">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-primary">
                      <div class="inner">
                        <h3>{{ payment.endorsed }}</h3>

                        <p>Endorsed / For Approval</p>
                      </div>
                      <div class="icon">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </div>
                      <router-link :to="{ name: 'requests-non-catalog' }" class="small-box-footer">
                      More info <i class="fas fa-arrow-circle-right"></i>
                      </router-link>
                    </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                      <div class="inner">
                        <h3>{{ payment.approved }}</h3>

                        <p>Approved</p>
                      </div>
                      <div class="icon">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                      </div>
                      <router-link :to="{ name: 'requests-non-catalog' }" class="small-box-footer">
                      More info <i class="fas fa-arrow-circle-right"></i>
                      </router-link>
                    </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                      <div class="inner">
                        <h3>{{ payment.canceled }}</h3>

                        <p>Canceled / Decline</p>
                      </div>
                      <div class="icon">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                      </div>
                      <router-link :to="{ name: 'requests-non-catalog' }" class="small-box-footer">
                      More info <i class="fas fa-arrow-circle-right"></i>
                      </router-link>
                    </div>
                  </div>
                  <!-- ./col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
</template>

<script>
  export default {
    name: 'dashboard',
    data() {
      return {
        catalog: {
          verified: 0,
          approved: 0,
          for_canvassing: 0,
          canceled: 0,
        },
        payment: {
          endorsed: 0,
          approved: 0,
          canceled: 0,
        },
      }
    },

    created() {

      axios.get('/api/v1/dashboard/catalog-request')
      .then( response => {
        this.catalog.verified = response.data.data.verified;
        this.catalog.approved = response.data.data.approved;
        this.catalog.for_canvassing = response.data.data.for_canvassing;
        this.catalog.canceled = response.data.data.canceled;
      });

      axios.get('/api/v1/dashboard/payment-request')
      .then( response => {
        this.payment.endorsed = response.data.data.endorsed;
        this.payment.approved = response.data.data.approved;
        this.payment.canceled = response.data.data.canceled;
      });

    },

    mounted() {
        if (localStorage.getItem('reloaded')) {
            // The page was just reloaded. Clear the value from local storage
            // so that it will reload the next time this page is visited.
            localStorage.removeItem('reloaded');
        } else {
            // Set a flag so that we know not to reload the page twice.
            localStorage.setItem('reloaded', '1');
            location.reload();
        }
    },
  };
</script>