<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2>Dashboard</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-7 col-12">

            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">QUICK ISSUES</h3>
                <div class="card-tools float-right">
                  <!-- <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a> -->
                  <a href="#" class="btn btn-tool btn-sm" data-toggle="collapse" data-target="#quick-issues">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="collapse" id="quick-issues">
                <div class="card card-body m-2">
                  <h6 class="filter-title">FILTER BY:</h6>
                  <h6 class="sub-filter-title">Service Tickets:</h6>
                  <ul class="filter-options">
                    <li v-for="(service, index) in service_tickets" v-bind:key="index">
                      <input type="checkbox" :id="service.name" :value="service.id" v-model="filter_form.service_ticket"> {{ service.name }}
                    </li>
                  </ul>
                  <h6 class="sub-filter-title">Region:</h6>
                  <ul class="filter-options">
                    <li v-for="(region, index) in regions" v-bind:key="index">
                      <input type="checkbox" :value="region.id" v-model="filter_form.region"> {{ region.name }}
                    </li>
                  </ul>
                  <h6 class="sub-filter-title">Status:</h6>
                  <ul class="filter-options">
                    <li><input type="checkbox" value="4" v-model="filter_form.status"> Critical</li>
                    <li><input type="checkbox" value="5" v-model="filter_form.status"> Delayed</li>
                  </ul>
                  <button type="button" class="btn btn-primary mt-2" @click="filterByQuickIssues">Filter</button>
                </div>
              </div>
              <div class="card-body table-responsive p-1">
                <Table 
                  :dataFields="quickIssueFields"
                  :dataUrl="quickIssuedataUrl"
                  :primaryKey="quickIssueprimaryKey"
                  ref="quickDataTable">
                </Table>
              </div>
            </div>

            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">SITE LIST</h3>
                <div class="card-tools float-right">
                  <!-- <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a> -->
                  <a href="#" class="btn btn-tool btn-sm" data-toggle="collapse" data-target="#site-list">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="collapse" id="site-list">
                <div class="card card-body m-2">
                  <h6 class="filter-title">FILTER BY:</h6>
                  <h6 class="sub-filter-title">Region:</h6>
                  <ul class="filter-options">
                    <li v-for="(region, index) in regions" v-bind:key="index">
                      <input type="checkbox" :value="region.id" v-model="filter_form_sites.region"> {{ region.name }}
                    </li>
                  </ul>
                  <h6 class="sub-filter-title">Status:</h6>
                  <ul class="filter-options">
                    <li><input type="checkbox" value="2" v-model="filter_form_sites.status"> On-Going</li>
                    <li><input type="checkbox" value="3" v-model="filter_form_sites.status"> Completed</li>
                  </ul>
                  <button type="button" class="btn btn-primary mt-2" @click="filterBySiteList">Filter</button>
                </div>
              </div>
              <div class="card-body table-responsive p-1">
                <Table 
                  :dataFields="dataFields"
                  :dataUrl="dataUrl"
                  :primaryKey="primaryKey"
                  ref="dataTable">
                </Table>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">RIGIONAL SITES</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <apexchart type="bar" height="550" :options="regional_categories" :series="regional_series"></apexchart>
                  </div>
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-body -->
            </div>

          </div>

          <div class="col-lg-5 col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">TOTAL SITES</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <apexchart type="pie" :options="site_options" :series="site_totals"></apexchart>
                  </div>
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-body -->
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">FISHBONE/FUNNEL</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-8 offset-md-2">
                    <apexchart type="pie" :options="options_1" :series="series_1"></apexchart>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-8 offset-md-2">
                    <apexchart type="pie" :options="options_2" :series="series_2"></apexchart>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-8 offset-md-2">
                    <apexchart type="pie" :options="options_3" :series="series_3"></apexchart>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-8 offset-md-2">
                    <apexchart type="pie" :options="options_4" :series="series_4"></apexchart>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-8 offset-md-2">
                    <apexchart type="pie" :options="options_5" :series="series_5"></apexchart>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-8 offset-md-2">
                    <apexchart type="pie" :options="options_6" :series="series_6"></apexchart>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-8 offset-md-2">
                    <apexchart type="pie" :options="options_7" :series="series_7"></apexchart>
                  </div>
                </div>

                <!-- /.row -->
              </div>
              <!-- /.card-body -->
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">SERVICE TICKETS STATUS</h3>
                <div class="card-tools float-right">
                  <a href="#" class="btn btn-tool btn-sm" data-toggle="collapse" data-target="#service-tickets">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="collapse" id="service-tickets">
                <div class="card card-body m-2">
                  <h6 class="filter-title">FILTER BY:</h6>
                  <h6 class="sub-filter-title">Service Tickets:</h6>
                  <ul class="filter-options">
                    <li v-for="(service, index) in service_tickets" v-bind:key="index">
                      <input type="radio" :id="service.name" :value="service.id" v-model="filter_form_tickets.service_ticket"> {{ service.name }}
                    </li>
                  </ul>
                  <button type="button" class="btn btn-primary mt-2" @click="filterByTickets">Filter</button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <apexchart type="pie" :options="service_options" :series="service_series"></apexchart>
                  </div>
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-body -->
            </div>

          </div>

        </div>
      </div>
    </section>
  </div>
</template>
<script>  
  import apexchart from 'vue-apexcharts';
  import Table from '../../../components/Table';

  export default {
    name: "IOCC_Dashboard",
    data() {
        return {
          site_options: '',
          site_totals: '',
          regional_series: '',
          regional_categories: '',
          series_1: '',
          options_1: '',
          series_2: '',
          options_2: '',
          series_3: '',
          options_3: '',
          series_4: '',
          options_4: '',
          series_5: '',
          options_5: '',
          series_6: '',
          options_6: '',
          series_7: '',
          options_7: '',
          service_series: '',
          service_options: '',

          service_tickets: [],
          regions: [],

          filter_form: {
            service_ticket: [],
            region: [],
            status: [],
          },

          filter_form_sites: {
            service_ticket: [],
            region: [],
            status: [],
          },

          filter_form_tickets: {
            service_ticket: [],
          },


          dataFields: {
            site_name: "Site Name", 
            region_name: "Region", 
            city_municipality_name: "Municipality", 
            status: {
              name: "Status", 
              type:"Boolean", 
              status: { 
                1: '<span class="badge bg-secondary">On-Going</span>',
                2: '<span class="badge bg-success">Completed</span>',
              },
            },
          },
          primaryKey: "id",
          dataUrl: "/api/v1/iocc/dashboard/site-list",

          quickIssueFields: {
            site_name: "Site Name", 
            ticket_name: "Service Ticket", 
            region_name: "Region", 
            city_municipality_name: "Municipality", 
            status: {
              name: "Status", 
              type:"Boolean", 
              status: { 
                1: '<span class="badge bg-light text-dark">To Start</span>', 
                2: '<span class="badge bg-secondary">On-Going</span>',
                3: '<span class="badge bg-success">Completed</span>',
                4: '<span class="badge bg-warning text-dark">Critical</span>',
                5: '<span class="badge bg-danger">Delayed</span>',
              },
            },
          },
          quickIssueprimaryKey: "id",
          quickIssuedataUrl: "/api/v1/iocc/dashboard/quick-issues",
        }
    },

    created(){
      this.lookups();
      this.totalSitePie();
      this.regionalBarGraph();
      this.fishboneFunnel();
      this.serviceStatus();
    },

    methods: {
      lookups: function() {
        axios.get('/api/v1/lookup/service-tickets', {
            params: {
                solution: 'ibs',
            }
        })
        .then( response => {
          this.service_tickets = response.data.data;
        });

        axios.get('/api/v1/lookup/getRegions')
        .then( response => {
          this.regions = response.data.data;
        });        
      },

      filterByQuickIssues: function() {
        this.$refs.quickDataTable.filters = this.filter_form;
        this.$refs.quickDataTable.fetchData();
      },

      filterBySiteList: function() {
        this.$refs.dataTable.filters = this.filter_form_sites;
        this.$refs.dataTable.fetchData();
      },

      filterByTickets: function() {
        this.serviceStatus();
      },

      totalSitePie: function() {
        axios.get('/api/v1/iocc/dashboard/total-sites')
        .then( response => {
          var data = response.data.data;
          this.site_totals = data;
           this.site_options = {
              chart: {
                width: '80%',
                type: 'pie',
              },
              labels: ['Done', 'On Going'],
              responsive: [{
                breakpoint: 480,
                options: {
                  chart: {
                    width: 200
                  },
                  legend: {
                    position: 'bottom'
                  }
                }
              }]
            };
        });         
      },

      regionalBarGraph: function() {
        axios.get('/api/v1/iocc/dashboard/regional-sites')
        .then( response => {
          var data = response.data.data;
          this.regional_series = [{
            name: 'Done',
            data: data.total_done
          }, {
            name: 'On Going',
            data: data.total_on_going
          }];

          this.regional_categories = {
            chart: {
              type: 'bar',
              height: 550,
              stacked: true,
              stackType: '100%'
            },
            plotOptions: {
              bar: {
                horizontal: true,
              },
            },
            stroke: {
              width: 1,
              colors: ['#fff']
            },
            xaxis: {
              categories: data.site_names,
            },
            tooltip: {
              y: {
                formatter: function (val) {
                  return val + "K"
                }
              }
            },
            fill: {
              opacity: 1
            },
            legend: {
              position: 'top',
              horizontalAlign: 'left',
              offsetX: 40
            }
          }
        });
      },

      fishboneFunnel: function() {
        axios.get('/api/v1/iocc/dashboard/fishbone-funnel')
        .then( response => {
          var data = response.data.data;
          this.series_1 = data[13].totals;
          this.options_1 = {
              chart: {
                width: '75%',
                type: 'pie',
              },
              labels: data[13].status,
              fill: {
                colors: data[13].colors,
              },
              theme: {
                monochrome: {
                  enabled: true
                }
              },
              plotOptions: {
                pie: {
                  dataLabels: {
                    offset: -5
                  }
                }
              },
              title: {
                text: data[13].title
              },
              dataLabels: {
                formatter(val, opts) {
                  const name = opts.w.globals.labels[opts.seriesIndex]
                  return [name, val.toFixed(1) + '%']
                }
              },
              legend: {
                show: false
              }
            };

          this.series_2 = data[14].totals;
          this.options_2 = {
              chart: {
                width: '75%',
                type: 'pie',
              },
              labels: data[14].status,
              fill: {
                colors: data[14].colors,
              },
              theme: {
                monochrome: {
                  enabled: true
                }
              },
              plotOptions: {
                pie: {
                  dataLabels: {
                    offset: -5
                  }
                }
              },
              title: {
                text: data[14].title
              },
              dataLabels: {
                formatter(val, opts) {
                  const name = opts.w.globals.labels[opts.seriesIndex]
                  return [name, val.toFixed(1) + '%']
                }
              },
              legend: {
                show: false
              }
            };

          this.series_3 = data[15].totals;
          this.options_3 = {
              chart: {
                width: '75%',
                type: 'pie',
              },
              labels: data[15].status,
              fill: {
                colors: data[15].colors,
              },
              theme: {
                monochrome: {
                  enabled: true
                }
              },
              plotOptions: {
                pie: {
                  dataLabels: {
                    offset: -5
                  }
                }
              },
              title: {
                text: data[15].title
              },
              dataLabels: {
                formatter(val, opts) {
                  const name = opts.w.globals.labels[opts.seriesIndex]
                  return [name, val.toFixed(1) + '%']
                }
              },
              legend: {
                show: false
              }
            };

          this.series_4 = data[16].totals;
          this.options_4 = {
              chart: {
                width: '75%',
                type: 'pie',
              },
              labels: data[16].status,
              fill: {
                colors: data[16].colors,
              },
              theme: {
                monochrome: {
                  enabled: true
                }
              },
              plotOptions: {
                pie: {
                  dataLabels: {
                    offset: -5
                  }
                }
              },
              title: {
                text: data[16].title
              },
              dataLabels: {
                formatter(val, opts) {
                  const name = opts.w.globals.labels[opts.seriesIndex]
                  return [name, val.toFixed(1) + '%']
                }
              },
              legend: {
                show: false
              }
            };

          this.series_5 = data[18].totals;
          this.options_5 = {
              chart: {
                width: '75%',
                type: 'pie',
              },
              labels: data[18].status,
              fill: {
                colors: data[18].colors,
              },
              theme: {
                monochrome: {
                  enabled: true
                }
              },
              plotOptions: {
                pie: {
                  dataLabels: {
                    offset: -5
                  }
                }
              },
              title: {
                text: data[18].title
              },
              dataLabels: {
                formatter(val, opts) {
                  const name = opts.w.globals.labels[opts.seriesIndex]
                  return [name, val.toFixed(1) + '%']
                }
              },
              legend: {
                show: false
              }
            };

          this.series_6 = data[19].totals;
          this.options_6 = {
              chart: {
                width: '75%',
                type: 'pie',
              },
              labels: data[19].status,
              fill: {
                colors: data[19].colors,
              },
              theme: {
                monochrome: {
                  enabled: true
                }
              },
              plotOptions: {
                pie: {
                  dataLabels: {
                    offset: -5
                  }
                }
              },
              title: {
                text: data[19].title
              },
              dataLabels: {
                formatter(val, opts) {
                  const name = opts.w.globals.labels[opts.seriesIndex]
                  return [name, val.toFixed(1) + '%']
                }
              },
              legend: {
                show: false
              }
            };

          this.series_7 = data[20].totals;
          this.options_7 = {
              chart: {
                width: '75%',
                type: 'pie',
              },
              labels: data[20].status,
              fill: {
                colors: data[20].colors,
              },
              theme: {
                monochrome: {
                  enabled: true
                }
              },
              plotOptions: {
                pie: {
                  dataLabels: {
                    offset: -5
                  }
                }
              },
              title: {
                text: data[20].title
              },
              dataLabels: {
                formatter(val, opts) {
                  const name = opts.w.globals.labels[opts.seriesIndex]
                  return [name, val.toFixed(1) + '%']
                }
              },
              legend: {
                show: false
              }
            };
        });

      },

      serviceStatus: function() {
        console.log(this.filter_form_tickets);
        axios.get('/api/v1/iocc/dashboard/service-status', {
            params: {
                filters: this.filter_form_tickets,
            }
        })
        .then( response => {
          var data = response.data.data;

          this.service_series = data.totals;
          this.service_options = {
              chart: {
                width: '75%',
                type: 'pie',
              },
              labels: data.status,
              fill: {
                colors: data.colors,
              },
              theme: {
                monochrome: {
                  enabled: true
                }
              },
              plotOptions: {
                pie: {
                  dataLabels: {
                    offset: -5
                  }
                }
              },
              dataLabels: {
                formatter(val, opts) {
                  const name = opts.w.globals.labels[opts.seriesIndex]
                  return [name, val.toFixed(1) + '%']
                }
              },
              legend: {
                show: false
              }
            };

        });

      },
    },

    components: {
      apexchart,
      Table
    }
  };
</script>
<style scoped> 
  .card-title {
    display: inline-block;
  }

  .filter-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: .03em;
    /*padding: 0 20px 13px 0;*/
    cursor: pointer;
    color: #191919;
    /*border-bottom: 1px solid #e9e7e7;*/
    transition: color .2s linear;
    text-transform: uppercase;
  }

  .sub-filter-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: .03em;
    padding: 10px 0 0px 0;
    cursor: pointer;
    color: #191919;
    border-top: 1px solid #e9e7e7;
    transition: color .2s linear;
    text-transform: uppercase;
    margin-top: 10px;
  }

  .filter-options {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>