<template>
  <div>
    <section class="contact bg-primary text-left">
      <section class="wrapper">
        <div class="row">
          <div class="col-md-6 col-12">
            <a v-show="currentUser.can_edit" type="button" class="btn btn-primary btn-sm" @click="addNewTicket">Create New Ticket</a>
          </div>
          <div class="col-md-6 col-12">
            <div class="input-group d-flex align-items-center justify-content-end" style="color:#ffff;">
                Search:
                <input v-model="search" type="text" class="form-control form-control-sm" placeholder="Search" v-on:keyup="onEnterSearch" style="margin-left: 0.5em;"/>
                <div class="input-group-append">
                    <button type="button" class="btn btn-info btn-sm" @click="getTickets"><i class="fas fa-search"></i></button>
                </div>
            </div>
          </div>
        </div>        
      </section>
      <section class="wrapper">
        <ul class="column__list">
          <li v-for="(ticket, index) in tickets" class="column__item" v-bind:class="[ticket.status == 2 ? 'bg-success bg-gradient-success' : '']">                
            <span v-if="ticket.is_priority" class="card__tag card__tag--high">High Priority</span>
              <div class="dropleft float-right" v-show="currentUser.can_edit">
                <i class="fas fa-ellipsis-h" data-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" @click="ticketStatus(ticket.id, 1)"><i class="far fa-check-square"></i> Update status to On-Going</a></li>
                  <li><a class="dropdown-item" href="#" @click="ticketStatus(ticket.id, 2)"><i class="far fa-check-square"></i> Update status to Done</a></li>
                  <li><a class="dropdown-item" href="#" @click="editTicket(ticket.id)"><i class="far fa-edit"></i> Edit</a></li>
                  <li><a class="dropdown-item" href="#" @click="deleteTicket(ticket.id)"><i class="far fa-trash-alt"></i> Delete</a></li>
                </ul>
              </div>
              <div class="card__item">                  
                <h2>
                  <label>{{ ticket.client_name }}</label>
                  <label>{{ ticket.ticket_number }}</label>
                </h2>
                <label>Site Name : <strong>{{ ticket.site_name }}</strong></label> <br/>
                <label>Start Date : <strong>{{ ticket.start_date_formated }}</strong></label> <br/> 
                <label>End Date : <strong>{{ ticket.end_date_formated }}</strong></label> <br/>
              </div>
                <ul class="card__list">
                  <li v-for="(task, task_index) in ticket.ticket_details" class="card__item" v-bind:class="condition(task)">
                    <div class="dropleft float-right" v-show="currentUser.can_edit">
                      <i class="fas fa-ellipsis-h" data-toggle="dropdown" aria-expanded="false"></i>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" @click="updateStatus(task.id, 2, true)">Update status to On-Going</a></li>
                        <li><a class="dropdown-item" href="#" @click="updateStatus(task.id, 3, true)">Update status to Done</a></li>
                      </ul>
                    </div>

                    <h6 class="card__title" @click="remarks(task)">{{ task.ticket_name }}
                      <span class="card__tag bg-info">{{ task.status_name }}</span>
                    </h6>
                    <label>Team Name : <strong>{{ task.team_name }}</strong></label> <br/>
                    <label>{{ task.remarks }}</label>                    
                    <br>
                    <span class="card__tag bg-info">{{ task.start_date_formated }}</span>
                    <span class="card__tag bg-info">{{ task.end_date_formated }}</span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </section>

    <div class="modal fade" id="ticket-form" tabindex="-1" aria-labelledby="ticket-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewTicket" v-show="addNewButton">Add New Ticket</h5>
            <h5 class="modal-title" id="editTicket" v-show="saveButton">Edit Ticket</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">

              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Client <span class="font-italic">(required)</span></label>
                <div class="col-sm-8" id="client_id">
                  <multiselect v-model="tiket_form.client_id" track-by="client_name" label="client_name" placeholder="Select Client" :options="clients" :searchable="true" :allow-empty="false" @select="getJobOrder">
                  </multiselect>
                  <div class="invalid-feedback" id="error_client_id"></div>
                </div>
              </div>

              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Order Number / PO Number <span class="font-italic">(required)</span></label>
                <div class="col-sm-8" id="job_order_id">
                  <multiselect v-model="tiket_form.job_order_id" track-by="po_order_number" label="po_order_number" placeholder="Select Order / PO Number" :options="job_orders" :searchable="true" :allow-empty="false" @select="getSiteList">
                  </multiselect>
                  <div class="invalid-feedback" id="error_job_order_id"></div>
                </div>
              </div>

              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Site Name <span class="font-italic">(required)</span></label>
                <div class="col-sm-8" id="job_order_details_id">
                  <multiselect v-model="tiket_form.job_order_details_id" track-by="site_name" label="site_name" placeholder="Select Client" :options="job_order_details" :searchable="true" :allow-empty="false">
                  </multiselect>
                  <div class="invalid-feedback" id="error_job_order_details_id"></div>
                </div>
              </div>

              <!-- <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label">Team Name / Subcon Name <span class="font-italic">(required)</span></label>
                <div class="col-sm-8" id="team_id">
                  <multiselect v-model="tiket_form.team_id" track-by="name" label="name" placeholder="Select Team" :options="teams" :searchable="true" :allow-empty="false">
                  </multiselect>
                  <div class="invalid-feedback" id="error_team_id"></div>
                </div>
              </div> -->

              <div class="form-group row">
                <label for="team_lead" class="col-sm-4 col-form-label">Start Date <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <date-picker v-model="tiket_form.start_date" placeholder="YYYY-MM-DD" :config="options" id="start_date" autocomplete="off"></date-picker>
                  <div class="invalid-feedback" id="error_start_date"></div>
                </div>
              </div>

              <div class="form-group row">
                <label for="team_lead" class="col-sm-4 col-form-label">Solution Type <span class="font-italic">(required)</span></label>
                <div class="col-sm-8" id="solution_type">
                  <multiselect v-model="tiket_form.solution_type" placeholder="Select Solution Type" :options="solution_types" :searchable="true" :allow-empty="false">
                  </multiselect>
                  <div class="invalid-feedback" id="error_solution_type"></div>
                </div>
              </div>

              <div class="form-group row">
                <label for="team_lead" class="col-sm-4 col-form-label">Service Type <span class="font-italic">(required)</span></label>
                <div class="col-sm-8" id="service_type">
                  <multiselect v-model="tiket_form.service_type" placeholder="Select Service Type" :options="service_types" :searchable="true" :allow-empty="false" @select="getReferences">
                  </multiselect>
                  <div class="invalid-feedback" id="error_service_type"></div>
                </div>
              </div>

              <div class="form-group row">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Reference Name</th>
                      <th>No. Days</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Team</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(reference, index) in tiket_form.ticket_references">
                      <td>{{ reference.plans_reference_name }}</td>
                      <td>{{ reference.number_of_days }}</td>
                      <td>{{ reference.start_date }}</td>
                      <td>{{ reference.end_date }}</td>
                      <td>
                        <multiselect v-model="reference.team_id" track-by="name" label="name" placeholder="Select Team" :options="teams" :searchable="true" :allow-empty="false">
                        </multiselect><br>
                        <textarea v-model="reference.remarks" style="width: 100%" placeholder="Remarks"></textarea>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>       

              <div class="form-group row">
                <label for="team_lead" class="col-sm-4 col-form-label">Is Priority</label>
                <div class="col-sm-8">
                  <div class="custom-control custom-switch">
                      <input class="custom-control-input" type="checkbox" id="status" v-model="tiket_form.is_priority" value="true">
                      <label for="status" class="custom-control-label"></label>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="team_lead" class="col-sm-4 col-form-label">Remarks / Special Instructions</label>
                <div class="col-sm-8">
                  <textarea class="form-control" id="remarks" v-model="tiket_form.remarks" placeholder="References" style="height: 10rem;"></textarea>
                </div>
              </div>                

            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" v-show="addNewButton" @click="validateForm">Create Ticket</button>
            <button type="button" class="btn btn-primary" v-show="saveButton" @click="validateForm">Save Changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="remarksModal" tabindex="-1" aria-labelledby="remarksModal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              {{ ticket_details.ticket_name }}<br>              
              <p>Status : {{ ticket_details.status_name }}</p>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-md-12 col-12">
                <div class="row col col-12">
                  <h6><i class="fas fa-stream"></i> References</h6>
                </div>
                <div class="row col-12">
                  <p>{{ ticket_details.ticket_references }}<br>
                  {{ ticket_details.remarks }}</p>
                </div>
                <div class="row col-12">
                  <p>Start Date: {{ ticket_details.start_date_formated }} <br>
                  End Date: {{ ticket_details.end_date_formated }}</p>

                  <p></p>
                </div>
                <div class="row col-12">
                  <h6><i class="fas fa-list-ul"></i> Remarks</h6>
                </div>
                <div class="row col-12" v-show="currentUser.can_edit">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Remarks" id="ticket_remarks" v-model="remarks_form.remarks" v-on:keyup="onKeyInput()">
                    <button class="btn btn-outline-secondary save-button" disabled="disabled" type="button" @click="saveRemarks(ticket_details)">Save</button>
                  </div>
                </div>
                <div class="row col-12 mt-3" v-for="(comment, comment_index) in ticket_details.comments">
                  <label><span style="font-weight: bold">{{ comment.comment_by }}</span> {{ comment.updated_at }}</label>
                  <div class="input-group">
                    <input type="text" :id="comment.id" class="form-control" placeholder="Remarks" :value="comment.remarks" disabled="disabled">
                    <button class="btn btn-outline-secondary" :id="'button-'+comment.id" disabled="disabled" type="button" @click="saveRemarks(comment)">Save</button>
                  </div>
                  <div class="action-holder" v-if="comment.can_edit == true" v-show="currentUser.can_edit">
                    <a href="#" @click="editComment(comment)"><i class="far fa-edit"></i> Edit</a>
                    <a href="#" @click="deleteComment(comment)"><i class="fas fa-eraser"></i> Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
  import Multiselect from 'vue-multiselect';
  export default {
    name: 'IoccPortal',
    data() {
      return {
        currentUser: {
          id_number: '',
          name: '',
          category: '',
          designation: '',
          notification_count: 0,
          can_edit: false,
          can_view: false,
        },
        search: '',
        tickets: [],
        status_form: {
          id: '',
          status: '',
        },
        ticket_form: {
          id: '',
          status: '',
        },
        tiket_form: {
          id: '',
          client_id: '',                    
          job_order_id: '',
          job_order_details_id: '',
          start_date: '',
          solution_type: '',
          service_type: '',
          remarks: '',
          end_date: '',
          is_priority: '',
          ticket_references: [],
          ticket_details: [],
        },
        remarks_form: {
          id: '',
          ticket_id: '',
          remarks: ''
        },
        ticket_details: '',
        clients: [],
        job_orders: [],
        job_order_details: [],
        teams: [],
        solution_types: ['WIFI', 'IBS'],
        service_types: ['SIMPLE', 'MEDIUM', 'COMPLEX'],
        options: {
          format: 'YYYY-MM-DD',
          useCurrent: true,
        },
        addNewButton: true,
        saveButton: false,
      };
    },

    created(){
      this.getUserDetails();
      axios.get('/api/v1/lookup/clients')
      .then( response => {
        this.clients = response.data.data;
      });

      this.updateTicketDetailsStatus();
      this.getTeamList();
      this.getTickets();
    },

    methods: {
      getReferences(service_type) {
        axios.get('/api/v1/tickets/references', {
            params: {
                solution: this.tiket_form.solution_type,
                service_type: service_type,
                start_date: this.tiket_form.start_date,
            }
        })
        .then( response => {
            var references = response.data.data;
            this.tiket_form.ticket_references = [];
            for(var i = 0; i < references.length; i++) {
                var reference = references[i];

                this.tiket_form.ticket_references.push({
                plans_reference_id: reference.plans_reference_id,
                plans_reference_name: reference.plans_reference_name,
                number_of_days: reference.number_of_days,
                start_date: reference.start_date,
                end_date: reference.end_date,
                team_id: '',
                remarks: '',
              });
            }
        });
      },

      getUserDetails() {
          axios.get('/api/v1/employee/details')
          .then( response => {
              var id_number = response.data.data.id_number;
              this.currentUser.id_number = id_number;
              this.currentUser.name = response.data.data.name;
              this.currentUser.category = response.data.data.category;
              this.currentUser.designation = response.data.data.designation;
              this.currentUser.notification_count = response.data.data.notification_count;
              this.currentUser.can_view = response.data.data.is_iocc;
              this.currentUser.can_edit = response.data.data.is_iocc_edit;
          });
      },

      onEnterSearch(e) {
          if (e.keyCode === 13) {
              this.getTickets()
          } 
      },

      getJobOrder: function(client) {
        this.tiket_form.job_order_id = '';
        this.job_orders = [];

        axios.put('/api/v1/lookup/job-orders', { client_id : client.id })
        .then( response => {
          this.job_orders = response.data.data;
        });
      },

      getSiteList: function(job_order) {
        axios.put('/api/v1/lookup/site-list', { job_order_id: job_order.id })
        .then( response => {
          this.job_order_details = response.data.data;
        });
      },

      getTeamList: function(client) {
        axios.get('/api/v1/lookup/team-list')
        .then( response => {
          this.teams = response.data.data;
        });
      },

      getTickets: function(argument) {
        axios.get('/api/v1/tickets/list', {
            params: {
                search: this.search,
            }
        })
        .then(response => {
          this.tickets = response.data.data;
        });   
      },

      updateStatus: function(id, status_id, action=false) {
        this.status_form.id = id;
        this.status_form.status = status_id;

        axios.post('/api/v1/tickets/update', this.status_form)
        .then( response => {
          if(action == true){
            toastr.success(response.data.message);
            this.getTickets();
          }
        });
      },

      updateTicketDetailsStatus: function() {
        axios.post('/api/v1/tickets/update-status')
        .then(response => {
          // return request status
        }); 
      },

      condition: function(task) {
        if(task.status == 2) {
          return 'bg-secondary';
        }
        else if(task.status == 3) {
          return 'bg-success';
        }
        else if(task.status == 4) {
          return 'bg-warning';
        }
        else if(task.status == 5) {
          return 'bg-danger';
        }
      },

      ticketStatus: function(id, status_id) {
        this.ticket_form.id = id;
        this.ticket_form.status = status_id;

        axios.post('/api/v1/tickets/site/update', this.ticket_form)
        .then( response => {
            toastr.success(response.data.message);
            this.getTickets();
        });

      },

      deleteTicket: function(ticket_id) {
        axios.get('/api/v1/tickets/delete/'+ticket_id)
          .then(response => {
            toastr.success(response.data.message);
            this.getTickets();
          });  
      },

      addNewTicket: function() {
        this.tiket_form.id = '';
        this.tiket_form.client_id = '';                    
        this.tiket_form.job_order_id = '';
        this.tiket_form.job_order_details_id = '';
        this.tiket_form.start_date = '';
        this.tiket_form.solution_type = '';
        this.tiket_form.service_type = '';
        this.tiket_form.remarks = '';
        this.tiket_form.end_date = '';
        this.tiket_form.is_priority = '';
        this.tiket_form.ticket_references = [];
        this.tiket_form.ticket_details = [];                 
        this.addNewButton = true;
        this.saveButton = false;
        $('#ticket-form').modal('show');
      },

      editTicket: function(id) {
        axios.get('/api/v1/tickets/'+id)
        .then(response => {
          var ticket = response.data.data;

          this.getJobOrder(ticket.client_details);
          this.getSiteList(ticket.job_order_details);

          this.tiket_form.id = ticket.id;
          this.tiket_form.client_id = ticket.client_details;                    
          this.tiket_form.job_order_id = ticket.job_order_details;
          this.tiket_form.job_order_details_id = ticket.site_details;
          this.tiket_form.solution_type = ticket.solution_type;
          this.tiket_form.service_type = ticket.service_type;
          this.tiket_form.start_date = ticket.start_date;
          this.tiket_form.is_priority = ticket.is_priority;
          this.tiket_form.remarks = ticket.remarks;

          var references = ticket.ticket_details;
          this.tiket_form.ticket_references = [];
          for(var i = 0; i < references.length; i++) {
              var reference = references[i];

              this.tiket_form.ticket_references.push({
              plans_reference_id: reference.plans_reference_id,
              plans_reference_name: reference.ticket_name,
              number_of_days: reference.number_of_days,
              start_date: reference.start_date,
              end_date: reference.end_date,
              team_id: reference.team_details,
              remarks: reference.remarks,
            });
          }

          this.addNewButton = false;
          this.saveButton = true;
          $('#ticket-form').modal('show');
        });          
      },

      validateForm: function() {
        if(this.tiket_form.client_id
          && this.tiket_form.job_order_id
          && this.tiket_form.job_order_details_id
          && this.tiket_form.service_type
          && this.tiket_form.start_date) 
          {
            this.storeTicket();             
          }

          if(!this.tiket_form.client_id) {
              $("#client_id").addClass("is-invalid");
              $("#error_client_id").css("display", "block");
              $("#error_client_id").html("Client is required.");
          }
          else {
              $("#client_id").removeClass("is-invalid");
              $("#error_client_id").css("display", "none");
              $("#error_client_id").html("");
          }

          if(!this.tiket_form.job_order_id) {
              $("#job_order_id").addClass("is-invalid");
              $("#error_job_order_id").css("display", "block");
              $("#error_job_order_id").html("Job order is required.");
          }
          else {
              $("#job_order_id").removeClass("is-invalid");
              $("#error_job_order_id").css("display", "none");
              $("#error_job_order_id").html("");
          }

          if(!this.tiket_form.job_order_details_id) {
              $("#job_order_details_id").addClass("is-invalid");
              $("#error_job_order_details_id").css("display", "block");
              $("#error_job_order_details_id").html("Site name is required.");
          }
          else {
              $("#job_order_details_id").removeClass("is-invalid");
              $("#error_job_order_details_id").css("display", "none");
              $("#error_job_order_details_id").html("");
          }

          // if(!this.tiket_form.team_id) {
          //     $("#team_id").addClass("is-invalid");
          //     $("#error_team_id").css("display", "block");
          //     $("#error_team_id").html("Team is required.");
          // }
          // else {
          //     $("#team_id").removeClass("is-invalid");
          //     $("#error_team_id").css("display", "none");
          //     $("#error_team_id").html("");
          // }

          if(!this.tiket_form.service_type) {
              $("#service_type").addClass("is-invalid");
              $("#error_service_type").css("display", "block");
              $("#error_service_type").html("Service type is required.");
          }
          else {
              $("#service_type").removeClass("is-invalid");
              $("#error_service_type").css("display", "none");
              $("#error_service_type").html("");
          }

          if(!this.tiket_form.start_date) {
              $("#start_date").addClass("is-invalid");
              $("#error_start_date").html("Start date is required.");
          }
          else {
              $("#start_date").removeClass("is-invalid");
              $("#error_start_date").html("");
          }
        },

        storeTicket: function() {
          axios.post('/api/v1/tickets/create', this.tiket_form)
          .then( response => {
              toastr.success(response.data.message)
              this.getTickets();
              $('#ticket-form').modal('hide');
          });
        },

        remarks: function(ticket_details) {
          this.ticket_details = ticket_details;
          console.log(this.ticket_details);
          $("#remarksModal").modal('show');
        },

        onKeyInput: function() {
          if($("#ticket_remarks").val() != '' || $("#ticket_remarks").val() != null) {
            $(".save-button").prop("disabled", false);
          }
        },

        saveRemarks: function(ticket) {          
          if(this.remarks_form.id) {
            this.remarks_form.remarks = $("#"+ticket.id).val();
          }
          else {
            this.remarks_form.ticket_id = ticket.id;
          }

          axios.post('/api/v1/tickets/remarks/save', this.remarks_form)
          .then( response => {
            this.ticket_details = response.data.data;
            this.remarks_form.remarks = '';
            this.remarks_form.id = '';
            $("#"+ticket.id).prop("disabled", true);
          });
        }, 

        editComment: function(comment) {
          this.remarks_form.id = comment.id;
          $("#"+comment.id).prop("disabled", false);
          $("#button-"+comment.id).prop("disabled", false);
        },

        deleteComment: function(comment) {
          console.log(comment.id);
          axios.get('/api/v1/tickets/remark/delete/'+comment.id)
          .then(response => {
            toastr.success(response.data.message);
            this.ticket_details = response.data.data;
          }); 
        },

        attachmentPopover: function() {
          $('[data-toggle="popover-click"]').popover({
            html: true,
            trigger: 'click',
            placement: 'bottom',
            content: function () { return $('#popover_content_wrapper').html(); }
          });

        },
    },
    components: {
      Multiselect
    },
  };
</script>
<style scoped>
  ul {:
    list-style-type: none;
    padding: 0;
  }

  h5, h6 {
    font-weight: bold;
  }

  .wrapper {
    padding: 1rem;
  }

  section.contact h2 {
    margin-bottom: 0;
  }

  .bg-secondary {
    color: #fff;
  }

  .bg-secondary h6{
    color: #fff;
  }

  /*.bg-success {
    color: #fff;
  }

  .bg-success h6{
    color: #fff;
  }*/

  /* column styles */

  .column__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: .5rem;
    align-items: start;
    list-style: none;
  }

  .column__item {
    border-radius: .2rem;
    background-color: #dfe3e6;
    padding: .5rem;
  }

  .column__title--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .25rem;
    align-items: center;
  }

  .column__title--wrapper h2 {
    color: #17394d;
    font-weight: 700;
    font-size: .9rem;
  }

  .column__title--wrapper i {
    text-align: right;
    color: #798d99;
  }

  .column__item--cta {
    padding: .25rem;
    display: flex;
    color: #798d99;
  }

  .column__item--cta i {
    margin-right: .25rem;
  }

  /* card styles */

  .card__list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: .5rem;
    margin: .5rem 0;
    padding: 0;
  }

  .card__item {
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    padding: .5rem;
    width: 16.5rem;
  }

  .card__tag {
    font-size: .75rem;
    padding: .1rem .5rem;
    border-radius: .25rem;
    font-weight: 700;
    color: white;
    margin-bottom: .75rem;
    display: inline-block;
  }

  .card__image {
    width: 100%;
    margin-bottom: .25rem;
  }

  /* sticker colors */

  .card__tag--design {
    background-color: #61bd4f;
  }

  .card__tag--browser {
    background-color: #c377e0;
  }

  .card__tag--mobile {
    background-color: #f2d600;
  }

  .card__tag--high {
    background-color: #eb5a46;
  }

  .card__tag--low {
    background-color: #00c2e0;
  }

  .card__title {
    color: #17394d;
    margin-bottom: .75rem;
    cursor: pointer;
  }

  /* card actions */

  .card__actions {
    display: flex;
    align-items: center;
  }

  .card__actions--wrapper i {
    color: #798d99;
    margin-right: .5rem;
  }

  .card__actions--text {
    color: #798d99;
    font-size: .8rem;
    margin-left: -.25rem;
    margin-right: .5rem;
  }

  .card__avatars {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .card__avatars--item {
    margin-left: .25rem;
    width: 28px;
    height: 28px;
  }

  .avatar__image {  
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .action-holder {
    font-size: 13px;
  }
</style>
