<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2>Teams
                 <a type="button" class="btn btn-outline-primary btn-sm" @click="addNewTeam">Add New</a>
                </h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <Table 
                    :dataFields="dataFields"
                    :dataUrl="dataUrl"
                    :primaryKey="primaryKey"
                    :actionButtons="actionButtons"
                    v-on:editButton="editTeam"
                    ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal Add New / Edit Employee -->
    <div class="modal fade" id="team-form" tabindex="-1" aria-labelledby="team-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewTeam" v-show="addNewButton">Add New Team</h5>
            <h5 class="modal-title" id="editTeam" v-show="saveButton">Edit Team</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">

              <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label">Team Name / Subcon Name <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="name" v-model="team.name" placeholder="Team Name / Subcon Name">
                  <div class="invalid-feedback" id="error_name"></div>
                </div>
              </div>

              <div class="form-group row">
                <label for="team_lead" class="col-sm-4 col-form-label">Team Lead Full Name <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="team_lead" v-model="team.team_lead" placeholder="Full Name">
                  <div class="invalid-feedback" id="error_team_lead"></div>
                </div>
              </div>

              <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label">Email <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="email" v-model="team.email" placeholder="Email">
                  <div class="invalid-feedback" id="error_email"></div>
                </div>
              </div>

              <div class="form-group row">
                <label for="mobile_number" class="col-sm-4 col-form-label">Mobile Number <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="mobile_number" v-model="team.mobile_number" placeholder="Mobile Number">
                  <div class="invalid-feedback" id="error_mobile_number"></div>
                </div>
              </div>

              <div class="form-group row">
                <label for="displayButton" class="col-sm-4 col-form-label">Password <span class="font-italic">(required)</span></label>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-block btn-outline-info btn-sm" v-show="displayButton" @click="showPassword">Show password</button>
                    <div class="input-group mb-3" v-show="displayPassword">
                        <input 
                            type="text" 
                            v-model="team.password" 
                            class="form-control" 
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-sm">

                        <div class="input-group-append">                              
                          <button class="btn btn-outline-secondary" type="button" @click="showPassword"><i class="fas fa-sync-alt"></i></button>
                        </div>                        
                      </div>
                      <div class="invalid-feedback" id="error_password"></div>
                  </div>
                  <div class="col-sm-2">
                      <button type="button" class="btn btn-block btn-outline-secondary btn-sm" v-show="displayPassword" @click="cancelPassword" style="margin-top: 4px;">Cancel</button>
                  </div>
              </div>

              <div class="form-group row">
                <label for="mobile_number" class="col-sm-4 col-form-label">Type <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <select class="custom-select" id="type" v-model="team.type">
                    <option value="">Select Type</option>
                    <option v-for="type in team_types" :value="type">{{ type }}</option>
                  </select>
                  <div class="invalid-feedback" id="error_type"></div>
                </div>
              </div>

              <hr>
              <div class="form-group row">
                  <label id="team_members" for="member_name" class="col-sm-4 col-form-label">Member/s <span class="font-italic">(required)</span></label>
                  <div class="invalid-feedback m-2" id="error_team_members"></div>
                  <div class="col-sm-12">                      
                    <div class="row mb-3" v-for="(member, index) in team.team_members">
                      <div class="col-3">
                        <input type="text" class="form-control" id="member_name" v-model="member.name" placeholder="Member Name">
                      </div>

                      <div class="col-3">
                        <input type="text" class="form-control" id="member_designation" v-model="member.designation" placeholder="Designation">
                      </div>

                      <div class="col-3">
                        <input type="email" class="form-control" id="member_email" v-model="member.email" placeholder="Email">
                      </div>

                      <div class="col-2">
                        <input type="number" class="form-control" id="member_mobile_number" v-model="member.mobile_number" placeholder="Mobile Number">
                      </div>

                      <div class="col-1">
                        <button type="button" class="btn btn-danger" title="Delete" @click="deleteMember(index)"><i class="fas fa-trash-alt"></i></button>
                      </div>
                    </div>
                     <div class="row mt-3">
                        <div class="col-12">
                        <button type="button" class="btn btn-block btn-primary btn-sm" @click="addMember"><i class="icon fas fa-plus"></i> Add Member</button>
                        </div>
                      </div>
                  </div>
                </div>

            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" v-show="addNewButton" @click="validateForm">Add New Team</button>
            <button type="button" class="btn btn-primary" v-show="saveButton" @click="validateForm">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal Add New Team -->
  </div>
</template>
<script>  
  import Table from '../../../components/Table';
  import { generatePassword } from '../../../helpers/generatePassword';

  export default {
    name: "Users",
    data() {
        return {
          team: {
              id: '',
              name: '',                    
              type: '',
              address: '',
              team_lead: '',
              mobile_number: '',
              email: '',
              password: '',
              team_members: []
          },
          index_id: '',
          team_types: ['In House', 'Outsourced'],
          addNewButton: true,
          saveButton: false,                
          displayPassword: false,
          displayButton: true,
          dataFields: {
            name: "Team Name", 
            email: "Email", 
            team_lead: "Team Lead", 
            mobile_number: "Mobile Number", 
          },
          primaryKey: "id",
          dataUrl: "/api/v1/iocc/team/list",
          actionButtons: {
            edit: {
              title: 'Edit this team',
              name: 'Edit',
              apiUrl: '',
              routeName: 'employee.edit',
              button: '<i class="fas fa-edit"></i> Edit',
              method: 'edit'
            },
            delete: {
              title: 'Delete this team',
              name: 'Delete',
              apiUrl: '/api/v1/iocc/team/delete',
              routeName: '',
              button: '<i class="fas fa-trash-alt"></i> Delete',
              method: 'delete'
            },
          },
        };
    },

    created(){
    },

    methods: {
        addMember: function() {
          var index = this.team.team_members.length-1;
          if(index >= 0) {
            if(this.team.team_members[index].name
              && this.team.team_members[index].designation
              && this.team.team_members[index].mobile_number
              && this.team.team_members[index].email) {

                $("#team_members").removeClass("is-invalid");
                $("#error_team_members").css("display", "none");
                $("#error_team_members").html("");

                // add validation request

                this.team.team_members.push({
                  id: '',
                  name: '',
                  designation: '',
                  mobile_number: '',
                  email: ''
                });
            }
            else {
              $("#team_members").addClass("is-invalid");
              $("#error_team_members").css("display", "block");
              $("#error_team_members").html("Team member must not be emplty.");
            }
          }
          else {
            this.team.team_members.push({
              id: '',
              name: '',
              designation: '',
              mobile_number: '',
              email: ''
            });
          }
        },

        addNewTeam: function() {
          this.team.id = '';
          this.team.name = '';                    
          this.team.type = '';
          this.team.team_lead = '';
          this.team.mobile_number = '';
          this.team.email = '';
          this.team.password = '';
          this.team.team_members = [];
          this.displayPassword = false;
          this.displayButton = true;                        
          this.addNewButton = true;
          this.saveButton = false;
          this.addMember();
          $('#team-form').modal('show');
        },

        editTeam: function(id) {
            axios.get('/api/v1/iocc/team/'+id)
          .then(response => {
            var team = response.data.data;
            this.team.id = id;
            this.team.name = team.name;                    
            this.team.type = team.type;
            this.team.team_lead = team.team_lead;
            this.team.mobile_number = team.mobile_number;
            this.team.email = team.email;
            this.team.password = '';
            this.team.team_members = [];
            this.displayPassword = false;
            this.displayButton = true;

            if(team.team_members.length) {
              for(var index = 0; index < team.team_members.length; index++) {
                this.team.team_members.push({
                  id: team.team_members[index].id,
                  name: team.team_members[index].name,
                  designation: team.team_members[index].designation,
                  mobile_number: team.team_members[index].mobile_number,
                  email: team.team_members[index].email
                });
              }
            }else {
              this.addMember();
            }

            this.addNewButton = false;
            this.saveButton = true;
            $('#team-form').modal('show');
          });          
        },

        validateMembers: function() {
            var checked_count = 0;
            for(var i = 0; i < this.team.team_members.length; i++) {
              if(this.team.team_members[i].name != '') {
                checked_count++;
              }
            }

            if(checked_count > 0) {
              return true;
            }

            return false;
          },

        validateForm: function() {
          if(this.team.name
            && this.team.team_lead
            && this.team.type
            && this.team.mobile_number
            && this.team.email) 
            {
              if(this.team.id && !this.team.password) {
                this.storeTeam();
              }
              else if(!this.team.id && this.team.password) {
                this.storeTeam();
              }              
            }

            if(!this.team.name) {
                $("#name").addClass("is-invalid");
                $("#error_name").html("Team Name / Subcon Name is required.");
            }
            else {
                $("#name").removeClass("is-invalid");
                $("#error_name").html("");
            }

            if(!this.team.type) {
                $("#type").addClass("is-invalid");
                $("#error_type").html("Type is required.");
            }
            else {
                $("#type").removeClass("is-invalid");
                $("#error_type").html("");
            }

            if(!this.team.team_lead) {
                $("#team_lead").addClass("is-invalid");
                $("#error_team_lead").html("Team lead name is required.");
            }
            else {
                $("#team_lead").removeClass("is-invalid");
                $("#error_team_lead").html("");
            }

            if(!this.team.mobile_number) {
                $("#mobile_number").addClass("is-invalid");
                $("#error_mobile_number").html("Mobile number is required.");
            }
            else {
                $("#mobile_number").removeClass("is-invalid");
                $("#error_mobile_number").html("");
            }

            if(!this.team.email) {
                $("#email").addClass("is-invalid");
                $("#error_email").html("Email is required.");
            }
            else {
                $("#email").removeClass("is-invalid");
                $("#error_email").html("");
            }

            // if(!this.validateMembers()) {
            //     $("#team_members").addClass("is-invalid");
            //     $("#error_team_members").css("display", "block");
            //     $("#error_team_members").html("Team member is required.");
            // }
            // else {
            //     $("#team_members").removeClass("is-invalid");
            //     $("#error_team_members").css("display", "none");
            //     $("#error_team_members").html("");
            // }

            if(!this.team.password && !this.team.id) {
                $("#password").addClass("is-invalid");
                $("#error_password").css("display", "block");                
                $("#error_password").html("Please generate/make your password.");
            }
            else {
                $("#password").removeClass("is-invalid");
                $("#error_password").css("display", "none");                
                $("#error_password").html("");
            }
        },

        storeTeam: function() {

            axios.post('/api/v1/iocc/team/store', this.team)
            .then( response => {
                toastr.success(response.data.message)
                this.$refs.dataTable.fetchData();
                $('#team-form').modal('hide');
            });

        },

        showPassword: function() {
            this.team.password = generatePassword(15);
            this.displayPassword = true;
            this.displayButton = false;
        },

        cancelPassword: function() {
            this.displayPassword = false;
            this.displayButton = true;
        },

        deleteMember: function(index){
          this.index_id = index;
          // axios.put("/api/v1/approver/requestor/delete", { approver_id: this.approver.approver_id['id'], requestor: this.requestors[index].employee })
          // .then(response => {
          //   if(response.data.status == true){
          //     toastr.success(response.data.message)
          //     this.$refs.dataTable.fetchData();
          //     this.removedRequestor();
          //   }
          // });      
          this.removedMember();
        },

        removedMember: function() {
          this.$delete(this.team.team_members, this.index_id);
          this.index_id = null;
        },
    },

    components: {
      Table
    }
  };
</script>