<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Insurer &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewInsurer">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Requisition Management</li>
	              <li class="breadcrumb-item active">Insurer</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                  v-on:editButton="editInsurer"
                  ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

        <!-- Modal Add New / Edit insurer -->
        <div class="modal fade" id="insurer-form" tabindex="-1" aria-labelledby="insurer-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addNewInsurer" v-show="addNewButton">Add New Insurer</h5>
                  <h5 class="modal-title" id="editInsurer" v-show="saveButton">Edit Insurer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">
                    <div class="form-group row">
                      <label for="userName" class="col-sm-4 col-form-label">Insurer Name <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" v-model="insurer.name" placeholder="Insurer Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Description</label>
                      <div class="col-sm-8">
                        <textarea class="form-control" id="description" v-model="insurer.description" placeholder="Insurer Description"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeInsurer">Add New Insurer</button>
                  <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateInsurer">Save Changes</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Modal Add New insurer -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "Users",
        data() {
            return {
                insurer: {
                    id: '',
                    name: '',
                    description: '',
                },
                addNewButton: true,
                saveButton: false,                
            	dataFields: {
            		name: "insurer Name", 
                description: "Description", 
                created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/insurer/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this record',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'insurer.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'edit'
            		},
            		delete: {
            			title: 'Delete this record',
            			name: 'Delete',
            			apiUrl: '/api/v1/insurer/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},
            };
        },

        methods: {

            addNewInsurer: function() {
              this.insurer.id = null;
              this.insurer.name = null;
              this.insurer.description = null;
              this.addNewButton = true;
              this.saveButton = false;
              $('#insurer-form').modal('show');
            },

            editInsurer: function(id) {
                axios.get('/api/v1/insurer/'+id)
                .then(response => {
                    var insurer = response.data.data;
                    this.insurer.id = id;
                    this.insurer.name = insurer.name;
                    this.insurer.description = insurer.description;
                    this.addNewButton = false;
                    this.saveButton = true;
                    $('#insurer-form').modal('show');
                });
            },

            storeInsurer: function() {

                axios.post('/api/v1/insurer/store', this.insurer)
                .then( response => {
                    toastr.success(response.data.message)
                    this.$refs.dataTable.fetchData();
                    $('#insurer-form').modal('hide');
                });

            },

            updateInsurer: function() {

                axios.put('/api/v1/insurer/update', this.insurer)
                .then( response => {
                    toastr.success(response.data.message);
                    this.$refs.dataTable.fetchData();
                    $('#insurer-form').modal('hide');
                });
            },

        },

        components: {
        	Table
 	   }
    };
</script>