<template>
  <div>
    <form class="form-horizontal" @submit.prevent="saveProfile">
  
      <!-- card start -->
      <div class="card card-secondary">
        <!-- card header -->
        <div class="card-header">
          <h3 class="card-title">User Details</h3>
        </div>
        <!-- end card header -->
        <!-- card body -->
        <div class="card-body">
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Profile Picture</label>
            <div class="col-sm-9">
              <button type="button" class="btn btn-secondary" @click="addPrimaryImage">
                <i class="nav-icon fas fa-photo-video"></i> Add Photo
              </button>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Job Title</label>
            <div class="col-sm-9">
              <input v-model="user.job_title" type="text" class="form-control" id="job_title" placeholder="Job Title">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">First Name</label>
            <div class="col-sm-9">
              <input v-model="user.first_name" type="text" class="form-control" id="first_name" placeholder="First Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Last Name</label>
            <div class="col-sm-9">
              <input v-model="user.last_name" type="text" class="form-control" id="last_name" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Middle Name</label>
            <div class="col-sm-9">
              <input v-model="user.middle_name" type="text" class="form-control" id="middle_name" placeholder="Middle Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Date of Birth</label>
            <div class="col-sm-3">
              <select v-model="user.year" class="form-control" id="year">
                <option value="">Year</option>
                <option v-for="year in years" :value="year">{{ year }}</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select v-model="user.month" class="form-control" id="month">
                <option value="">Month</option>
                <option v-for="(month, index) in months" :value="index">{{ month }}</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select v-model="user.day" class="form-control" id="day">
                <option value="" selected="selected">Day</option>
                <option v-for="n in parseInt(31)" :value="n">{{ n }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Gender</label>
            <div class="col-sm-9">
              <select v-model="user.gender" class="form-control" id="gender">
                <option value="">Select Gender</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Rather not say">Rather not say</option>
              </select>
            </div>
          </div>  
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Mobile Number</label>
            <div class="col-sm-9">
              <input v-model="user.mobile_number" type="text" class="form-control" id="mobile_number" placeholder="Mobile Number">
            </div>
          </div>    
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Phone Number</label>
            <div class="col-sm-9">
              <input v-model="user.phone" type="text" class="form-control" id="phone" placeholder="Phone Number">
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- card end -->

      <!-- card start -->
      <div class="card card-secondary">
        <!-- card header -->
        <div class="card-header">
          <h3 class="card-title">User Credentials</h3>
        </div>
        <!-- end card header -->
        <!-- card body -->
        <div class="card-body">          
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input v-model="user.email" type="email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input v-model="user.password" type="Password" class="form-control" id="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Confirm Password</label>
            <div class="col-sm-9">
              <input v-model="user.password_c" type="Password" class="form-control" id="password_c" placeholder="Confirm Password">
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- card end -->
      
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-info">Save Changes</button>
        </div>
      </div>
    </form>

    <div class="modal fade" id="add-gallery">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Select Image</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <MediaLibrary 
                v-on:setPrimaryImage="setPrimaryImage"
                ref="medialibrary"
                :isSingleSelect="isSingleSelect"
                ></MediaLibrary>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" @click="closeModal">Select</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
  </div>
</template>
<script>  
    import MediaLibrary from '../../../components/MediaLibrary';
    export default {
        name: "form-settings",
        data() {
            return {
              user: {
                email: '',
                password: '',
                password_c: '',
                profile_picture:'',
                job_title: '',
                first_name: '',
                last_name: '',
                middle_name: '',
                year: '',
                month: '',
                day: '',
                gender: '',
                mobile_number: '',
                phone: '',
              },
              isSingleSelect: false,
            };
        },

        mounted() {
          this.currentUser()
        },

        methods: {

          currentUser() {
            axios.get('/api/v1/user-profile')
            .then( response => {
              var user = response.data.data;
              this.user.email = user.email
              this.user.profile_picture = user.details.profile_picture
              this.user.job_title = user.details.job_title
              this.user.first_name= user.details.first_name
              this.user.last_name = user.details.last_name
              this.user.middle_name = user.details.middle_name
              this.user.gender = user.details.gender
              this.user.phone = user.details.phone
              this.user.mobile_number = user.details.mobile_number
              var date = new Date(user.details.birth_date)
              this.user.year = date.getUTCFullYear()
              this.user.month = date.getMonth()
              this.user.day = date.getDate()
              // this.user.roles = user.roles
            });
          },

          addPrimaryImage: function() {
            this.isSingleSelect = true;
            $('#add-gallery').modal('show');
          },

          closeModal: function() {
            this.$refs.medialibrary.clear();
            $('#add-gallery').modal('hide');
          },

          setPrimaryImage: function(params) {
            this.user.profile_picture = params.file_url;
            this.$emit("setProfileImage", params.file_url);
          },

          saveProfile: function() {
            axios.put('/api/v1/edit-profile', this.user)
            .then( response => {
              toastr.success(response.data.message);
              location.reload();
            });
          },

        },

        computed: {

          years () {
            const year = new Date().getFullYear()
            return Array.from({length: year - 1900}, (value, index) => 1901 + index)
          },

          months () {
           var month = new Array();
               month[0]="January";
               month[1]="February";
               month[2]="March";
               month[3]="April";
               month[4]="May";
               month[5]="June";
               month[6]="July";
               month[7]="August";
               month[8]="September";
               month[9]="October";
               month[10]="November";
               month[11]="December";

             return month;
          },

        },

        components: {
            MediaLibrary
        }
    }
</script>