<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Account Settings</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
	              <li class="breadcrumb-item active">User Profile</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-3">

	            <!-- Profile Image -->
	            <div class="card card-primary card-outline">
	              <div class="card-body box-profile">
	                <div class="text-center">
	                  <img class="profile-user-img img-fluid img-circle"
	                       :src="user.profile_picture"
	                       alt="User profile picture">
	                </div>

	                <h3 class="profile-username text-center">{{ user.first_name }} {{ user.last_name }}</h3>
	                <p class="text-muted text-center">{{ user.job_title }}</p>

	              </div>
	              <!-- /.card-body -->
	            </div>
	            <!-- /.card -->

	            <!-- About Me Box -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h3 class="card-title">Role/s: </h3>
	              </div>
	              <!-- /.card-header -->
	              <div class="card-body">
					<div v-for="role in user.roles">					
		                <strong><i class="far fa-file-alt mr-1"></i> {{ role.name }}</strong>
		                <p class="text-muted">{{ role.description }}</p>
	                </div>
	              </div>
	              <!-- /.card-body -->
	            </div>
	            <!-- /.card -->
	          </div>
	          <!-- /.col -->
	          <div class="col-md-9">
	            <div class="card">
	              <div class="card-body">
	                <formSettings
                    	v-on:setProfileImage="setProfileImage">
                    </formSettings>
	              </div><!-- /.card-body -->
	            </div>
	            <!-- /.nav-tabs-custom -->
	          </div>
	          <!-- /.col -->
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import formSettings from './FormSettings.vue';
	import activityPost from './ActivityPost.vue';

    export default {
        name: "MyAccount",
        data() {
            return {
            	user: {
	            	profile_picture: window.location.origin +'/storage/media_library/male-avatar.png',
	            	job_title: '',
	            	first_name: '',
	            	last_name: '',
	            	middle_name: '',
	            	gender: '',
	            	phone: '',
	            	mobile_number: '',
	            	birth_date: '',
	            	roles: []
            	},
                error: null
            };
        },

        mounted() {
        	this.currentUser()
        },

        methods: {

        	currentUser() {
	            axios.get('/api/v1/user-profile')
	            .then( response => {
	            	var user = response.data.data;
	            	if(user.details.profile_picture) {
		            	this.user.profile_picture = user.details.profile_picture
	            	}
	            	this.user.job_title = user.details.job_title
	            	this.user.first_name= user.details.first_name
	            	this.user.last_name = user.details.last_name
	            	this.user.middle_name = user.details.middle_name
	            	this.user.gender = user.details.gender
	            	this.user.phone = user.details.phone
	            	this.user.mobile_number = user.details.mobile_number
	            	this.user.birth_date = user.details.birth_date
	            	this.user.roles = user.roles
	            });
            },

        	setProfileImage: function(image_url) {
	            this.user.profile_picture = image_url;
	        }, 
        },
        components: {
	        formSettings,
	        activityPost
 	   }
    }
</script>