<template>
	<footer>
		<div class="container">
		  <p>&copy; <a href="https://www.fabriquem.com/" style="color:#fff;">https://www.fabriquem.com/</a> 2021. All Rights Reserved.</p>
		</div>
	</footer>
</template>