<template>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container-fluid">
            <router-link :to="{ name: 'warehouse-dashboard' }" class="navbar-brand"><img :src="logo" alt="FABRIQUEM"></router-link>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" v-show="!user.name">
                        <router-link :to="{ name: 'employee-login' }" class="nav-link"><i class="fas fa-sign-in-alt"></i> Login</router-link>
                    </li>
                    <li class="nav-item dropdown" v-show="user.id_number">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> {{ user.name }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <router-link v-show="user.category=='Manager'" :to="{ name: 'notifications' }" class="dropdown-item">
                                Notifications <span class="badge bg-danger">{{ user.notification_count }}</span>
                            </router-link>
                            <router-link v-show="user.is_finance" :to="{ name: 'notifications' }" class="dropdown-item">
                                Notifications <span class="badge bg-danger">{{ user.notification_count }}</span>
                            </router-link>                         
                            <router-link :to="{ name: 'warehouse-portal' }" class="dropdown-item">Attendance History</router-link>
                            <router-link :to="{ name: 'warehouse-profile' }" class="dropdown-item">Profile</router-link>
                            <router-link :to="{ name: 'warehouse-overTime' }" class="dropdown-item">Over Time</router-link>
                            <router-link :to="{ name: 'warehouse-officialBussiness' }" class="dropdown-item">Official Business</router-link>
                            <router-link :to="{ name: 'warehouse-vacationLeave' }" class="dropdown-item">Vacation Leave</router-link>
                            <router-link :to="{ name: 'warehouse-sickLeave' }" class="dropdown-item">Sick Leave</router-link>
                            <router-link :to="{ name: 'warehouse-otherLeave' }" class="dropdown-item">Other Leave</router-link>
                            <router-link :to="{ name: 'warehouse-loans' }" class="dropdown-item">Loans</router-link>
                            <router-link :to="{ name: 'warehouse-payslip' }" class="dropdown-item">Payslip</router-link>
                        </div>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{ name: 'portal' }" class="nav-link"> Portal</router-link>
                    </li>
                    <li class="nav-item dropdown" v-show="user.id_number">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Warehouse</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">                        
                            <router-link :to="{ name: 'warehouse-dashboard' }" class="dropdown-item">Dashboard</router-link>
                            <router-link :to="{ name: 'purchase-orders' }" class="dropdown-item">Purchase Orders</router-link>
                            <router-link :to="{ name: 'outbound-request' }" class="dropdown-item">Outbound Request</router-link>
                            <router-link :to="{ name: 'inbound-request' }" class="dropdown-item">Inbound Transactions</router-link>
                            <router-link :to="{ name: 'warehouse-inventory' }" class="dropdown-item">Inventories </router-link>
                        </div>
                    </li>
                    <li class="nav-item" v-show="user.name">
                        <a href="#" class="nav-link" @click.prevent="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
    export default {
        name: 'nav-header',
        data() {
          return {
            user: {
                name: '',
                notification_count: 0,
            },
            logo: window.location.origin +'/img/7a5c3c_968939db3a904c9db19ed94ef7aaa15b_mv2.webp',
          }
        },

        created() {
            this.getDetails();
        },

        methods: {
            getDetails() {
                axios.get('/api/v1/employee/details')
                .then( response => {
                    this.user.id_number = response.data.data.id_number;
                    this.user.name = response.data.data.name;
                    this.user.category = response.data.data.category;
                    this.user.designation = response.data.data.designation;
                    this.user.notification_count = response.data.data.notification_count;
                });
            },

            logout() {
              this.$store.commit('logout');
              this.$router.push('/warehouse/login');
              location.reload();
            }            
        },

    };
</script>