<template>
  <div>
    <!-- Main Header Navigation -->
    <HeaderNav></HeaderNav>

    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <router-view></router-view>
    </div>

    <Footer></Footer>
  </div>
</template>

<script>
  import HeaderNav from './TheHeaderNav.vue';
  import Footer from './TheFooter.vue';
  export default {
    name: 'warehouse',
    components: {
      HeaderNav,
      Footer
    }
  };
</script>