<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Holidays &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewHoliday">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Payroll Management</li>
	              <li class="breadcrumb-item active">Holidays</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                  v-on:editButton="editHoliday"
                  ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

        <!-- Modal Add New / Edit Holiday -->
        <div class="modal fade" id="holiday-form" tabindex="-1" aria-labelledby="holiday-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addNewHoliday" v-show="addNewButton">Add New Holiday</h5>
                  <h5 class="modal-title" id="editHoliday" v-show="saveButton">Edit Holiday</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">
                    <div class="form-group row">
                      <label for="userName" class="col-sm-4 col-form-label">Holiday <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" v-model="holiday.name" placeholder="Title Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="userName" class="col-sm-4 col-form-label">Date <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <date-picker v-model="holiday.date_from" placeholder="YYYY-MM-DD" :config="options" id="date" autocomplete="off"></date-picker>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="userName" class="col-sm-4 col-form-label">Holiday Type <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <select class="custom-select" v-model="holiday.type">
                          <option value="" selected="selected">Select Holiday Type</option>
                          <option value="regular">Regular</option>
                          <option value="special">Special</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="userName" class="col-sm-4 col-form-label">With Pay</label>
                      <div class="col-sm-8">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="active" v-model="holiday.with_pay">
                            <label for="active" class="custom-control-label"></label>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeHoliday">Add New Holiday</button>
                  <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateDesignation">Save Changes</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Modal Add New Designation -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "Users",
        data() {
            return {
              holiday: {
                  id: '',
                  name: '',
                  date_from: '',
                  type: '',
                  with_pay: '',
              },
              categories: [],
              options: {
                format: 'YYYY-MM-DD',
                useCurrent: false,
              },
              addNewButton: true,
              saveButton: false,                
            	dataFields: {
            		name: "Holiday", 
                date_from: "Date", 
                type: "Type", 
                with_pay: {
                  name: "With Pay", 
                  type:"Boolean", 
                  status: { 
                    1: '<span class="badge badge-success">True</span>',
                    0: '<span class="badge badge-danger">False</span>'
                  }
                },
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/holiday/all",
            	actionButtons: {
            		edit: {
            			title: 'Edit this holiday',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'holiday.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'edit'
            		},
            		delete: {
            			title: 'Delete this holiday',
            			name: 'Delete',
            			apiUrl: '/api/v1/holiday/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},
            };
        },

        methods: {

            addNewHoliday: function() {
              this.holiday.id = null;
              this.holiday.name = null;
              this.holiday.date_from = null;
              this.holiday.with_pay = null;
              this.addNewButton = true;
              this.saveButton = false;
              $('#holiday-form').modal('show');
            },

            editHoliday: function(id) {
                axios.get('/api/v1/holiday/'+id)
                .then(response => {
                    var holiday = response.data.data;
                    this.holiday.id = id;
                    this.holiday.name = holiday.name;
                    this.holiday.date_from = holiday.date_from;
                    this.holiday.with_pay = holiday.with_pay;
                    this.addNewButton = false;
                    this.saveButton = true;
                    $('#holiday-form').modal('show');
                });
            },

            storeHoliday: function() {

                axios.post('/api/v1/holiday/store', this.holiday)
                .then( response => {
                    toastr.success(response.data.message)
                    this.$refs.dataTable.fetchData();
                    $('#holiday-form').modal('hide');
                });

            },

            updateDesignation: function() {

                axios.put('/api/v1/holiday/update', this.holiday)
                .then( response => {
                    toastr.success(response.data.message);
                    this.$refs.dataTable.fetchData();
                    $('#holiday-form').modal('hide');
                });
            },

        },

        components: {
        	Table
 	   }
    };
</script>