<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2>Collections&nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewRequest">Add New</a></h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <Table 
                    :dataFields="dataFields"
                    :dataUrl="dataUrl"
                    :primaryKey="primaryKey"
                    :actionButtons="actionButtons"
                    :otherButtons="otherButtons"
                    v-on:editButton="editRequest"
                    v-on:modalFilter="modalFilter"
                    ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal Add New / Edit Category -->
    <div class="modal fade" id="request-form" tabindex="-1" aria-labelledby="request-form" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create Request</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="form-group row">
                <label for="client_id" class="col-sm-4 col-form-label">Client <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <div id="client_id">
                    <multiselect v-model="requestFrm.client_id" track-by="client_name" label="client_name" placeholder="Select Client" :options="clients" :searchable="true" :allow-empty="false" @select="getJobOrder">
                    </multiselect>  
                  </div>
                  <div class="invalid-feedback" id="error_client_id"></div>
                </div>
              </div>
              <div class="form-group row" v-show="po_list">
                <label for="job_order_id" class="col-sm-4 col-form-label">Order Number / PO Number <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <div id="job_order_id">
                    <multiselect v-model="requestFrm.job_order_id" track-by="po_order_number" label="po_order_number" placeholder="Select Order / PO Number" :options="job_orders" :searchable="true" :allow-empty="false" @select="getSiteList">
                    </multiselect>                    
                  </div>
                  <div class="invalid-feedback" id="error_job_order_id"></div>
                </div>                
              </div>
              <div class="form-group row" v-show="site_list">
                <label for="job_order_details_id" class="col-sm-4 col-form-label">Site Name <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <div id="job_order_details_id">
                    <multiselect v-model="requestFrm.job_order_details_id" track-by="site_name" label="site_name" placeholder="Select Client" :options="job_order_details" :searchable="true" :allow-empty="false" @select="getSiteDetails">
                    </multiselect>
                  </div>
                  <div class="invalid-feedback" id="error_job_order_details_id"></div>
                </div>
              </div>
              <div class="form-group row">
                <label for="payment_terms" class="col-sm-4 col-form-label">Billing Progress:</label>
                <div class="col-sm-8">
                    <multiselect v-model="requestFrm.billing_progress" placeholder="Select Payment Terms" track-by="label" label="label" :options="payment_terms_list" :searchable="true" :allow-empty="false">
                    </multiselect>
                </div>
              </div>
              <div class="form-group row">
                <label for="invoice_date" class="col-sm-4 col-form-label">Invoice Date <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <date-picker id="invoice_date" v-model="requestFrm.invoice_date" placeholder="YYYY-MM-DD" :config="options" autocomplete="off"></date-picker>
                  <div class="invalid-feedback" id="error_invoice_date"></div>
                </div>
              </div>
              <div class="form-group row">
                <label for="invoice_number" class="col-sm-4 col-form-label">Invoice Number <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input id="invoice_number" type="text" class="form-control" v-model="requestFrm.invoice_number" placeholder="Invoice Number">
                  <div class="invalid-feedback" id="error_invoice_number"></div>
                </div>                
              </div>
              <div class="form-group row">
                <label for="or_number" class="col-sm-4 col-form-label">OR Number <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input id="or_number" type="text" class="form-control" v-model="requestFrm.or_number" placeholder="OR Number">
                  <div class="invalid-feedback" id="error_or_number"></div>
                </div>                
              </div>
              <div class="form-group row">
                <label for="invoice_amount" class="col-sm-4 col-form-label">Invoice Amount <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input id="invoice_amount" type="number" class="form-control" v-model="requestFrm.invoice_amount" placeholder="0.00" v-on:keyup="getTotalAmountDue">
                  <div class="invalid-feedback" id="error_invoice_amount"></div>
                </div>                
              </div>
              <div class="form-group row">
                <label for="amount_wo_vat" class="col-sm-4 col-form-label">Amount W/O Vat <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input id="amount_wo_vat" type="number" class="form-control" v-model="requestFrm.amount_wo_vat" placeholder="0.00" readonly>
                  <div class="invalid-feedback" id="error_amount_wo_vat"></div>
                </div>                
              </div>
              <div class="form-group row">
                <label for="vat_amount" class="col-sm-4 col-form-label">Vat Amount <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input id="vat_amount" type="number" class="form-control" v-model="requestFrm.vat_amount" placeholder="0.00" readonly>
                  <div class="invalid-feedback" id="error_vat_amount"></div>
                </div>                
              </div>
              <div class="form-group row">
                <label for="ewt_amount" class="col-sm-4 col-form-label">EWT Amount <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input id="ewt_amount" type="number" class="form-control" v-model="requestFrm.ewt_amount" placeholder="0.00" readonly>
                  <div class="invalid-feedback" id="error_ewt_amount"></div>
                </div>                
              </div>
              <div class="form-group row">
                <label for="net_amount" class="col-sm-4 col-form-label">Net Amount <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input id="net_amount" type="number" class="form-control" v-model="requestFrm.net_amount" placeholder="0.00" readonly>
                  <div class="invalid-feedback" id="error_net_amount"></div>
                </div>                
              </div>
              <div class="form-group row">
                <label for="payment_due" class="col-sm-4 col-form-label">Payment Due <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <date-picker id="payment_due" v-model="requestFrm.payment_due" placeholder="YYYY-MM-DD" :config="options" autocomplete="off"></date-picker>
                  <div class="invalid-feedback" id="error_payment_due"></div>
                </div>
              </div>
              <div class="form-group row">
                <label for="client_id" class="col-sm-4 col-form-label">Insurer <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <div id="client_id">
                    <multiselect v-model="requestFrm.insurer_id" track-by="name" label="name" placeholder="Select Insurer" :options="insurers" :searchable="true" :allow-empty="false">
                    </multiselect>  
                  </div>
                  <div class="invalid-feedback" id="error_client_id"></div>
                </div>
              </div>
              <div class="form-group row">
                <label for="client_id" class="col-sm-4 col-form-label">Policy <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <div id="client_id">
                    <multiselect v-model="requestFrm.policy_id" track-by="name" label="name" placeholder="Select Policy" :options="policies" :searchable="true" :allow-empty="false">
                    </multiselect>  
                  </div>
                  <div class="invalid-feedback" id="error_client_id"></div>
                </div>
              </div>
              <div class="form-group row">
                <label for="policy_number" class="col-sm-4 col-form-label">Policy Number <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input id="policy_number" type="text" class="form-control" v-model="requestFrm.policy_number" placeholder="Policy Number">
                  <div class="invalid-feedback" id="error_policy_number"></div>
                </div>                
              </div>
              <div class="form-group row">
                <label for="coverage_due" class="col-sm-4 col-form-label">Coverage Due <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <date-picker id="coverage_due" v-model="requestFrm.coverage_due" placeholder="YYYY-MM-DD" :config="options" autocomplete="off"></date-picker>
                  <div class="invalid-feedback" id="error_coverage_due"></div>
                </div>
              </div>

            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-sm" @click="saveRequest">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Download CSV file -->
    <div class="modal fade" id="filter-form" tabindex="-1" aria-labelledby="filter-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addNewAttendance">Download CSV File</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="form-group row">
                  <label for="userName" class="col-sm-4 col-form-label">Invoice Date From <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <date-picker v-model="downloadFrm.date_from" placeholder="YYYY-MM-DD" :config="options" id="date_from" autocomplete="off"></date-picker>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="userName" class="col-sm-4 col-form-label">Invoice Date To <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <date-picker v-model="downloadFrm.date_to" placeholder="YYYY-MM-DD" :config="options" id="date_to" autocomplete="off"></date-picker>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" @click="downloadCsv">Download</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Download CSV file -->

  </div>
</template>
<script>
  import Table from '../../../components/Table';
  import Multiselect from 'vue-multiselect';

  export default {
    name: 'Collections',
    data() {
      return {
        requestFrm: {
          id: '',
          client_id: '',
          job_order_id: '',
          job_order_details_id: '',
          billing_progress: '',
          remarks: '',
          invoice_date: '',
          invoice_number: '',
          or_number: '',
          invoice_amount: '',
          amount_wo_vat: '',
          vat_amount: '',
          ewt_amount: '',
          net_amount: '',
          payment_due: '',
          policy_number: '',
          coverage_due: '',
          insurer_id: '',
          policy_id: '',
        },
        downloadFrm: {
          date_from: '',
          date_to: ''
        },
        clients: [],
        job_orders: [],
        job_order_details: [],
        payment_terms_list: [],
        insurers: [],
        policies: [],
        payment_type: ['Reimbursement', 'Cash Advance', 'Cos Expense', 'Capex', 'Admin Expense'],
        options: {
          format: 'YYYY-MM-DD',
          useCurrent: false,
        },
        addNewButton: true,
        saveButton: false,
        po_list: true,
        site_list: true,
        dataFields: {
          client_name: "Client Name",
          order_number: "Job Order Number",
          site_name: "Site Name",
          updated_bill_of_quantities: "Updated Bill Of Quantities",
          billing_progress_percent: "Billing Progress",
          invoice_date: "Invoice Date",
          invoice_number: "Invoice Number",
          or_number: "OR Number",
          invoice_amount_formated: "Invoice Amount",
          amount_wo_vat_formated: "Amount W/O Vat",
          vat_amount_formated: "Vat Amount",
          ewt_amount_formated: "EWT Amount",
          net_amount_formated: "Net Amount",
          created_at: "Date Created",
        },
        primaryKey: "id",
        dataUrl: "/api/v1/request/collection/list",
        actionButtons: {
          edit: {
            title: 'Edit this record',
            name: 'Edit',
            apiUrl: '',
            routeName: 'requisition.edit',
            button: '<i class="fas fa-edit"></i> Edit',
            method: 'view'
          },
          delete: {
            title: 'Delete this record',
            name: 'Delete',
            apiUrl: '/api/v1/requisition/non-catalog/delete',
            routeName: '',
            button: '<i class="fas fa-trash-alt"></i> Delete',
            method: 'delete'
          },
        },
        otherButtons: {
          batchUpload: {
            title: 'Download CSV',
            v_on: 'modalFilter',
            icon: '<i class="fas fa-download"></i> Download CSV',
            class: 'btn btn-primary btn-sm'
          },
        }
      };
    },

    created() {
        axios.get('/api/v1/lookup/clients')
        .then( response => {
            this.clients = response.data.data;
        });

        for (var i = 5; i <= 100; i += 5) {
            this.payment_terms_list.push({
                id: i,
                label: i+'%'
            });
        }

        axios.get('/api/v1/lookup/insurers')
        .then( response => {
            this.insurers = response.data.data;
        });

        axios.get('/api/v1/lookup/policies')
        .then( response => {
            this.policies = response.data.data;
        });

    },

    methods: {

      getTotalAmountDue: function() {
        this.requestFrm.amount_wo_vat = (this.requestFrm.invoice_amount/1.12).toFixed(2);
        this.requestFrm.vat_amount = (this.requestFrm.amount_wo_vat*0.12).toFixed(2);
        this.requestFrm.ewt_amount = (this.requestFrm.amount_wo_vat*0.02).toFixed(2);
        this.requestFrm.net_amount = (this.requestFrm.invoice_amount-this.requestFrm.ewt_amount).toFixed(2);

        var due_date = new Date(this.requestFrm.invoice_date);
        due_date.setDate(due_date.getDate() + 30);
        var new_date = [
          due_date.getFullYear(),
          ('0' + (due_date.getMonth() + 1)).slice(-2),
          ('0' + due_date.getDate()).slice(-2)
        ].join('-');
        this.requestFrm.payment_due = new_date;

      },

      addNewRequest: function() {        
        this.requestFrm.id = '';
        this.requestFrm.client_id = '';
        this.requestFrm.job_order_id = '';
        this.requestFrm.job_order_details_id = '';
        this.requestFrm.billing_progress = '';
        this.requestFrm.remarks = '';
        this.requestFrm.invoice_date = '';
        this.requestFrm.invoice_number = '';
        this.requestFrm.or_number = '';
        this.requestFrm.invoice_amount = '0.00';
        this.requestFrm.amount_wo_vat = '0.00';
        this.requestFrm.vat_amount = '0.00';
        this.requestFrm.ewt_amount = '0.00';
        this.requestFrm.net_amount = '0.00';
        this.requestFrm.payment_due = '';
        this.requestFrm.insurer_id = '';
        this.requestFrm.policy_id = '';
        this.requestFrm.policy_number = '';
        this.requestFrm.coverage_due = '';
        $("#request-form").modal('show');
      },

      editRequest: function(request) {
        this.getJobOrder(request.client_details);
        this.getSiteList(request.job_order_details);

        this.requestFrm.id = request.id;
        this.requestFrm.client_id = request.client_details;
        this.requestFrm.job_order_id = request.job_order_details;
        this.requestFrm.job_order_details_id = request.site_details;
        this.requestFrm.billing_progress = {id:(request.billing_progress*100), label: (request.billing_progress*100)+'%' };
        this.requestFrm.remarks = request.remarks;
        this.requestFrm.invoice_date = request.invoice_date;
        this.requestFrm.invoice_number = request.invoice_number;
        this.requestFrm.or_number = request.or_number;
        this.requestFrm.invoice_amount = request.invoice_amount;
        this.requestFrm.amount_wo_vat = request.amount_wo_vat;
        this.requestFrm.vat_amount = request.vat_amount;
        this.requestFrm.ewt_amount = request.ewt_amount;
        this.requestFrm.net_amount = request.net_amount;
        this.requestFrm.payment_due = request.payment_due;
        this.requestFrm.insurer_id = request.insurer_details;
        this.requestFrm.policy_id = request.policy_details;
        this.requestFrm.policy_number = request.policy_number;
        this.requestFrm.coverage_due = request.coverage_due;        
        $("#request-form").modal('show');
      },

      getJobOrder: function(client) {
        this.requestFrm.job_order_id = '';
        this.job_orders = [];

        axios.put('/api/v1/lookup/job-orders', { client_id : client.id })
        .then( response => {
          this.job_orders = response.data.data;
        });

        if(client.client_name == 'Admin') {
          this.site_list = false;
          this.po_list = false;
        }
        else {
          this.site_list = true;
          this.po_list = true;
        }
      },

      getSiteList: function(job_order) {
        axios.put('/api/v1/lookup/site-list', { job_order_id: job_order.id })
        .then( response => {
          this.job_order_details = response.data.data;
        });
      },

      getSiteDetails: function(site_details) {
        this.requestFrm.badget = site_details.badget_formated;
        this.requestFrm.balance_amount = site_details.balance_amount_formated;
      },

      saveRequest: function() {
        if(this.requestFrm.id) {
          axios.put('/api/v1/request/collection/update', this.requestFrm)
          .then( response => {
              toastr.success(response.data.message)
              this.$refs.dataTable.fetchData();
              $('#request-form').modal('hide');
          });
        }
        else {
          axios.post('/api/v1/request/collection/store', this.requestFrm)
          .then( response => {
              toastr.success(response.data.message);
              this.$refs.dataTable.fetchData();
              $('#request-form').modal('hide');
          });                    
        }
      },

      modalFilter: function() {
        $('#filter-form').modal('show');
      },

      downloadCsv: function() {
        axios.post('/api/v1/request/collection/download-csv', this.downloadFrm)
        .then(response => {
          const link = document.createElement('a');
          link.href = response.data.data.filepath;
          link.setAttribute('download', response.data.data.filename); //or any other extension
          document.body.appendChild(link);
          link.click();
        })
      },

    },

    components: {
      Table,
      Multiselect
    }
  };
</script>