<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2><i class="fa fa-list-ul" aria-hidden="true"></i> <strong>Logistics</strong></h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <Table 
                  :dataFields="dataFields"
                  :dataUrl="dataUrl"
                  :actionButtons="actionButtons"
                  :otherButtons="otherButtons"
                  :primaryKey="primaryKey"
                  v-on:editButton="editItem"
                  v-on:modalBatchUpload="modalBatchUpload"
                  v-on:downloadCsv="downloadCsv"
                  v-on:addNewItem="addNewItem"                  
                  ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal Add New / Edit Category -->
    <div class="modal fade" id="logistic-form" tabindex="-1" aria-labelledby="logistic-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addNewItem" v-show="addNewButton"><i class="fa fa-list-ul" aria-hidden="true"></i> <strong>Add New Item</strong></h5>
              <h5 class="modal-title" id="editItem" v-show="saveButton"><i class="fa fa-list-ul" aria-hidden="true"></i> <strong>Edit Item</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Item Name <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="item_name" v-model="logistic.item_name" placeholder="Item Name" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Unit Of Measurement <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="unit_of_measurement" v-model="logistic.unit_of_measurement" placeholder="UOM" autocomplete="off"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="category_id" class="col-sm-4 col-form-label">Category <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <select class="custom-select" v-model="logistic.category_id">
                      <option value="">Select Category</option>
                      <option v-for="category in categories" :value="category.id">{{ category.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">In Stock</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="in_stock" v-model="logistic.in_stock" placeholder="0" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Unit Price</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="in_stock" v-model="logistic.unit_price" placeholder="0" autocomplete="off">
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeItem">Add New Item</button>
              <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateItem">Save Changes</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End Modal Add New Category -->

    <!-- Batch Upload -->
    <div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="batchModalLabel">Batch Upload</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-group col-md-12">
                      <label>CSV File: <span class="text-danger">*</span></label>
                      <div class="custom-file">
                          <input type="file" ref="file" v-on:change="handleFileUpload()" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="custom-file-input" id="batchInput">
                          <label class="custom-file-label" id="batchInputLabel" for="batchInput">Choose file</label>
                      </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" @click="storeBatch">Save changes</button>
          </div>
          </div>
      </div>
    </div>

  </div>
</template>

<script>  
  import Table from '../../../components/Table';
    export default {
        name: "Users",
        data() {
            return {
                logistic: {
                    id: '',
                    sku: '',
                    item_name: '',
                    unit_of_measurement: '',
                    category_id: '',
                    in_stock: '',
                    unit_price: '',
                },
                categories: [],
                addNewButton: true,
                saveButton: false,                
              dataFields: {
                item_name: "Item Name", 
                unit_of_measurement: "UOM", 
                category_name: "Category Name", 
                in_stock: "In Stock", 
                unit_price: "Unit Price", 
                updated_at: "Updated Date"
              },
              primaryKey: "id",
              dataUrl: "/api/v1/requisition/logistic/list",
              actionButtons: {
                edit: {
                  title: 'Edit this item',
                  name: 'Edit',
                  apiUrl: '',
                  routeName: 'logistic.edit',
                  button: '<i class="fas fa-edit"></i> Edit',
                  method: 'edit'
                },
                delete: {
                  title: 'Delete this user',
                  name: 'Delete',
                  apiUrl: '/api/v1/requisition/logistic/delete',
                  routeName: '',
                  button: '<i class="fas fa-trash-alt"></i> Delete',
                  method: 'delete'
                },
              },
              otherButtons: {
                batchUpload: {
                  title: 'Batch Upload',
                  v_on: 'modalBatchUpload',
                  icon: '<i class="fas fa-upload"></i> Batch Upload',
                  class: 'btn btn-success btn-sm'
                },
                downloadTemplate: {
                  title: 'Download CSV',
                  v_on: 'downloadCsv',
                  icon: '<i class="fas fa-download"></i> Download CSV',
                  class: 'btn btn-primary btn-sm'
                },
                addNew: {
                  title: 'Add New',
                  v_on: 'addNewItem',
                  icon: '<i class="fas fa-plus"></i> Add New',
                  class: 'btn btn-primary btn-sm'
                },
            }
            };
        },

        created(){
          axios.get('/api/v1/lookup/category/requisition')
            .then(response => this.categories = response.data.data);
        },

        methods: {

            addNewItem: function() {
              this.logistic.id = null;
              this.logistic.sku = null;
              this.logistic.item_name = null;
              this.logistic.unit_of_measurement = null;
              this.logistic.category_id = '';
              this.logistic.in_stock = null;
              this.addNewButton = true;
              this.saveButton = false;
              $('#logistic-form').modal('show');
            },

            editItem: function(id) {
                axios.get('/api/v1/requisition/logistic/'+id)
                .then(response => {
                    var logistic = response.data.data;
                    this.logistic.id = id;
                    this.logistic.sku = logistic.sku;
                    this.logistic.item_name = logistic.item_name;
                    this.logistic.unit_of_measurement = logistic.unit_of_measurement;
                    this.logistic.category_id = logistic.category_id;
                    this.logistic.in_stock = logistic.in_stock;
                    this.addNewButton = false;
                    this.saveButton = true;
                    $('#logistic-form').modal('show');
                });
            },

            storeItem: function() {

                axios.post('/api/v1/requisition/logistic/store', this.logistic)
                .then( response => {
                    toastr.success(response.data.message)
                    this.$refs.dataTable.fetchData();
                    $('#logistic-form').modal('hide');
                });

            },

            updateItem: function() {

                axios.put('/api/v1/requisition/logistic/update', this.logistic)
                .then( response => {
                    toastr.success(response.data.message);
                    this.$refs.dataTable.fetchData();
                    $('#logistic-form').modal('hide');
                });
            },

            modalBatchUpload: function() {
              $('#batchModal').modal('show');
            },

            handleFileUpload: function(){
                this.file = this.$refs.file.files[0];
                $('#batchInputLabel').html(this.file.name)
            },

            storeBatch: function() {
                let formData = new FormData();
                formData.append('file', this.file);

                axios.post( '/api/v1/requisition/logistic/batch-upload' , formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    this.$refs.dataTable.fetchData();
                      toastr.success(response.data.message);
                    $('#batchModal').modal('toggle')
                    $('#batchInputLabel').html('Choose File')
                })
            },

            downloadCsv: function() {
              axios.get('/api/v1/requisition/logistic/download-csv')
              .then(response => {
                const link = document.createElement('a');
                link.href = response.data.data.filepath;
                link.setAttribute('download', response.data.data.filename); //or any other extension
                document.body.appendChild(link);
                link.click();
              })
            },
        },

        components: {
          Table
     }
    };
</script>