<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2><i class="fa fa-home" aria-hidden="true"></i> <strong>Suppliers</strong> &nbsp;&nbsp;<a type="button" class="btn btn-primary btn-sm float-right" @click="addNewItem"><i class="fas fa-plus"></i> Add New</a>
                </h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <Table 
                  :dataFields="dataFields"
                  :dataUrl="dataUrl"
                  :actionButtons="actionButtons"
                  :otherButtons="otherButtons"
                  :primaryKey="primaryKey"
                  v-on:editButton="editItem"
                  v-on:modalBatchUpload="modalBatchUpload"
                  v-on:downloadCsv="downloadCsv"
                  ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal Add New / Edit Category -->
    <div class="modal fade" id="supplier-form" tabindex="-1" aria-labelledby="supplier-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addNewItem" v-show="addNewButton"><i class="fa fa-home" aria-hidden="true"></i> <strong>Add New Item</strong></h5>
              <h5 class="modal-title" id="editItem" v-show="saveButton"><i class="fa fa-home" aria-hidden="true"></i> <strong>Edit Item</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="form-group row">
                  <label for="userName" class="col-sm-4 col-form-label">Name <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" v-model="supplier.name" placeholder="Supplier Name" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Address <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="address" v-model="supplier.address" placeholder="Address" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Email <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="email" v-model="supplier.email" placeholder="Email" autocomplete="off"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Contact Person <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="contact_person" v-model="supplier.contact_person" placeholder="Contact Person" autocomplete="off"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Contact Number <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="contact_number" v-model="supplier.contact_number" placeholder="Contact Number" autocomplete="off"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">TIN</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="tin" v-model="supplier.tin" placeholder="TIN" autocomplete="off"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Terms</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="terms" v-model="supplier.terms" placeholder="Terms" autocomplete="off"/>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeSupplier">Add New Item</button>
              <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateSupplier">Save Changes</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End Modal Add New Category -->

    <!-- Batch Upload -->
    <div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="batchModalLabel">Batch Upload</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-group col-md-12">
                      <label>CSV File: <span class="text-danger">*</span></label>
                      <div class="custom-file">
                          <input type="file" ref="file" v-on:change="handleFileUpload()" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="custom-file-input" id="batchInput">
                          <label class="custom-file-label" id="batchInputLabel" for="batchInput">Choose file</label>
                      </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" @click="storeBatch">Save changes</button>
          </div>
          </div>
      </div>
    </div>

  </div>
</template>

<script>  
  import Table from '../../../components/Table';
    export default {
        name: "Users",
        data() {
            return {
              supplier: {
                  id: '',
                  name: '',
                  address: '',
                  tin: '',
                  terms: '',
                  contact_person: '',
                  contact_number: '',
                  email: '',
              },
              addNewButton: true,
              saveButton: false,                
              dataFields: {
                name: "Name", 
                address: "Address", 
                tin: "TIN", 
                terms: "Terms", 
                contact_person: "Contact Person", 
                contact_number: "Contact Number",
                email: "Email",
                updated_at: "Updated Date",
              },
              primaryKey: "id",
              dataUrl: "/api/v1/requisition/supplier/list",
              actionButtons: {
                edit: {
                  title: 'Edit this item',
                  name: 'Edit',
                  apiUrl: '',
                  routeName: 'supplier.edit',
                  button: '<i class="fas fa-edit"></i> Edit',
                  method: 'edit'
                },
                delete: {
                  title: 'Delete this user',
                  name: 'Delete',
                  apiUrl: '/api/v1/requisition/supplier/delete',
                  routeName: '',
                  button: '<i class="fas fa-trash-alt"></i> Delete',
                  method: 'delete'
                },
              },
              otherButtons: {
                batchUpload: {
                  title: 'Batch Upload',
                  v_on: 'modalBatchUpload',
                  icon: '<i class="fas fa-upload"></i> Batch Upload',
                  class: 'btn btn-success btn-sm'
                },
                downloadTemplate: {
                  title: 'Download CSV',
                  v_on: 'downloadCsv',
                  icon: '<i class="fas fa-download"></i> Download CSV',
                  class: 'btn btn-primary btn-sm'
                },
            }
            };
        },

        methods: {

            addNewItem: function() {
              this.supplier.id = null;
              this.supplier.name = null;
              this.supplier.address = null;
              this.supplier.tin = null;
              this.supplier.terms = null;
              this.supplier.contact_person = null;
              this.supplier.contact_number = null;
              this.supplier.email = null;
              this.addNewButton = true;
              this.saveButton = false;
              $('#supplier-form').modal('show');
            },

            editItem: function(id) {
                axios.get('/api/v1/requisition/supplier/'+id)
                .then(response => {
                    var supplier = response.data.data;
                    this.supplier.id = supplier.id;
                    this.supplier.name = supplier.name;
                    this.supplier.address = supplier.address;
                    this.supplier.tin = supplier.tin;
                    this.supplier.terms = supplier.terms;
                    this.supplier.contact_person = supplier.contact_person;
                    this.supplier.contact_number = supplier.contact_number;
                    this.supplier.email = supplier.email;
                    this.addNewButton = false;
                    this.saveButton = true;
                    $('#supplier-form').modal('show');
                });
            },

            storeSupplier: function() {

                axios.post('/api/v1/requisition/supplier/store', this.supplier)
                .then( response => {
                    toastr.success(response.data.message)
                    this.$refs.dataTable.fetchData();
                    $('#supplier-form').modal('hide');
                });

            },

            updateSupplier: function() {

                axios.put('/api/v1/requisition/supplier/update', this.supplier)
                .then( response => {
                    toastr.success(response.data.message);
                    this.$refs.dataTable.fetchData();
                    $('#supplier-form').modal('hide');
                });
            },

            modalBatchUpload: function() {
              $('#batchModal').modal('show');
            },

            handleFileUpload: function(){
                this.file = this.$refs.file.files[0];
                $('#batchInputLabel').html(this.file.name)
            },

            storeBatch: function() {
                let formData = new FormData();
                formData.append('file', this.file);

                axios.post( '/api/v1/requisition/supplier/batch-upload' , formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    this.$refs.dataTable.fetchData();
                      toastr.success(response.data.message);
                    $('#batchModal').modal('toggle')
                    $('#batchInputLabel').html('Choose File')
                })
            },

            downloadCsv: function() {
              axios.get('/api/v1/requisition/supplier/download-csv')
              .then(response => {
                const link = document.createElement('a');
                link.href = response.data.data.filepath;
                link.setAttribute('download', response.data.data.filename); //or any other extension
                document.body.appendChild(link);
                link.click();
              })
            },
        },

        components: {
          Table
     }
    };
</script>