<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Employees &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewEmployee">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Employees Management</li>
	              <li class="breadcrumb-item active">Employees</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
                  :primaryKey="primaryKey"
			          	:actionButtons="actionButtons"
                  :otherButtons="otherButtons"
                  v-on:editButton="editEmployee"
                  v-on:modalBatchUpload="modalBatchUpload"
                  ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

      <!-- Modal Add New / Edit Employee -->
      <div class="modal fade" id="employee-form" tabindex="-1" aria-labelledby="employee-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addNewEmployee" v-show="addNewButton">Add New Employee</h5>
              <h5 class="modal-title" id="editEmployee" v-show="saveButton">Edit Employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="form-group row">
                  <label for="id_number" class="col-sm-4 col-form-label">Employee Number <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="id_number" v-model="employee.id_number" placeholder="Employee Number">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Email <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="email" v-model="employee.email" placeholder="Email">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="displayButton" class="col-sm-4 col-form-label">Password <span class="font-italic">(required)</span></label>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-block btn-outline-info btn-sm" v-show="displayButton" @click="showPassword">Show password</button>
                    <div class="input-group mb-3" v-show="displayPassword">
                        <input 
                            type="text" 
                            v-model="employee.password" 
                            id="password" 
                            class="form-control" 
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-sm">

                        <div class="input-group-append">                              
                          <button class="btn btn-outline-secondary" type="button" @click="showPassword"><i class="fas fa-sync-alt"></i></button>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <button type="button" class="btn btn-block btn-outline-secondary btn-sm" v-show="displayPassword" @click="cancelPassword" style="margin-top: 4px;">Cancel</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="designation_id" class="col-sm-4 col-form-label">Designation <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <select class="custom-select" v-model="employee.designation_id">
                      <option v-for="designation in designations" :value="designation.id">{{ designation.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="designation_id" class="col-sm-4 col-form-label">Department</label>
                  <div class="col-sm-8">
                    <select class="custom-select" v-model="employee.department_id">
                      <option v-for="department in departments" :value="department.id">{{ department.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="category_id" class="col-sm-4 col-form-label">Category <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <select class="custom-select" v-model="employee.category_id">
                      <option v-for="category in categories" :value="category.id">{{ category.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Active</label>
                  <div class="col-sm-8">
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" type="checkbox" id="status" v-model="employee.active" value="true">
                        <label for="status" class="custom-control-label"></label>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <label for="fullname" class="col-sm-4 col-form-label">Full Name <span class="font-italic">(required)</span></label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="first_name" v-model="employee.first_name" placeholder="First Name">
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="last_name" v-model="employee.last_name" placeholder="Last Name">
                  </div>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" id="middle_name" v-model="employee.middle_name" placeholder="M.I">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="category_id" class="col-sm-4 col-form-label">Date of Birth <span class="font-italic">(required)</span></label>
                  <div class="col-sm-3">
                    <select v-model="employee.birth_month" class="form-control" id="birth_month">
                      <option value="">Month</option>
                      <option v-for="(month, index) in months" :value="index">{{ month }}</option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <select v-model="employee.birth_day" class="form-control" id="birth_day">
                      <option value="" selected="selected">Day</option>
                      <option v-for="n in parseInt(31)" :value="n">{{ n }}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <select v-model="employee.birth_year" class="form-control" id="birth_year">
                      <option value="">Year</option>
                      <option v-for="year in years" :value="year">{{ year }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Age </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="age" v-model="employee.age" placeholder="Age">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Address <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <textarea class="form-control" id="address" v-model="employee.address" placeholder="Address"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Mobile Number <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="mobile_number" v-model="employee.mobile_number" placeholder="Mobile Number">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Contact Number</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="contact_number" v-model="employee.contact_number" placeholder="Contact Number">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="category_id" class="col-sm-4 col-form-label">Date Hired <span class="font-italic">(required)</span></label>
                  <div class="col-sm-3">
                    <select v-model="employee.date_hired_month" class="form-control" id="month">
                      <option value="">Month</option>
                      <option v-for="(month, index) in months" :value="index">{{ month }}</option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <select v-model="employee.date_hired_day" class="form-control" id="day">
                      <option value="" selected="selected">Day</option>
                      <option v-for="n in parseInt(31)" :value="n">{{ n }}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <select v-model="employee.date_hired_year" class="form-control" id="year">
                      <option value="">Year</option>
                      <option v-for="year in years" :value="year">{{ year }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="category_id" class="col-sm-4 col-form-label">Date Regularization</label>
                  <div class="col-sm-3">
                    <select v-model="employee.date_regularization_month" class="form-control" id="month">
                      <option value="">Month</option>
                      <option v-for="(month, index) in months" :value="index">{{ month }}</option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <select v-model="employee.date_regularization_day" class="form-control" id="day">
                      <option value="" selected="selected">Day</option>
                      <option v-for="n in parseInt(31)" :value="n">{{ n }}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <select v-model="employee.date_regularization_year" class="form-control" id="year">
                      <option value="">Year</option>
                      <option v-for="year in years" :value="year">{{ year }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sss" class="col-sm-4 col-form-label">Vacation Leave Credits</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="vacation_leave" v-model="employee.vacation_leave" placeholder="0">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sss" class="col-sm-4 col-form-label">Sick Leave Credits</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="sick_leave" v-model="employee.sick_leave" placeholder="0">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sss" class="col-sm-4 col-form-label">Emergency Leave Credits</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="emergency_leave" v-model="employee.emergency_leave" placeholder="0">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sss" class="col-sm-4 col-form-label">Maternity Leave Credits</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="maternity_leave" v-model="employee.maternity_leave" placeholder="0">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sss" class="col-sm-4 col-form-label">Paternity Leave Credits</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="paternity_leave" v-model="employee.paternity_leave" placeholder="0">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sss" class="col-sm-4 col-form-label">Bereavement Leave Credits</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="bereavement_leave" v-model="employee.bereavement_leave" placeholder="0">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sss" class="col-sm-4 col-form-label">Birthday Leave Credits</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="birthday_leave" v-model="employee.birthday_leave" placeholder="0">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sss" class="col-sm-4 col-form-label">Work from home</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="work_from_home" v-model="employee.work_from_home" placeholder="0">
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <label for="sss" class="col-sm-4 col-form-label">SSS</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="sss" v-model="employee.sss" placeholder="SSS">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pag_ibig" class="col-sm-4 col-form-label">PAGIBIG</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="pag_ibig" v-model="employee.pag_ibig" placeholder="PAGIBIG">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="philhealth" class="col-sm-4 col-form-label">PHILHEALTH</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="philhealth" v-model="employee.philhealth" placeholder="PHILHEALTH">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="tin_number" class="col-sm-4 col-form-label">TIN NUMBER</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="tin_number" v-model="employee.tin_number" placeholder="TIN Number">
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <label for="basic_salary" class="col-sm-4 col-form-label">Basic Salary <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="basic_salary" v-model="employee.basic_salary" placeholder="0.00">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="daily_wage" class="col-sm-4 col-form-label">Daily Wage <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="daily_wage" v-model="employee.daily_wage" placeholder="0.00">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cola" class="col-sm-4 col-form-label">COLA</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="cola" v-model="employee.cola" placeholder="0.00">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cola" class="col-sm-4 col-form-label">SSS Premium <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="sss_prem" v-model="employee.sss_prem" placeholder="0.00">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cola" class="col-sm-4 col-form-label">SSS MPF <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="sss_mpf" v-model="employee.sss_mpf" placeholder="0.00">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cola" class="col-sm-4 col-form-label">PHILHEALT Premium <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="philhealth_prem" v-model="employee.philhealth_prem" placeholder="0.00">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cola" class="col-sm-4 col-form-label">PAGIBIG Premium <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="pagibig_prem" v-model="employee.pagibig_prem" placeholder="0.00">
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeEmployee">Add New Employee</button>
              <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateEmployee">Save Changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Add New Employee -->

      <!-- Batch Upload -->
      <div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="batchModalLabel">Batch Upload</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form>
                      <div class="form-group col-md-12">
                          <label>CSV File: <span class="text-danger">*</span></label>
                          <div class="custom-file">
                              <input type="file" ref="file" v-on:change="handleFileUpload()" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="custom-file-input" id="batchInput">
                              <label class="custom-file-label" id="batchInputLabel" for="batchInput">Choose file</label>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" @click="storeBatch">Save changes</button>
              </div>
              </div>
          </div>
      </div>
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
  import { generatePassword } from '../../../helpers/generatePassword';

  export default {
    name: "Users",
    data() {
        return {
          employee: {
              id: '',
              id_number: '',                    
              email: '',
              password: '',
              designation_id: '',
              department_id: '',
              category_id: '',
              first_name: '',
              last_name: '',
              middle_name: '',
              birth_year: '',
              birth_month: '',
              birth_day: '',
              age: '',
              address: '',
              mobile_number: '',
              contact_number: '',
              active: '',
              date_hired_year: '',
              date_hired_month: '',
              date_hired_day: '',
              date_regularization_year: '',
              date_regularization_month: '',
              date_regularization_day: '',
              sss: '',
              pag_ibig: '',
              philhealth: '',
              tin_number: '',
              basic_salary: '',
              daily_wage: '',
              cola: '',
              sss_prem:'',
              sss_mpf: '',
              philhealth_prem:'',
              pagibig_prem:'',
              wtax: '',
              vacation_leave: 0,
              sick_leave: 0,
              emergency_leave: 0,
              maternity_leave: 0,
              paternity_leave: 0,
              bereavement_leave: 0,
              birthday_leave: 0,
              work_from_home: 0,
              digital_sign: 0,
          },
          categories: [],
          designations: [],
          departments: [],
          addNewButton: true,
          saveButton: false,                
          displayPassword: false,
          displayButton: true,
        	dataFields: {
            id_number: "Employee Number", 
        		name: "Name", 
        		email: "Email", 
            category: "Category", 
            designation: "Designation", 
            date_hired: "Date Hired",
            duration: "Duration",
            duration_reg: "From Reg"
        	},
        	primaryKey: "id",
        	dataUrl: "/api/v1/employee/list",
        	actionButtons: {
        		edit: {
        			title: 'Edit this user',
        			name: 'Edit',
        			apiUrl: '',
        			routeName: 'employee.edit',
        			button: '<i class="fas fa-edit"></i> Edit',
        			method: 'edit'
        		},
        		delete: {
        			title: 'Delete this employee',
        			name: 'Delete',
        			apiUrl: '/api/v1/employee/delete',
        			routeName: '',
        			button: '<i class="fas fa-trash-alt"></i> Delete',
        			method: 'delete'
        		},
        	},
          otherButtons: {
            batchUpload: {
              title: 'Batch Upload',
              v_on: 'modalBatchUpload',
              icon: '<i class="fas fa-upload"></i> Batch Upload',
              class: 'btn btn-primary btn-sm'
            },
            downloadTemplate: {
              downloadLink: '/storage/template/employee.csv',
              file: 'employee.csv',
              title: 'Download Template',
              icon: '<i class="fas fa-download"></i> Download Template',
              class: 'btn btn-success btn-sm'
            },
          }
        };
    },

    created(){
      axios.get('/api/v1/category/all/employee')
          .then(response => this.categories = response.data.data);

      axios.get('/api/v1/designation/all')
          .then(response => this.designations = response.data.data);

      axios.get('/api/v1/department/all')
          .then(response => this.departments = response.data.data);
    },

    methods: {
        addNewEmployee: function() {
          this.employee.id = null;
          this.employee.id_number = null;                
          this.employee.email = null;
          this.employee.password = null;
          this.employee.first_name = null;
          this.employee.last_name = null;
          this.employee.middle_name = null;
          this.employee.birth_year = null;
          this.employee.birth_month = null;
          this.employee.birth_day = null;
          this.employee.age = null;
          this.employee.address = null;
          this.employee.mobile_number = null;
          this.employee.contact_number = null;
          this.employee.active = 0;
          this.employee.designation_id = null;
          this.employee.department_id = null;
          this.employee.category_id = null;
          this.employee.date_hired_year = null;
          this.employee.date_hired_month = null;
          this.employee.date_hired_day = null;
          this.employee.date_regularization_year = null;
          this.employee.date_regularization_month = null;
          this.employee.date_regularization_day = null;
          this.employee.sss = null;
          this.employee.pag_ibig = null;
          this.employee.philhealth = null;
          this.employee.tin_number = null;
          this.employee.basic_salary = null;
          this.employee.daily_wage = null;
          this.employee.cola = null;
          this.employee.sss_prem = null;
          this.employee.sss_mpf = null;
          this.employee.philhealth_prem = null;
          this.employee.pagibig_prem = null;   
          this.employee.wtax = null;
          this.vacation_leave = 0;
          this.sick_leave = 0;
          this.emergency_leave = 0;
          this.maternity_leave = 0;
          this.paternity_leave = 0;
          this.bereavement_leave = 0;
          this.birthday_leave = 0;
          this.work_from_home = 0;
          this.displayPassword = false;
          this.displayButton = true;                        
          this.addNewButton = true;
          this.saveButton = false;

          $('#employee-form').modal('show');
        },

        editEmployee: function(id) {
            axios.get('/api/v1/employee/'+id)
            .then(response => {
                var employee = response.data.data;
                this.employee.id = employee.id;
                this.employee.id_number = employee.id_number
                this.employee.email = employee.email
                this.employee.password = employee.password
                this.employee.first_name = employee.details.first_name
                this.employee.last_name = employee.details.last_name
                this.employee.middle_name = employee.details.middle_name

                var date = new Date(employee.details.birth_date)
                this.employee.birth_year = date.getUTCFullYear()
                this.employee.birth_month = date.getMonth()
                this.employee.birth_day = date.getDate()

                this.employee.age = employee.details.age
                this.employee.address = employee.details.address
                this.employee.mobile_number = employee.details.mobile_number
                this.employee.contact_number = employee.details.contact_number

                if(employee.details.active == 0) {
                  this.employee.active = false;
                }
                else {
                  this.employee.active = true;
                }
                this.employee.designation_id = employee.designation_id
                this.employee.department_id = employee.department_id
                this.employee.category_id = employee.category_id

                date = new Date(employee.details.date_hired)
                this.employee.date_hired_year = date.getUTCFullYear()
                this.employee.date_hired_month = date.getMonth()
                this.employee.date_hired_day = date.getDate()

                date = new Date(employee.details.date_regularization)
                this.employee.date_regularization_year = date.getUTCFullYear()
                this.employee.date_regularization_month = date.getMonth()
                this.employee.date_regularization_day = date.getDate()

                this.employee.sss = employee.details.sss
                this.employee.pag_ibig = employee.details.pag_ibig
                this.employee.philhealth = employee.details.philhealth
                this.employee.tin_number = employee.details.tin_number
                this.employee.basic_salary = employee.details.basic_salary
                this.employee.daily_wage = employee.details.daily_wage
                this.employee.cola = employee.details.cola
                this.employee.sss_prem = employee.details.sss_prem
                this.employee.sss_mpf = employee.details.sss_mpf
                this.employee.philhealth_prem = employee.details.philhealth_prem
                this.employee.pagibig_prem = employee.details.pagibig_prem                
                this.employee.wtax = employee.details.wtax
                this.employee.vacation_leave = employee.details.vacation_leave;
                this.employee.sick_leave = employee.details.sick_leave;
                this.employee.emergency_leave = employee.details.emergency_leave;
                this.employee.maternity_leave = employee.details.maternity_leave;
                this.employee.paternity_leave = employee.details.paternity_leave;
                this.employee.bereavement_leave = employee.details.bereavement_leave;
                this.employee.birthday_leave = employee.details.birthday_leave;
                this.employee.work_from_home = employee.details.work_from_home;

                this.addNewButton = false;
                this.saveButton = true;
                $('#employee-form').modal('show');
            });
        },

        storeEmployee: function() {

            axios.post('/api/v1/employee/store', this.employee)
            .then( response => {
                toastr.success(response.data.message)
                this.$refs.dataTable.fetchData();
                $('#employee-form').modal('hide');
            });

        },

        updateEmployee: function() {
            console.log(this.employee);
            axios.put('/api/v1/employee/update', this.employee)
            .then( response => {
              toastr.success(response.data.message);
              this.$refs.dataTable.fetchData();
              $('#employee-form').modal('hide');
            });
        },

        showPassword: function() {
            this.employee.password = generatePassword(15);
            this.displayPassword = true;
            this.displayButton = false;
        },

        cancelPassword: function() {
            this.displayPassword = false;
            this.displayButton = true;
        },

        modalBatchUpload: function() {
          $('#batchModal').modal('show');
        },

        handleFileUpload(){
            this.file = this.$refs.file.files[0];
            $('#batchInputLabel').html(this.file.name)
        },

        storeBatch() {
            let formData = new FormData();
            formData.append('file', this.file);

            axios.post( '/api/v1/employee/batch-upload' , formData,
            {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(response => {
                this.$refs.dataTable.fetchData();
                $('#batchModal').modal('toggle')
                $('#batchInputLabel').html('Choose File')
            })
        },
    },

    computed: {

      years () {
        const year = new Date().getFullYear()
        return Array.from({length: year - 1900}, (value, index) => 1901 + index)
      },

      months () {
       var month = new Array();
           month[0]="January";
           month[1]="February";
           month[2]="March";
           month[3]="April";
           month[4]="May";
           month[5]="June";
           month[6]="July";
           month[7]="August";
           month[8]="September";
           month[9]="October";
           month[10]="November";
           month[11]="December";

         return month;
      },

    },

    components: {
    	Table
    }
  };
</script>