<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Plans & References &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewReferences">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">IOCC Management</li>
	              <li class="breadcrumb-item active">Plans & References</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                  v-on:editButton="editReference"
                  ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

        <!-- Modal Add New / Edit Category -->
        <div class="modal fade" id="references-form" tabindex="-1" aria-labelledby="references-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addNewReferences" v-show="addNewButton">Add New References</h5>
                  <h5 class="modal-title" id="editReference" v-show="saveButton">Edit References</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">

                    <div class="form-group row">
                      <label for="name" class="col-sm-4 col-form-label">Plan Name <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" v-model="references.name" placeholder="Plan/Reference Name">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="simple" class="col-sm-4 col-form-label">Solution <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <select class="custom-select" v-model="references.solution">
                          <option value="">Select Solution</option>
                          <option value="wifi">WIFI</option>
                          <option value="ibs">IBS</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="simple" class="col-sm-4 col-form-label"></label>
                      <div class="col-sm-4 text-center">
                        <label>Number of days</label>
                      </div>
                      <div class="col-sm-4 text-center">
                        <label>Number of days skip</label>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="simple" class="col-sm-4 col-form-label">Simple <span class="font-italic">(required)</span></label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" id="simple" v-model="references.simple" placeholder="Number of days">
                      </div>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" id="simple_skip" v-model="references.simple_skip" placeholder="Number of days skip">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="medium" class="col-sm-4 col-form-label">Medium <span class="font-italic">(required)</span></label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" id="medium" v-model="references.medium" placeholder="Number of days">
                      </div>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" id="medium_skip" v-model="references.medium_skip" placeholder="Number of days skip">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="complex" class="col-sm-4 col-form-label">Complex <span class="font-italic">(required)</span></label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" id="complex" v-model="references.complex" placeholder="Number of days">
                      </div>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" id="complex_skip" v-model="references.complex_skip" placeholder="Number of days skip">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="references" class="col-sm-4 col-form-label">References</label>
                      <div class="col-sm-8">
                        <textarea class="form-control" id="references" v-model="references.references" placeholder="References"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeReference">Add New Reference</button>
                  <button type="button" class="btn btn-primary" v-show="saveButton" @click="storeReference">Save Changes</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Modal Add New Category -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "Plans And References",
        data() {
            return {
              references: {
                  id: '',
                  name: '',
                  solution: '',
                  simple: '',
                  simple_skip: '',
                  medium: '',
                  medium_skip: '',
                  complex: '',
                  complex_skip: '',
                  references: ''
              },
              addNewButton: true,
              saveButton: false,                
            	dataFields: {
            		name: "Name", 
                solution: "Solution", 
            		simple: "Simple No. Days", 
                medium: "Medium No. Days", 
                complex: "Complex No. Days", 
                references: "References", 
                created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/references/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this user',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'category.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'edit'
            		},
            		delete: {
            			title: 'Delete this user',
            			name: 'Delete',
            			apiUrl: '/api/v1/references/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},
            };
        },

        methods: {

            addNewReferences: function() {
              this.references.id = null;
              this.references.name = null;
              this.references.solution = null;
              this.references.simple = null;
              this.references.simple_skip = null;
              this.references.medium = null;
              this.references.medium_skip = null;
              this.references.complex = null;
              this.references.complex_skip = null;
              this.references.references = null;              
              $('#references-form').modal('show');
            },

            editReference: function(id) {
                axios.get('/api/v1/references/'+id)
                .then(response => {
                    var reference = response.data.data;
                    this.references.id = reference.id;
                    this.references.name = reference.name;
                    this.references.simple = reference.simple;
                    this.references.simple_skip = reference.simple_skip;
                    this.references.medium = reference.medium;
                    this.references.medium_skip = reference.medium_skip;
                    this.references.complex = reference.complex;
                    this.references.complex_skip = reference.complex_skip;
                    this.references.references = reference.references;              
                    this.addNewButton = false;
                    this.saveButton = true;
                    $('#references-form').modal('show');
                });
            },

            storeReference: function() {

                axios.post('/api/v1/references/store', this.references)
                .then( response => {
                    toastr.success(response.data.message)
                    this.$refs.dataTable.fetchData();
                    $('#references-form').modal('hide');
                });

            },

        },

        components: {
        	Table
 	   }
    };
</script>