<template>
  <div>
    <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Official Business Request</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Payroll Management</li>
                <li class="breadcrumb-item active">Official Business Request</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
            <div class="card-body"> 
                  <Table 
                  :dataFields="dataFields"
                  :dataUrl="dataUrl"
                  :actionButtons="actionButtons"
                  :primaryKey="primaryKey"
                  :otherButtons="otherButtons"
                  v-on:modalFilter="modalFilter"
                  v-on:editButton="editStatus"
                  ref="dataTable">
                  </Table>
                </div>
            </div>
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <!-- Modal Add New / Edit Designation -->
      <div class="modal fade" id="status-form" tabindex="-1" aria-labelledby="status-form" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Approval Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <button type="button" class="btn btn-success form-control" @click="updateRequest(1)">Approved</button>
                    </div>
                    <div class="col-sm-6">
                      <button type="button" class="btn btn-danger form-control" @click="updateRequest(2)">Decline</button>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
      </div>
      <!-- End Modal Add New Designation -->

      <!-- Modal Download CSV file -->
      <div class="modal fade" id="filter-form" tabindex="-1" aria-labelledby="filter-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addNewAttendance">Download CSV File</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="form-group row">
                  <label for="userName" class="col-sm-4 col-form-label">Employee Name</label>
                  <div class="col-sm-8">
                    <multiselect v-model="downloadFrm.employee_id" track-by="name" label="name" placeholder="Select Employee" :options="employees" :searchable="true" :allow-empty="false">
                    </multiselect>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="category_id" class="col-sm-4 col-form-label">Category</label>
                  <div class="col-sm-8">
                    <select class="custom-select" v-model="downloadFrm.category_id">
                      <option value="">Select Category</option>
                      <option v-for="category in categories" :value="category.id">{{ category.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="userName" class="col-sm-4 col-form-label">Date From <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <date-picker v-model="downloadFrm.date_from" placeholder="YYYY-MM-DD" :config="options" id="date_from" autocomplete="off"></date-picker>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="userName" class="col-sm-4 col-form-label">Date To <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <date-picker v-model="downloadFrm.date_to" placeholder="YYYY-MM-DD" :config="options" id="date_to" autocomplete="off"></date-picker>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" @click="downloadCsv">Download</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Download CSV file -->
  </div>
</template>
<script>  
  import Table from '../../../components/Table';
  import Multiselect from 'vue-multiselect'

  export default {
    name: "OverTimeRequest",
    data() {
      return {
        request: {
          id: '',
          status: ''
        },
        downloadFrm: {
          request_type: 'OB',
          category_id: '',
          employee_id: '',
          date_from: '',
          date_to: ''
        },
        employees: [],
        categories: [],
        options: {
          format: 'YYYY-MM-DD',
          useCurrent: false,
        },
        dataFields: {
          id_number: "Employee ID", 
          employee_name: "Employee Name", 
          date_from: "Date", 
          time_start: "Time Start", 
          time_end: "Time End", 
          number_of_hours: "Total Hours", 
          description: "Reasons", 
          approved: {
            name: "Status", 
            type:"Boolean", 
            status: { 
              0: '<span class="badge badge-primary">Pending</span>', 
              1: '<span class="badge badge-success">Approved</span>',
              2: '<span class="badge badge-danger">Decline</span>'
            }
          }, 
        },
        primaryKey: "id",
        dataUrl: "/api/v1/request/official-bussiness",
        actionButtons: {
          edit: {
            title: 'Edit this Over Time',
            name: 'Edit',
            apiUrl: '',
            routeName: 'overtime.edit',
            button: '<i class="fas fa-eye"></i> Action',
            method: 'edit'
          },
        },
        otherButtons: {
          batchUpload: {
            title: 'Download CSV',
            v_on: 'modalFilter',
            icon: '<i class="fas fa-download"></i> Download CSV',
            class: 'btn btn-primary btn-sm'
          },
        }                
      };
    },

    created(){
      axios.get('/api/v1/employee/all')
      .then(response => this.employees = response.data.data);

      axios.get('/api/v1/category/all/employee')
          .then(response => this.categories = response.data.data);
    },    

    methods: {

        updateRequest: function(status) {
            this.request.status = status

            axios.put('/api/v1/request/update', this.request)
            .then( response => {
                toastr.success(response.data.message);
                this.$refs.dataTable.fetchData();
                $('#status-form').modal('hide');
            });
        },

        editStatus: function(id) {
            this.request.id = id
            $('#status-form').modal('show');
        },

        modalFilter: function() {
          $('#filter-form').modal('show');
        },

        downloadCsv: function() {
          axios.post('/api/v1/request/download-csv', this.downloadFrm)
          .then(response => {
            const link = document.createElement('a');
            link.href = response.data.data.filepath;
            link.setAttribute('download', response.data.data.filename); //or any other extension
            document.body.appendChild(link);
            link.click();
          })
        },        

    },

    components: {
      Table,
      Multiselect
   }
  };
</script>