<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2>Employee Attendance History</h2>
              </div> 
              <div class="card-body">
                <div class="post">
                  <Table 
                    :dataFields="dataFields"
                    :dataUrl="dataUrl"
                    :primaryKey="primaryKey"
                    :otherButtons="otherButtons"
                    v-on:modalFilter="modalFilter"
                    ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal Download CSV file -->
    <div class="modal fade" id="filter-form" tabindex="-1" aria-labelledby="filter-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewAttendance">Download CSV File</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="form-group row">
                <label for="userName" class="col-sm-4 col-form-label">Employee Name <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <multiselect v-model="downloadFrm.employee_id" track-by="name" label="name" placeholder="Select Employee" :options="employees" :searchable="true" :allow-empty="false">
                  </multiselect>
                </div>
              </div>
              <div class="form-group row">
                <label for="userName" class="col-sm-4 col-form-label">Date From <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <date-picker v-model="downloadFrm.date_from" placeholder="YYYY-MM-DD" :config="options" id="date_from" autocomplete="off"></date-picker>
                </div>
              </div>
              <div class="form-group row">
                <label for="userName" class="col-sm-4 col-form-label">Date To <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <date-picker v-model="downloadFrm.date_to" placeholder="YYYY-MM-DD" :config="options" id="date_to" autocomplete="off"></date-picker>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="downloadCsv">Download</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal Download CSV file -->

  </div>
</template>

<script>  
  import Table from '../../../components/Table';
  import Multiselect from 'vue-multiselect'

  export default {
    name: "Users",
    data() {
      return {
        downloadFrm: {
          employee_id: '',
          date_from: '',
          date_to: ''
        },
        employees: [],
        options: {
          format: 'YYYY-MM-DD',
          useCurrent: false,
        },
        dataFields: {
          id_number: "Employee ID", 
          name: "Employee Name", 
          date: "Date", 
          time_login: "Time In", 
          time_in_location: "Time In Location", 
          time_logout: "Time Out", 
          time_out_location: "Time Out Location", 
          duration: "Duration", 
        },
        primaryKey: "id",
        dataUrl: "/api/v1/employee-time-keeping/list",
        otherButtons: {
          batchUpload: {
            title: 'Download CSV',
            v_on: 'modalFilter',
            icon: '<i class="fas fa-download"></i> Download CSV',
            class: 'btn btn-primary btn-sm'
          },
        }
      };
    },

    created(){
      axios.get('/api/v1/employee-time-keeping/all')
      .then(response => this.employees = response.data.data);
    },

    methods: {
      modalFilter: function() {
        $('#filter-form').modal('show');
      },

      downloadCsv: function() {
        axios.post('/api/v1/employee-time-keeping/download-csv', this.downloadFrm)
        .then(response => {
          const link = document.createElement('a');
          link.href = response.data.data.filepath;
          link.setAttribute('download', response.data.data.filename); //or any other extension
          document.body.appendChild(link);
          link.click();
        })
      },
    },

    components: {
      Table,
      Multiselect
   }
  };
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>