<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Generate QR Code</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
	              <li class="breadcrumb-item active">Generate QR Code</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<!-- card body -->
					<div class="card-body" v-show="!qrCode.svgImage">
						<div class="form-group row">
							<label for="inputName" class="col-md-3 col-form-label">Employee ID</label>
							<div class="col-md-8">
								<input type="text" class="form-control" v-model="qrCode.employee_id" id="employee_id" placeholder="Employee ID">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputName" class="col-md-3 col-form-label">Email</label>
							<div class="col-md-8">
								<input type="text" class="form-control" v-model="qrCode.email" id="email" placeholder="Email">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputName" class="col-md-3 col-form-label">Full Name</label>
							<div class="col-md-8">
								<input type="text" class="form-control" v-model="qrCode.fullname" id="fullname" placeholder="Full Name">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputName" class="col-md-3 col-form-label">Mobile Number</label>
							<div class="col-md-8">
								<input type="text" class="form-control" v-model="qrCode.mobile_number" id="mobile_number" placeholder="Mobile Number">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputName" class="col-md-3 col-form-label">Home Address</label>
							<div class="col-md-8">
								<textarea type="text" class="form-control" v-model="qrCode.home_address" id="home_address" placeholder="Home Address"></textarea>
							</div>
						</div>	
						<div class="form-group row">
							<label for="inputName" class="col-md-3 col-form-label"></label>
							<div class="col-md-8">
								<button type="button" class="btn btn-block btn-info" @click="generate">GENERATE</button>
							</div>
						</div>						
					</div>
					<div class="card-body" v-show="qrCode.svgImage">
						<div class="form-group row">
							<div class="col-md-12 text-center">
								<div v-html="qrCode.svgImage"></div>
							</div>
						</div>
					</div>                
					<!-- end card body -->
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>
  export default {
    name: 'qrCodeGenerator',
    data() {
        return {
          qrCode: {
            employee_id: '',
            email: '',
            fullname: '',
            mobile_number: '',
            home_address: '',
            svgImage: ''
          },
          qrCodeFrm: true,
          svgDsiplay: false,
        }
    },

    methods: {

      generate: function() {

        axios.post('/api/v1/qr-code/generate', this.qrCode)
        .then( response => {
        	this.qrCode.svgImage = response.data;
            this.qrCode.employee_id = null
            this.qrCode.email = null
            this.qrCode.fullname = null
            this.qrCode.mobile_number = null
            this.qrCode.home_address = null
        });

      }
    },
  };
</script>