<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2>Attendance History</h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <Table 
                    :dataFields="dataFields"
                    :dataUrl="dataUrl"
                    :primaryKey="primaryKey"
                    ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  import Table from '../../../components/Table';
  import ProfileCard from './ProfileCard.vue';

  export default {
    name: 'AttendanceHistory',
    data() {
        return {
          dataFields: {
            date_formated: "Date", 
            time_in: "Time In",
            time_in_location: "Time In Location",
            time_out: "Time Out",
            time_out_location: "Time Out Location",
            duration: "Duration",
          },
          primaryKey: "id",
          dataUrl: "/api/v1/employee/attendance-logs",
        };
    },
    mounted() {
        if (localStorage.getItem('reloaded')) {
            // The page was just reloaded. Clear the value from local storage
            // so that it will reload the next time this page is visited.
            localStorage.removeItem('reloaded');
        } else {
            // Set a flag so that we know not to reload the page twice.
            localStorage.setItem('reloaded', '1');
            location.reload();
        }
    },    
    components: {
      Table,
      ProfileCard
    }
  };
</script>