<template>
	<div>
		<!-- card start -->
		<div class="card card-secondary">
			<!-- card header -->
			<div class="card-header">
				<h4>Employee Information</h4>
			</div>
			<!-- end card header -->
			<!-- card body -->
			<div class="card-body">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Employee ID :</label>
					<label class="col-sm-8 col-form-label text-start"><strong>{{ employee.id_number }}</strong></label>
				</div>
				<div class="form-group row">
					<label for="inputName" class="col-sm-4 col-form-label">Employee Name :</label>
					<label class="col-sm-8 col-form-label text-start"><strong>{{ employee.name }}</strong></label>
				</div>
				<div class="form-group row">
					<label for="inputName" class="col-sm-4 col-form-label">Date :</label>
					<label class="col-sm-8 col-form-label text-start"><strong>{{ employee.date }}</strong></label>
				</div>
				<div class="form-group row">
					<label for="inputName" class="col-sm-4 col-form-label">Time In :</label>
					<label class="col-sm-8 col-form-label text-start"><strong>{{ employee.timeIn }}</strong></label>
				</div>
				<div class="form-group row">
					<label for="inputName" class="col-sm-4 col-form-label">Time In Location :</label>
					<label class="col-sm-8 col-form-label text-start"><strong>{{ employee.timeInLocation }}</strong></label>
				</div>
				<div class="form-group row">
					<label for="inputName" class="col-sm-4 col-form-label">Time Out :</label>
					<label class="col-sm-8 col-form-label text-start"><strong v-show="employee.is_logout">{{ employee.timeOut }}</strong></label>
				</div>
				<div class="form-group row">
					<label for="inputName" class="col-sm-4 col-form-label">Time Out Location :</label>
					<label class="col-sm-8 col-form-label text-start"><strong v-show="employee.is_logout">{{ employee.timeOutLocation }}</strong></label>
				</div>
			</div>
			<!-- end card body -->
		</div>
		<!-- card end -->
	</div>
</template>
<script>
  export default {
    name: 'AttendanceLogDetails',
    data() {
        return {
          employee: {
            profile_pic: '',
            id_number: '',
            name: '',
            date: '',
            timeIn: '',
            timeInLocation: '',
            timeOut: '',
            timeOutLocation: '',
            is_logout: '',
          }
        }
    },

    methods: {
      
      fetchData: function(data) {
		this.employee.profile_pic = data.id_number
		this.employee.id_number = data.id_number
		this.employee.name = data.name
		this.employee.date = data.date
		this.employee.timeIn = data.time_in
		this.employee.timeInLocation = data.time_in_location
		this.employee.timeOut = data.time_out
		this.employee.timeOutLocation = data.time_out_location
		this.employee.is_logout = data.is_logout
      },
    }
  };
</script>
<style lang="scss" scoped>
    #map {
        border: solid;
        height: 200px;
        width: 100%;
    }
</style>