<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2>Purchasing</h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <Table 
                    :dataFields="dataFields"
                    :dataUrl="dataUrl"
                    :primaryKey="primaryKey"
                    :actionButtons="actionButtons"
                    ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  import Table from '../../../components/Table';
  import ProfileCard from './ProfileCard.vue';

  export default {
    name: 'requestFrm',
    data() {
      return {
        dataFields: {
          request_number: "Request Number", 
          requestor: "Requestor",
          client_name: "Client",
          due_date: "Due Date",
          total_gross_formated: "Total Gross Amount",
          status_id: {
            name: "Status", 
            type:"Boolean", 
            status: { 
              1: '<span class="badge btn-info">Pending</span>', 
              2: '<span class="badge badge-success">For Canvassing</span>',
              3: '<span class="badge badge-warning text-dark">For Verification</span>',
              4: '<span class="badge badge-primary">Verified</span>',
              5: '<span class="badge badge-primary">For Endorsement</span>',
              6: '<span class="badge badge-primary">Endorsed</span>',
              7: '<span class="badge badge-success">Approved</span>',
              8: '<span class="badge badge-danger">Decline</span>',
            },
          },
          created_at: "Date Created"
        },
        primaryKey: "id",
        dataUrl: "/api/v1/requisition/canvassing/list",
        actionButtons: {
          view: {
            title: 'Show Details',
            name: 'View',
            routeName: 'canvassing-details',
            button: '<i class="fas fa-file-invoice"></i> Show Details',
            method: 'link',
          },
        },
      };
    },

    methods: {
    },

    components: {
      Table,
      ProfileCard
    }
  };
</script>