<template>
  <div>
    <!-- Main content -->
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2>Catalog Details&nbsp;&nbsp;
                  <router-link :to="{ name: 'catalog-request' }" type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-arrow-left"></i>&nbsp;Back to List</router-link>
                  <a v-if="catalog_request.status_id == 9" type="button" class="btn btn-primary btn-sm" @click="addNewRequest"><i class="fas fa-plus"></i> Add Particulars</a>
                  <a v-if="catalog_request.status_id == 9" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#submit-request"><i class="far fa-share-square"></i>Submit</a>
                </h2>
              </div>
              <div class="card-body">
                <div class="row">
                  <table class="table table-dark">
                    <tr>
                      <td><strong>Client Name :</strong></td>
                      <td>{{ catalog_request.client_name }}</td>
                      <td><strong>Status :</strong></td>
                      <td>{{ catalog_request.status_name }}</td>
                    </tr>
                    <tr>
                      <td><strong>PO Number :</strong></td>
                      <td>{{ catalog_request.po_number }}</td>
                      <td><strong>Due Date :</strong></td>
                      <td>{{ catalog_request.due_date_formated }}</td>
                    </tr>
                    <tr>
                      <td><strong>Request Number :</strong></td>
                      <td>{{ catalog_request.request_number }}</td>
                      <td><strong>Total Gross Amount :</strong></td>
                      <td><strong style="color:#dc3545;">PHP {{ catalog_request.total_gross_formated }}</strong></td>
                    </tr>
                  </table>
                </div>
                <div class="row">
                  <div v-if="catalog_request.site_details" v-for="(site, index) in catalog_request.site_details" v-bind:key="index" style="width:100%;">  
                    <table class="table table-dark">
                      <tr>
                        <td><strong>Site Name :</strong></td>
                        <td><strong>{{ site.site_name }}</strong></td>
                        <td><strong>Site Total Price :</strong></td>
                        <td><strong style="color:#dc3545;">PHP {{ site.catalog_total_price }}</strong></td>
                      </tr>
                    </table>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Item Name</th>
                          <th>QTY</th>
                          <th>UOM</th>
                          <th>Unit Price</th>
                          <th>Total Price</th>
                          <th>Remarks</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item, i_index) in site.catalog_details" v-bind:key="i_index" class="has-row-actions">
                          <td>{{ item.item_name }}
                            <div v-if="catalog_request.status_id == 9" class="row-actions" style="min-width: 150px;">
                              <a href="#" @click="editRequest(item.id)">
                                <span><i class="fas fa-edit"></i> Edit</span>
                              </a>&nbsp;
                              <a href="#" @click="deleteModal(item.id)">
                                <span><i class="fas fa-trash-alt"></i> Delete</span>
                              </a>
                            </div>
                          </td>
                          <td>{{ item.quantity }}</td>
                          <td>{{ item.uom }}</td>
                          <td>{{ item.unit_price }}</td>
                          <td>{{ item.total_price }}</td>
                          <td style="width: 25%;">{{ item.remarks }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal Add New -->
    <div class="modal fade" id="request-form" tabindex="-1" aria-labelledby="request-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewRequest">Add New Catalog</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Site Name <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <multiselect v-model="requestFrm.job_order_details_id" track-by="site_name" label="site_name" placeholder="Select Client" :options="job_order_details" :searchable="true" :allow-empty="false">
                  </multiselect>
                </div>
              </div>
              <div class="row">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <td>DESCRIPTION</td>
                      <td class="text-center">QUANTITY</td>
                      <td class="text-center">UOM</td>
                      <td class="text-center">Remarks</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(particular, index) in requestFrm.particulars">
                      <td width="35%">
                        <multiselect v-model="particular.item" track-by="item_name" label="item_name" placeholder="Select Item" :options="logistic_masters" :searchable="true" :allow-empty="false" @input="setUOM($event, index)">
                        </multiselect>
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="particular.quantity" >
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="particular.uom" readonly="readonly">
                      </td>
                      <td width="35%">
                        <input type="text" class="form-control" v-model="particular.remarks">
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger" title="Delete" @click="deleteParticular(index)"><i class="fas fa-trash-alt"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4"><button type="button" class="btn btn-primary" @click="addParticulars">+ Add</button></td>
                    </tr>
                  </tbody>
                </table>
              </div> 
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeRequest">Create</button>
          </div>
        </div>
      </div>
    </div>    
    <!-- End Modal Add New Particulars -->

    <div class="modal fade" id="edit-form" tabindex="-1" aria-labelledby="edit-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewRequest">Edit Catalog</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Site Name <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <multiselect v-model="requestEdit.job_order_details_id" track-by="site_name" label="site_name" placeholder="Select Client" :options="job_order_details" :searchable="true" :allow-empty="false">
                  </multiselect>
                </div>
              </div>
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Item <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <multiselect v-model="requestEdit.item" track-by="item_name" label="item_name" placeholder="Select Item" :options="logistic_masters" :searchable="true" :allow-empty="false">
                  </multiselect>
                </div>
              </div>
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Qty <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" v-model="requestEdit.quantity">
                </div>
              </div>
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">UOM</label>
                <div class="col-sm-8"> 
                  <input type="text" class="form-control" v-model="requestEdit.uom" readonly="readonly">
                </div>
              </div>
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Remarks <span class="font-italic">(required)</span></label>
                <div class="col-sm-8"> 
                  <textarea class="form-control" v-model="requestEdit.remarks"></textarea>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="updateRequest">Save Changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
          </div>
          <div class="modal-body">
            <h6>Do you really want to delete?</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="remove">OK</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit Modal -->
    <div class="modal fade" id="submit-request" tabindex="-1" aria-labelledby="submit-request" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h6>You cannot edit this request after submitting, do you like to submit this request?</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="updateStatus">OK</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
  import ProfileCard from './ProfileCard.vue';
  import Multiselect from 'vue-multiselect';

  export default {
    name: 'requestFrm',
    data() {
      return {
        requestFrm: {
          id: '',
          catalog_request_id: '',
          job_order_details_id: '',
          particulars: [],
          grand_total: 0,
        },
        requestEdit: {
          id: '',
          catalog_request_id: '',
          job_order_details_id: '',
          item: '',
          quantity: '',
          uom: '',
          remarks: '',
        },
        catalog_request: '',
        job_order_details: [],
        logistic_masters: [],
        addNewButton: true,
        saveButton: false,
        tobeDeleted: '',
      };
    },

    created() {
      this.getCatalog();
      this.getLookUp();
    },

    methods: {
      addParticulars: function() {        
        this.requestFrm.particulars.push({
          item: '',
          quantity: '',
          uom: '',
          remarks: '',
        });
      },

      deleteParticular: function(index) {
        this.$delete(this.requestFrm.particulars, index);
      },

      setUOM: function(item, index) {
        this.requestFrm.particulars[index].uom = item.unit_of_measurement;
      },

      getCatalog: function() {
        var id = this.$route.params.id;
        this.requestFrm.catalog_request_id = id;

        axios.get('/api/v1/requisition/catalog/'+id)
        .then(response => {
          this.catalog_request = response.data.data;
          this.getSiteList(this.catalog_request.job_order_id);
        });
      },

      getLookUp: function() {
        axios.get('/api/v1/lookup/logistics')
        .then( response => {
          this.logistic_masters = response.data.data;
        });
      },

      getSiteList: function(job_order_id) {
        axios.put('/api/v1/lookup/site-list', { job_order_id: job_order_id })
        .then( response => {
          this.job_order_details = response.data.data;
        });
      },

      addNewRequest: function() {
        this.requestFrm.job_order_details_id = null;
        this.requestFrm.particulars = [];
        this.addParticulars();
        $('#request-form').modal('show');
      },

      editRequest: function(id) {
        axios.get('/api/v1/requisition/catalog/details/'+id)
        .then(response => {
          var request = response.data.data;
          this.requestEdit.id = request.id;
          this.requestEdit.catalog_request_id = request.catalog_request_id;
          this.requestEdit.job_order_details_id = request.job_order_details;
          this.requestEdit.item = request.item_details;
          this.requestEdit.quantity = request.quantity;
          this.requestEdit.uom = request.uom;
          this.requestEdit.remarks = request.remarks;
          $('#edit-form').modal('show');
        });
      },

      storeRequest: function() {
        axios.post('/api/v1/requisition/catalog/details/add', this.requestFrm)
        .then( response => {
            toastr.success(response.data.message)
            this.getCatalog();
            $('#request-form').modal('hide');
        });          
      },

      updateRequest: function() {
        axios.post('/api/v1/requisition/catalog/details/update', this.requestEdit)
        .then( response => {
          toastr.success(response.data.message)
          this.getCatalog();
          $('#edit-form').modal('hide');
        });
      },

      updateStatus: function() {
        axios.put('/api/v1/requisition/catalog/update-status', { id: this.requestFrm.catalog_request_id })
        .then( response => {
          toastr.success(response.data.message);
          $('#submit-request').modal('hide');          
          this.$router.push({path: '/employee/catalog'});
        });
      },

      deleteModal: function(id) {
        this.tobeDeleted = id;
        $('#deleteModal').modal('show');
      },

      remove() {
          axios.get("/api/v1/requisition/catalog/details/delete/"+this.tobeDeleted)
          .then(response => {
              this.getCatalog();
              this.tobeDeleted = 0;
              $('#deleteModal').modal('hide');
          });
      },
    },

    components: {
      Multiselect,
      ProfileCard
    }
  };
</script>