<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2>Catalog Requests&nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewRequest">Add New</a></h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <Table 
                    :dataFields="dataFields"
                    :dataUrl="dataUrl"
                    :primaryKey="primaryKey"
                    :actionButtons="actionButtons"
                    v-on:editButton="editRequest"
                    ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal Add New / Edit Over Time -->
    <div class="modal fade" id="request-form" tabindex="-1" aria-labelledby="request-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewRequest" v-show="addNewButton">Add New Catalog</h5>
            <h5 class="modal-title" id="editRequest" v-show="saveButton">Edit Catalog</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Client <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <multiselect v-model="requestFrm.client_id" track-by="client_name" label="client_name" placeholder="Select Client" :options="clients" :searchable="true" :allow-empty="false" @input="getJobOrder" @select="getJobOrder">
                  </multiselect>
                </div>
              </div>
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Order Number / PO Number <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <multiselect v-model="requestFrm.job_order_id" track-by="po_order_number" label="po_order_number" placeholder="Select Order / PO Number" :options="job_orders" :searchable="true" :allow-empty="false">
                  </multiselect>
                </div>
              </div>
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Due Date <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <date-picker v-model="requestFrm.due_date" placeholder="YYYY-MM-DD" :config="options" id="date" autocomplete="off"></date-picker>
                </div>
              </div>                          
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeRequest">Create</button>
            <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateRequest">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal Add New Employee -->
  </div>
</template>
<script>
  import Table from '../../../components/Table';
  import ProfileCard from './ProfileCard.vue';
  import Multiselect from 'vue-multiselect';

  export default {
    name: 'requestFrm',
    data() {
      return {
        requestFrm: {
          id: '',
          client_id: '',
          job_order_id: '',
          due_date: '',
        },
        clients: [],
        job_orders: [],
        suppliers: [],
        addNewButton: true,
        saveButton: false,
        options: {
          format: 'YYYY-MM-DD',
          useCurrent: false,
        },
        dataFields: {
          request_number: "Request Number", 
          client_name: "Client Name",
          job_order_number: "Job Order Number",
          due_date_formated: "Due Date",
          status_id: {
            name: "Status", 
            type:"Boolean", 
            status: { 
              1: '<span class="badge btn-info">Pending</span>', 
              2: '<span class="badge badge-success">For Canvassing</span>',
              3: '<span class="badge badge-warning text-dark">For Verification</span>',
              4: '<span class="badge badge-primary">Verified</span>',
              5: '<span class="badge badge-primary">For Endorsement</span>',
              6: '<span class="badge badge-primary">Endorsed</span>',
              7: '<span class="badge badge-success">Approved</span>',
              8: '<span class="badge badge-danger">Decline</span>',
              9: '<span class="badge btn-info">Draft</span>',
            },
          },
          created_at: "Date Created"
        },
        primaryKey: "id",
        dataUrl: "/api/v1/requisition/catalog/list",
        actionButtons: {
          edit: {
            title: 'Edit this record',
            name: 'Edit',
            apiUrl: '',
            routeName: 'requisition.edit',
            button: '<i class="fas fa-edit"></i> Edit',
            method: 'edit'
          },
          delete: {
            title: 'Delete this record',
            name: 'Delete',
            apiUrl: '/api/v1/requisition/catalog/delete',
            routeName: '',
            button: '<i class="fas fa-trash-alt"></i> Delete',
            method: 'delete'
          },
          view: {
            title: 'Show Details',
            name: 'View',
            routeName: 'catalog-details',
            button: '<i class="fas fa-file-invoice"></i> Show Details',
            method: 'link'
          },
        },
      };
    },

    created() {
      this.getLookUp();
    },

    methods: {

      getLookUp: function() {
        axios.get('/api/v1/lookup/clients')
        .then( response => {
          this.clients = response.data.data;
        });

        axios.get('/api/v1/lookup/logistics')
        .then( response => {
          this.logistic_masters = response.data.data;
        });
      },

      getJobOrder: function(client) {
        this.requestFrm.job_order_id = '';
        this.job_orders = [];

        axios.put('/api/v1/lookup/job-orders', { client_id : client.id })
        .then( response => {
          this.job_orders = response.data.data;
        });
      },

      addNewRequest: function() {
        this.requestFrm.client_id = null;
        this.requestFrm.job_order_id = null;
        this.requestFrm.due_date = null;
        $('#request-form').modal('show');
      },

      editRequest: function(id) {
        axios.get('/api/v1/requisition/catalog/'+id)
        .then(response => {
          var request = response.data.data;
          if(request.status_id == 1) {
            toastr.error('You request has been sent for review.');
          }
          else if(request.status_id == 8) {
            toastr.error('You request has already been decline.');
          }
          else {
            this.getJobOrder(request.client_details);
            this.requestFrm.id = request.id;
            this.requestFrm.client_id = request.client_details;
            this.requestFrm.job_order_id = request.job_order_details;
            this.requestFrm.due_date = request.due_date;
            this.addNewButton = false;
            this.saveButton = true;
            $('#request-form').modal('show');
          }
        });
      },

      storeRequest: function() {
        axios.post('/api/v1/requisition/catalog/add', this.requestFrm)
        .then( response => {
            toastr.success(response.data.message)
            this.$refs.dataTable.fetchData();
            $('#request-form').modal('hide');
            this.$router.push({name: 'catalog-details', params: { id: response.data.data.id}});
        });          
      },

      updateRequest: function() {
        axios.put('/api/v1/requisition/catalog/update', this.requestFrm)
        .then( response => {
            toastr.success(response.data.message)
            this.$refs.dataTable.fetchData();
            $('#request-form').modal('hide');
        });
      },
    },

    components: {
      Table,
      Multiselect,
      ProfileCard
    }
  };
</script>