<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <ProfileCard></ProfileCard>                 
          </div>
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <h2><i class="fas fa-comments-dollar"></i> <strong>Loans</strong></h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <Table 
                    :dataFields="dataFields"
                    :dataUrl="dataUrl"
                    :primaryKey="primaryKey"
                    ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  import Table from '../../../components/Table';
  import ProfileCard from './ProfileCard.vue';

  export default {
    name: 'OtherLeave',
    data() {
      return {
        dataFields: {
          loan_type: "Loan Type", 
          total_loan_amount_formated: "Total Loan Amount",
          monthly_amortization_formated: "Monthly Amortization",
          total_paid_amount_formated: "Total Paid Amount",
          remaining_balance_formated: "Remaining Balance",
          deductions: "Deductions"
        },
        primaryKey: "id",
        dataUrl: "/api/v1/employee/loans",
      };
    },
    components: {
      Table,
      ProfileCard
    }
  };
</script>