<template>
    <div>
        <section class="contact bg-primary text-left">
            <div class="container">
                <div class="col-12">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="timein-tab" data-toggle="tab" href="#timein" role="tab" aria-controls="timein" aria-selected="true"><strong>MANUAL ATTENDANCE</strong></a>
                    </li>
                </ul>
                <div class="tab-content mt-2" id="myTabContent">
                    <div class="tab-pane fade show active" id="timein" role="tabpanel" aria-labelledby="timein-tab">
                        <div class="card card-secondary">
                            <!-- card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group row">
                                            <label for="category_id" class="col-12 col-form-label">Date:</label>
                                            <div class="col-12">
                                            <date-picker v-model="attendace.required_date" placeholder="YYYY-MM-DD" :config="options" id="date" autocomplete="off"></date-picker>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="category_id" class="col-12 col-form-label">Time In:</label>
                                            <div class="col-12">
                                            <date-picker v-model="attendace.time_in" placeholder="hh:mm:ss" :config="options_time" autocomplete="off"></date-picker>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="category_id" class="col-12 col-form-label">Time Out:</label>
                                            <div class="col-12">
                                            <date-picker v-model="attendace.time_out" placeholder="hh:mm:ss" :config="options_time" autocomplete="off"></date-picker>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputName" class="col-12 col-form-label">LAST NAME</label>
                                            <div class="col-12">
                                            <input type="text" class="form-control" id="lastname" placeholder="LAST NAME" v-model="attendace.lastname" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputName" class="col-12 col-form-label">EMPLOYEE ID</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="username" placeholder="EMPLOYEE ID" v-model="attendace.username" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-block btn-info" @click="timeIn">SUBMIT</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <AttendanceLogDetails
                                        ref="employeeLogs">
                                        </AttendanceLogDetails>
                                    </div>
                                </div>
                            </div>                    
                            <!-- end card body -->
                        </div>
                        <!-- card end -->
                    </div>
                </div>
                </div>
            </div>
        </section>
      
    </div>
  </template>
  <script>
    import AttendanceLogDetails from './AttendanceLogDetails.vue';
    export default {
      name: 'profile',
      data() {
          return {
            attendace: {
              lastname: '',
              username: '',
              latitude: '',
              longitude: '',
              address: '',
              required_date: '',
              time_in: '',
              time_out: '',
            },
            options: {
                format: 'YYYY-MM-DD',
                useCurrent: false,
                icons: {
                    time: "far fa-clock",
                    date: "far fa-calendar",
                    up: "fas fa-arrow-up",
                    down: "fas fa-arrow-down",
                    previous: "fas fa-chevron-left",
                    next: "fas fa-chevron-right",
                    today: "fas fa-calendar-check",
                    clear: "far fa-trash-alt",
                    close: "far fa-times-circle",
                },
            },
            options_time: {
                format: 'hh:mm:ss a',
                useCurrent: false,
                icons: {
                    time: "far fa-clock",
                    date: "far fa-calendar",
                    up: "fas fa-arrow-up",
                    down: "fas fa-arrow-down",
                    previous: "fas fa-chevron-left",
                    next: "fas fa-chevron-right",
                    today: "fas fa-calendar-check",
                    clear: "far fa-trash-alt",
                    close: "far fa-times-circle",
                },
            }
          }
      },
  
      created() {
      },
  
      methods: {
    
        timeIn: function() {
          axios.post('/api/v1/employee/manual/time-in', this.attendace)
          .then( response => {
            toastr.success(response.data.message)
            this.$refs.employeeLogs.fetchData(response.data.data);
            this.attendace.username = null
            this.attendace.lastname = null
            this.attendace.required_date = null
          });
        },  

      },
      components: {
        AttendanceLogDetails,
      }
    };
  </script>
  <style lang="scss" scoped>
    input {
      text-transform: uppercase !important;
    }
  </style>