<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2><i class="fa fa-list-alt" aria-hidden="true"></i> <strong>Non Catalog Requests</strong>&nbsp;&nbsp;<a type="button" class="btn btn-primary btn-sm float-right" @click="addNewRequest"><i class="fas fa-plus"></i> Add New</a></h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <Table 
                    :dataFields="dataFields"
                    :dataUrl="dataUrl"
                    :primaryKey="primaryKey"
                    :actionButtons="actionButtons"
                    v-on:editButton="editRequest"
                    ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal Add New / Edit Category -->
    <div class="modal fade" id="request-form" tabindex="-1" aria-labelledby="request-form" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><i class="fa fa-list-alt" aria-hidden="true"></i> <strong>Non Catalog Requests</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="form-group row">
                <label for="client_id" class="col-sm-4 col-form-label">Client <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <div id="client_id">
                    <multiselect 
                      v-model="requestFrm.client_id" 
                      track-by="client_name" 
                      label="client_name" 
                      placeholder="Select Client" 
                      :options="clients" 
                      :searchable="true" 
                      :allow-empty="false" 
                      @select="getJobOrder">
                    </multiselect>  
                  </div>
                  <div class="invalid-feedback" id="error_client_id"></div>
                </div>
              </div>
              <div class="form-group row" v-show="po_list">
                <label for="job_order_id" class="col-sm-4 col-form-label">Order Number / PO Number <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <div id="job_order_id">
                    <multiselect v-model="requestFrm.job_order_id" track-by="po_order_number" label="po_order_number" placeholder="Select Order / PO Number" :options="job_orders" :searchable="true" :allow-empty="false" @select="getSiteList">
                    </multiselect>                    
                  </div>
                  <div class="invalid-feedback" id="error_job_order_id"></div>
                </div>                
              </div>
              <div class="form-group row" v-show="site_list">
                <label for="job_order_details_id" class="col-sm-4 col-form-label">Site Name <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <div id="job_order_details_id">
                    <multiselect v-model="requestFrm.job_order_details_id" track-by="site_name" label="site_name" placeholder="Select Client" :options="job_order_details" :searchable="true" :allow-empty="false" @select="getSiteDetails">
                    </multiselect>
                  </div>
                  <div class="invalid-feedback" id="error_job_order_details_id"></div>
                </div>
              </div>
              <div class="form-group row">
                <label for="request_id" class="col-sm-4 col-form-label">Request <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <div id="request_id">
                    <multiselect v-model="requestFrm.request_id" track-by="name" label="name" placeholder="Select Request" :options="request_list" :searchable="true" :allow-empty="false">
                    </multiselect>                    
                  </div>
                  <div class="invalid-feedback" id="error_request_id"></div>
                </div>
              </div>
              <div class="form-group row">
                <label for="request_id" class="col-sm-4 col-form-label">Request Type <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <div id="payment_type">
                    <multiselect v-model="requestFrm.payment_type" placeholder="Select Request Type" :options="payment_type" :searchable="true" :allow-empty="false">
                    </multiselect>                    
                  </div>
                  <div class="invalid-feedback" id="error_payment_type"></div>
                </div>
              </div>
              <div class="form-group row">
                <label for="pay_to" class="col-sm-4 col-form-label">Pay To <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input id="pay_to" type="text" class="form-control" v-model="requestFrm.pay_to" placeholder="Name">
                  <div class="invalid-feedback" id="error_pay_to"></div>
                </div>                
              </div>
              <div class="form-group row">
                <label for="required_date" class="col-sm-4 col-form-label">Date <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <date-picker id="required_date" v-model="requestFrm.required_date" placeholder="YYYY-MM-DD" :config="options" autocomplete="off"></date-picker>
                  <div class="invalid-feedback" id="error_required_date"></div>
                </div>
              </div>
              <div class="form-group row">
                <label for="amount" class="col-sm-4 col-form-label">Amount <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <input id="amount" type="number" class="form-control" v-model="requestFrm.gross_amount" placeholder="0.00">
                  <div class="invalid-feedback" id="error_amount"></div>
                </div>                
              </div>
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Particulars <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <textarea id="remarks" rows="5" class="form-control" v-model="requestFrm.remarks" placeholder="Particulars"></textarea>
                  <div class="invalid-feedback" id="error_remarks"></div>
                </div>                
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-sm" @click="validateForm">Submit Request</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Confirm Modal -->
    <div class="modal fade" id="confirmNonCatalogModal" tabindex="-1" aria-labelledby="confirmNonCatalogModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h5 class="modal-title" id="exampleModalLabel" style="color:#fff;">Confirm</h5>
          </div>
          <div class="modal-body mt-3">
            <h6><strong>The Requestor acknowledges that the company has the rights to deduct the amount provided above in his/her salary upon failure to liquidate in a span of 15 days.</strong></h6>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="agreed" @click="enableSubmit()">
              <label class="form-check-label" for="defaultCheck1">
                I have read the statement shown above and I acknowledge that I will be held accountable for my request.
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" id="submitButton" class="btn btn-primary" @click="saveRequest" disabled>OK</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
  import Table from '../../../components/Table';
  import Multiselect from 'vue-multiselect';

  export default {
    name: 'requestFrm',
    data() {
      return {
        requestFrm: {
          id: '',
          client_id: '',
          job_order_id: '',
          job_order_details_id: '',
          request_id: '',
          request_type: 'non-catalog',
          required_date: '',
          pay_to: '',
          gross_amount: 0.00,
          remarks: '',
          payment_type: ''
        },
        clients: [],
        job_orders: [],
        job_order_details: [],
        request_list: [],
        payment_type: ['Reimbursement', 'Cash Advance', 'Cos Expense', 'Capex', 'Admin Expense'],
        options: {
          format: 'YYYY-MM-DD',
          useCurrent: false,
        },
        addNewButton: true,
        saveButton: false,
        po_list: true,
        site_list: true,
        dataFields: {
          request_number: "Request Number", 
          pay_to: "Pay To",
          client_name: "Client Name",
          job_order_number: "Job Order Number",
          site_name: "Site Name",
          request_name: "Request Name",
          required_date: "Due Date",
          gross_amount: "Amount",
          remarks: "Remarks",
          status_id: {
            name: "Status", 
            type:"Boolean", 
            status: { 
              1: '<span class="badge btn-secondary">Draft</span>', 
              2: '<span class="badge badge-success">For Canvassing</span>',
              3: '<span class="badge badge-warning text-dark">For Verification</span>',
              4: '<span class="badge badge-primary">Verified</span>',
              5: '<span class="badge badge-primary">Validated</span>',
              6: '<span class="badge badge-primary">Endorsed</span>',
              7: '<span class="badge badge-success">Approved</span>',
              8: '<span class="badge badge-danger">Decline</span>',
            },
          },
          updated_at: "Updated Date"
        },
        primaryKey: "id",
        dataUrl: "/api/v1/requisition/non-catalog/list",
        actionButtons: {
          edit: {
            title: 'Edit this record',
            name: 'Edit',
            apiUrl: '',
            routeName: 'requisition.edit',
            button: '<i class="fas fa-edit"></i> Edit',
            method: 'view'
          },
          delete: {
            title: 'Delete this record',
            name: 'Delete',
            apiUrl: '/api/v1/requisition/non-catalog/delete',
            routeName: '',
            button: '<i class="fas fa-trash-alt"></i> Delete',
            method: 'delete'
          },
        },
      };
    },

    created() {
      axios.get('/api/v1/lookup/clients')
      .then( response => {
        this.clients = response.data.data;
      });

      axios.get('/api/v1/lookup/logistics')
      .then( response => {
        this.logistic_masters = response.data.data;
      });

      axios.get('/api/v1/lookup/request-list')
      .then( response => {
        this.request_list = response.data.data;
      });

    },

    methods: {

      addNewRequest: function() {
        this.requestFrm.id = '';
        this.requestFrm.client_id = '';
        this.requestFrm.job_order_id = '';
        this.requestFrm.job_order_details_id = '';
        this.requestFrm.request_id = '';
        this.requestFrm.required_date = '';
        this.requestFrm.pay_to = '';
        this.requestFrm.gross_amount = 0.00;
        this.requestFrm.payment_type = '';
        $("#request-form").modal('show');
      },

      editRequest: function(request) {
        this.requestFrm.id = request.id;
        this.requestFrm.client_id = request.client_details;
        this.requestFrm.job_order_id = request.job_order_details;
        this.requestFrm.job_order_details_id = request.site_details;
        this.requestFrm.request_id = request.request_details;
        this.requestFrm.required_date = request.required_date;
        this.requestFrm.gross_amount = request.gross_amount;
        this.requestFrm.pay_to = request.pay_to;
        this.requestFrm.remarks = request.remarks;
        this.requestFrm.payment_type = request.payment_type;
        $("#request-form").modal('show');
      },

      getJobOrder: function(client) {
        this.requestFrm.job_order_id = '';
        this.job_orders = [];

        axios.put('/api/v1/lookup/job-orders', { client_id : client.id })
        .then( response => {
          this.job_orders = response.data.data;
        });

        if(client.client_name == 'Admin') {
          this.site_list = false;
          this.po_list = false;
        }
        else {
          this.site_list = true;
          this.po_list = true;
        }
      },

      getSiteList: function(job_order) {
        axios.put('/api/v1/lookup/site-list', { job_order_id: job_order.id })
        .then( response => {
          this.job_order_details = response.data.data;
        });
      },

      getSiteDetails: function(site_details) {
        this.requestFrm.badget = site_details.badget_formated;
        this.requestFrm.balance_amount = site_details.balance_amount_formated;
      },

      notificationModal: function(){
        $('#confirmNonCatalogModal').modal('show');
      },

      enableSubmit: function() {
        if($('#agreed').is(":checked")) {
          $('#submitButton').prop('disabled', false);
        }
        else {
          $('#submitButton').prop('disabled', true);
        }
      },

      validateForm: function() {
        if(this.requestFrm.client_id.client_name == 'Admin') {
          if(this.requestFrm.request_id
            && this.requestFrm.required_date
            && this.requestFrm.gross_amount
            && this.requestFrm.remarks
            && this.requestFrm.pay_to
            && this.requestFrm.payment_type) {
              this.notificationModal();
            }
        }else {
          if(this.requestFrm.job_order_id
            && this.requestFrm.job_order_id
            && this.requestFrm.request_id
            && this.requestFrm.required_date
            && this.requestFrm.gross_amount
            && this.requestFrm.pay_to
            && this.requestFrm.remarks
            && this.requestFrm.payment_type) {
              this.notificationModal();
            }
        }

        if(!this.requestFrm.client_id) {
            $("#client_id").addClass("is-invalid");
            $("#error_client_id").html("Client is required.");
        }
        else {
            $("#client_id").removeClass("is-invalid");
            $("#error_client_id").html("");
        }

        if(!this.requestFrm.job_order_id) {
            $("#job_order_id").addClass("is-invalid");
            $("#error_job_order_id").html("Job order is required.");
        }
        else {
            $("#job_order_id").removeClass("is-invalid");
            $("#error_job_order_id").html("");
        }

        if(!this.requestFrm.job_order_details_id) {
            $("#job_order_details_id").addClass("is-invalid");
            $("#error_job_order_details_id").html("Site is required.");
        }
        else {
            $("#job_order_details_id").removeClass("is-invalid");
            $("#error_job_order_details_id").html("");
        }

        if(!this.requestFrm.request_id) {
            $("#request_id").addClass("is-invalid");
            $("#error_request_id").html("Payment request is required.");
        }
        else {
            $("#request_id").removeClass("is-invalid");
            $("#error_request_id").html("");
        }

        if(!this.requestFrm.required_date) {
            $("#required_date").addClass("is-invalid");
            $("#error_required_date").html("Date is required.");
        }
        else {
            $("#required_date").removeClass("is-invalid");
            $("#error_required_date").html("");
        }

        if(this.requestFrm.gross_amount == 0) {
            $("#amount").addClass("is-invalid");
            $("#error_amount").html("Amount is required.");
        }
        else {
            $("#amount").removeClass("is-invalid");
            $("#error_amount").html("");
        }

        if(this.requestFrm.gross_amount == 0) {
            $("#remarks").addClass("is-invalid");
            $("#error_remarks").html("Remarks is required.");
        }
        else {
            $("#remarks").removeClass("is-invalid");
            $("#error_remarks").html("");
        }

        if(!this.requestFrm.pay_to) {
            $("#pay_to").addClass("is-invalid");
            $("#error_pay_to").html("Pay to is required.");
        }
        else {
            $("#pay_to").removeClass("is-invalid");
            $("#error_pay_to").html("");
        }

        if(this.requestFrm.payment_type == 0) {
            $("#payment_type").addClass("is-invalid");
            $("#error_payment_type").html("Please select payment type.");
        }
        else {
            $("#payment_type").removeClass("is-invalid");
            $("#error_payment_type").html("");
        }
      },

      saveRequest: function() {
        if(this.requestFrm.id) {
          axios.put('/api/v1/requisition/non-catalog/update', this.requestFrm)
          .then( response => {
              toastr.success(response.data.message)
              this.$refs.dataTable.fetchData();
              $('#confirmNonCatalogModal').modal('hide');
              $('#request-form').modal('hide');
          });
        }
        else {
          axios.post('/api/v1/requisition/non-catalog/add', this.requestFrm)
          .then( response => {
              toastr.success(response.data.message);
              this.$refs.dataTable.fetchData();
              $('#confirmNonCatalogModal').modal('hide');
              $('#request-form').modal('hide');
          });                    
        }
      },

    },

    components: {
      Table,
      Multiselect
    }
  };
</script>