<template>
  <div>
  	<div class="post">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab" @click="filter(0)">All</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(3)">For Verification</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(4)">Verified</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(5)">Validated</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(6)">Endorsed</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(7)">Approved</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(8)">Decline</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(10)">For Cancelation</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(9)">Canceled</a></li>
      </ul>
      <Table 
        :dataFields="dataFields"
        :dataUrl="dataUrl"
        :primaryKey="primaryKey"
        :actionButtons="actionButtons"
        v-on:modalDetails="modalDetails"
        ref="dataTable">
      </Table>
    </div>

    <!-- End Modal -->
    <div class="modal fade" id="view-form" tabindex="-1" aria-labelledby="view-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-body">
            <div class="card-body">
              <div class="row">
                <div class="col-12 text-center">
                  <h3>Catalog Details</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-dark">
                      <tr>
                        <td><strong>Request Number :</strong></td>
                        <td colspan="3">{{ catalog_request.request_number }}</td>
                      </tr>
                      <tr>
                        <td><strong>Supplier :</strong></td>
                        <td>{{ catalog_request.supplier_name }}</td>
                        <td><strong>Remarks :</strong></td>
                        <td>{{ catalog_request.remarks }}</td>
                      </tr>
                      <tr>
                        <td><strong>Requestor :</strong></td>
                        <td>{{ catalog_request.requestor }}</td>
                        <td><strong>Total Gross Amount :</strong></td>
                        <td><strong style="color:#dc3545;">PHP {{ catalog_request.total_price_formated }}</strong></td>
                      </tr>
                      <tr>
                        <td><strong>Request Status :</strong></td>
                        <td>
                          <span v-if="catalog_request.status_id == 1" class="badge btn-secondary">Pending</span> 
                          <span v-if="catalog_request.status_id == 2" class="badge badge-success">For Canvassing</span>
                          <span v-if="catalog_request.status_id == 3" class="badge badge-warning text-dark">For Verification</span>
                          <span v-if="catalog_request.status_id == 4" class="badge badge-primary">Verified</span>
                          <span v-if="catalog_request.status_id == 5" class="badge badge-primary">For Endorsement</span>
                          <span v-if="catalog_request.status_id == 6" class="badge badge-primary">Endorsed</span>
                          <span v-if="catalog_request.status_id == 7" class="badge badge-success">Approved</span>
                          <span v-if="catalog_request.status_id == 8" class="badge badge-danger">Decline</span>
                        </td>
                        <td><strong>Payment Status :</strong></td>
                        <td>
                          <span v-if="catalog_request.payment_status_id == 1" class="badge btn-secondary">Pending</span>
                          <span v-if="catalog_request.payment_status_id == 2" class="badge badge-success">For Canvassing</span>
                          <span v-if="catalog_request.payment_status_id == 3" class="badge badge-warning text-dark">For Verification</span>
                          <span v-if="catalog_request.payment_status_id == 4" class="badge badge-primary">Verified</span>
                          <span v-if="catalog_request.payment_status_id == 5" class="badge badge-primary">For Endorsement</span>
                          <span v-if="catalog_request.payment_status_id == 6" class="badge badge-primary">Endorsed</span>
                          <span v-if="catalog_request.payment_status_id == 7" class="badge badge-success">Approved</span>
                          <span v-if="catalog_request.payment_status_id == 8" class="badge badge-danger">Decline</span>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;"><strong>Attachments :</strong></td>
                        <td>
                          <div class="attachments" v-for="(attachment, index) in catalog_request.attachments" v-bind:key="index"><a :href="attachment.file_path" target="_blank">{{ attachment.file_path }}</a></div>
                        </td>
                        <td></td>
                        <td></td>
                      </tr>                  
                    </table>
                  </div>
                  <div class="post">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Item Name</th>
                            <th>QTY</th>
                            <th>UOM</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                            <th v-if="catalog_request.status_id == 3">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item, i_index) in catalog_request.catalog_details" v-bind:key="i_index">
                            <td>{{ item.item_name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.uom }}</td>
                            <td>{{ item.unit_price }}</td>
                            <td>{{ item.total_price_formated }}</td>
                            <td v-if="catalog_request.status_id == 3">
                              <a href="#" @click="deleteModal(item.id)">
                                <span><i class="fas fa-trash-alt"></i> Delete</span>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" v-if="catalog_request.status_id == 10" @click="updateRequest(9)">Canceled</button>
            <button type="button" class="btn btn-danger" v-if="catalog_request.status_id == 3" data-toggle="modal" data-target="#declineModal">Decline</button>
            <button type="button" class="btn btn-primary" v-if="catalog_request.status_id == 3" @click="updateRequest(4)">Submit For Endorsement</button>
            <button type="button" class="btn btn-primary" v-if="catalog_request.payment_status_id == 3" @click="request.payment = true; updateRequest(4)">Payment Endorsement</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->

    <!-- Decline Modal -->
    <div class="modal fade" id="declineModal" tabindex="-1" aria-labelledby="declineModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title" id="exampleModalLabel">Decline</h5>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="id_number" class="col-sm-4 col-form-label">Remarks <span class="font-italic">(required)</span></label>
              <div class="col-sm-8">
                <textarea class="form-control" v-model="request.remarks"></textarea>
              </div>
            </div> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="updateRequest(8)">OK</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
  import Table from '../../../components/Table';

  export default {
    name: 'CatalogNonCatalogList',
    data() {
      return {
      	request: {
          id: '',
          status: '',
          approver_id: '',
          remarks: '',
          payment: false,
        },
        deleteUrl: '',
        tobeDeleted: 0,        
      	catalog_request: '',
        dataFields: {
          request_number: "Request Number", 
          requestor: "Requestor",
          supplier_name: "Supplier Name",
          total_price_formated: "Total Cost",
          remarks: "Remarks",
          status_id: {
            name: "Request Status", 
            type:"Boolean", 
            status: { 
              1: '<span class="badge btn-secondary">Draft</span>', 
              2: '<span class="badge badge-success">For Canvassing</span>',
              3: '<span class="badge badge-warning text-dark">For Verification</span>',
              4: '<span class="badge badge-primary">Verified</span>',
              5: '<span class="badge badge-primary">For Endorsement</span>',
              6: '<span class="badge badge-primary">Endorsed</span>',
              7: '<span class="badge badge-success">Approved</span>',
              8: '<span class="badge badge-danger">Decline</span>',
              9: '<span class="badge badge-danger">Canceled</span>',
              10: '<span class="badge badge-danger">For Cancelation</span>',
            },
          },
          payment_status: {
            name: "Payment Status", 
            type:"Boolean", 
            status: { 
              1: '<span class="badge btn-secondary">Pending</span>', 
              2: '<span class="badge badge-success">For Canvassing</span>',
              3: '<span class="badge badge-warning text-dark">For Verification</span>',
              4: '<span class="badge badge-primary">Verified</span>',
              5: '<span class="badge badge-primary">For Endorsement</span>',
              6: '<span class="badge badge-primary">Endorsed</span>',
              7: '<span class="badge badge-success">Approved</span>',
              8: '<span class="badge badge-danger">Decline</span>',
              9: '<span class="badge badge-danger">Canceled</span>',
              10: '<span class="badge badge-danger">For Cancelation</span>',
            },
          },
          updated_at: "Updated Date"
        },
        primaryKey: "id",
        dataUrl: "/api/v1/requisition/catalog-request/list",
        actionButtons: {
          view: {
            title: 'Show Details',
            name: 'View',
            routeName: 'catalog-details',
            button: '<i class="fas fa-file-invoice"></i> Show Details',
            method: 'view',
            v_on: 'modalDetails',
          },
        },
      };
    },

    methods: {
    	modalDetails: function(data) {
    		this.catalog_request = null;
    		this.catalog_request = data;
        this.request.id = data.id;
    		$('#view-form').modal('show');
    	},

		  updateRequest: function(status) {
        this.request.status = status;

        axios.put('/api/v1/requisition/catalog-request/update', this.request)
        .then( response => {
            toastr.success(response.data.message);
            this.$refs.dataTable.fetchData();
            $('#declineModal').modal('hide');
            $('#view-form').modal('hide');
        });
      },

      getCatalogDetails: function() {
        axios.get('/api/v1/requisition/catalog/'+this.request.id)
          .then(response => {
            this.modalDetails(response.data.data);
          });
      },

      deleteModal: function(id) {
        if(confirm("Do you really want to delete?")) { 
           axios.get('/api/v1/requisition/catalog/details/delete/'+id)
          .then(response => {
              this.$refs.dataTable.fetchData();
              this.getCatalogDetails();
          });
        }
      },

      filter: function(id) {
        this.$refs.dataTable.filters = id;
        this.$refs.dataTable.fetchData();
      },
      
    },

    components: {
      Table,
    }
  };
</script>

<style lang="scss" scoped>
    .attachments a{
        color: #007bff !important;
        transition: all .35s;
    }
</style>