<template>
  <div>
  	<div class="post">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab" @click="filter(0)">All</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(1)">Approved</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(2)">Decline</a></li>
      </ul>
      <Table 
        :dataFields="dataFields"
        :dataUrl="dataUrl"
        :primaryKey="primaryKey"
        :actionButtons="actionButtons"
        v-on:editButton="editStatus"
        ref="dataTable">
      </Table>
    </div>

    <!-- Modal Add New / Edit Designation -->
    <div class="modal fade" id="status-form" tabindex="-1" aria-labelledby="status-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Approval Request</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="form-group row">
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-success form-control" @click="updateRequest(1)">Approved</button>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-danger form-control" @click="updateRequest(2)">Decline</button>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Add New Designation -->
  </div>
</template>
<script>
  import Table from '../../../components/Table';

  export default {
    name: 'CatalogNonCatalogList',
    data() {
      return {
      	request: {
          id: '',
          status: ''
        },
      	catalog_request: '',
        dataFields: {
          employee_name: "Employee Name", 
          date_from: "Date From", 
          date_to: "Date To", 
          time_start: "Time Start", 
          time_end: "Time End", 
          number_of_hours: "Total Hours", 
          request_name: "Request Type", 
          leave_credits: "Leave Credits",
          description: "Reasons", 
          approved: {
            name: "Status", 
            type:"Boolean", 
            status: { 
              0: '<span class="badge badge-primary">Pending</span>', 
              1: '<span class="badge badge-success">Approved</span>',
              2: '<span class="badge badge-danger">Decline</span>'
            }
          }, 
        },
        primaryKey: "id",
        dataUrl: "/api/v1/requisition/request/list",
        actionButtons: {
          edit: {
            title: 'Edit this Over Time',
            name: 'Edit',
            apiUrl: '',
            routeName: 'overtime.edit',
            button: '<i class="fas fa-eye"></i> Action',
            method: 'edit'
          },
        },
      };
    },

    methods: {
    	editStatus: function(id) {
          this.request.id = id
          $('#status-form').modal('show');
      },

		  updateRequest: function(status) {
          this.request.status = status

          axios.put('/api/v1/requisition/request/update', this.request)
          .then( response => {
              toastr.success(response.data.message);
              this.$refs.dataTable.fetchData();
              $('#status-form').modal('hide');
          });
      },	

      filter: function(id) {
        this.$refs.dataTable.filters = id;
        this.$refs.dataTable.fetchData();
      },
      
    },

    components: {
      Table,
    }
  };
</script>