<template>
  <div>
    <div class="post">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab" @click="filter(0)">All</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(3)">For Verification</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(4)">Verified</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(5)">Validated</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(6)">Endorsed</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(7)">Approved</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(8)">Decline</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(10)">For Cancelation</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(9)">Canceled</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(11)">Delivered</a></li>
      </ul>
      <Table 
      :dataFields="dataFields"
      :dataUrl="dataUrl"
      :actionButtons="actionButtons"
      :primaryKey="primaryKey"
      v-on:modalDetails="modalDetails"
      ref="dataTable">
      </Table>
    </div>

    <!-- Modal Add New / Edit Category -->
    <div class="modal fade" id="logistic-form" tabindex="-1" aria-labelledby="logistic-form" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Outbound Request</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-dark">
                  <tr>
                    <td><strong>Client :</strong></td>
                    <td>{{requestFrm.client_id.client_name}}</td>
                  </tr>
                  <tr>
                    <td><strong>Order Number / PO Number :</strong></td>
                    <td> {{ requestFrm.job_order_id.order_number }} ({{ requestFrm.job_order_id.po_number }})</td>
                  </tr>
                  <tr>
                    <td><strong>Site Name :</strong></td>
                    <td>{{ requestFrm.job_order_details_id.site_name }}</td>
                  </tr>
                  <tr>
                    <td><strong>Date :</strong></td>
                    <td>{{ requestFrm.required_date }}</td>
                  </tr>
                  <tr>
                    <td><strong>Request Status :</strong></td>
                    <td>
                      <span v-if="requestFrm.status_id == 1" class="badge btn-secondary">Pending</span> 
                      <span v-if="requestFrm.status_id == 2" class="badge badge-success">For Canvassing</span>
                      <span v-if="requestFrm.status_id == 3" class="badge badge-warning text-dark">For Verification</span>
                      <span v-if="requestFrm.status_id == 4" class="badge badge-primary">Verified</span>
                      <span v-if="requestFrm.status_id == 5" class="badge badge-primary">For Endorsement</span>
                      <span v-if="requestFrm.status_id == 6" class="badge badge-primary">Endorsed</span>
                      <span v-if="requestFrm.status_id == 7" class="badge badge-success">Approved</span>
                      <span v-if="requestFrm.status_id == 8" class="badge badge-danger">Decline</span>
                      <span v-if="requestFrm.status_id == 9" class="badge badge-danger">Canceled</span>
                      <span v-if="requestFrm.status_id == 10" class="badge badge-danger">For Cancelation</span>
                      <span v-if="requestFrm.status_id == 11" class="badge badge-success">Delivered</span>
                    </td>
                  </tr>          
                </table>
              </div>
              <div class="post">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <td>ITEM</td>
                        <td>QTY</td>
                        <td>UNIT PRICE</td>
                        <td>UOM</td>
                        <td style="text-align: right;">TOTAL PRICE</td>
                        <th style="text-align: right;" v-if="requestFrm.status_id == 3">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(particular, index) in requestFrm.particulars" v-bind:key="index">
                        <td width="35%">
                        {{ particular.item.item_name }}
                        </td>
                        <td>{{ particular.quantity }}</td>
                        <td>{{ particular.unit_price }}</td>
                        <td>{{ particular.uom }}</td>
                        <td style="text-align: right;">{{ particular.total_price }}</td>
                        <td style="text-align: right;" v-if="requestFrm.status_id == 3">
                          <a href="#" @click="deleteModal(particular.id)">
                            <span><i class="fas fa-trash-alt"></i> Delete</span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">GRAND TOTAL PRICE : </td>
                        <td style="text-align: right;"><strong>PHP {{ requestFrm.grand_total }}</strong></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>          
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" v-if="requestFrm.status_id != 10" data-toggle="modal" data-target="#out-declineModal">Decline</button>
            <button type="button" class="btn btn-danger" @click="updateRequest(9)">Canceled</button>
            <button type="button" class="btn btn-primary" v-if="requestFrm.status_id == 3" @click="updateRequest(4)">Verified</button>
            <button type="button" class="btn btn-primary" v-if="requestFrm.status_id == 6" @click="updateRequest(7)">Approved</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Decline Modal -->
    <div class="modal fade" id="out-declineModal" tabindex="-1" aria-labelledby="out-declineModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title" id="exampleModalLabel">Decline</h5>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="id_number" class="col-sm-4 col-form-label">Remarks <span class="font-italic">(required)</span></label>
              <div class="col-sm-8">
                <textarea class="form-control" v-model="requestFrm.remarks"></textarea>
              </div>
            </div> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" @click="updateRequest(8)">OK</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>  
  import Table from '../../../components/Table';
  import Multiselect from 'vue-multiselect';
    export default {
        name: "Users",
        data() {
            return {
              requestFrm: {
                id: '',
                client_id: '',
                job_order_id: '',
                job_order_details_id: '',
                required_date: '',
                status_id: '',
                particulars: [],
                grand_total: 0.00,
                remarks: ''
              },
              dataFields: {
                request_number: "Request Number", 
                client_name: "Client Name", 
                order_number: "Order Number", 
                po_number: "PO Number", 
                status_id: {
                  name: "Status", 
                  type:"Boolean", 
                  status: { 
                    1: '<span class="badge btn-secondary">Draft</span>', 
                    2: '<span class="badge badge-success">For Canvassing</span>',
                    3: '<span class="badge badge-warning text-dark">For Verification</span>',
                    4: '<span class="badge badge-primary">Verified</span>',
                    5: '<span class="badge badge-primary">For Endorsement</span>',
                    6: '<span class="badge badge-primary">Endorsed</span>',
                    7: '<span class="badge badge-success">Approved</span>',
                    8: '<span class="badge badge-danger">Decline</span>',
                    9: '<span class="badge badge-danger">Canceled</span>',
                    10: '<span class="badge badge-danger">For Cancelation</span>',
                    11: '<span class="badge badge-success">Delivered</span>',                  
                  },
                },
                remarks: "Remarks",                
                created_at: "Date Created"
              },
              primaryKey: "id",
              dataUrl: "/api/v1/requisition/outbound/list",
              actionButtons: {
                view: {
                  title: 'Show Details',
                  name: 'View',
                  routeName: 'catalog-details',
                  button: '<i class="fas fa-file-invoice"></i> Show Details',
                  method: 'view',
                  v_on: 'modalDetails',
                },
              },
            };
        },

        methods: {

          condition: function(status_id) {
            if (status_idstatus_id == '10') {
              return true;
            }
            else if (status_id == '9') {
              return true;
            }
            return false;
          },

          modalDetails: function(request) {
            this.requestFrm.id = request.id;
            this.requestFrm.client_id = request.client_details;
            this.requestFrm.job_order_id = request.job_order_details;
            this.requestFrm.job_order_details_id = request.site_details;
            this.requestFrm.required_date = request.required_date;
            this.requestFrm.grand_total = request.total_price;
            this.requestFrm.status_id = request.status_id;            
            this.requestFrm.particulars = [];

            for (let i = 0; i < request.outbound_details.length; i++) {
              let catalog = request.outbound_details[i];

              this.requestFrm.particulars.push({
                id: catalog.id,
                item: catalog.item_details,
                unit_price: catalog.unit_price,
                quantity: catalog.quantity,
                uom: catalog.uom,
                total_price: catalog.total_price,
              });
            }
            $('#logistic-form').modal('show');
          },

          deleteModal: function(id) {
            if(confirm("Do you really want to delete?")) { 
               axios.get('/api/v1/requisition/outbound/delete-details/'+id)
              .then(response => {
                  this.$refs.dataTable.fetchData();
                  this.modalDetails(response.data.data);
              });
            }
          },

          updateRequest: function(status) {
            this.requestFrm.status_id = status;

            axios.put('/api/v1/requisition/outbound/update-status', this.requestFrm)
            .then( response => {
                toastr.success(response.data.message);
                this.$refs.dataTable.fetchData();
                $('#out-declineModal').modal('hide');
                $('#logistic-form').modal('hide');
                this.requestFrm.remarks = '';
            });
          },

          filter: function(id) {
            this.$refs.dataTable.filters = id;
            this.$refs.dataTable.fetchData();
          },

        },

        components: {
          Table,
          Multiselect
        }
    };
</script>