<template>
	<div>
		<section class="content bg-primary">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-12">
	            <div class="card">
	              <div class="card-header p-2">
	                <h2>Notifications</h2>
	                <ul class="nav nav-pills">
	                  <li class="nav-item"><a class="nav-link active" href="#catalog" data-toggle="tab">Catalog Requests</a></li>
	                  <li class="nav-item"><a class="nav-link" href="#noncatalog" data-toggle="tab">Payment Requests</a></li>
	                  <li class="nav-item"><a class="nav-link" href="#outbound" data-toggle="tab">Outbound Requests</a></li>
	                  <li class="nav-item"><a class="nav-link" href="#requests" data-toggle="tab">Employee Requests</a></li>
	                </ul>
	              </div>
	              <div class="card-body">
	              	<div class="tab-content">
	                  <div class="active tab-pane" id="catalog">
			                <CatalogList></CatalogList>
			           	  </div>
			           	  <div class="tab-pane" id="noncatalog">
			                <NonCatalogList></NonCatalogList>
			           	  </div>
			           	  <div class="tab-pane" id="outbound">
			                <OutboundRequest></OutboundRequest>
			           	  </div>
			           	  <div class="tab-pane" id="requests">
			           	  	<RequestList></RequestList>
			           	  </div>
		        	</div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>
	</div>
</template>
<script>
	import ProfileCard from './ProfileCard.vue';
	import CatalogList from './NotificationCatalogList.vue';
	import NonCatalogList from './NotificationNonCatalogList.vue';
	import RequestList from './NotificationRequestList.vue';
	import OutboundRequest from './NotificationOutboundRequest.vue';

	export default {
    name: 'Nofifications',
    data() {
      return {
      };
    },

    created() {

    },

    methods: {
    },

    components: {
      ProfileCard,
      CatalogList,
      NonCatalogList,
      RequestList,
      OutboundRequest
    }
  };
</script>