<template>
  <div>
  	<div class="post">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab" @click="filterByType(null)">All</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filterByType('catalog')">Catalog</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filterByType('non-catalog')">Non-Catalog</a></li>
        <li class="nav-item ml-auto">
          <button type="button" class="btn btn-primary btn-sm" @click="downloadModal()"><i class="fa fa-download"></i> Download Non-Catalog</button>
        </li>
      </ul>
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab" @click="filter(0)">All</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(3)">For Verification</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(4)">Verified</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(5)">For Endorsement</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(6)">Endorsed</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(7)">Approved</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(8)">Decline</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(10)">For Cancelation</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(9)">Canceled</a></li>
      </ul>
      <Table 
        :dataFields="dataFields"
        :dataUrl="dataUrl"
        :primaryKey="primaryKey"
        :actionButtons="actionButtons"
        v-on:modalDetails="modalDetails"
        ref="dataTable">
      </Table>
    </div>

    <!-- End Modal -->
    <div class="modal fade" id="non-catalog-form" tabindex="-1" aria-labelledby="non-catalog-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="card-body">
              <div class="row">
                <div class="col-12 text-center">
                  <h3>Non-Catalog Details</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-dark">
                      <tr>
                        <td><strong>Request Number :</strong></td>
                        <td>{{ catalog_request.request_number }}</td>
                      </tr>
                      <tr>
                        <td><strong>Requestor :</strong></td>
                        <td>{{ catalog_request.requestor_name }}</td>
                      </tr>
                      <tr>
                        <td><strong>Client Name :</strong></td>
                        <td>{{ catalog_request.client_name }}</td>
                      </tr>
                      <tr>
                        <td><strong>Job Order Number :</strong></td>
                        <td>{{ catalog_request.job_order_number }}</td>
                      </tr>
                      <tr>
                        <td><strong>Site Name :</strong></td>
                        <td>{{ catalog_request.site_name }}</td>
                      </tr>
                      <tr>
                        <td><strong>Request Name :</strong></td>
                        <td>{{ catalog_request.request_name }}</td>
                      </tr>
                      <tr>
                        <td><strong>Pay To :</strong></td>
                        <td>{{ catalog_request.pay_to }}</td>
                      </tr>
                      <tr>
                        <td><strong>Due Date :</strong></td>
                        <td>{{ catalog_request.required_date }}</td>
                      </tr>
                      <tr>
                        <td><strong>Budget :</strong></td>
                        <td>{{ catalog_request.badget_formated }}</td>
                      </tr>
                      <tr>
                        <td><strong>Balance Amount :</strong></td>
                        <td>{{ catalog_request.balance_amount_formated }}</td>
                      </tr>
                      <tr>
                        <td><strong>Amount :</strong></td>
                        <td>{{ catalog_request.amount_formated }}</td>
                      </tr>
                      <tr>
                        <td><strong>Particulars :</strong></td>
                        <td>{{ catalog_request.remarks }}</td>
                      </tr>
                      <tr>
                        <td><strong>Request Status :</strong></td>
                        <td>
                          <span v-if="catalog_request.status_id == 1" class="badge badge-secondary">Pending</span> 
                          <span v-if="catalog_request.status_id == 2" class="badge badge-success">For Canvassing</span>
                          <span v-if="catalog_request.status_id == 3" class="badge badge-warning text-dark">For Verification</span>
                          <span v-if="catalog_request.status_id == 4" class="badge badge-primary">Verified</span>
                          <span v-if="catalog_request.status_id == 5" class="badge badge-secondary">Validated</span>
                          <span v-if="catalog_request.status_id == 6" class="badge bg-info text-dark">Endorsed</span>
                          <span v-if="catalog_request.status_id == 7" class="badge badge-success">Approved</span>
                          <span v-if="catalog_request.status_id == 8" class="badge badge-danger">Decline</span>
                          <span v-if="catalog_request.status_id == 9" class="badge badge-danger">Canceled</span>
                          <span v-if="catalog_request.status_id == 10" class="badge badge-danger">For Cancelation</span>
                        </td>
                      </tr>
                      <tr v-if="catalog_request.status_id == 4">
                        <td><strong>Payment Type :</strong></td>
                        <td>
                          <select class="custom-select" v-model="request.release_type">
                            <option value="">Select Payment Type</option>
                            <option value="Checked">Checked</option>
                            <option value="Credit Card">Credit Card</option>
                            <option value="Bank Transfer">Bank Transfer</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>Attachments :</td>
                        <td>
                          <div class="attachments" v-for="(attachment, index) in catalog_request.attachments" v-bind:key="index"><a :href="attachment.file_path" target="_blank">{{ attachment.file_path }}</a></div>                          
                        </td>
                      </tr>               
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#declineNonCatModal">Decline</button>
            <button type="button" class="btn btn-danger" v-if="catalog_request.status_id == 10" @click="updateRequest(9)">Canceled</button>
            <button type="button" class="btn btn-primary" v-if="catalog_request.status_id == 3" @click="updateRequest(4)">Verified</button>
            <button type="button" class="btn btn-primary" v-if="catalog_request.status_id == 4" @click="updateRequest(5)">Validate</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->

    <!-- Decline Modal -->
    <div class="modal fade" id="declineNonCatModal" tabindex="-1" aria-labelledby="declineNonCatModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title" id="exampleModalLabel">Decline</h5>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="id_number" class="col-sm-4 col-form-label">Remarks <span class="font-italic">(required)</span></label>
              <div class="col-sm-8">
                <textarea class="form-control" v-model="request.remarks"></textarea>
              </div>
            </div> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="updateRequest(8)">OK</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="download-modal" tabindex="-1" aria-labelledby="download-modal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Download Non-Catalog</h5>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="client_id" class="col-sm-4 col-form-label">Client <span class="font-italic">(required)</span></label>
              <div class="col-sm-8">
                <div id="client_id">
                  <multiselect v-model="requestFrm.client_id" track-by="client_name" label="client_name" placeholder="Select Client" :options="clients" :searchable="true" :allow-empty="false" @select="getJobOrder">
                  </multiselect>  
                </div>
                <div class="invalid-feedback" id="error_client_id"></div>
              </div>
            </div>
            <div class="form-group row">
              <label for="id_number" class="col-sm-4 col-form-label">Order Number / PO Number <span class="font-italic">(required)</span></label>
              <div class="col-sm-8" id="job_order_id">
                <multiselect v-model="requestFrm.job_order_id" track-by="po_order_number" label="po_order_number" placeholder="Select Order / PO Number" :options="job_orders" :searchable="true" :allow-empty="false" @select="getSiteList">
                </multiselect>
                <div class="invalid-feedback" id="error_job_order_id"></div>
              </div>
            </div>
            <div class="form-group row">
              <label for="id_number" class="col-sm-4 col-form-label">Site Name <span class="font-italic">(required)</span></label>
              <div class="col-sm-8" id="job_order_details_id">
                <multiselect v-model="requestFrm.job_order_details_id" track-by="site_name" label="site_name" placeholder="Select Client" :options="job_order_details" :searchable="true" :allow-empty="false">
                </multiselect>
                <div class="invalid-feedback" id="error_job_order_details_id"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" @click="downloadCsv()">Download CSV</button>
            <!-- <button type="button" class="btn btn-primary" @click="downloadPdfReport()">Download PDF</button> -->
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="endorsedNonCatModal" tabindex="-1" aria-labelledby="endorsedNonCatModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <table style="width: 100%;">
                      <tr>
                        <td width="25%"><img :src="logo"></td>
                        <td style="text-align: center;"><h1>PAYMENT FORM</h1></td>
                        <td width="25%" style="text-align: center; color: red;">Note: <br/>PLEASE PRINT IN A LONG BOND PAPER</td>
                      </tr>
                    </table>
                    <table style="width: 100%;">
                      <tr>
                        <td class="col-border">PAY TO</td>
                        <td class="col-border col-label text-center" style="width: 25%"><strong>{{ request_details.pay_to }}</strong></td> 
                        <td class="col-border">DATE REQUESTED</td>
                        <td class="col-border col-label text-center" style="width: 15%"><strong>{{ request_details.created_at }}</strong></td> 
                        <td class="col-border">PF NUMBER:</td>
                        <td class="col-border col-label text-center" style="width: 15%"><strong><span style="color:red; font-size: 1.5rem;">{{ request_details.request_number }}</span></strong></td> 
                      </tr> 
                      <tr>
                        <td class="col-border">PROJECT / SITE NAME:</td>
                        <td class="col-border col-label text-center">{{ request_details.client_name }} / {{ request_details.site_name }}</td> 
                        <td class="col-border">DATE NEEDED:</td>
                        <td class="col-border col-label text-center">{{ request_details.required_date }}</td> 
                        <td class="col-border">NAME OF REQUESTOR:</td>
                        <td class="col-border col-label text-center">{{ request_details.requestor_name }}</td> 
                      </tr>
                    </table>
                    <table style="width: 100%;">
                      <tr style="text-align: center;">
                        <td class="col-border">AVAILABLE BALANCE</td>
                        <td class="col-border">PARTICULARS</td>
                        <td class="col-border">AMOUNT</td>
                      </tr>
                      <tr style="text-align: center; height: 2rem;">
                        <td class="col-label col-border" rowspan="7"><strong><span style="color:red; font-size: 1.5rem;">PHP {{ current_balance }}</span></strong></td>
                        <td class="col-label col-border"> {{ request_details.request_name }} </td>
                        <td class="col-label col-border text-right">PHP {{ request_details.amount_formated }}</td>
                      </tr>
                      <tr style="text-align: center; height: 2rem;">
                        <td class="col-label col-border"> {{ request_details.remarks }} 
                          <span v-if="request_details.po_number"><br/> FOR P.O. # {{ request_details.po_number }}</span>
                        </td>
                        <td class="col-label col-border"></td>
                      </tr>
                      <tr style="text-align: center; height: 2rem;">
                        <td class="col-label col-border"></td>
                        <td class="col-label col-border"></td>
                      </tr>
                      <tr style="text-align: center; height: 2rem;">
                        <td class="col-label col-border">
                          <select v-if="request_details.status_id == 5" class="custom-select" v-model="endorsedFrm.vatable" @change="getTotalAmountDue">
                            <option value="">Select if Vatable</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                          </select>
                        </td>
                        <td class="col-label col-border"></td>
                      </tr>
                      <tr style="text-align: center; height: 2rem;">
                        <td class="col-label col-border">
                          <select v-if="request_details.status_id == 5" class="custom-select" v-model="endorsedFrm.ewt" @change="getTotalAmountDue">
                            <option value="">Select EWT</option>
                            <option value="1">Services</option>
                            <option value="2">Goods</option>
                            <option value="3">Professional</option>
                            <option value="4">Rental</option>
                            <option value="5">Others</option>
                          </select>
                        </td>
                        <td class="col-label col-border"></td>
                      </tr>
                      <tr style="text-align: center; height: 2rem;">
                        <td class="col-label col-border">
                          <input v-show="endorsedFrm.ewt==5" type="text" class="form-control" v-model="endorsedFrm.ewt_other" placeholder="Enter EWT by Percentage" v-on:keyup="getTotalAmountDue">
                        </td>
                        <td class="col-label col-border"></td>
                      </tr>
                      <tr style="height: 2rem;">
                        <td class="col-label col-border" style="text-align: right;">NET VAT</td>
                        <td class="col-label col-border text-right">PHP {{ endorsedFrm.net_amount }}</td>
                      </tr>
                      <tr style="text-align: left; height: 2rem;">
                        <td class="col-label col-border">REQUEST TYPE: <span style="color: red;">{{ request_details.payment_type }}</span></td>
                        <td class="col-label col-border" style="text-align: right;">VAT INPUT</td>
                        <td class="col-label col-border text-right">PHP {{ endorsedFrm.vat_amount }}</td>
                      </tr>
                      <tr style="text-align: left; height: 2rem;">
                        <td class="col-label col-border">PAYMENT OPTION: <span style="color: red;">{{ request_details.release_type }}</span></td>
                        <td class="col-label col-border" style="text-align: right;"><span style="color: red;">LESS EWT {{ endorsedFrm.ewt_percent }}</span></td>
                        <td class="col-label col-border text-right"><span style="color: red;">PHP {{ endorsedFrm.ewt_amount }}</span></td>
                      </tr>
                      <tr style="text-align: left; height: 2rem;">
                        <td class="col-label col-border"></td>
                        <td class="col-label col-border" style="text-align: right;">TOTAL AMOUNT:</td>
                        <td class="col-label col-border text-right">PHP {{ endorsedFrm.total_amount_due }}</td>
                      </tr>
                    </table>
                    <table style="width: 100%;" class="supplier-info">
                      <tr>
                        <td class="col-label col-border">Request Number :</td>
                        <td class="col-content col-border">{{ request_details.request_number }}</td>
                      </tr>
                      <tr>
                        <td class="col-label col-border">Request Status :</td>
                        <td class="col-content col-border">
                            <span v-if="request_details.status_id == 1" class="badge badge-secondary">Pending</span> 
                            <span v-if="request_details.status_id == 2" class="badge badge-success">For Canvassing</span>
                            <span v-if="request_details.status_id == 3" class="badge badge-warning text-dark">For Verification</span>
                            <span v-if="request_details.status_id == 4" class="badge badge-primary">Verified</span>
                            <span v-if="request_details.status_id == 5" class="badge badge-secondary">Validated</span>
                            <span v-if="request_details.status_id == 6" class="badge bg-info text-dark">Endorsed</span>
                            <span v-if="request_details.status_id == 7" class="badge badge-success">Approved</span>
                            <span v-if="request_details.status_id == 8" class="badge badge-danger">Decline</span>
                            <span v-if="request_details.status_id == 9" class="badge badge-danger">Canceled</span>
                            <span v-if="request_details.status_id == 10" class="badge badge-danger">For Cancelation</span>
                        </td>
                      </tr>
                      <tr v-if="catalog_request.payment_type == 'Cash Advance' || catalog_request.payment_type == 'Reimbursement' || catalog_request.payment_type == 'Cos Expense' || catalog_request.payment_type == 'Capex' || catalog_request.payment_type == 'Admin Expense'">
                        <td class="col-label col-border">Disbursed :</td>
                        <td class="col-content col-border">
                          <select class="custom-select" v-model="endorsedFrm.disbursed">
                            <option value="">Select Disbursed</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                          </select>  
                        </td>
                      </tr>
                      <tr v-if="catalog_request.payment_type == 'Cash Advance' || catalog_request.payment_type == 'Reimbursement' || catalog_request.payment_type == 'Cos Expense' || catalog_request.payment_type == 'Capex' || catalog_request.payment_type == 'Admin Expense'">
                        <td class="col-label col-border">Liquidated :</td>
                        <td class="col-content col-border">
                          <select class="custom-select" v-model="endorsedFrm.liquidated">
                            <option value="">Select Liquidate</option>
                            <option value="1">Done</option>
                            <option value="2">Due</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td class="col-label col-border">Request Type :</td>
                        <td class="col-content col-border">{{ request_details.request_name }}</td>
                      </tr>
                      <tr>
                        <td class="col-label col-border">Client Name :</td>
                        <td class="col-content col-border">{{ request_details.client_name }}</td>
                      </tr>
                      <tr>
                        <td class="col-label col-border">Job Order Number :</td>
                        <td class="col-content col-border">{{ request_details.job_order_number }}</td>
                      </tr>
                      <tr>
                        <td class="col-label col-border">Site Name :</td>
                        <td class="col-content col-border">{{ request_details.site_name }}</td>
                      </tr>
                      <tr>
                        <td class="col-label col-border">Current Badget :</td>
                        <td class="col-content col-border"><strong>{{ badget_formated }}</strong></td>
                      </tr>
                      <tr>
                        <td class="col-label col-border">Expense :</td>
                        <td class="col-content col-border"><strong>PHP {{ request_details.amount_formated }}</strong></td>
                      </tr>
                      <tr>
                        <td class="col-label col-border">Balance :</td>
                        <td class="col-content col-border"><strong>{{ balance_amount_formated }}</strong></td>
                      </tr>
                      <tr>
                        <td class="col-label col-border">Attachments :</td>
                        <td class="col-content col-border">
                          <div class="attachments" v-for="(attachment, index) in request_details.attachments" v-bind:key="index"><a :href="attachment.file_path" target="_blank">{{ attachment.file_path }}</a></div>                          
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" v-if="request_details.status_id == 5" @click="endorsedRequest(6)">Endorsed</button>
            <button type="button" class="btn btn-primary" v-if="request_details.status_id == 7" @click="liquidateRequest()">Save Changes</button>
            <button type="button" class="btn btn-primary" v-if="request_details.status_id == 7" @click="printPayment(request_details.id)"><i class="fas fa-print"></i> Print Payment</button></div>
        </div>
      </div>
    </div>  

  </div>
</template>
<script>
  import Table from '../../../components/Table';
  import Multiselect from 'vue-multiselect';

  export default {
    name: 'CatalogNonCatalogList',
    data() {
      return {
      	request: {
          id: '',
          status: '',
          approver_id: '',
          remarks: '',
          payment_type: '',
          release_type: '',
        },
        endorsedFrm: {
          id: '',
          status: '',
          ewt: '',
          ewt_other: '',
          gross_amount: 0,
          vatable: '',
          net_amount: 0,
          vat_amount: 0,
          ewt_amount: 0,
          ewt_percent: 0,
          ewt_type: '',
          total_amount_due: 0,
          remarks: '',
          disbursed: '',
          liquidated: '',
        },
        payment_form: {
          type: '',
          id: 0
        },
        requestFrm: {
          client_id: '',
          job_order_id: '',
          job_order_details_id: '',
        },
        clients: [],
        job_orders: [],
        job_order_details: [],
        request_details: '',
        current_balance: 0,
        badget_formated: 0,
        balance_amount_formated: 0,
        logo: window.location.origin +'/img/fabriquem-logo-small.png',
        deleteUrl: '',
        tobeDeleted: 0,        
      	catalog_request: '',
        dataFields: {
          request_number: "PF Number", 
          requestor_name: "Requestor",
          client_name: "Client Name",
          job_order_number: "Job Order Number",
          po_number: "PO Number",
          site_name: "Site Name",
          request_name: "Request Name",
          payment_type: "Payment Type",
          required_date: "Due Date",
          gross_amount: "Amount",
          status_id: {
            name: "Status", 
            type:"Boolean", 
            status: { 
              1: '<span class="badge badge-secondary">Pending</span>',
              2:  '<span class="badge badge-success">For Canvassing</span>',
              3:  '<span class="badge badge-warning text-dark">For Verification</span>',
              4:  '<span class="badge badge-primary">Verified</span>',
              5: '<span class="badge badge-secondary">For Endorsement</span>',
              6: '<span class="badge bg-info text-dark">Endorsed</span>',
              7: '<span class="badge badge-success">Approved</span>',
              8: '<span class="badge badge-danger">Decline</span>',              
              9: '<span class="badge badge-danger">Canceled</span>',
              10: '<span class="badge badge-danger">For Cancelation</span>',
            },
          },
          is_printed: {
            name: "Printed", 
            type:"Boolean", 
            status: { 
              0:  '<span class="badge badge-danger">No</span>',
              1:  '<span class="badge badge-success">Yes</span>',
            },
          },
          disbursed: {
            name: "Disbursed", 
            type:"Boolean", 
            status: { 
              0:  '<span class="badge badge-danger">No</span>',
              1:  '<span class="badge badge-success">Yes</span>',
            },
          },
          liquidated_status: {
            name: "Liquidated", 
            type:"Boolean", 
            status: { 
              1:  '<span class="badge badge-success">Done</span>',
              2:  '<span class="badge badge-danger">Due</span>',
            },
          },
          remarks: "Remarks",
          updated_at: "Updated Date"
        },
        primaryKey: "id",
        dataUrl: "/api/v1/requisition/non-catalog-request/list",
        actionButtons: {
          view: {
            title: 'Show Details',
            name: 'View',
            routeName: 'non-catalog-details',
            button: '<i class="fas fa-file-invoice"></i> Show Details',
            method: 'view',
            v_on: 'modalDetails',
          },
        },
      };
    },

    created() {
      axios.get('/api/v1/lookup/clients')
      .then( response => {
        this.clients = response.data.data;
      });
    },

    methods: {
    	modalDetails: function(data) {
    		this.catalog_request = null;
    		this.catalog_request = data;
        this.request.id = data.id;
        if(data.status_id == 5 || data.status_id == 7) {
          this.showPaymentForm(data.id);
          $('#endorsedNonCatModal').modal('show');          
        }else {
          $('#non-catalog-form').modal('show');
        }
    	},

      showPaymentForm: function(id){
        axios.get('/api/v1/requisition/non-catalog-request/'+id)
        .then(response => {
          var request_details = response.data.data;
          this.endorsedFrm.id = id;
          this.request_details = request_details;
          this.endorsedFrm.gross_amount = request_details.gross_amount;
          this.endorsedFrm.disbursed = request_details.disbursed;
          this.endorsedFrm.liquidated = request_details.liquidated_status;
          this.badget_formated = request_details.site_details.badget_formated;
          this.balance_amount_formated = request_details.site_details.balance_amount_formated;

          if(request_details.status_id == 6 || request_details.status_id == 7) {
            this.current_balance = this.numberWithCommas(parseFloat(request_details.site_details.balance_amount).toFixed(2));
            this.endorsedFrm.net_amount = request_details.net_amount;
            this.endorsedFrm.vat_amount = request_details.vat_amount;
            this.endorsedFrm.ewt_amount = request_details.ewt_amount;
            this.endorsedFrm.ewt_percent = request_details.ewt_percent;
            this.endorsedFrm.total_amount_due = request_details.total_amount_due;
          }
          else {
            this.current_balance = this.numberWithCommas((parseFloat(request_details.site_details.balance_amount)-parseFloat(request_details.gross_amount)).toFixed(2));
          }

        });
      },

      getTotalAmountDue: function() {
        var ewt = 0;
        var type = '';
        if(this.endorsedFrm.ewt == 1) {
          ewt = 0.02;
          type = 'Services';          
        }
        else if(this.endorsedFrm.ewt == 2) {
          ewt = 0.01;
          type = 'Goods';
        }
        else if(this.endorsedFrm.ewt == 3) {
          ewt = 0.10;
          type = 'Professional';
        }
        else if(this.endorsedFrm.ewt == 4) {
          ewt = 0.05; 
          type = 'Rental';
        }
        else if(this.endorsedFrm.ewt == 5) {
          ewt = this.endorsedFrm.ewt_other;
          type = 'Others';      
        }

        this.endorsedFrm.ewt_percent = ewt;
        this.endorsedFrm.ewt_type = type;

        if(this.endorsedFrm.vatable == 0) {
          this.endorsedFrm.net_amount = 0;
          this.endorsedFrm.vat_amount = 0;
          this.endorsedFrm.ewt_amount = (this.endorsedFrm.gross_amount*ewt).toFixed(2);
          this.endorsedFrm.total_amount_due = (this.endorsedFrm.gross_amount-this.endorsedFrm.ewt_amount).toFixed(2);
        }
        else {
          this.endorsedFrm.net_amount = (this.endorsedFrm.gross_amount/1.12).toFixed(2);
          this.endorsedFrm.vat_amount = (this.endorsedFrm.net_amount*0.12).toFixed(2);
          this.endorsedFrm.ewt_amount = (this.endorsedFrm.net_amount*ewt).toFixed(2);
          this.endorsedFrm.total_amount_due = (this.endorsedFrm.gross_amount-this.endorsedFrm.ewt_amount).toFixed(2);
        }
      },

      numberWithCommas: function(number) {
          return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      },

		  updateRequest: function(status) {
        this.request.status = status;

        axios.put('/api/v1/requisition/non-catalog-request/update', this.request)
        .then( response => {
            toastr.success(response.data.message);
            this.$refs.dataTable.fetchData();
            $('#declineNonCatModal').modal('hide');
            $('#non-catalog-form').modal('hide');
            $('#endorsedNonCatModal').modal('hide');          
        });
      },

      endorsedRequest: function(status) {
        this.endorsedFrm.status = status;
        axios.put('/api/v1/requisition/non-catalog-request/tagging', this.endorsedFrm)
        .then( response => {
          toastr.success(response.data.message);
          this.$refs.dataTable.fetchData();
          $("#declineNonCatModal").modal('hide');
          $('#endorsedNonCatModal').modal('hide');
        });
      },

      liquidateRequest: function() {
        axios.put('/api/v1/requisition/non-catalog-request/liquidate', this.endorsedFrm)
        .then( response => {
          toastr.success(response.data.message);
          this.$refs.dataTable.fetchData();
          $("#declineNonCatModal").modal('hide');
          $('#endorsedNonCatModal').modal('hide');
        });
      },

      printPayment: function(id) {
        window.open(
            '/non-catalog-payment/'+id,
            '_blank' // <- This is what makes it open in a new window.
          );
      },

      filter: function(id) {
        this.payment_form.id = id;
        this.$refs.dataTable.filters = this.payment_form;
        this.$refs.dataTable.fetchData();
      },
      
      filterByType: function(type) {
        this.payment_form.type = type;
        this.$refs.dataTable.filters = this.payment_form;
        this.$refs.dataTable.fetchData();
      },

      downloadModal: function() {
        $('#download-modal').modal('show');
      },

      downloadReport: function() {
        var url = '/report-expenses/'+this.requestFrm.client_id.id;
        if(this.requestFrm.job_order_id && !this.requestFrm.job_order_details_id) {
          url = url+'/'+this.requestFrm.job_order_id.id;
        }

        if(this.requestFrm.job_order_id && this.requestFrm.job_order_details_id) {
          url = url+'/'+this.requestFrm.job_order_id.id+'/'+this.requestFrm.job_order_details_id.id;
        }
        
        window.open(
          url,
          '_blank' // <- This is what makes it open in a new window.
        );
      },

      downloadPdfReport: function() {
          window.open(
          '/download/report-expenses/'+this.requestFrm.client_id.id
        );
      },

      downloadCsv: function() {
        axios.post('/api/v1/requisition/download-csv', this.requestFrm)
        .then(response => {
          const link = document.createElement('a');
          link.href = response.data.data.filepath;
          link.setAttribute('download', response.data.data.filename); //or any other extension
          document.body.appendChild(link);
          link.click();
          $('#download-modal').modal('hide');
        }) 
      },

      getJobOrder: function(client) {
        this.job_orders = [];

        axios.put('/api/v1/lookup/job-orders', { client_id : client.id })
        .then( response => {
          this.job_orders = response.data.data;
        });
      },

      getSiteList: function(job_order) {
        axios.put('/api/v1/lookup/site-list', { job_order_id: job_order.id })
        .then( response => {
          this.job_order_details = response.data.data;
        });
      },

    },

    components: {
      Table, Multiselect
    }
  };
</script>

<style lang="scss" scoped>
    //.supplier-info {}

    .supplier-info tr td:first-child {
      width: 20%;
      font-weight: bold;
    }

    .supplier-info tr td:nth-child(2) {
      width: 40%;
    }

    .supplier-info tr td:nth-child(3) {
      width: 20%;
      font-weight: bold;
    }

    .supplier-info tr td:nth-child(4) {
      width: 20%;
    }

    table th{
        font-size: 14px;
        font-weight: bold;
        text-align:center;
    }
    table td{
        font-size: 16px;
        padding: 5px;
    }

    table td p{
        margin: 0;
        padding: 0;
    }

    .col-label {
      width: 15%;
      font-size: 16px;
      font-weight: 700;
    }

    .col-content {
      width: 35%;
      font-size: 18px;
      font-weight: 500;
      padding: 16px 5px;
    }

    .col-border {
      border: solid 1px; 
    }

    .col-side-border {
      border-left: solid 1px;
      border-right: solid 1px;
    }

    .col-border-wo-top {
      border-left: solid 1px;
      border-right: solid 1px;
      border-bottom: solid 1px;
    }

    .col-even-width {
      width: 33.33%;
    }

    .col-border-right {
      border-right: solid 1px;
    }

    hr {
      border:solid 5px;
      width: 99.1%;
      margin: 0;
    }

    h4 {
      color: red;
    }

    input[type=checkbox] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);  
    margin-left: 5px;
    }

    .attachments a{
        color: #007bff !important;
        transition: all .35s;
    }

</style>