<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <ProfileCard></ProfileCard>                 
          </div>
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <h2><i class="fas fa-receipt"></i> <strong>Payslip</strong></h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <Table 
                    :dataFields="dataFields"
                    :dataUrl="dataUrl"
                    :primaryKey="primaryKey"
                    :actionButtons="actionButtons"
                    v-on:editButton="showPaySlip"
                    ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal Pay Details -->
    <div class="modal fade" id="paylip-modal" tabindex="-1" aria-labelledby="paylip-modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="card-body">
              <h2>Fabriquem Integrated Resources Inc.</h2>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Payment Date:</td>
                    <td> {{ payroll.created_at }} </td>
                  </tr>
                  <tr>
                    <td>Period Covered:</td>
                    <td> {{ payroll.period_covered }} </td>
                  </tr>
                  <tr>
                    <td>Employee Name:</td>
                    <td> {{ employee_details.name }} </td>
                  </tr>
                </tbody>
              </table>
              <h5>EARNINGS</h5>
              <table class="table table-hover table-bordered">
                <tbody>
                  <tr class="table-info">
                    <td class="td-width">Daily Wage:</td>
                    <td> {{ employee_details.daily_wage_wo_cola }} </td>
                  </tr>
                  <tr>
                    <td>Number of Days:</td>
                    <td> {{ payroll.number_of_days }} </td>
                  </tr>
                  <tr>
                    <td>Regular/Special Holidays:</td>
                    <td> {{ payroll.regular_holidays }} </td>
                  </tr>
                  <tr>
                    <td>Approved Leaves:</td>
                    <td> {{ payroll.approved_leaves }} </td>
                  </tr>
                  <tr>
                    <td>COLA:</td>
                    <td> {{ payroll.total_cola }} </td>
                  </tr>
                  <tr class="table-primary">
                    <td>Total Basic Salary:</td>
                    <td> {{ payroll.total_basic_salary }} </td>
                  </tr>
                  <tr>
                    <td>Over Time:</td>
                    <td> {{ payroll.over_time_total_amount }} </td>
                  </tr>
                  <tr>
                    <td>Night Differentials:</td>
                    <td> {{ payroll.night_differential_total_amount }} </td>
                  </tr>
                  <tr>
                    <td>Special Holiday & Sunday:</td>
                    <td> {{ payroll.special_day_total_amount }} </td>
                  </tr>
                  <tr>
                    <td>Special Holiday & Sunday (OT):</td>
                    <td> {{ payroll.special_day_over_time_total_amount }} </td>
                  </tr>
                  <tr>
                    <td>Regular Holiday:</td>
                    <td> {{ payroll.holiday_day_total_amount }} </td>
                  </tr>
                  <tr>
                    <td>Regular Holiday (OT):</td>
                    <td> {{ payroll.holiday_day_over_time_total_amount }} </td>
                  </tr>
                  <tr class="table-primary">
                    <td>Total Over Time:</td>
                    <td> {{ payroll.total_over_time }} </td>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>Allowance/Incentive:</strong></td>
                  </tr>
                  <tr v-for="(allowance, index) in payroll.allowances">
                    <td>{{ allowance.remarks }}</td>
                    <td>{{ allowance.amount }}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>Adjustments:</strong></td>
                  </tr>
                  <tr v-for="(adjustment, index) in payroll.adjustments">
                    <td>{{ adjustment.remarks }}</td>
                    <td v-if="adjustment.type == 'less-adjustment'">-{{ adjustment.amount }}</td>
                    <td v-else>{{ adjustment.amount }}</td>
                  </tr>
                  <tr>
                    <td>Late:</td>
                    <td> {{ payroll.late_total_amount }} </td>
                  </tr>
                  <tr class="table-primary">
                    <td>Total Gross Salary:</td>
                    <td> {{ payroll.total_gross_salary }} </td>
                  </tr>
                </tbody>
              </table>
              <h5>CONTRIBUTIONS</h5>
              <table class="table table-hover table-bordered">
                <tbody>
                  <tr>
                    <td class="td-width">Withholding Tax:</td>
                    <td> {{ payroll.withholding_tax }} </td>
                  </tr>
                  <tr>
                    <td>SSS Premium:</td>
                    <td> {{ payroll.sss_prem }} </td>
                  </tr>
                  <tr>
                    <td>SSS MPF:</td>
                    <td> {{ payroll.sss_mpf }} </td>
                  </tr>
                  <tr>
                    <td>Philhealth:</td>
                    <td> {{ payroll.philhealth_prem }} </td>
                  </tr>
                  <tr>
                    <td>Pag-ibig Fund:</td>
                    <td> {{ payroll.pagibig_prem }} </td>
                  </tr>
                </tbody>
              </table>
              <h5>LOANS</h5>
              <span v-html="payroll.loans"></span>
              <h5>OTHER DEDUCTION</h5>
              <table class="table table-hover table-bordered">
                <tbody>
                  <tr v-for="(deduction, index) in payroll.other_deductions">
                    <td class="td-width">{{ deduction.remarks }}</td>
                    <td>{{ deduction.amount }}</td>
                  </tr>
                </tbody>
              </table>
              <h5>TOTAL DEDUCTIONS</h5>
              <table class="table table-hover table-bordered">
                <tbody>
                  <tr class="table-danger">
                    <td class="td-width">Total Deductions:</td>
                    <td> {{ payroll.total_deductions }} </td>
                  </tr>
                </tbody>
              </table>
              <h5>NET EARNINGS</h5>
              <table class="table table-hover table-bordered">
                <tbody>
                  <tr class="table-primary">
                    <td class="td-width">Net Salary:</td>
                    <td> {{ payroll.net_salary }} </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="downloadPaySlip(payroll.pay_period,payroll.employee_id)"><i class="fas fa-file-download"></i> Download PDF</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Pay Details -->

  </div>
</template>
<script>
  import Table from '../../../components/Table';
  import ProfileCard from './ProfileCard.vue';

  export default {
    name: 'OtherLeave',
    data() {
      return {
        payroll: '',
        employee_details: '',
        dataFields: {
          period_covered: "Payrol Period", 
          total_gross_salary: "Gross Amount",
          total_deductions: "Deductions",
          net_salary: "Net Income",
        },
        primaryKey: "id",
        dataUrl: "/api/v1/employee/payslip",
        actionButtons: {
          view: {
            title: 'Show Payslip',
            name: 'Show',
            apiUrl: '',
            routeName: '',
            button: '<i class="fas fa-file-invoice"></i> View',
            method: 'view'
          },
        },
      };
    },

    methods: {
      showPaySlip: function(data) {
        this.payroll = data;
        this.employee_details = data.employee_details;
        $('#paylip-modal').modal('show');
      },
      downloadPaySlip: function(payperiod, id) {
        window.open("/download/payslip/"+payperiod+"/"+id);
      }
    },

    components: {
      Table,
      ProfileCard
    }
  };
</script>
<style lang="scss" scoped>
    .td-width {
        width: 75%;
    }

    h5 {
      font-weight: 400;
    }

</style>