<template>
	<div>
		<!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">

            <h3 class="profile-username text-center">{{ user.name }}</h3>

            <p class="text-muted text-center">{{ user.designation }}</p>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Employee Details</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-hashtag"></i> ID Number</strong>

            <p class="text-muted">
              {{ user.id_number }}
            </p>

            <strong><i class="fas fa-copyright"></i> Category</strong>

            <p class="text-muted">{{ user.category }}</p>            

            <strong><i class="fa fa-sitemap"></i> Department</strong>

            <p class="text-muted">{{ user.department }}</p>            

            <strong><i class="fas fa-envelope"></i> Email</strong>

            <p class="text-muted">{{ user.email }}</p>

            <strong><i class="fas fa-mobile-alt"></i> Mobile Number</strong>

            <p class="text-muted">
              {{ user.mobile_number }}
            </p>

            <strong v-show="user.contact_number"><i class="fas fa-phone"></i> Contact Number</strong>

            <p class="text-muted" v-show="user.contact_number">
              {{ user.contact_number }}
            </p>

            <strong><i class="fas fa-calendar-alt"></i> Birth Date</strong>

            <p class="text-muted">
              {{ user.birth_date }}
            </p>

            <strong><i class="fas fa-calendar-alt"></i> Date Hired</strong>

            <p class="text-muted">
              {{ user.date_hired }}
            </p>

            <strong><i class="fas fa-calendar-alt"></i> Regularization Date</strong>

            <p class="text-muted">
              {{ user.date_regularization }}
            </p>

            <strong><i class="fas fa-calendar-alt"></i> Vacation Leave Credits</strong>

            <p class="text-muted">
              {{ user.vacation_leave }}
            </p>

            <strong><i class="fas fa-calendar-alt"></i> Sick Leave Credits</strong>

            <p class="text-muted">
              {{ user.sick_leave }}
            </p>

            <strong><i class="fas fa-calendar-alt"></i> Emergency Leave Credits</strong>

            <p class="text-muted">
              {{ user.emergency_leave }}
            </p>

            <strong><i class="fas fa-calendar-alt"></i> Maternity Leave Credits</strong>

            <p class="text-muted">
              {{ user.maternity_leave }}
            </p>

            <strong><i class="fas fa-calendar-alt"></i> Paternity Leave Credits</strong>

            <p class="text-muted">
              {{ user.paternity_leave }}
            </p>

            <strong><i class="fas fa-calendar-alt"></i> Bereavement Leave Credits</strong>

            <p class="text-muted">
              {{ user.bereavement_leave }}
            </p>

            <strong><i class="fas fa-calendar-alt"></i> Birthday Leave Credits</strong>

            <p class="text-muted">
              {{ user.birthday_leave }}
            </p>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
	</div>
</template>
<script>
    export default {
        name: 'nav-header',
        data() {
          return {
            user: {
              name: '',
              email: '',
              category: '',
              designation: '',
              department: '',
              id_number: '',
              mobile_number: '',
              contact_number: '',
              birth_date: '',
              date_hired: '',
              date_regularization: '',
            },
          }
        },

        created() {
            this.getDetails();
        },

        methods: {
            getDetails() {
                axios.get('/api/v1/employee/details')
                .then( response => {
                    var user = response.data.data
                    this.user.name = user.name
                    this.user.email = user.email
                    this.user.category = user.category
                    this.user.designation = user.designation
                    this.user.department = user.department
                    this.user.id_number = user.id_number
                    this.user.mobile_number = user.details.mobile_number
                    this.user.contact_number = user.details.contact_number
                    this.user.birth_date = user.birth_date
                    this.user.date_hired = user.date_hired
                    this.user.date_regularization = user.date_regularization
                    this.user.vacation_leave = (user.vacation_leave) ? user.vacation_leave : 0;
                    this.user.sick_leave = (user.sick_leave) ? user.sick_leave : 0;
                    this.user.emergency_leave = (user.emergency_leave) ? user.emergency_leave : 0;
                    this.user.maternity_leave = (user.maternity_leave) ? user.maternity_leave : 0;
                    this.user.paternity_leave = (user.paternity_leave) ? user.paternity_leave : 0;
                    this.user.bereavement_leave = (user.bereavement_leave) ? user.bereavement_leave : 0;
                    this.user.birthday_leave = (user.birthday_leave) ? user.birthday_leave : 0;
                });
            },

            logout() {
              this.$store.commit('logout');
              this.$router.push('/employee/login');
            }            
        },

    };
</script>