<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <ProfileCard></ProfileCard>                 
          </div>
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <h2>Profile Details</h2>
              </div>
              <div class="card-body">
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label for="id_number" class="col-sm-4 col-form-label">Employee Number</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="id_number" v-model="employee.id_number" placeholder="Employee Number" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="fullname" class="col-sm-4 col-form-label">Full Name <span class="font-italic">(required)</span></label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="first_name" v-model="employee.first_name" placeholder="First Name" readonly="readonly">
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="last_name" v-model="employee.last_name" placeholder="Last Name" readonly="readonly">
                    </div>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" id="middle_name" v-model="employee.middle_name" placeholder="M.I" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="category_id" class="col-sm-4 col-form-label">Date of Birth <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="birth_date" v-model="employee.birth_date" placeholder="Birth Date" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Age </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="age" v-model="employee.age" placeholder="Age" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Address <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <textarea class="form-control" id="address" v-model="employee.address" placeholder="Address" readonly="readonly"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Mobile Number <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="mobile_number" v-model="employee.mobile_number" placeholder="Mobile Number">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Contact Number</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="contact_number" v-model="employee.contact_number" placeholder="Contact Number">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="designation_id" class="col-sm-4 col-form-label">Designation <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="designation" v-model="employee.designation" placeholder="Designation" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="category_id" class="col-sm-4 col-form-label">Category <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="category" v-model="employee.category" placeholder="Category" readonly="readonly">
                    </div>
                  </div>      
                  <div class="form-group row">
                    <label for="category_id" class="col-sm-4 col-form-label">Date Hired <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="date_hired" v-model="employee.date_hired" placeholder="Date Hired" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="category_id" class="col-sm-4 col-form-label">Date Regularization</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="date_regularization" v-model="employee.date_regularization" placeholder="Date Regularization" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="firstName" class="col-sm-4 col-form-label">Upload Digital Sign</label>
                    <div class="col-sm-5">
                      <input type="file" accept="image/*" ref="sign" @change="SignChange"><br/>
                      <span>image max size is 900 x 475 pixels</span>
                    </div>
                    <div class="col-sm-3 text-center">
                      <img v-if="sign" :src="sign" class="img-thumbnail" />
                    </div>
                  </div>
                  <h3><strong>GOVERNMENT ISSUED ID'S</strong></h3>
                  <hr>
                  <div class="form-group row">
                    <label for="sss" class="col-sm-4 col-form-label">SSS</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="sss" v-model="employee.sss" placeholder="SSS" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="pag_ibig" class="col-sm-4 col-form-label">PAGIBIG</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="pag_ibig" v-model="employee.pag_ibig" placeholder="PAGIBIG" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="philhealth" class="col-sm-4 col-form-label">PHILHEALTH</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="philhealth" v-model="employee.philhealth" placeholder="PHILHEALTH" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="tin_number" class="col-sm-4 col-form-label">TIN NUMBER</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="tin_number" v-model="employee.tin_number" placeholder="TIN Number" readonly="readonly">
                    </div>
                  </div>
                  <h3><strong>SALARY AND CONTRIBUTIONS</strong></h3>
                  <hr>
                  <div class="form-group row">
                    <label for="basic_salary" class="col-sm-4 col-form-label">Basic Salary</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="basic_salary" v-model="employee.basic_salary" placeholder="0.00" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="daily_wage" class="col-sm-4 col-form-label">Daily Wage</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="daily_wage" v-model="employee.daily_wage" placeholder="0.00" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="cola" class="col-sm-4 col-form-label">COLA</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="cola" v-model="employee.cola" placeholder="0.00" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="cola" class="col-sm-4 col-form-label">SSS Premium</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="sss_prem" v-model="employee.sss_prem" placeholder="0.00" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="cola" class="col-sm-4 col-form-label">PHILHEALT Premium</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="philhealth_prem" v-model="employee.philhealth_prem" placeholder="0.00" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="cola" class="col-sm-4 col-form-label">PAGIBIG Premium</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="pagibig_prem" v-model="employee.pagibig_prem" placeholder="0.00" readonly="readonly">
                    </div>
                  </div>
                  <h3><strong>USER CREDENTIALS</strong></h3>
                  <hr>      
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="email" v-model="employee.email" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="displayButton" class="col-sm-4 col-form-label">Password</label>
                    <div class="col-sm-8">
                      <div class="input-group mb-3">
                          <input type="password" v-model="employee.password" id="password" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <button type="button" class="btn btn-primary" @click="updateEmployee">Save Changes</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  import ProfileCard from './ProfileCard.vue';

  export default {
    name: 'Profile',
    data() {
        return {
          employee: {
              id: '',
              id_number: '',                    
              email: '',
              password: '',
              designation: '',
              designation_id: '',
              category_id: '',
              first_name: '',
              last_name: '',
              middle_name: '',
              birth_date: '',
              age: '',
              address: '',
              mobile_number: '',
              contact_number: '',
              date_hired: '',
              date_regularization: '',
              sss: '',
              pag_ibig: '',
              philhealth: '',
              tin_number: '',
              basic_salary: '',
              daily_wage: '',
              cola: '',
              sss_prem:'',
              philhealth_prem:'',
              pagibig_prem:'',
              wtax: '',
              sign: '',
          },
          sign: '',
          categories: [],
          designations: [],
          displayPassword: false,
          displayButton: true,
        };
    },

    created(){
      this.editEmployee();
    },

    methods: {
        SignChange: function (e) {
          const file = e.target.files[0];
          this.sign = URL.createObjectURL(file);
          this.employee.sign = file;
        },

        editEmployee: function(id) {
            axios.get('/api/v1/employee/details')
            .then(response => {
                var employee = response.data.data;
                this.employee.id_number = employee.id_number
                this.employee.email = employee.email
                this.employee.password = employee.password
                this.employee.first_name = employee.details.first_name
                this.employee.last_name = employee.details.last_name
                this.employee.middle_name = employee.details.middle_name
                this.employee.birth_date = employee.birth_date
                this.employee.age = employee.details.age
                this.employee.address = employee.details.address
                this.employee.mobile_number = employee.details.mobile_number
                this.employee.contact_number = employee.details.contact_number
                this.employee.designation = employee.designation
                this.employee.designation_id = employee.designation_id
                this.employee.category_id = employee.category_id
                this.employee.date_hired = employee.date_hired
                this.employee.date_regularization = employee.date_regularization
                this.employee.sss = employee.details.sss
                this.employee.pag_ibig = employee.details.pag_ibig
                this.employee.philhealth = employee.details.philhealth
                this.employee.tin_number = employee.details.tin_number
                this.employee.basic_salary = employee.details.basic_salary
                this.employee.daily_wage = employee.details.daily_wage
                this.employee.cola = employee.details.cola
                this.employee.sss_prem = employee.details.sss_prem
                this.employee.philhealth_prem = employee.details.philhealth_prem
                this.employee.pagibig_prem = employee.details.pagibig_prem                
                this.employee.wtax = employee.details.wtax
                this.employee.sign = employee.sign_path
                this.sign = employee.sign_path
            });
        },

        updateEmployee: function() {
          let formData = new FormData();
          formData.append("mobile_number", this.employee.mobile_number);
          formData.append("contact_number", this.employee.contact_number);
          formData.append("email", this.employee.email);
          formData.append("password", this.employee.password);
          formData.append("sign", this.employee.sign);

          axios.post('/api/v1/employee/update-profile', formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            },
          })
          .then(response => {
            toastr.success(response.data.message);
          })
        },

        showPassword: function() {
            this.employee.password = generatePassword(15);
            this.displayPassword = true;
            this.displayButton = false;
        },

        cancelPassword: function() {
            this.displayPassword = false;
            this.displayButton = true;
        },
    },

    computed: {

      years () {
        const year = new Date().getFullYear()
        return Array.from({length: year - 1900}, (value, index) => 1901 + index)
      },

      months () {
       var month = new Array();
           month[0]="January";
           month[1]="February";
           month[2]="March";
           month[3]="April";
           month[4]="May";
           month[5]="June";
           month[6]="July";
           month[7]="August";
           month[8]="September";
           month[9]="October";
           month[10]="November";
           month[11]="December";

         return month;
      },

    },

    components: {
      ProfileCard
    }
  };
</script>