<template>
  <div>
  	<!-- card start -->
	<div class="card card-secondary">
	  <!-- card body -->
	  <div class="card-body">
	      <div class="row">
	          <div class="col-md-6 col-12">
	              <div class="form-group row">
	                  <label for="inputName" class="col-12 col-form-label">LAST NAME</label>
	                  <div class="col-12">
                      <input type="text" class="form-control" id="lastname" placeholder="LAST NAME" v-model="attendace.lastname" autocomplete="off">
	                  </div>
	              </div>
                <div class="form-group row">
                    <label for="inputName" class="col-12 col-form-label">EMPLOYEE ID</label>
                    <div class="col-12">
                      <input type="text" class="form-control" id="username" placeholder="EMPLOYEE ID" v-model="attendace.username" autocomplete="off">
                    </div>
                </div>
	              <div class="form-group row">
                  <div class="col-12">
                    <button type="submit" class="btn btn-block btn-info" @click="timeIn">SUBMIT</button>
                  </div>
	              </div>
                <div class="form-group row">
                  <div class="col-12">
                    <qrcode-stream @decode="onDecode"></qrcode-stream>
                  </div>
                </div>
	          </div>
	          <div class="col-md-6 col-12">
	              <AttendanceLogDetails
	              ref="employeeLogs">
	              </AttendanceLogDetails>
	          </div>
	      </div>
	  </div>                    
	  <!-- end card body -->
	</div>
	<!-- card end -->
  </div>
</template>
<script>
  import { QrcodeStream } from 'vue-qrcode-reader'
  import AttendanceLogDetails from './AttendanceLogDetails.vue';
  export default {
    name: 'profile',
    data() {
        return {
          attendace: {
            lastname: '',
            username: '',
            latitude: '',
            longitude: '',
            address: ''
          }
        }
    },

    created() {
    	this.getLocation();
    },

    methods: {
      
      getLocation: function() {
        navigator.geolocation.getCurrentPosition(
          position => {
            this.attendace.latitude = position.coords.latitude
            this.attendace.longitude = position.coords.longitude
            this.getUserAddressBy(position.coords.latitude, position.coords.longitude)
          },
          error => {
            toastr.success(error.message)
          },
          {
            timeout:10000,
            enableHighAccuracy:true
          }
        )
      },

      getUserAddressBy: function(lat, long) {
        var temp = this;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var address = JSON.parse(this.responseText)

                if(address.results[1].formatted_address) {
                  temp.attendace.address = address.results[1].formatted_address
                }
                else {
                  temp.attendace.address = address.results[0].formatted_address
                }
            }
        };
        xhttp.open("GET", "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+long+"&key=AIzaSyATD3gn7Jz0faihEDwA0cR2BsX-0XJIIog", true);
        xhttp.send();
      },

      timeIn: function() {
        axios.post('/api/v1/employee/time-in', this.attendace)
        .then( response => {
          toastr.success(response.data.message)
          this.$refs.employeeLogs.fetchData(response.data.data);
          this.attendace.username = null
          this.attendace.lastname = null
        });
      },  

      onDecode (decodedString) {
        var userInfo = decodedString.split(", ");
        this.attendace.username = userInfo[0];
        if(userInfo[0]){
          this.timeIn();
        }
      }
    },
    components: {
      AttendanceLogDetails,
      QrcodeStream
    }
  };
</script>
<style lang="scss" scoped>
  input {
    text-transform: uppercase !important;
  }
</style>