<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <ProfileCard></ProfileCard>                 
          </div>
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <h2><i class="fas fa-calendar-alt"></i> <strong>Vacation Leave</strong><a type="button" class="btn btn-primary btn-sm float-right" @click="addNewRequest"><i class="fas fa-plus"></i> Add New</a></h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <Table 
                    :dataFields="dataFields"
                    :dataUrl="dataUrl"
                    :primaryKey="primaryKey"
                    :actionButtons="actionButtons"
                    v-on:editButton="editRequest"
                    ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Modal Add New / Edit Request -->
    <div class="modal fade" id="request-form" tabindex="-1" aria-labelledby="request-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewRequest" v-show="addNewButton"><i class="fas fa-calendar-alt"></i> Add New Vacation Leave</h5>
            <h5 class="modal-title" id="editRequest" v-show="saveButton"><i class="fas fa-calendar-alt"></i> Edit Vacation Leave</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Date From <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <date-picker v-model="requestFrm.date_from" placeholder="YYYY-MM-DD" :config="options" id="date_from" autocomplete="off"></date-picker>
                </div>
              </div>
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Date To <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <date-picker v-model="requestFrm.date_to" placeholder="YYYY-MM-DD" :config="options" id="date_to" autocomplete="off"></date-picker>
                </div>
              </div>
              <div class="form-group row">
                <label for="id_number" class="col-sm-4 col-form-label">Details <span class="font-italic">(required)</span></label>
                <div class="col-sm-8">
                  <textarea class="form-control" id="description" v-model="requestFrm.description" placeholder="Details" rows="3"></textarea>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeRequest">Add New Request</button>
            <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateRequest">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal Add New Employee -->
  </div>
</template>
<script>
  import Table from '../../../components/Table';
  import ProfileCard from './ProfileCard.vue';

  export default {
    name: 'VacationLeave',
    data() {
      return {
        requestFrm: {
          id: '',
          request_type: 'VL',
          date_from: '',
          date_to: '',
          description: ''
        },
        dataFields: {
          date_from_formated: "Date From", 
          date_to_formated: "Date To",
          number_of_hours: "Number of Hours",
          description: "Reasons",
          approved: {
            name: "Status", 
            type:"Boolean", 
            status: { 
              0: '<span class="badge badge-primary">Pending</span>', 
              1: '<span class="badge badge-success">Approved</span>',
              2: '<span class="badge badge-danger">Decline</span>'
            }
          },
        },
        addNewButton: true,
        saveButton: false, 
        options: {
          format: 'YYYY-MM-DD',
          useCurrent: false,
        }, 
        primaryKey: "id",
        dataUrl: "/api/v1/employee/list/vacation-leave",
        actionButtons: {
          edit: {
            title: 'Edit this record',
            name: 'Edit',
            apiUrl: '',
            routeName: 'request.edit',
            button: '<i class="fas fa-edit"></i> Edit',
            method: 'edit'
          },
          delete: {
            title: 'Delete this record',
            name: 'Delete',
            apiUrl: '/api/v1/employee/request/delete',
            routeName: '',
            button: '<i class="fas fa-trash-alt"></i> Delete',
            method: 'delete'
          },
        },
      };
    },

    methods: {
      addNewRequest: function() {
        this.requestFrm.id = null;
        this.requestFrm.date_from = null;                
        this.requestFrm.date_to = null;
        this.requestFrm.description = null;

        $('#request-form').modal('show');
      },

      editRequest: function(id) {
        axios.get('/api/v1/employee/request/'+id)
        .then(response => {
          var request = response.data.data;
          if(request.approved == 0){
            this.requestFrm.id = request.id;
            this.requestFrm.date_from = request.date_from;                
            this.requestFrm.date_to = request.date_to;
            this.requestFrm.description = request.description;
            this.addNewButton = false;
            this.saveButton = true;

            $('#request-form').modal('show');            
          }
          else {
            toastr.error('Approved / Decline Request cannot be edited.');
          }
        });
      },

      storeRequest: function() {
        console.log(this.requestFrm);
        axios.post('/api/v1/employee/request/add', this.requestFrm)
        .then( response => {
            console.log(response.data);
            toastr.success(response.data.message)
            this.$refs.dataTable.fetchData();
            $('#request-form').modal('hide');
        });          
      },

      updateRequest: function() {
        axios.post('/api/v1/employee/request/update', this.requestFrm)
        .then( response => {
            toastr.success(response.data.message)
            this.$refs.dataTable.fetchData();
            $('#request-form').modal('hide');
        });
      },

    },

    components: {
      Table,
      ProfileCard
    }
  };
</script>