<template>
  <div>
    <section class="content bg-primary text-left">
      <div class="container">
        <div class="col-12">
          <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="timein-tab" data-toggle="tab" href="#timein" role="tab" aria-controls="timein" aria-selected="true"><strong>TIME IN / OUT</strong></a>
            </li>
          </ul>
          <div class="tab-content mt-2" id="myTabContent">
            <div class="tab-pane fade show active" id="timein" role="tabpanel" aria-labelledby="timein-tab">
              <TimeIn></TimeIn>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  import TimeIn from './Employee/TimeIn.vue';
  import TimeOut from './Employee/TimeOut.vue';
  export default {
    name: 'Attendance',
    components: {
      TimeIn,
      TimeOut,
    }
  };
</script>