<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Loans &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewLoan">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Loan Management</li>
	              <li class="breadcrumb-item active">Loans</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                  v-on:editButton="editLoan"
                  ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

        <!-- Modal Add New / Edit loan -->
        <div class="modal fade" id="loan-form" tabindex="-1" aria-labelledby="loan-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addNewLoan" v-show="addNewButton">Add New Loan</h5>
                  <h5 class="modal-title" id="editLoan" v-show="saveButton">Edit Loan</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">
                    <div class="form-group row">
                      <label for="Loan TypeName" class="col-sm-4 col-form-label">Employee Name </label>
                      <div class="col-sm-8">
                        <multiselect v-model="loan.employee_id" track-by="name" label="name" placeholder="Select Employee" :options="employees" :searchable="true" :allow-empty="false">
                        </multiselect>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Loan Type </label>
                      <div class="col-sm-8">
                        <multiselect v-model="loan.loan_type_id" track-by="name" label="name" placeholder="Select Loan Type" :options="loan_types" :searchable="true" :allow-empty="false">
                        </multiselect>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Total Loan Amount</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="total_loan_amount" v-model="loan.total_loan_amount" placeholder="0.00">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Semi-Monthly Amortization</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="monthly_amortization" v-model="loan.monthly_amortization" placeholder="0.00">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Total Paid Amount</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="total_paid_amount" v-model="loan.total_paid_amount" placeholder="0.00">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Remaining Balance</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="remaining_balance" v-model="loan.remaining_balance" placeholder="0.00">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Deductions</label>
                      <div class="col-sm-4">
                        <div class="input-group">
                          <input type="text" class="form-control" id="deduction_count" v-model="loan.deduction_count" placeholder="0">
                          <span class="input-group-text"><strong>/</strong></span>
                          <input type="text" class="form-control" id="total_deductions" v-model="loan.total_deductions" placeholder="0">
                        </div>      
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Remarks</label>
                      <div class="col-sm-8">
                        <textarea type="text" class="form-control" id="total_loan_amount" v-model="loan.remarks" placeholder="Remarks"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeLoan">Add New loan</button>
                  <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateLoan">Save Changes</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Modal Add New loan -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
  import Multiselect from 'vue-multiselect'

    export default {
        name: "LoanTypes",
        data() {
            return {
              loan: {
                id: '',
                employee_id: '',
                loan_type_id: '',
                total_loan_amount: '',
                monthly_amortization: '',
                total_paid_amount: '',
                remaining_balance: '',
                deduction_count: '',
                total_deductions: '',
                remarks: '',
              },
              addNewButton: true,
              saveButton: false,
              employees: [],          
              loan_types: [],          
            	dataFields: {
            		employee_name: "Employee Name", 
                loan_type: "Loan Type", 
                monthly_amortization_formated: "Semi-Monthly Amortization", 
                total_loan_amount: "Total Loan Amount", 
                total_paid_amount: "Total Paid Amount", 
                remaining_balance: "Remaining Balance", 
                deduction_count: "Deduction Count", 
                total_deductions: "Total Deduction", 
                updated_at: "Last Update"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/loan/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this Loan Type',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'loan.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'edit'
            		},
            		delete: {
            			title: 'Delete this Loan Type',
            			name: 'Delete',
            			apiUrl: '/api/v1/loan/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},
            };
        },

        created(){
          axios.get('/api/v1/employee/all')
              .then(response => this.employees = response.data.data);

          axios.get('/api/v1/loan-type/all')
              .then(response => this.loan_types = response.data.data);
        },

        methods: {

            addNewLoan: function() {
              this.loan.id = null
              this.loan.employee_id = null
              this.loan.loan_type_id = null
              this.loan.total_loan_amount = null
              this.loan.monthly_amortization = null
              this.loan.total_paid_amount = null
              this.loan.remaining_balance = null
              this.loan.deduction_count = null
              this.loan.total_deductions = null
              this.loan.remarks = null
              this.addNewButton = true;
              this.saveButton = false;
              $('#loan-form').modal('show');
            },

            editLoan: function(id) {
                axios.get('/api/v1/loan/'+id)
                .then(response => {
                    var loan = response.data.data;
                    this.loan.id = loan.id
                    this.loan.employee_id = loan.employee_id
                    this.loan.loan_type_id = loan.loan_type_id
                    this.loan.total_loan_amount = loan.total_loan_amount
                    this.loan.monthly_amortization = loan.monthly_amortization
                    this.loan.total_paid_amount = loan.total_paid_amount
                    this.loan.remaining_balance = loan.remaining_balance
                    this.loan.deduction_count = loan.deduction_count
                    this.loan.total_deductions = loan.total_deductions
                    this.loan.remarks = loan.remarks
                    this.addNewButton = false;
                    this.saveButton = true;
                    $('#loan-form').modal('show');
                });
            },

            storeLoan: function() {
                axios.post('/api/v1/loan/store', this.loan)
                .then( response => {
                    toastr.success(response.data.message);
                    this.$refs.dataTable.fetchData();
                    $('#loan-form').modal('hide');
                });
            },

            updateLoan: function() {

                axios.put('/api/v1/loan/update', this.loan)
                .then( response => {
                    toastr.success(response.data.message);
                    this.$refs.dataTable.fetchData();
                    $('#loan-form').modal('hide');
                });
            },
        },

        components: {
        	Table,
          Multiselect
 	   }
    };
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
