<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Loan Types &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewType">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Loan Management</li>
	              <li class="breadcrumb-item active">Loan Types</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                  v-on:editButton="editType"
                  ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

        <!-- Modal Add New / Edit loan -->
        <div class="modal fade" id="loan-form" tabindex="-1" aria-labelledby="loan-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addNewLoan" v-show="addNewButton">Add New Loan Type</h5>
                  <h5 class="modal-title" id="editLoanType" v-show="saveButton">Edit Loan Type</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">
                    <div class="form-group row">
                      <label for="Loan TypeName" class="col-sm-4 col-form-label">Name <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" v-model="loan.name" placeholder="Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Description</label>
                      <div class="col-sm-8">
                        <textarea class="form-control" id="description" v-model="loan.description" placeholder="loan Description"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeType">Add New loan</button>
                  <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateType">Save Changes</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Modal Add New loan -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "LoanTypes",
        data() {
            return {
              loan: {
                  id: '',
                  name: '',
                  description: '',
              },
              addNewButton: true,
              saveButton: false,                
            	dataFields: {
            		name: "Name", 
                description: "Description", 
                created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/loan-type/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this Loan Type',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'loan.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'edit'
            		},
            		delete: {
            			title: 'Delete this Loan Type',
            			name: 'Delete',
            			apiUrl: '/api/v1/loan-type/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},
            };
        },

        methods: {

            addNewType: function() {
              this.loan.id = null;
              this.loan.name = null;
              this.loan.description = null;
              this.addNewButton = true;
              this.saveButton = false;
              $('#loan-form').modal('show');
            },

            editType: function(id) {
                axios.get('/api/v1/loan-type/'+id)
                .then(response => {
                    var loan = response.data.data;
                    this.loan.id = id;
                    this.loan.name = loan.name;
                    this.loan.description = loan.description;
                    this.addNewButton = false;
                    this.saveButton = true;
                    $('#loan-form').modal('show');
                });
            },

            storeType: function() {

                axios.post('/api/v1/loan-type/store', this.loan)
                .then( response => {
                    toastr.success(response.data.message)
                    this.$refs.dataTable.fetchData();
                    $('#loan-form').modal('hide');
                });

            },

            updateType: function() {

                axios.put('/api/v1/loan-type/update', this.loan)
                .then( response => {
                    toastr.success(response.data.message);
                    this.$refs.dataTable.fetchData();
                    $('#loan-form').modal('hide');
                });
            },
        },

        components: {
        	Table
 	   }
    };
</script>