<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Approvers &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewApprover">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Approvers</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			    <div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                  v-on:editButton="editApprover"
                  ref="dataTable">
			          	</Table>
		          	</div>
		          </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

      <!-- Modal Add New / Edit Approver -->
      <div class="modal fade" id="approver-form" tabindex="-1" aria-labelledby="approver-form" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addNewApprover" v-show="addNewButton">Add New Approver</h5>
                <h5 class="modal-title" id="editApprover" v-show="saveButton">Edit Approver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="userName" class="col-sm-4 col-form-label">Approver Name <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <div class="row mb-3">
                        <div class="col-11">
                          <multiselect v-model="approver.approver_id" track-by="name" label="name" placeholder="Select Employee" :options="employees" :searchable="true" :allow-empty="false">
                          </multiselect>    
                        </div>
                      </div>                     
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Requestor/s <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <div class="row mb-3" v-for="(requestor, index) in requestors">
                        <div class="col-11">
                          <multiselect v-model="requestor.employee" track-by="name" label="name" placeholder="Select Employee" :options="employees" :searchable="true" :allow-empty="false">
                          </multiselect>
                        </div>
                        <div class="col-1">
                          <button type="button" class="btn btn-danger" title="Delete" @click="deleteRequestor(index)"><i class="fas fa-trash-alt"></i></button>
                        </div>
                      </div>
                       <div class="row mt-3">
                          <div class="col-11">
                          <button type="button" class="btn btn-block btn-primary btn-sm" @click="addRequestor">Add Requestor <i class="icon fas fa-plus"></i></button>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeApprover">Add New Approver</button>
                <button type="button" class="btn btn-primary" v-show="saveButton" @click="storeApprover">Save Changes</button>
              </div>
            </div>
          </div>
      </div>
      <!-- End Modal Add New Designation -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
  import Multiselect from 'vue-multiselect';
    export default {
        name: "Users",
        data() {
          return {
            approver: {
                id: '',
                approver_id: '',
                requestor_ids: [],
            },
            index_id: '',
            employees: [],
            requestors: [],
            addNewButton: true,
            saveButton: false,                
          	dataFields: {
          		approver_name: "Approver Name", 
              requestors_count: "Total Requestors", 
              created_at: "Date Created"
          	},
          	primaryKey: "id",
          	dataUrl: "/api/v1/approver/list",
          	actionButtons: {
          		edit: {
          			title: 'Edit this user',
          			name: 'Edit',
          			apiUrl: '',
          			routeName: 'approver.edit',
          			button: '<i class="fas fa-edit"></i> Edit',
          			method: 'edit'
          		},
          		delete: {
          			title: 'Delete this user',
          			name: 'Delete',
          			apiUrl: '/api/v1/approver/delete',
          			routeName: '',
          			button: '<i class="fas fa-trash-alt"></i> Delete',
          			method: 'delete'
          		},
          	},
          };
      },

      created(){
        axios.get('/api/v1/employee/all')
        .then(response => this.employees = response.data.data);
      },

      methods: {

        addRequestor: function() {
          this.requestors.push({
            employee: '',
          });
        },

        addNewApprover: function() {
          this.approver.id = null;
          this.approver.approver_id = null;
          this.approver.requestor_ids = [];
          this.requestors = [];
          this.addNewButton = true;
          this.saveButton = false;
          this.addRequestor();
          $('#approver-form').modal('show');
        },

        editApprover: function(id) {
          axios.get('/api/v1/approver/'+id)
          .then(response => {
            var approver = response.data.data;
            this.approver.id = id;
            this.approver.approver_id = approver.approver_details;
            this.requestors = [];

            if(approver.requestors.length) {
              for(var index = 0; index < approver.requestors.length; index++) {
                this.requestors.push({
                  employee: approver.requestors[index].details,
                });
              }
            }else {
              this.addRequestor();
            }

            this.addNewButton = false;
            this.saveButton = true;
            $('#approver-form').modal('show');
          });
        },

        storeApprover: function() {
          this.approver.requestor_ids = this.requestors;
          axios.post('/api/v1/approver/store', this.approver)
          .then( response => {
            toastr.success(response.data.message)
            this.$refs.dataTable.fetchData();
            $('#approver-form').modal('hide');
          });
        },

        updateApprover: function() {

            axios.put('/api/v1/approver/update', this.approver)
            .then( response => {
                toastr.success(response.data.message);
                this.$refs.dataTable.fetchData();
                $('#approver-form').modal('hide');
            });
        },

        deleteRequestor: function(index){
          this.index_id = index;
          axios.put("/api/v1/approver/requestor/delete", { approver_id: this.approver.approver_id['id'], requestor: this.requestors[index].employee })
          .then(response => {
            if(response.data.status == true){
              toastr.success(response.data.message)
              this.$refs.dataTable.fetchData();
              this.removedRequestor();
            }
          });      
        },

        removedRequestor: function() {
          this.$delete(this.requestors, this.index_id);
          this.index_id = null;
        },

      },

      components: {
      	Table,
        Multiselect
 	   }
    };
</script>