<template>
  <div>
    <!-- Main content -->
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2>Purchasing Details&nbsp;
                  <router-link :to="{ name: 'canvassing' }" type="button" class="btn btn-outline-primary btn-sm">
                    <i class="fas fa-arrow-left"></i>&nbsp;Back to List</router-link>
                  <button v-show="catalog_request.status_id == 8" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#print-modal"><i class="fas fa-print"></i> Create PO</button>
                </h2>
              </div>
              <div class="card-body">
                <div class="row mb-4">
                  <table class="table table-dark">
                    <tr>
                      <td><strong>Request Number :</strong></td>
                      <td>{{ catalog_request.request_number }}</td>
                      <td><strong>Total Gross Amount :</strong></td>
                      <td><strong style="color:#dc3545;">PHP {{ catalog_request.total_price_formated }}</strong></td>
                    </tr>
                    <tr>
                      <td><label>Requestor :</label></td>
                      <td>{{ catalog_request.requestor }}</td>
                      <td><label>Status :</label></td>
                      <td><span class="badge btn-info">{{ catalog_request.status_name }}</span></td>                      
                    </tr>
                  </table>
                </div>
                <div class="row mb-4">
                    <div class="mb-5" style="width:100%;">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Item Name</th>
                            <th>Supplier</th>
                            <th>QTY</th>
                            <th>UOM</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                            <th>Remarks</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item, i_index) in catalog_request.catalog_details" v-bind:key="i_index" class="has-row-actions">
                            <td>{{ item.item_name }}
                              <div v-if="catalog_request.status_id == 2" class="row-actions" style="min-width: 150px;">
                                <a href="#" @click="editRequest(item.id)">
                                  <span><i class="fas fa-edit"></i> Edit</span>
                                </a>&nbsp;
                                <a href="#" @click="deleteModal(item.id)">
                                  <span><i class="fas fa-trash-alt"></i> Delete</span>
                                </a>
                              </div>
                            </td>
                            <td>{{ item.supplier_name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.uom }}</td>
                            <td>{{ item.unit_price }}</td>
                            <td>{{ item.total_price }}</td>
                            <td style="width: 25%;">{{ item.remarks }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <button type="button" class="btn btn-primary" v-if="catalog_request.status_id==2" @click="updateStatus(3)">Submit For Verification</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PRINT PO MODAL -->
    <div class="modal fade" id="print-modal" tabindex="-1" aria-labelledby="print-modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-cente#dc3545 modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewRequest">Suppliers</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Supplier Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="catalog_request.suppliers" v-for="(supplier, index) in catalog_request.suppliers" v-bind:key="index">
                    <td>{{ supplier.name }}</td>
                    <td>
                      <button type="button" class="btn btn-outline-primary btn-sm" @click="generatePo(supplier)"><i class="fas fa-print"></i> Create PO</button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="po-form" tabindex="-1" aria-labelledby="po-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-cente#dc3545">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewRequest">CREATE PURCHASE ORDER</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">Gross Amount</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.gross_amount" placeholder="0">
                </div>
              </div>
              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">Vatable <span class="font-italic">(required)</span></label>
                <div class="col-sm-7">
                  <select class="custom-select" v-model="vatable" @change="getTotalAmountDue">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">EWT Type <span class="font-italic">(required)</span></label>
                <div class="col-sm-7">
                  <select class="custom-select" v-model="ewt" @change="getTotalAmountDue">
                    <option value="1">Services</option>
                    <option value="2">Goods</option>
                    <option value="3">Professional</option>
                    <option value="4">Rental</option>
                    <option value="5">Others</option>
                  </select>
                </div>
              </div>
              <div v-show="ewt==5" class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">New Rate <span class="font-italic">(required)</span></label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="ewt_other" placeholder="0" v-on:keyup="getTotalAmountDue">
                </div>
              </div>
              <div v-show="vatable==1" class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">NET of VAT</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.net_amount" placeholder="0" readonly="readonly">
                </div>
              </div>
              <div v-show="vatable==1" class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">VAT Amount</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.vat_amount" placeholder="0" readonly="readonly">
                </div>
              </div>
              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">EWT Amount</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.ewt_amount" placeholder="0" readonly="readonly">
                </div>
              </div>
              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">Total Amount Due</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.total_amount_due" placeholder="0" readonly="readonly">
                </div>
              </div>
              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">Deliver To:</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.deliver_to" placeholder="Deliver To">
                </div>
              </div>
              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">Required Date:</label>
                <div class="col-sm-7">
                  <date-picker v-model="po_frm.required_date" placeholder="YYYY-MM-DD" :config="options" id="date" autocomplete="off"></date-picker>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="createPO">Create</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</template>
<script>
  import Multiselect from 'vue-multiselect';

  export default {
    name: 'requestFrm',
    data() {
      return {
        request: {
          id: '',
          status: '',
          approver_id: 2,
        },
        frm_po: {
          id: '',
          supplier_id: ''
        },
        requestEdit: {
          id: '',
          item: '',
          supplier_id: '',
          quantity: '',
          uom: '',
          unit_price: '',
          total_price: '',
          remarks: '',
        },
        vatable: 1,
        ewt: 1,
        ewt_other: 0,
        po_frm: {
          catalog_request_id: 0,
          supplier_id: 0,
          vatable: 0,
          gross_amount: 0,
          net_amount: 0,
          vat_amount: 0,
          ewt_amount: 0,
          ewt_percent: 0,
          ewt_type: '',
          total_amount_due: 0,
        },
        catalog_request: '',
        suppliers: [],
        deleteUrl: '',
        tobeDeleted: 0,
        options: {
          format: 'YYYY-MM-DD',
          useCurrent: false,
        },
      };
    },

    created() {
      this.getCatalog();

      axios.get('/api/v1/lookup/suppliers')
      .then( response => {
        this.suppliers = response.data.data;
      });
    },

    methods: {
      getCatalog: function() {
        var id = this.$route.params.id;
        this.request.id = id;
        axios.get('/api/v1/requisition/catalog/'+id)
        .then(response => {
          this.catalog_request = response.data.data;
        });
      },

      getTotalPrice: function() {
        var qty = this.requestEdit.quantity;
        var unit_price = this.requestEdit.unit_price;
        this.requestEdit.total_price = unit_price*qty;       
      },

      updateRequest: function(status) {
        axios.post('/api/v1/requisition/catalog/details/update', this.requestEdit)
        .then( response => {
          toastr.success(response.data.message)
          this.getCatalog();
          $('#edit-form').modal('hide');
        }); 
      },

      updateStatus: function(status) {
        this.request.status = status;
        axios.put('/api/v1/requisition/catalog-request/update', this.request)
        .then( response => {
          toastr.success(response.data.message);
          this.$router.push({name: 'canvassing'});
        });
      },

      editRequest: function(id) {
        axios.get('/api/v1/requisition/catalog/details/'+id)
        .then(response => {
          var request = response.data.data;
          this.requestEdit.id = request.id;
          this.requestEdit.job_order_details_id = request.job_order_details.site_name;
          this.requestEdit.item = request.item_details.item_name;
          this.requestEdit.supplier_id = request.supplier_details;
          this.requestEdit.quantity = request.quantity;
          this.requestEdit.uom = request.uom;
          this.requestEdit.unit_price = request.unit_price;
          this.requestEdit.total_price = request.total_price;
          this.requestEdit.remarks = request.remarks;
          $('#edit-form').modal('show');
        });
      },

      deleteModal: function(id) {
        this.deleteUrl = '/api/v1/requisition/catalog-request/details/delete/';
        this.tobeDeleted = id;
        $('#deleteModal').modal('show');
      },

      remove: function() {
        axios.get(this.deleteUrl+"/"+this.tobeDeleted)
        .then(response => {
            this.fetchData();
            this.deleteUrl = '';
            this.tobeDeleted = 0;
            $('#deleteModal').modal('hide');
        });
      },

      close: function() {
          this.deleteUrl = '';
          this.tobeDeleted = 0;
          $('#deleteModal').modal('hide');
      },

      getTotalAmountDue: function() {
        var ewt = 0;
        var type = '';
        if(this.ewt == 1) {
          ewt = 0.02;
          type = 'Services';          
        }
        else if(this.ewt == 2) {
          ewt = 0.01;
          type = 'Goods';
        }
        else if(this.ewt == 3) {
          ewt = 0.05;
          type = 'Professional';
        }
        else if(this.ewt == 4) {
          ewt = 0.05; 
          type = 'Rental';
        }
        else if(this.ewt == 5) {
          ewt = this.ewt_other;
          type = 'Others';      
        }

        this.po_frm.ewt_percent = ewt;
        this.po_frm.ewt_type = type;
        this.po_frm.vatable = this.vatable;

        if(this.vatable == 0) {
          this.po_frm.net_amount = 0;
          this.po_frm.vat_amount = 0;
          this.po_frm.ewt_amount = (this.po_frm.gross_amount*ewt).toFixed(2);
          this.po_frm.total_amount_due = this.po_frm.gross_amount-this.po_frm.ewt_amount;
        }
        else {
          this.po_frm.net_amount = (this.po_frm.gross_amount/1.12).toFixed(2);
          this.po_frm.vat_amount = (this.po_frm.net_amount*0.12).toFixed(2);
          this.po_frm.ewt_amount = (this.po_frm.net_amount*ewt).toFixed(2);
          this.po_frm.total_amount_due = this.po_frm.gross_amount-this.po_frm.ewt_amount;
        }
      },

      generatePo: function(supplier) {
        var id = this.$route.params.id;
        this.po_frm.catalog_request_id = id;
        this.po_frm.supplier_id = supplier.id;

        axios.put('/api/v1/requisition/supplier/gross-amount', {request_id:id, supplier_id:supplier.id })
        .then( response => {
          this.po_frm.gross_amount = response.data;
          this.getTotalAmountDue();
        });
        $('#po-form').modal('show');
      },

      createPO: function() {
        axios.post('/api/v1/requisition/purchase-order/create', this.po_frm)
        .then( response => {
          if(response.data.data.po_number) {
            location.href = '/purchase-order/'+response.data.data.po_number;
          }
        });
      },
    },

    components: {
      Multiselect
    }
  };
</script>