<template>
  <div>
    <section class="content bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header p-2">
                <h2><i class="fa fa-shopping-cart" aria-hidden="true"></i> <strong>Purchasing</strong>
                  <a type="button" class="btn btn-primary btn-sm float-right" @click="addNewRequest"><i class="fas fa-plus"></i> New Request</a>
                </h2>
              </div>
              <div class="card-body">
                <div class="post">
                  <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab" @click="filter(0)">All</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(3)">For Verification</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(4)">Verified</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(5)">Validated</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(6)">Endorsed</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(7)">Approved</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(8)">Decline</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(10)">For Cancelation</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(9)">Canceled</a></li>
                  </ul>
                  <Table 
                    :dataFields="dataFields"
                    :dataUrl="dataUrl"
                    :primaryKey="primaryKey"
                    :actionButtons="actionButtons"
                    v-on:editButton="editRequest"
                    v-on:modalGeneratePo="generatePo"
                    v-on:modalGeneratePayment="requestPayment"
                    v-on:modalCancelPo="requestCancel"
                    ref="dataTable">
                  </Table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal Add New -->
    <div class="modal fade" id="request-form" tabindex="-1" aria-labelledby="request-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewRequest">Add/Edit New Catalog</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6">
                <div class="form-group row" id="supplier">
                  <label for="supplier" class="col-4 col-form-label"><strong>SUPPLIER <span class="font-italic">(required)</span></strong></label>
                  <div class="col-sm-8">
                    <multiselect v-model="requestFrm.supplier" track-by="name" label="name" placeholder="Select Supplier" :options="suppliers" :searchable="true" :allow-empty="false">
                    </multiselect>
                  </div>
                </div>
                <div class="invalid-feedback pl-3" id="error_supplier"></div>
              </div>
              <div class="col-6">
                <div class="form-group row" id="remarks">
                  <label for="remarks" class="col-4 col-form-label"><strong>TERMS <span class="font-italic">(required)</span></strong></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="requestFrm.remarks">
                  </div>
                </div>
                <div class="invalid-feedback pl-3" id="error_remarks"></div>
              </div>
            </div>
            <div id="items">
            <table class="table table-hover">
               <tr>
                  <td>ITEM</td>
                  <td>UNIT PRICE</td>
                  <td>QTY</td>
                  <td>UOM</td>
                  <td>TOTAL PRICE</td>
                  <td></td>
                </tr>
                <tr v-for="(particular, index) in requestFrm.particulars">
                  <td width="35%">
                    <multiselect v-model="particular.item" track-by="item_name" label="item_name" placeholder="Select Item" :options="logistic_masters" :searchable="true" :allow-empty="false" @input="setUOM($event, index)">
                    </multiselect>
                  </td>
                  <td><input type="number" step=".01" class="form-control" v-model="particular.unit_price" v-on:keyup="getTotalPrice(index)"></td>
                  <td><input type="number" class="form-control" v-model="particular.quantity" v-on:keyup="getTotalPrice(index)"></td>
                  <td><input type="text" class="form-control" v-model="particular.uom" readonly="readonly"></td>
                  <td><input type="text" class="form-control" v-model="particular.total_price"></td>
                  <td style="vertical-align: middle;" v-if="condition">
                    <button type="button" class="btn btn-danger" title="Delete" @click="deleteParticular(index, particular.id)"><i class="fas fa-trash-alt"></i></button>
                  </td>
                </tr>
            </table>
            </div>
            <div class="invalid-feedback pl-3" id="error_items"></div>
            <table class="table table-hover">
              <tr>
                <td width="50%"><button type="button" class="btn btn-primary btn-sm" @click="addParticulars">+ Add</button></td>
                <td class="text-right">GRAND TOTAL PRICE : <strong>PHP {{ requestFrm.grand_total }}</strong></td>
              </tr>
            </table>
            <div id="items">
            <table class="table table-hover">
               <tr>
                  <td><strong>ATTACHMENTS</strong></td>
                  <td></td>
                </tr>
                <tr v-for="(attachments, index) in requestFrm.attachments">
                  <td><input type="text" class="form-control" v-model="attachments.file_path" placeholder="Link path / Google drive link "></td>
                  <td style="vertical-align: middle;" v-if="condition">
                    <button type="button" class="btn btn-danger" title="Delete" @click="deleteAttachement(index, attachments.id)"><i class="fas fa-trash-alt"></i></button>
                  </td>
                </tr>
            </table>
            </div>
            <table class="table table-hover">
              <tr>
                <td><button type="button" class="btn btn-primary btn-sm" @click="addAttachment">+ Add</button></td>
              </tr>
            </table>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info btn-sm" v-if="condition" @click="validateCatalog">Save</button>
            <button type="button" class="btn btn-primary btn-sm" v-if="condition" data-toggle="modal" data-target="#confirmModal">Submit for Verification</button>
          </div>
        </div>
      </div>
    </div>    
    <!-- End Modal Add New Particulars -->

    <!-- Confirm Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h5 class="modal-title" id="exampleModalLabel" style="color:#fff;">Confirm</h5>
          </div>
          <div class="modal-body mt-3">
            <h6><strong>You cannot edit this request after submitted for verification. Do you really want to submit this request?</strong></h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" @click="submitRequest">OK</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="po-form" tabindex="-1" aria-labelledby="po-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-cente#dc3545 modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewRequest">CREATE PURCHASE ORDER</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">Gross Amount</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.gross_amount" placeholder="0">
                </div>
              </div>

              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">Vatable <span class="font-italic">(required)</span></label>
                <div class="col-sm-7">
                  <select class="custom-select" v-model="vatable" @change="getTotalAmountDue">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">EWT Type <span class="font-italic">(required)</span></label>
                <div class="col-sm-7">
                  <select class="custom-select" v-model="ewt" @change="getTotalAmountDue">
                    <option value="1">Services</option>
                    <option value="2">Goods Local</option>
                    <option value="6">Goods Imported</option>
                    <option value="3">Professional</option>
                    <option value="4">Rental</option>
                    <option value="5">Others</option>
                  </select>
                </div>
              </div>

              <div v-show="ewt==6" class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">Currency <span class="font-italic">(required)</span></label>
                <div class="col-sm-7">
                  <select class="custom-select" v-model="po_frm.currency">
                    <option value="PESO">&#8369; PESO</option>
                    <option value="DOLLAR">&dollar; DOLLAR</option>
                  </select>
                </div>
              </div>

              <div v-show="ewt==1" class="form-group row">
                <label for="id_number" class="col-sm-5 col-form-label">Client <span class="font-italic">(required)</span></label>
                <div class="col-sm-7" id="client_id">
                  <multiselect v-model="po_frm.client_id" track-by="client_name" label="client_name" placeholder="Select Client" :options="clients" :searchable="true" :allow-empty="false" @select="getJobOrder">
                  </multiselect>
                  <div class="invalid-feedback" id="error_client_id"></div>
                </div>
              </div>

              <div v-show="ewt==1" class="form-group row">
                <label for="id_number" class="col-sm-5 col-form-label">Order Number / PO Number <span class="font-italic">(required)</span></label>
                <div class="col-sm-7" id="job_order_id">
                  <multiselect v-model="po_frm.job_order_id" track-by="po_order_number" label="po_order_number" placeholder="Select Order / PO Number" :options="job_orders" :searchable="true" :allow-empty="false" @select="getSiteList">
                  </multiselect>
                  <div class="invalid-feedback" id="error_job_order_id"></div>
                </div>
              </div>

              <div v-show="ewt==1" class="form-group row">
                <label for="id_number" class="col-sm-5 col-form-label">Site Name <span class="font-italic">(required)</span></label>
                <div class="col-sm-7" id="job_order_details_id">
                  <multiselect v-model="po_frm.job_order_details_id" track-by="site_name" label="site_name" placeholder="Select Client" :options="job_order_details" :searchable="true" :allow-empty="false">
                  </multiselect>
                  <div class="invalid-feedback" id="error_job_order_details_id"></div>
                </div>
              </div>

              <div v-show="ewt==6" class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">Shipping & Special Discount Rate</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.discount_rate" placeholder="Percent in decimal" v-on:keyup="getTotalAmountDue">
                </div>
              </div>

              <div v-show="ewt==5" class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">New Rate <span class="font-italic">(required)</span></label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="ewt_other" placeholder="0" v-on:keyup="getTotalAmountDue">
                </div>
              </div>

              <div v-show="vatable==1" class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">NET of VAT</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.net_amount" placeholder="0" readonly="readonly">
                </div>
              </div>

              <div v-show="vatable==1" class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">VAT Amount</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.vat_amount" placeholder="0" readonly="readonly">
                </div>
              </div>

              <div v-if="ewt!=6" class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">EWT Amount</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.ewt_amount" placeholder="0" readonly="readonly">
                </div>
              </div>

              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">Discount Amount</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.discount_amount" placeholder="0" readonly="readonly">
                </div>
              </div>
              
              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">Total Amount Due</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.total_amount_due" placeholder="0" readonly="readonly">
                </div>
              </div>

              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">Deliver To:</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" v-model="po_frm.deliver_to" placeholder="Deliver To">
                </div>
              </div>

              <div class="form-group row">
                <label for="category_id" class="col-sm-5 col-form-label">Required Date:</label>
                <div class="col-sm-7">
                  <date-picker v-model="po_frm.required_date" placeholder="YYYY-MM-DD" :config="options" id="date" autocomplete="off"></date-picker>
                </div>
              </div>

              <div class="form-group row">
                <label for="team_lead" class="col-sm-5 col-form-label">Particulars / Sites:</label>
                <div class="col-sm-7">
                  <textarea class="form-control" id="remarks" v-model="po_frm.remarks" placeholder="Particulars" style="height: 10rem;"></textarea>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="createPO">Create</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="requestPaymentModal" tabindex="-1" aria-labelledby="requestPaymentModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h5 class="modal-title" id="exampleModalLabel" style="color:#fff;">Request for Payment</h5>
          </div>
          <div class="modal-body mt-3">
            <div class="form-group row">
              <label for="payment_terms" class="col-sm-12 col-form-label">Payment Terms:</label>
              <div class="col-sm-12">
                <multiselect v-model="requestFrm.payment_terms" placeholder="Select Payment Terms" track-by="label" label="label" :options="payment_terms_list" :searchable="true" :allow-empty="false" @select="setRemarks">
                </multiselect>
              </div>
            </div>
            <div class="form-group row">
              <label for="payment_terms" class="col-sm-12 col-form-label">Payment Type:</label>
              <div class="col-sm-12">
                <select class="custom-select" v-model="requestFrm.release_type">
                  <option value="">Select Payment Type</option>
                  <option value="Checked">Checked</option>
                  <option value="Credit Card">Credit Card</option>
                  <option value="Bank Transfer">Bank Transfer</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="payment_terms" class="col-sm-12 col-form-label">Remarks:</label>
              <div class="col-sm-12">
                <textarea class="form-control" id="remarks" v-model="requestFrm.remarks" placeholder="Remarks" style="height: 10rem;"></textarea>
              </div>
            </div>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" @click="generatePayment">Request Payment</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Cancel Modal -->
    <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title" id="exampleModalLabel">Cancelation Request</h5>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="id_number" class="col-sm-4 col-form-label">Remarks <span class="font-italic">(required)</span></label>
              <div class="col-sm-8">
                <textarea class="form-control" v-model="requestFrm.remarks"></textarea>
              </div>
            </div> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" @click="updateRequest(10)">OK</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</template>

<script>
  import Table from '../../../components/Table';
  import Multiselect from 'vue-multiselect';

  export default {
    name: 'requestFrm',
    data() {
      return {
        dataFields: {
          request_number: "Request Number", 
          po_number: "PO Number", 
          requestor: "Requestor",
          supplier_name: "Supplier Name",
          total_price_formated: "Total Cost",
          remarks: "Remarks",
          status_id: {
            name: "Request Status", 
            type:"Boolean", 
            status: { 
              1: '<span class="badge btn-secondary">Draft</span>', 
              2: '<span class="badge badge-success">For Canvassing</span>',
              3: '<span class="badge badge-warning text-dark">For Verification</span>',
              4: '<span class="badge badge-primary">Verified</span>',
              5: '<span class="badge badge-primary">For Endorsement</span>',
              6: '<span class="badge badge-primary">Endorsed</span>',
              7: '<span class="badge badge-success">Approved</span>',
              8: '<span class="badge badge-danger">Decline</span>',
              9: '<span class="badge badge-danger">Canceled</span>',
              10: '<span class="badge badge-danger">For Cancelation</span>',
            },
          },
          payment_status: {
            name: "Payment Status", 
            type:"Boolean", 
            status: { 
              0: '', 
              1: '<span class="badge btn-secondary">Draft</span>', 
              2: '<span class="badge badge-success">For Canvassing</span>',
              3: '<span class="badge badge-warning text-dark">For Verification</span>',
              4: '<span class="badge badge-primary">Verified</span>',
              5: '<span class="badge badge-primary">For Endorsement</span>',
              6: '<span class="badge badge-primary">Endorsed</span>',
              7: '<span class="badge badge-success">Approved</span>',
              8: '<span class="badge badge-danger">Decline</span>',
              9: '<span class="badge badge-danger">Canceled</span>',
              10: '<span class="badge badge-danger">For Cancelation</span>',
            },
          },
          updated_at: "Updated Date"
        },
        primaryKey: "id",
        dataUrl: "/api/v1/requisition/catalog/list",
        actionButtons: {
          edit: {
            title: 'Edit this record',
            name: 'Edit',
            apiUrl: '',
            routeName: 'requisition.edit',
            button: '<i class="fas fa-edit"></i> Edit',
            method: 'view'
          },
          delete: {
            title: 'Delete this record',
            name: 'Delete',
            apiUrl: '/api/v1/requisition/catalog/delete',
            routeName: '',
            button: '<i class="fas fa-trash-alt"></i> Delete',
            method: 'delete'
          },
          view: {
            title: 'Generate PO',
            name: 'Generate PO',
            apiUrl: '',
            routeName: '',
            button: '<i class="fas fa-file-invoice"></i> Generate PO',
            method: 'view',
            v_on: 'modalGeneratePo',
          },
          payment: {
            title: 'Generate Payment',
            name: 'Generate Payment',
            apiUrl: '',
            routeName: '',
            button: '<i class="fas fa-file-invoice"></i> Request for Payment',
            method: 'view',
            v_on: 'modalGeneratePayment',
          },
          cancel: {
            title: 'Cancel PO',
            name: 'Cancel PO',
            apiUrl: '',
            routeName: '',
            button: '<i class="fa-solid fa-file-slash"></i> Cancel PO',
            method: 'view',
            v_on: 'modalCancelPo',
          },
        },
        requestFrm: {
          id: '',
          grand_total: 0,
          status_id: '',
          supplier: '',
          remarks: '',
          particulars: [],
          attachments: [],
          payment_terms: '',
          release_type: '',
          po_number: '',
        },
        logistic_masters: [],
        payment_terms_list: [],
        suppliers: [],
        vatable: 1,
        ewt: 1,
        ewt_other: 0,        
        po_frm: {
          catalog_request_id: 0,
          supplier_id: 0,
          gross_amount: 0,
          vatable: 0,
          net_amount: 0,
          vat_amount: 0,
          ewt_amount: 0,
          ewt_percent: 0,
          discount_rate: 0,
          discount_amount: 0,
          ewt_type: '',
          total_amount_due: 0,
          client_id: 0,                    
          job_order_id: 0,
          job_order_details_id: 0,
          currency: 'PESO',
          remarks: '',
        },
        options: {
          format: 'YYYY-MM-DD',
          useCurrent: false,
        },
        error_message: '',
        payment_data: '',
        clients: [],
        job_orders: [],
        job_order_details: [],
      };
    },

    created() {

      axios.get('/api/v1/lookup/clients')
      .then( response => {
        this.clients = response.data.data;
      });

      this.getLookUp();

      for (var i = 5; i <= 100; i += 5) {
        this.payment_terms_list.push({
          id: i,
          label: i+'%'
         });
        }
    },

    computed: {
      condition() {
        if(this.requestFrm.status_id == '') {
          return true;
        }
        else if (this.requestFrm.status_id == '1') {
          return true;
        }
        else if (this.requestFrm.status_id == '2') {
          return true;
        }
        return false;
      }
    },

    methods: {
      getLookUp: function() {
        axios.get('/api/v1/lookup/logistics')
        .then( response => {
          this.logistic_masters = response.data.data;
        });

        axios.get('/api/v1/lookup/suppliers')
        .then( response => {
          this.suppliers = response.data.data;
        });        
      },

      getJobOrder: function(client) {
        this.po_frm.job_order_id = '';
        this.job_orders = [];

        axios.put('/api/v1/lookup/job-orders', { client_id : client.id })
        .then( response => {
          this.job_orders = response.data.data;
        });
      },

      setRemarks: function(terms) {
        this.requestFrm.remarks = terms.label + " Payment";
      },

      getSiteList: function(job_order) {
        axios.put('/api/v1/lookup/site-list', { job_order_id: job_order.id })
        .then( response => {
          this.job_order_details = response.data.data;
        });
      },

      addParticulars: function() {        
        this.requestFrm.particulars.push({
          id: '',
          item: '',
          unit_price: '',
          quantity: '',
          uom: '',
          total_price: '',
        });
      },

      addAttachment: function() {        
        this.requestFrm.attachments.push({
          id: '',
          file_path: ''
        });
      },

      setUOM: function(item, index) {
        this.requestFrm.particulars[index].uom = item.unit_of_measurement;
      },

      addNewRequest: function() {
        this.requestFrm.id = '';
        this.requestFrm.grand_total = 0;
        this.requestFrm.status_id = '';
        this.requestFrm.supplier = '';
        this.requestFrm.remarks = '';
        this.requestFrm.particulars = [];
        this.requestFrm.attachments = [];
        this.addParticulars();
        this.addAttachment();
        $('#request-form').modal('show');
      },

      getTotalPrice: function(index) {
        var unit_price = this.requestFrm.particulars[index].unit_price;
        var qty = this.requestFrm.particulars[index].quantity;
        var total_price = parseFloat(unit_price)*qty;

        this.requestFrm.particulars[index].total_price = this.roundToTwo(total_price);
        this.computeTotals();
      },

      roundToTwo: function(num) {    
          return +(Math.round(num + "e+2")  + "e-2");
      },

      computeTotals: function() {
        var totals = 0;
        for (var i = 0; i <= this.requestFrm.particulars.length; i++) {
          if(this.requestFrm.particulars[i]) {
            totals = totals+parseFloat(this.requestFrm.particulars[i].total_price);
          }
        }
        this.requestFrm.grand_total = totals;
      },

      editRequest: function(request) {   
        this.requestFrm.id = request.id;
        this.requestFrm.status_id = request.status_id;
        this.requestFrm.grand_total = parseFloat(request.total_price);
        this.requestFrm.supplier = request.supplier_details;
        this.requestFrm.remarks = request.remarks;
        this.requestFrm.particulars = [];
        this.requestFrm.attachments = [];

        for (let i = 0; i < request.catalog_details.length; i++) {
          let catalog = request.catalog_details[i];

          this.requestFrm.particulars.push({
            id: catalog.id,
            item: catalog.item_details,
            unit_price: catalog.unit_price,
            quantity: catalog.quantity,
            uom: catalog.uom,
            total_price: catalog.total_price,
          });
        }

        for (let i = 0; i < request.attachments.length; i++) {
          let attachment = request.attachments[i];

          this.requestFrm.attachments.push({
            id: attachment.id,
            file_path: attachment.file_path
          });
        }

        $('#request-form').modal('show');
      },

      validateCatalog: function() {
        if(this.requestFrm.supplier
            && this.requestFrm.remarks
            && this.requestFrm.particulars[0].item) 
        {
            this.storeRequest();
        }

        if(!this.requestFrm.supplier) {
            $("#supplier").addClass("is-invalid");
            $("#error_supplier").html("Please select supplier.");
        }
        else {
            $("#supplier").removeClass("is-invalid");
            $("#error_supplier").html("");
        }

        if(!this.requestFrm.remarks) {
            $("#remarks").addClass("is-invalid");
            $("#error_remarks").html("Remarks is required.");
        }
        else {
            $("#remarks").removeClass("is-invalid");
            $("#error_remarks").html("");
        }

        if(!this.requestFrm.particulars[0].item) {
            $("#items").addClass("is-invalid");
            $("#error_items").html("Particulars are empty.");
        }
        else {
            $("#items").removeClass("is-invalid");
            $("#error_items").html("");
        }
      },

      storeRequest: function() {
        if(this.requestFrm.id) {
          axios.put('/api/v1/requisition/catalog/update', this.requestFrm)
          .then( response => {
              toastr.success(response.data.message)
              this.$refs.dataTable.fetchData();
              $('#request-form').modal('hide');
          });
        }
        else {
          axios.post('/api/v1/requisition/catalog/add', this.requestFrm)
          .then( response => {
              toastr.success(response.data.message);
              this.requestFrm.id = response.data.data.id; 
              this.$refs.dataTable.fetchData();
          });                    
        }
      },

      submitRequest: function() {
        axios.put('/api/v1/requisition/catalog/update-status', this.requestFrm)
        .then( response => {
          toastr.success(response.data.message)
          this.$refs.dataTable.fetchData();
          $('#confirmModal').modal('hide');
          $('#request-form').modal('hide');
        });            
      },

      deleteParticular: function(index, id) {
        if(id) {
          if(confirm("Do you really want to delete?")) { 
             axios.get('/api/v1/requisition/catalog/details/delete/'+id)
            .then(response => {
                this.$delete(this.requestFrm.particulars, index);
                this.computeTotals();
            });
          }        
        }
        else {
          this.$delete(this.requestFrm.particulars, index);
          this.computeTotals();
        }
      },

      deleteAttachement: function(index, id) {
        if(id) {
          if(confirm("Do you really want to delete?")) { 
             axios.get('/api/v1/requisition/catalog/details/delete-attachment/'+id)
            .then(response => {
                this.$delete(this.requestFrm.attachments, index);
            });
          }        
        }
        else {
          this.$delete(this.requestFrm.attachments, index);
        }
      },

      getTotalAmountDue: function() {
        var ewt = 0;
        var type = '';
        if(this.ewt == 1) {
          ewt = 0.02;
          type = 'Services';          
        }
        else if(this.ewt == 2) {
          ewt = 0.01;
          type = 'Goods Local';
        }
        else if(this.ewt == 3) {
          ewt = 0.05;
          type = 'Professional';
        }
        else if(this.ewt == 4) {
          ewt = 0.05; 
          type = 'Rental';
        }
        else if(this.ewt == 5) {
          ewt = this.ewt_other;
          type = 'Others';      
        }
        else if(this.ewt == 6) {
          type = 'Goods Imported';      
        }

        this.po_frm.ewt_percent = ewt;
        this.po_frm.ewt_type = type;
        this.po_frm.vatable = this.vatable;

        if(this.vatable == 0) {
          this.po_frm.net_amount = 0;
          this.po_frm.vat_amount = 0;
          //this.po_frm.discount_rate = 0;

          this.po_frm.discount_amount = (this.po_frm.gross_amount*this.po_frm.discount_rate).toFixed(2);
          this.po_frm.ewt_amount = (this.po_frm.gross_amount*ewt).toFixed(2);
          if(this.po_frm.discount_amount) {
            this.po_frm.total_amount_due = (this.po_frm.gross_amount-this.po_frm.discount_amount).toFixed(2);
          }
          else {
            this.po_frm.total_amount_due = (this.po_frm.gross_amount-this.po_frm.ewt_amount).toFixed(2);
          }
        }
        else {
          this.po_frm.net_amount = (this.po_frm.gross_amount/1.12).toFixed(2);
          this.po_frm.vat_amount = (this.po_frm.net_amount*0.12).toFixed(2);
          this.po_frm.ewt_amount = (this.po_frm.net_amount*ewt).toFixed(2);
          this.po_frm.total_amount_due = (this.po_frm.gross_amount-this.po_frm.ewt_amount).toFixed(2);
        }
      },

      generatePo: function(data) {
        if(data.po_number) {
          window.open(
            '/purchase-order/'+data.po_number,
            '_blank' // <- This is what makes it open in a new window.
          );
          return false;
        }

        if(data.status_id != 7) {
          toastr.error("You can't generate PO that are not Approved.");
        }
        else {
          this.po_frm.catalog_request_id = data.id;
          this.po_frm.supplier_id = data.supplier_id;
          this.po_frm.gross_amount = data.total_price;

          this.getTotalAmountDue();
          $('#po-form').modal('show');
        }
      },

      createPO: function() {
        axios.post('/api/v1/requisition/purchase-order/create', this.po_frm)
        .then( response => {
          if(response.data.data.po_number) {
            window.open(
              '/purchase-order/'+response.data.data.po_number,
              '_blank' // <- This is what makes it open in a new window.
            );
            location.reload();
          }
        });
      },

      generatePayment: function() {
          if(this.requestFrm.po_number) {
            axios.put('/api/v1/requisition/catalog/request-payment', this.requestFrm)
            .then( response => {
              toastr.success(response.data.message)
              this.$refs.dataTable.fetchData();
              $('#requestPaymentModal').modal('hide');
            });
          }
          else {
            toastr.error("PO Number doesn't exist, Please generate PO first.");
          }
      },

      requestPayment: function(data) {
        this.requestFrm.id = data.id;
        this.requestFrm.po_number = data.po_number;
        this.requestFrm.status_id = data.status_id;
        this.requestFrm.grand_total = parseFloat(data.total_price);
        this.requestFrm.supplier = data.supplier_details;
        this.requestFrm.remarks = '';
        this.requestFrm.payment_terms = '';
        this.requestFrm.release_type = '';
        $('#requestPaymentModal').modal('show');
      },

      requestCancel: function(data) {
        this.requestFrm.id = data.id;
        $('#cancelModal').modal('show');
      },

      updateRequest: function(status) {
        this.requestFrm.status = status;

        axios.put('/api/v1/requisition/catalog-request/update', this.requestFrm)
        .then( response => {
            toastr.success(response.data.message);
            this.requestFrm.remarks = '';
            this.$refs.dataTable.fetchData();
            $('#cancelModal').modal('hide');
        });
      },

      filter: function(id) {
        this.$refs.dataTable.filters = id;
        this.$refs.dataTable.fetchData();
      },

    },

    components: {
      Table,
      Multiselect
    }
  };
</script>
<style lang="scss" scoped>
    .is-invalid {
      border: solid 1px red;
      border-radius: 7px;
      margin: 0;
    }
</style>