<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Departments &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewDepartment">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Employees Management</li>
	              <li class="breadcrumb-item active">Departments</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                        v-on:editButton="editDepartment"
                        ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

        <!-- Modal Add New / Edit department -->
        <div class="modal fade" id="department-form" tabindex="-1" aria-labelledby="department-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addNewDepartment" v-show="addNewButton">Add New Department</h5>
                  <h5 class="modal-title" id="editDepartment" v-show="saveButton">Edit Department</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">
                    <div class="form-group row">
                      <label for="userName" class="col-sm-4 col-form-label">Department Name <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" v-model="department.name" placeholder="department Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Description</label>
                      <div class="col-sm-8">
                        <textarea class="form-control" id="description" v-model="department.description" placeholder="department Description"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeDepartment">Add New Department</button>
                  <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateDepartment">Save Changes</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Modal Add New department -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "Users",
        data() {
            return {
                department: {
                    id: '',
                    name: '',
                    description: '',
                },
                addNewButton: true,
                saveButton: false,                
            	dataFields: {
            		name: "Department Name", 
                    description: "Description", 
                    created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/department/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this user',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'department.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'edit'
            		},
            		delete: {
            			title: 'Delete this user',
            			name: 'Delete',
            			apiUrl: '/api/v1/department/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},
            };
        },

        created(){

        },

        methods: {

            addNewDepartment: function() {
              this.department.id = null;
              this.department.name = null;
              this.department.slug_name = null;
              this.department.description = null;
              this.addNewButton = true;
              this.saveButton = false;
              $('#department-form').modal('show');
            },

            editDepartment: function(id) {
                axios.get('/api/v1/department/'+id)
                .then(response => {
                    var department = response.data.data;
                    this.department.id = id;
                    this.department.name = department.name;
                    this.department.description = department.description;
                    this.addNewButton = false;
                    this.saveButton = true;
                    $('#department-form').modal('show');
                });
            },

            storeDepartment: function() {

                axios.post('/api/v1/department/store', this.department)
                .then( response => {
                    toastr.success(response.data.message)
                    this.$refs.dataTable.fetchData();
                    $('#department-form').modal('hide');
                });

            },

            updateDepartment: function() {

                axios.put('/api/v1/department/update', this.department)
                .then( response => {
                    toastr.success(response.data.message);
                    this.$refs.dataTable.fetchData();
                    $('#department-form').modal('hide');
                });
            },

        },

        components: {
        	Table
 	   }
    };
</script>