<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1 class="d-inline">User Roles&nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewRole">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
	              <li class="breadcrumb-item active">User Roles</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                        v-on:editButton="editRole"
                        ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

        <!-- Modal Add New / Edit Role -->
        <div class="modal fade" id="role-form" tabindex="-1" aria-labelledby="role-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addNewRole" v-show="addNewButton">Add New Role</h5>
                  <h5 class="modal-title" id="editRole" v-show="saveButton">Edit Role</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">
                    <div class="form-group row">
                      <label for="userName" class="col-sm-4 col-form-label">Role <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" v-model="role.name" placeholder="Role name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Description<span class="font-italic"> (required)</span></label>
                      <div class="col-sm-8">
                        <textarea class="form-control" id="description" v-model="role.description" placeholder="Role Description"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeRole">Add New Role</button>
                  <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateRole">Save Changes</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Modal Add New Role -->

	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "Users",
        data() {
            return {
                role: {
                    id: '',
                    name: '',
                    description: '',
                    isActive: false
                },
                addNewButton: true,
                saveButton: false,
            	dataFields: {
            		name: "Roles", 
            		description: "Description", 
            		active: {
            			name: "Status", 
            			type:"Boolean", 
            			status: { 
            				0: '<span class="badge badge-danger">Deactivated</span>', 
            				1: '<span class="badge badge-info">Active</span>'
            			}
            		},
                    created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/role/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this role',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'role.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'edit'
            		},
            		delete: {
            			title: 'Delete this role',
            			name: 'Delete',
            			apiUrl: '/api/v1/role/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            		permissions: {
            			title: 'Grant Permissions',
            			name: 'Permissions',
            			apiUrl: '',
            			routeName: 'grant.permissions',
            			button: '<i class="fas fa-tasks"></i> Grant Permissions',
            			method: 'link'
            		}         	
            	}
            }
        },

        methods: {

            addNewRole: function() {
              this.role.id = null;
              this.role.name = null;
              this.role.description = null;
              this.addNewButton = true;
              this.saveButton = false;
              $('#role-form').modal('show');
            },

            editRole: function(id) {
                axios.get('/api/v1/role/'+id)
                .then(response => {
                    var role = response.data.data;
                    this.role.id = id;
                    this.role.name = role.name;
                    this.role.description = role.description;
                    this.role.isActive = role.active;
                    this.addNewButton = false;
                    this.saveButton = true;
                    $('#role-form').modal('show');
                });
            },

            storeRole: function() {
                axios.post('/api/v1/role/create', this.role)
                    .then(response => {
                        toastr.success(response.data.message)
                        $('#role-form').modal('hide');
                        this.$router.push({name: 'grant.permissions', params: { id: response.data.data.id}});
                    })
            },

            updateRole: function() {
                axios.put('/api/v1/role/update', this.role)
                    .then(response => {
                        toastr.success(response.data.message)
                        this.$refs.dataTable.fetchData();
                        $('#role-form').modal('hide');
                    })
            }

        },

        components: {
        	Table
 	   }
    };
</script>