<template>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container-fluid">
            <router-link :to="{ name: 'employee-home' }" class="navbar-brand"><img :src="logo" alt="FABRIQUEM"></router-link>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" v-show="!user.name">
                        <router-link :to="{ name: 'employee-login' }" class="nav-link"><i class="fas fa-sign-in-alt"></i> Login</router-link>
                    </li>
                    <li class="nav-item dropdown mr-2" v-show="user.id_number != '80054' && user.id_number">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> {{ user.name }} <span class="badge bg-danger">{{ user.notification_count }}</span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <router-link v-show="user.category=='Manager'" :to="{ name: 'notifications' }" class="dropdown-item">
                                Notifications <span class="badge bg-danger">{{ user.notification_count }}</span>
                            </router-link>
                            <router-link v-show="user.is_finance || user.id_number == '80259' || user.id_number == '80241'" :to="{ name: 'notifications' }" class="dropdown-item">
                                Notifications <span class="badge bg-danger">{{ user.notification_count }}</span>
                            </router-link>                         
                            <router-link :to="{ name: 'portal' }" class="dropdown-item">Attendance History</router-link>
                            <router-link :to="{ name: 'profile' }" class="dropdown-item">Profile</router-link>
                            <router-link :to="{ name: 'overTime' }" class="dropdown-item">Over Time</router-link>
                            <router-link :to="{ name: 'officialBussiness' }" class="dropdown-item">Official Business</router-link>
                            <router-link :to="{ name: 'vacationLeave' }" class="dropdown-item">Vacation Leave</router-link>
                            <router-link :to="{ name: 'sickLeave' }" class="dropdown-item">Sick Leave</router-link>
                            <router-link :to="{ name: 'otherLeave' }" class="dropdown-item">Other Leave</router-link>
                            <router-link :to="{ name: 'loans' }" class="dropdown-item">Loans</router-link>
                            <router-link :to="{ name: 'payslip' }" class="dropdown-item">Payslip</router-link>
                            <router-link :to="{ name: 'non-catalog-request' }" class="dropdown-item">Non-Catalog</router-link>
                            <router-link v-show="user.id_number == '80223' || user.id_number == '80223'" :to="{ name: 'request-catalog' }" class="dropdown-item">Catalog Request</router-link>
                            <router-link v-show="user.id_number == '80223' || user.id_number == '80223'" :to="{ name: 'request-payment' }" class="dropdown-item">Payment Request</router-link>
                            <router-link :to="{ name: 'time-keeping' }" v-show="user.category=='Manager'" class="dropdown-item">
                                Employee Time Keeping
                            </router-link>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-2" v-show="user.id_number == '80054'">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> {{ user.name }} <span class="badge bg-danger">{{ user.notification_count }}</span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <router-link :to="{ name: 'request-catalog' }" class="dropdown-item">Catalog Request</router-link>
                            <router-link :to="{ name: 'request-payment' }" class="dropdown-item">Payment Request</router-link>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-2" v-show="user.is_iocc">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarInventoryLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-clipboard-list"></i> IOCC</a>
                        <div class="dropdown-menu" aria-labelledby="navbarInventoryLink">
                            <router-link :to="{ name: 'iocc-dashboard' }" class="nav-link"> Dashboard</router-link>
                            <router-link :to="{ name: 'iocc' }" class="nav-link"> Tickets</router-link>
                            <router-link :to="{ name: 'iocc-teams' }" class="nav-link"> Teams</router-link>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-2" v-show="user.is_purchasing">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarInventoryLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-boxes"></i> Inventory</a>
                        <div class="dropdown-menu" aria-labelledby="navbarInventoryLink">
                            <router-link :to="{ name: 'inv-categories' }" class="nav-link"> Categories</router-link>
                            <router-link :to="{ name: 'inventory' }" class="nav-link"> Logistic Master</router-link>
                            <router-link :to="{ name: 'suplliers' }" class="nav-link"> Suppliers</router-link>
                            <router-link :to="{ name: 'inbound' }" class="nav-link"> Inbound</router-link>
                            <router-link :to="{ name: 'outbound' }" class="nav-link"> Outbound</router-link>
                        </div>
                    </li>
                    <li class="nav-item" v-show="user.is_purchasing" >
                        <router-link :to="{ name: 'purchasing' }" class="nav-link"> Purchasing</router-link>
                    </li>
                    <li class="nav-item" v-show="user.is_purchasing" >
                        <router-link :to="{ name: 'warehouse-dashboard' }" class="nav-link"> Warehouse Dashboard</router-link>
                    </li>
                    <li class="nav-item" v-if="user.id_number == 80223 || user.id_number == 80223">
                        <router-link :to="{ name: 'collections' }" class="nav-link"> Collections</router-link>
                    </li>
                    <li class="nav-item" v-show="user.name">
                        <a href="#" class="nav-link" @click.prevent="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
    export default {
        name: 'nav-header',
        data() {
          return {
            user: {
                name: '',
                id_number: '',
                category: '',
                designation: '',
                notification_count: 0,
            },
            logo: window.location.origin +'/img/7a5c3c_968939db3a904c9db19ed94ef7aaa15b_mv2.webp',
          }
        },

        created() {
            this.getDetails();
        },

        methods: {

            getDetails() {
                axios.get('/api/v1/employee/details')
                .then( response => {
                    this.user.id_number = response.data.data.id_number;
                    this.user.name = response.data.data.name;
                    this.user.category = response.data.data.category;
                    this.user.designation = response.data.data.designation;
                    this.user.notification_count = response.data.data.notification_count;
                    this.user.is_purchasing = response.data.data.is_purchasing;
                    this.user.is_iocc = response.data.data.is_iocc;
                    this.user.is_finance = response.data.data.is_finance;
                });
            },

            // purchasingUsers() {
            //     if(this.user.id_number == '80097' || this.user.id_number == '80201' || this.user.id_number == '80199') {
            //         return true;
            //     }
            //     return false;
            // },

            // ioccUsers() {
            //     if(this.user.id_number == '80012' || this.user.id_number == '80147' || this.user.id_number == '80097' || this.user.id_number == '80148' || this.user.id_number == '80132' || this.user.id_number == '80213' || this.user.id_number == '80208' || this.user.id_number == '80028' || this.user.id_number == '80048') {
            //         return true;
            //     }
            //     return false;
            // },

            logout() {
              this.$store.commit('logout');
              this.$router.push('/employee/login');
              location.reload();
            }            
        },

    };
</script>