<template>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <router-link :to="{ name: 'team-portal' }" class="navbar-brand"><img :src="logo" alt="FABRIQUEM"></router-link>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" v-show="user.name">
                        <a href="#" class="nav-link" @click.prevent="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
    export default {
        name: 'nav-header',
        data() {
          return {
            user: {
                name: '',
                notification_count: 0,
            },
            logo: window.location.origin +'/img/7a5c3c_968939db3a904c9db19ed94ef7aaa15b_mv2.webp',
          }
        },

        created() {
            this.getDetails();
        },

        methods: {
            getDetails() {
                axios.get('/api/v1/team/details')
                .then( response => {
                    console.log(response.data);
                    this.user.name = response.data.data.name
                    this.user.notification_count = response.data.data.notification_count
                });
            },

            logout() {
              this.$store.commit('logout');
              this.$router.push('/team/login');
              location.reload();
            }            
        },

    };
</script>