<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Designations &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewDesignation">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Employees Management</li>
	              <li class="breadcrumb-item active">Designations</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                  v-on:editButton="editDesignation"
                  ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

        <!-- Modal Add New / Edit Designation -->
        <div class="modal fade" id="designation-form" tabindex="-1" aria-labelledby="designation-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addNewDesignation" v-show="addNewButton">Add New Designation</h5>
                  <h5 class="modal-title" id="editDesignation" v-show="saveButton">Edit Designation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">
                    <div class="form-group row">
                      <label for="userName" class="col-sm-4 col-form-label">Designation Name <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" v-model="designation.name" placeholder="Designation Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Description</label>
                      <div class="col-sm-8">
                        <textarea class="form-control" id="description" v-model="designation.description" placeholder="Designation Description"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeDesignation">Add New Designation</button>
                  <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateDesignation">Save Changes</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Modal Add New Designation -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "Users",
        data() {
            return {
                designation: {
                    id: '',
                    name: '',
                    description: '',
                },
                categories: [],
                addNewButton: true,
                saveButton: false,                
            	dataFields: {
            		name: "Designation Name", 
                description: "Description", 
                created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/designation/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this user',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'designation.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'edit'
            		},
            		delete: {
            			title: 'Delete this user',
            			name: 'Delete',
            			apiUrl: '/api/v1/designation/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},
            };
        },

        created(){

        },

        methods: {

            addNewDesignation: function() {
              this.designation.id = null;
              this.designation.name = null;
              this.designation.slug_name = null;
              this.designation.description = null;
              this.addNewButton = true;
              this.saveButton = false;
              $('#designation-form').modal('show');
            },

            editDesignation: function(id) {
                axios.get('/api/v1/designation/'+id)
                .then(response => {
                    var designation = response.data.data;
                    this.designation.id = id;
                    this.designation.name = designation.name;
                    this.designation.description = designation.description;
                    this.addNewButton = false;
                    this.saveButton = true;
                    $('#designation-form').modal('show');
                });
            },

            storeDesignation: function() {

                axios.post('/api/v1/designation/store', this.designation)
                .then( response => {
                    toastr.success(response.data.message)
                    this.$refs.dataTable.fetchData();
                    $('#designation-form').modal('hide');
                });

            },

            updateDesignation: function() {

                axios.put('/api/v1/designation/update', this.designation)
                .then( response => {
                    toastr.success(response.data.message);
                    this.$refs.dataTable.fetchData();
                    $('#designation-form').modal('hide');
                });
            },

        },

        components: {
        	Table
 	   }
    };
</script>