<template>
  <div>
    <section class="contact bg-primary text-left">
      <section class="wrapper">
            <ul class="column__list">

              <li v-for="(ticket, index) in tickets" class="column__item">
                <div class="column__title--wrapper">
                  <h2>
                    <label>{{ ticket.client_name }}</label>
                    <label>{{ ticket.ticket_number }}</label> 
                  </h2>
                  <span v-if="ticket.is_priority" class="float-right card__tag card__tag--high">High Priority</span>
                </div>
                <ul class="card__list">
                  <li class="card__item bg-info">
                    <h6 class="card__title"><strong>{{ ticket.site_name }}</strong></h6>
                  </li>
                  <li class="card__item bg-info">
                    <h6 class="card__title"><strong>Start Date: {{ ticket.start_date_formated }}</strong></h6>
                  </li>
                  <li class="card__item bg-info">
                    <h6 class="card__title"><strong>End Date: {{ ticket.end_date_formated }}</strong></h6>
                  </li>
                  <li v-for="(task, task_index) in ticket.ticket_details" class="card__item" v-bind:class="condition(task)">
                    <div class="dropleft float-right">
                      <i class="fas fa-ellipsis-h" data-toggle="dropdown" aria-expanded="false"></i>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" @click="updateStatus(task.id, 2)">Update status to On-Going</a></li>
                        <li><a class="dropdown-item" href="#" @click="updateStatus(task.id, 3)">Update status to Done</a></li>
                      </ul>
                    </div>

                    <h6 class="card__title">{{ task.ticket_name }}
                      <span class="card__tag bg-info">{{ task.status_name }}</span>
                    </h6>
                    <label>{{ task.ticket_references }}</label>                    
                    <br>
                    <span class="card__tag bg-info">{{ task.start_date_formated }}</span>
                    <span class="card__tag bg-info">{{ task.end_date_formated }}</span>
                  </li>

                </ul>
              </li>

            </ul>
          </li>
        </ul>
      </section>
    </section>
  </div>
</template>
<script>

  export default {
    name: 'TeamPortal',
    data() {
      return {
        tickets: [],
        status_form: {
          id: '',
          status: '',
        }
      };
    },
    mounted() {
      if (localStorage.getItem('reloaded')) {
        // The page was just reloaded. Clear the value from local storage
        // so that it will reload the next time this page is visited.
        localStorage.removeItem('reloaded');
      } else {
        // Set a flag so that we know not to reload the page twice.
        localStorage.setItem('reloaded', '1');
        location.reload();
      }
    },

    created(){
      this.getTickets();
    },

    methods: {
      getTickets: function(argument) {
        axios.get('/api/v1/team/tickets')
          .then(response => {
            this.tickets = response.data.data;
          });   
      },

      updateStatus: function(id, status_id) {
        this.status_form.id = id;
        this.status_form.status = status_id;

        axios.post('/api/v1/team/ticket/request-update', this.status_form)
        .then( response => {
            toastr.success(response.data.message)
        });
      },

      condition: function(task) {
        if(task.status == 2) {
          return 'bg-secondary';
        }
        else if(task.status == 3) {
          return 'bg-success';
        }

        var UserDate = new Date(task.end_date_comparison);
        var ToDate = new Date();
        ToDate.setHours(0,0,0,0);

        if (UserDate.getTime() < ToDate.getTime()) {
          return 'bg-danger';
        }

        if (UserDate.getTime() == ToDate.getTime()) {
          return 'bg-warning';
        }

      },
    },
    components: {

    },
  };
</script>
<style scoped>
  ul {
    list-style-type: none;
    padding: 0;
  }

  .wrapper {
    padding: 1rem;
  }

  section.contact h2 {
    margin-bottom: 0;
  }

  .bg-secondary {
    color: #fff;
  }

  .bg-secondary h6{
    color: #fff;
  }

  .bg-success {
    color: #fff;
  }

  .bg-success h6{
    color: #fff;
  }

  /* column styles */

  .column__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: .5rem;
    align-items: start;
  }

  .column__item {
    border-radius: .2rem;
    background-color: #dfe3e6;
    padding: .5rem;
  }

  .column__title--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .25rem;
    align-items: center;
  }

  .column__title--wrapper h2 {
    color: #17394d;
    font-weight: 700;
    font-size: .9rem;
  }

  .column__title--wrapper i {
    text-align: right;
    color: #798d99;
  }

  .column__item--cta {
    padding: .25rem;
    display: flex;
    color: #798d99;
  }

  .column__item--cta i {
    margin-right: .25rem;
  }

  /* card styles */

  .card__list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: .5rem;
    margin: .5rem 0;
    padding: 0;
  }

  .card__item {
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    padding: .5rem;
  }

  .card__tag {
    font-size: .75rem;
    padding: .1rem .5rem;
    border-radius: .25rem;
    font-weight: 700;
    color: white;
    margin-bottom: .75rem;
    display: inline-block;
  }

  .card__image {
    width: 100%;
    margin-bottom: .25rem;
  }

  /* sticker colors */

  .card__tag--design {
    background-color: #61bd4f;
  }

  .card__tag--browser {
    background-color: #c377e0;
  }

  .card__tag--mobile {
    background-color: #f2d600;
  }

  .card__tag--high {
    background-color: #eb5a46;
  }

  .card__tag--low {
    background-color: #00c2e0;
  }

  .card__title {
    color: #17394d;
    margin-bottom: .75rem;
  }

  strong {
    color: #FFF;
  }


  /* card actions */

  .card__actions {
    display: flex;
    align-items: center;
  }

  .card__actions--wrapper i {
    color: #798d99;
    margin-right: .5rem;
  }

  .card__actions--text {
    color: #798d99;
    font-size: .8rem;
    margin-left: -.25rem;
    margin-right: .5rem;
  }

  .card__avatars {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .card__avatars--item {
    margin-left: .25rem;
    width: 28px;
    height: 28px;
  }

  .avatar__image {  
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
