<template>
	<div>
		<section class="contact bg-login text-left" id="login">
	      <div class="container">
	          <div class="row">
	              <div class="col-12 col-md-6 offset-md-3">
	                  <!-- card start -->
	                  <div class="card card-secondary">
	                      <div class="card-header">
	                        <h3 class="card-title">Team Login</h3>
	                      </div>
	                      <!-- card body -->
	                      <form @submit.prevent="authenticate">
		                      <div class="card-body">
		                          <div class="form-group row">
		                              <label for="inputName" class="col-12 col-form-label">EMAIL</label>
		                              <div class="col-12">
		                                  <input type="text" class="form-control" id="username" placeholder="EMPLOYEE ID / EMAIL" v-model="form.username">
		                              </div>
		                          </div>
		                          <div class="form-group row">
		                              <label for="inputName" class="col-12 col-form-label">PASSWORD</label>
		                              <div class="col-12">
		                                  <input type="password" class="form-control" id="password" placeholder="PASSWORD" v-model="form.password">
		                              </div>
		                          </div>
		                          <div class="form-group row">
		                              <div class="col-12">
		                                <button type="submit" class="btn btn-block btn-info">SIGN IN</button>
		                              </div>
		                          </div>
		                      </div>                    
	                      <!-- end card body -->
	                      </form>
	                  </div>
	                  <!-- card end -->
	              </div>
	          </div>
	      </div>
	    </section>
	</div>
</template>
<script>
    import {login} from '../../../helpers/auth';
    
    export default {
        name: "login",
        data() {
            return {
                form: {
                    username: '',
                    password: '',
                    is_team: true
                },
                error: null
            };
        },
        methods: {
            authenticate() {
                this.$store.dispatch('login');

                login(this.$data.form)
                    .then((res) => {
                        this.$store.commit("loginSuccess", res);
                        this.$router.push({path: '/team/dashboard'});
                    })
                    .catch((error) => {
                        this.$store.commit("loginFailed", {error});
                    });
            }
        },
        computed: {
            authError() {
                return this.$store.getters.authError;
            }
        }
    };
</script>
<style scoped>
a {
    color: #007bff;
}
</style>