<template>
  <div>
    <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Time Keeping &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewAttendance">Add New</a></h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Payroll Management</li>
                <li class="breadcrumb-item active">Time Keeping</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
            <div class="card-body"> 
                  <Table 
                  :dataFields="dataFields"
                  :dataUrl="dataUrl"
                  :actionButtons="actionButtons"
                  :primaryKey="primaryKey"
                  :otherButtons="otherButtons"
                  v-on:editButton="editAttendance"
                  v-on:modalFilter="modalFilter"
                  ref="dataTable">
                  </Table>
                </div>
            </div>
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

      <!-- Modal Add New / Edit Attendance -->
      <div class="modal fade" id="attendace-form" tabindex="-1" aria-labelledby="attendace-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addNewAttendance" v-show="addNewButton">Add New Attendance</h5>
              <h5 class="modal-title" id="editAttendance" v-show="saveButton">Edit Attendance</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="form-group row">
                  <label for="userName" class="col-sm-4 col-form-label">Employee Name <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <multiselect v-model="attendance.employee_id" track-by="name" label="name" placeholder="Select Employee" :options="employees" :searchable="true" :allow-empty="false">
                    </multiselect>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="userName" class="col-sm-4 col-form-label">Date <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <date-picker v-model="attendance.date" placeholder="YYYY-MM-DD" :config="options" id="date" autocomplete="off"></date-picker>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="userName" class="col-sm-4 col-form-label">Time In <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="time_in" v-model="attendance.time_in" placeholder="09:00 AM"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="userName" class="col-sm-4 col-form-label">Time Out <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="time_out" v-model="attendance.time_out" placeholder="06:00 PM"/>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeAttendance">Add New Attendance</button>
              <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateDesignation">Save Changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Add New Designation -->

      <!-- Modal Download CSV file -->
      <div class="modal fade" id="filter-form" tabindex="-1" aria-labelledby="filter-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addNewAttendance">Download CSV File</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="form-group row">
                  <label for="userName" class="col-sm-4 col-form-label">Employee Name <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <multiselect v-model="downloadFrm.employee_id" track-by="name" label="name" placeholder="Select Employee" :options="employees" :searchable="true" :allow-empty="false">
                    </multiselect>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="userName" class="col-sm-4 col-form-label">Date From <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <date-picker v-model="downloadFrm.date_from" placeholder="YYYY-MM-DD" :config="options" id="date_from" autocomplete="off"></date-picker>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="userName" class="col-sm-4 col-form-label">Date To <span class="font-italic">(required)</span></label>
                  <div class="col-sm-8">
                    <date-picker v-model="downloadFrm.date_to" placeholder="YYYY-MM-DD" :config="options" id="date_to" autocomplete="off"></date-picker>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" @click="downloadCsv">Download</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Download CSV file -->
  </div>
</template>
<script>  
  import Table from '../../../components/Table';
  import timeSelect from '../../../components/time-select';
  import Multiselect from 'vue-multiselect'

  export default {
    name: "Users",
    data() {
      return {
        attendance: {
          id: '',
          employee_id: '',
          date: '',
          time_in: '',
          time_out: ''
        },
        downloadFrm: {
          employee_id: '',
          date_from: '',
          date_to: ''
        },
        employees: [],
        options: {
          format: 'YYYY-MM-DD',
          useCurrent: false,
        },
        addNewButton: true,
        saveButton: false,            
        dataFields: {
          id_number: "Employee ID", 
          name: "Employee Name", 
          date: "Date", 
          time_login: "Time In", 
          time_in_location: "Time In Location", 
          time_logout: "Time Out", 
          time_out_location: "Time Out Location", 
          duration: "Duration", 
        },
        primaryKey: "id",
        dataUrl: "/api/v1/time-keeping/list",
        actionButtons: {
          edit: {
            title: 'Edit this Attendance',
            name: 'Edit',
            apiUrl: '',
            routeName: 'Attendance.edit',
            button: '<i class="fas fa-edit"></i> Edit',
            method: 'edit'
          },
          delete: {
            title: 'Delete this Attendance',
            name: 'Delete',
            apiUrl: '/api/v1/time-keeping/delete',
            routeName: '',
            button: '<i class="fas fa-trash-alt"></i> Delete',
            method: 'delete'
          },
        },
        otherButtons: {
          batchUpload: {
            title: 'Download CSV',
            v_on: 'modalFilter',
            icon: '<i class="fas fa-download"></i> Download CSV',
            class: 'btn btn-primary btn-sm'
          },
        }
      };
    },

    created(){
      axios.get('/api/v1/employee/all')
      .then(response => this.employees = response.data.data);
    },

    methods: {
      addNewAttendance: function() {
        this.attendance.id = null;
        this.attendance.employee_id = null;
        this.attendance.date = null;
        this.attendance.time_in = null;
        this.attendance.time_out = null;
        this.addNewButton = true;
        this.saveButton = false;
        $('#attendace-form').modal('show');
      },

      editAttendance: function(id) {
          axios.get('/api/v1/time-keeping/'+id)
          .then(response => {
              var attendance = response.data.data;
              this.attendance.id = id;
              this.attendance.employee_id = attendance.employee_id;
              this.attendance.date = attendance.date;
              this.attendance.time_in = attendance.time_login;
              this.attendance.time_out = attendance.time_logout;
              this.addNewButton = false;
              this.saveButton = true;
              $('#attendace-form').modal('show');
          });
      },

      storeAttendance: function() {
          axios.post('/api/v1/time-keeping/store', this.attendance)
          .then( response => {
            console.log(response.data);
              toastr.success(response.data.message)
              this.$refs.dataTable.fetchData();
              $('#attendace-form').modal('hide');
          });
      },

      updateDesignation: function() {

          axios.put('/api/v1/time-keeping/update', this.attendance)
          .then( response => {
            toastr.success(response.data.message);
            this.$refs.dataTable.fetchData();
            $('#attendace-form').modal('hide');
          });
      },

      modalFilter: function() {
        $('#filter-form').modal('show');
      },

      downloadCsv: function() {
        axios.post('/api/v1/time-keeping/download-csv', this.downloadFrm)
        .then(response => {
          const link = document.createElement('a');
          link.href = response.data.data.filepath;
          link.setAttribute('download', response.data.data.filename); //or any other extension
          document.body.appendChild(link);
          link.click();
        })
      },
    },

    components: {
      Table,
      Multiselect
   }
  };
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>