<template>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <router-link :to="{ name: 'home' }" class="brand-link">
        <img :src="logo" alt="FABRIQUEM" class="brand-image">
        <span class="brand-text font-weight-strong"> &nbsp; </span>
      </router-link>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img :src="user.profile_picture" class="img-circle elevation-2" alt="User Image" style="min-height:30px;">
          </div>
          <div class="info">
            <a href="#" class="d-block">{{ user.name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
              <router-link :to="{ name: 'home' }" class="nav-link">
                <i class="nav-icon fas fa-chart-line"></i>
                <p>
                  Dashboard
                </p>
              </router-link>
            </li>
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-users-cog"></i>
                <p>
                  User Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'users' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                      Admin Users
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'roles' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-tasks"></i>
                    <p>
                      User Roles
                    </p>
                  </router-link>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Employees Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'categories' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-copyright"></i>
                    <p>
                      Categories
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'department' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-user-cog"></i>
                    <p>
                      Department
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'designation' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-user-cog"></i>
                    <p>
                      Designation
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'employee' }" class="pl-4 nav-link">
                    <i class="nav-icon far fa-address-book"></i>
                    <p>
                      Employees
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'qrcode' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-qrcode"></i>
                    <p>
                      Create QR Code
                    </p>
                  </router-link>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-hand-holding-usd"></i>
                <p>
                  Loan Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'loanTypes' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-hand-holding"></i>
                    <p>
                      Loan Types
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'employeeLoans' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-hand-holding-usd"></i>
                    <p>
                      Loans
                    </p>
                  </router-link>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-money-check-alt"></i>
                <p>
                  Payroll Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'holidays' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-calendar-day"></i>
                    <p>
                      Holidays
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'timeKeeping' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-calendar-alt"></i>
                    <p>
                      Time Keeping
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'over-time' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-tasks"></i>
                    <p>
                      Over Time Request
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'official-bussiness-request' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-tasks"></i>
                    <p>
                      Official Business
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'leaves-request' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-tasks"></i>
                    <p>
                      Leaves Request
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'payroll' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-file-invoice-dollar"></i>
                    <p>
                      Pay Period
                    </p>
                  </router-link>
                </li>
              </ul>
            </li>
            <!-- <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-clipboard-list"></i>
                <p>
                  Reports
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'users' }" class="pl-4 nav-link">
                    <i class="nav-icon far fa-list-alt"></i>
                    <p>
                      Individual Compensation
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'users' }" class="pl-4 nav-link">
                    <i class="nav-icon far fa-list-alt"></i>
                    <p>
                      Annual Conpensation
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'users' }" class="pl-4 nav-link">
                    <i class="nav-icon far fa-list-alt"></i>
                    <p>
                      Withholding Tax Report
                    </p>
                  </router-link>
                </li>
              </ul>
            </li> -->
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-tasks"></i>
                <p>
                  Requisition Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'requisition-categories' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-copyright"></i>
                    <p>
                      Categories
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'requisition-supplier' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-tools"></i>
                    <p>
                      Suppliers
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'requisition-client' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-user-tie"></i>
                    <p>
                      Clients
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'requisition-logistics' }" class="pl-4 nav-link">
                    <i class="nav-icon far fa-list-alt"></i>
                    <p>
                      Logistics Master List
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'requisition-job-order' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-tasks"></i>
                    <p>
                      Job Orders
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'request-list' }" class="pl-4 nav-link">
                    <i class="nav-icon far fa-list-alt"></i>
                    <p>
                      Request List
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'requests' }" class="pl-4 nav-link">
                    <i class="nav-icon far fa-list-alt"></i>
                    <p>
                      Catalog Request
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'requests-non-catalog' }" class="pl-4 nav-link">
                    <i class="nav-icon far fa-list-alt"></i>
                    <p>
                      Payment Request
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'requisition-Insurer' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-copyright"></i>
                    <p>
                      Insurer
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'requisition-Policy' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-copyright"></i>
                    <p>
                      Policy
                    </p>
                  </router-link>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview menu-close">
              <a class="nav-link">
                <i class="nav-icon fas fa-project-diagram"></i>
                <p>
                  IOCC Management
                  <i class="right fas fa-angle-left"></i>                 
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'teams' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-users-cog"></i>
                    <p>
                      Teams
                    </p>
                  </router-link>
                </li>
                <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'plans-referenses' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-clipboard-list"></i>
                    <p>
                      Plans and Referenses
                    </p>
                  </router-link>
                </li>
                <!-- <li class="nav-item has-treeview">
                  <router-link :to="{ name: 'tickets' }" class="pl-4 nav-link">
                    <i class="nav-icon far fa-calendar-check"></i>
                    <p>
                      Create Tickets
                    </p>
                  </router-link>
                </li> -->
              </ul>
            </li>        
            <li class="nav-item">
              <router-link :to="{ name: 'approver' }" class="nav-link">
                <i class="nav-icon fas fa-tasks"></i>
                <p>
                  Approvers
                </p>
              </router-link>
            </li>                      
            <li class="nav-item has-treeview menu-open">
              <a class="nav-link">
                <i class="nav-icon fas fa-user-cog"></i>
                <p>
                  My Account
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link :to="{ name: 'account' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-bell"></i>
                    <p>Notifications</p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link :to="{ name: 'account' }" class="pl-4 nav-link">
                    <i class="nav-icon fas fa-user-cog"></i>
                    <p>Account Settings</p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <a href="#" class="pl-4 nav-link" @click.prevent="logout">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <p>
                      Sign Out
                    </p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
</template>

<script>
    export default {
        name: 'side-nav',
        data() {
          return {
            user: {
              name: '',
              profile_picture: window.location.origin +'/storage/media_library/male-avatar.png',
              roles: [],
            },
            logo: window.location.origin +'/img/7a5c3c_968939db3a904c9db19ed94ef7aaa15b_mv2.webp',           
          }
        },

        mounted() {
          this.currentUser()
        },

        methods: {

          currentUser() {
            axios.get('/api/v1/user-profile')
            .then( response => {
              var user = response.data.data;
              if(user.details.profile_picture) {
                this.user.profile_picture = user.details.profile_picture
              }
              this.user.name = user.details.first_name + ' ' + user.details.last_name           
              this.user.roles = user.roles
            });
          },

          logout() {
              this.$store.commit('logout');
              this.$router.push('/admin/login');
          }

        },

        computed: {
        }
    };
</script>
<style lang="scss" scoped>
.brand-image {
    margin-left: 0;
    margin-right: 0;
    margin-top: -10px !important;
    max-height: 50px!important;
}
</style>