<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Categories &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewCategory">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
	              <li class="breadcrumb-item active">Requisition Management</li>
                <li class="breadcrumb-item active">Categories</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                        v-on:editButton="editCategory"
                        ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

        <!-- Modal Add New / Edit Category -->
        <div class="modal fade" id="category-form" tabindex="-1" aria-labelledby="category-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addNewCategory" v-show="addNewButton">Add New Category</h5>
                  <h5 class="modal-title" id="editCategory" v-show="saveButton">Edit Category</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">
                    <div class="form-group row">
                      <label for="userName" class="col-sm-4 col-form-label">Category Name <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" v-model="category.name" placeholder="Category Name" @blur="onBlur">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Category Slug Name <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="slug_name" v-model="category.slug_name" placeholder="Slug Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Description</label>
                      <div class="col-sm-8">
                        <textarea class="form-control" id="description" v-model="category.description" placeholder="Category Description"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeCategory">Add New Category</button>
                  <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateCategory">Save Changes</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Modal Add New Category -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "Users",
        data() {
            return {
                category: {
                    id: '',
                    parent_id: '',
                    name: '',
                    slug_name: '',
                    description: '',
                    module: 'requisition',
                },
                categories: [],
                addNewButton: true,
                saveButton: false,                
            	dataFields: {
            		name: "Category Name", 
            		slug_name: "Slug Name", 
                description: "Description", 
                created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/category/list/requisition",
            	actionButtons: {
            		edit: {
            			title: 'Edit this user',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'category.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'edit'
            		},
            		delete: {
            			title: 'Delete this user',
            			name: 'Delete',
            			apiUrl: '/api/v1/category/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},
            };
        },

        created(){

        },

        methods: {

            addNewCategory: function() {
              this.category.id = null;
              this.category.name = null;
              this.category.slug_name = null;
              this.category.description = null;
              this.addNewButton = true;
              this.saveButton = false;
              $('#category-form').modal('show');
            },

            editCategory: function(id) {
                axios.get('/api/v1/category/'+id)
                .then(response => {
                    var category = response.data.data;
                    this.category.id = id;
                    this.category.name = category.name;
                    this.category.slug_name = category.slug_name;
                    this.category.description = category.description;
                    this.addNewButton = false;
                    this.saveButton = true;
                    $('#category-form').modal('show');
                });
            },

            storeCategory: function() {

                axios.post('/api/v1/category/store', this.category)
                .then( response => {
                    toastr.success(response.data.message)
                    this.$refs.dataTable.fetchData();
                    $('#category-form').modal('hide');
                });

            },

            updateCategory: function() {

                axios.put('/api/v1/category/update', this.category)
                .then( response => {
                    toastr.success(response.data.message);
                    this.$refs.dataTable.fetchData();
                    $('#category-form').modal('hide');
                });
            },

            onBlur: function() {
                var field_name = this.category.name
                this.category.slug_name = field_name.replace(/ /g,"_").toLowerCase();
            },

        },

        components: {
        	Table
 	      }
    };
</script>