<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Clients &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewClient">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Requisition Management</li>
	              <li class="breadcrumb-item active">Clients</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                  v-on:editButton="editClient"
                  ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

        <!-- Modal Add New / Edit Client -->
        <div class="modal fade" id="client-form" tabindex="-1" aria-labelledby="client-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addNewClient" v-show="addNewButton">Add New Client</h5>
                  <h5 class="modal-title" id="editClient" v-show="saveButton">Edit Client</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">
                    <div class="form-group row">
                      <label for="userName" class="col-sm-4 col-form-label">Client Name <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="client_name" v-model="client.client_name" placeholder="Client Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="userName" class="col-sm-4 col-form-label">Prefix <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="prefix" v-model="client.prefix" placeholder="Prefix">
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeClient">Add New Client</button>
                  <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateClient">Save Changes</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Modal Add New Client -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "Client",
        data() {
            return {
              client: {
                  id: '',
                  client_name: '',
                  prefix: '',
              },
              addNewButton: true,
              saveButton: false,                
            	dataFields: {
            		client_name: "Client Name", 
                prefix: "Prefix", 
                created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/client/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this client',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'client.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'edit'
            		},
            		delete: {
            			title: 'Delete this client',
            			name: 'Delete',
            			apiUrl: '/api/v1/client/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},
            };
        },

        methods: {

          addNewClient: function() {
            this.client.id = null;
            this.client.client_name = null;
            this.client.prefix = null;
            this.addNewButton = true;
            this.saveButton = false;
            $('#client-form').modal('show');
          },

          editClient: function(id) {
              axios.get('/api/v1/client/'+id)
              .then(response => {
                  var client = response.data.data;
                  this.client.id = id;
                  this.client.client_name = client.client_name;
                  this.client.prefix = client.prefix;
                  this.addNewButton = false;
                  this.saveButton = true;
                  $('#client-form').modal('show');
              });
          },

          storeClient: function() {
              axios.post('/api/v1/client/store', this.client)
              .then( response => {
                  toastr.success(response.data.message)
                  this.$refs.dataTable.fetchData();
                  $('#client-form').modal('hide');
              });
          },

          updateClient: function() {
              axios.put('/api/v1/client/update', this.client)
              .then( response => {
                  toastr.success(response.data.message);
                  this.$refs.dataTable.fetchData();
                  $('#client-form').modal('hide');
              });
          },
      },

      components: {
      	Table
	    }
    };
</script>