<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Job Orders &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewJobOrder">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
	              <li class="breadcrumb-item active">Requisition Management</li>
                <li class="breadcrumb-item active">Job Orders</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                  v-on:editButton="editItem"
                  ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

      <!-- Modal Add New / Edit Job Order -->
      <div class="modal fade" id="job-order-form" tabindex="-1" aria-labelledby="job-order-form" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addNewJobOrder" v-show="addNewButton">Add New Job Order</h5>
                <h5 class="modal-title" id="editItem" v-show="saveButton">Edit Job Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="userName" class="col-sm-4 col-form-label">Client <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <select class="custom-select" v-model="job_order.client_id">
                        <option value="">Select Client</option>
                        <option v-for="client in clients" :value="client.id">{{ client.client_name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Job Order Number <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="order_number" v-model="job_order.order_number" placeholder="Order Number" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Category</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="category" v-model="job_order.category" placeholder="Category" autocomplete="off"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">PO Number <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="po_number" v-model="job_order.po_number" placeholder="PO Number" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">PO Date <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <date-picker v-model="job_order.po_date" placeholder="YYYY-MM-DD" :config="options" id="date_to" autocomplete="off"></date-picker>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">PO Amount <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="po_amount" v-model="job_order.po_amount" placeholder="0.00" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Badget Percentage <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="badget_percentage" v-model="job_order.badget_percentage" placeholder="In decimal place e.g 0.51" autocomplete="off">
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeJobOrder">Add New Job Order</button>
                <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateJobOrder">Save Changes</button>
              </div>
            </div>
          </div>
      </div>
      <!-- End Modal Add New Category -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
      name: "JobOrder",
      data() {
        return {
          job_order: {
            id: '',
            client_id: '',
            order_number: '',
            category: '',
            po_number: '',
            po_date: '',
            po_amount: '',
            badget_percentage: ''
          },
          options: {
            format: 'YYYY-MM-DD',
            useCurrent: false,
          },
          clients: [],
          addNewButton: true,
          saveButton: false,                
        	dataFields: {
        		order_number: "Order Number", 
            client_name: "Client Name", 
            category: "Category", 
            po_number: "PO Number", 
            po_date: "PO Date", 
            po_amount: "PO Amount", 
            updated_po_amount_formated: "Updated PO Amount",
            created_at: "Date Created"
        	},
        	primaryKey: "id",
        	dataUrl: "/api/v1/job-order/list",
        	actionButtons: {
        		edit: {
        			title: 'Edit this job order',
        			name: 'Edit',
        			apiUrl: '',
        			routeName: 'job-order.edit',
        			button: '<i class="fas fa-edit"></i> Edit',
        			method: 'edit'
        		},
        		delete: {
        			title: 'Delete this job order',
        			name: 'Delete',
        			apiUrl: '/api/v1/job-order/delete',
        			routeName: '',
        			button: '<i class="fas fa-trash-alt"></i> Delete',
        			method: 'delete'
        		},
            view: {
              title: 'Show Details',
              name: 'View',
              routeName: 'requisition-job-order-details',
              button: '<i class="fas fa-file-invoice"></i> Show Details',
              method: 'link'
            },
        	},
        };
      },

      created(){
      	axios.get('/api/v1/client/all')
        	.then(response => this.clients = response.data.data);
      },

      methods: {
        addNewJobOrder: function() {
          this.job_order.id = null;
          this.job_order.client_id = '';
          this.job_order.order_number = null;
          this.job_order.category = null;
          this.job_order.po_number = null;
          this.job_order.po_date = null;
          this.job_order.po_amount = null;
          this.job_order.badget_percentage = null;
          this.addNewButton = true;
          this.saveButton = false;
          $('#job-order-form').modal('show');
        },

        editItem: function(id) {
          axios.get('/api/v1/job-order/'+id)
          .then(response => {
            var job_order = response.data.data;
            this.job_order.id = id;
            this.job_order.client_id = job_order.client_id;
            this.job_order.order_number = job_order.order_number;
            this.job_order.category = job_order.category;
            this.job_order.po_number = job_order.po_number;
            this.job_order.po_date = job_order.po_date;
            this.job_order.po_amount = job_order.po_amount;
            this.job_order.badget_percentage = job_order.badget_percentage;
            this.addNewButton = false;
            this.saveButton = true;
            $('#job-order-form').modal('show');
          });
        },

        storeJobOrder: function() {
          axios.post('/api/v1/job-order/store', this.job_order)
          .then( response => {
            console.log(response.data);
            toastr.success(response.data.message)
            this.$refs.dataTable.fetchData();
            $('#job-order-form').modal('hide');
            this.$router.push({name: 'requisition-job-order-details', params: { id: response.data.data.id}});
          });
        },

        updateJobOrder: function() {
          axios.put('/api/v1/job-order/update', this.job_order)
          .then( response => {
              toastr.success(response.data.message);
              this.$refs.dataTable.fetchData();
              $('#job-order-form').modal('hide');
          });
        },
      },

      components: {
      	Table
 	    }
    };
</script>