<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Job Order Details &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewSite"><i class="fas fa-plus"></i>&nbsp;Add New</a>
                &nbsp;<router-link :to="{ name: 'requisition-job-order' }" type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-arrow-left"></i>&nbsp;Back to List</router-link></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
	              <li class="breadcrumb-item active">Requisition Management</li>
                <li class="breadcrumb-item active">Job Order Details</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body"> 
                  <table class="table">
                    <tr>
                      <td><label>Client :</label></td>
                      <td>{{ job_order.client_name }}</td>
                      <td><label>PO Number :</label></td>
                      <td>{{ job_order.po_number }}</td>
                    </tr>
                    <tr>
                      <td><label>Job Order Number :</label></td>
                      <td>{{ job_order.order_number }}</td>
                      <td><label>PO Date :</label></td>
                      <td>{{ job_order.po_date }}</td>
                    </tr>
                    <tr>
                      <td><label>Badget Percentage :</label></td>
                      <td>{{ job_order.badget_percentage }}%</td>
                      <td><label>PO Amount :</label></td>
                      <td>PHP {{ job_order.po_amount }}</td>
                    </tr>
                    <tr>
                      <td><label>Category :</label></td>
                      <td>{{ job_order.category }}</td>
                      <td><label>Updated PO Amount :</label></td>
                      <td>PHP {{ job_order.updated_po_amount }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			    <div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
                  :dataParams="true"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                  v-on:editButton="editSite"
                  ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

      <!-- Modal Add New / Edit Job Order -->
      <div class="modal fade" id="job-site-form" tabindex="-1" aria-labelledby="job-site-form" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addNewSite" v-show="addNewButton">Add New Site</h5>
                <h5 class="modal-title" id="editSite" v-show="saveButton">Edit Site</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">                  
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Site Name <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="site_name" v-model="job_order_details.site_name" placeholder="Site Name" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Site Details <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <textarea class="form-control" id="site_details" v-model="job_order_details.site_details" placeholder="Site Details" autocomplete="off"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Region <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <multiselect v-model="job_order_details.region_id" track-by="name" label="name" placeholder="Select Region" :options="regions" :searchable="true" :allow-empty="false" @select="getProvinces">
                      </multiselect>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Province </label>
                    <div class="col-sm-8">
                      <multiselect v-model="job_order_details.province_id" track-by="province_name" label="province_name" placeholder="Select Province" :options="provinces" :searchable="true" :allow-empty="false" @select="getCities">
                      </multiselect>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Municipalities </label>
                    <div class="col-sm-8">
                      <multiselect v-model="job_order_details.city_id" track-by="city_municipality_name" label="city_municipality_name" placeholder="Select Municipalities" :options="cities" :searchable="true" :allow-empty="false">
                      </multiselect>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">BCF Name</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="bcf_name" v-model="job_order_details.bcf_name" placeholder="BCF Name" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">BOQ Amount per Site (VAT INC) <span class="font-italic">(required)</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="bill_of_quantities" v-model="job_order_details.bill_of_quantities" placeholder="BOQ Amount" autocomplete="off" v-on:keyup="updateBOQAmount">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Variation Amount</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="variation_amount" v-model="job_order_details.variation_amount" placeholder="Variation Amount" autocomplete="off" v-on:keyup="updateBOQAmount">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Expenses</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="expenses" v-model="job_order_details.expenses" placeholder="Expenses" autocomplete="off" v-on:keyup="updateBOQAmount">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Updated Bill Of Quantities</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="updated_bill_of_quantities" v-model="job_order_details.updated_bill_of_quantities" placeholder="Updated Bill Of Quantities" autocomplete="off" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Budget</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="badget" v-model="job_order_details.badget" placeholder="Badget" autocomplete="off" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Balance Amount</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="balance_amount" v-model="job_order_details.balance_amount" placeholder="Balance Amount" autocomplete="off" readonly="readonly">
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeSite">Add New Site</button>
                <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateSite">Save Changes</button>
              </div>
            </div>
          </div>
      </div>
      <!-- End Modal Add New Category -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
  import Multiselect from 'vue-multiselect';
    export default {
      name: "JobOrder",
      data() {
        return {
          job_order: {
            id: '',
            client_id: '',
            order_number: '',
            po_date: '',
            po_number: '',
            po_amount: '',
            badget_percentage: '',
            category: '',
            updated_po_amount: '',
          },
          job_order_details: {
            id: '',
            job_order_id: '',
            bcf_name: '',
            site_name: '',
            site_details: '',
            region_id: '',
            province_id: '',
            city_id: '',
            bill_of_quantities: 0.00,
            variation_amount: 0.00,
            expenses: 0.00,
            updated_bill_of_quantities: 0.00,
            badget: 0.00,
            balance_amount: 0.00,
          },
          addNewButton: true,
          saveButton: false,                
          regions: [],
          provinces: [],
          cities: [],
        	dataFields: {
        		site_name: "Site Name", 
            site_details: "Site Details", 
            updated_bill_of_quantities_formated: "BOQ Amount per Site (VAT INC)", 
            badget_formated: "Budget",
            balance_amount_formated: "Balance Amount",
            created_at: "Date Created"
        	},
        	primaryKey: "id",
        	dataUrl: "/api/v1/job-order/details/list",
        	actionButtons: {
        		edit: {
        			title: 'Edit this job order',
        			name: 'Edit',
        			apiUrl: '',
        			routeName: 'job-order.edit',
        			button: '<i class="fas fa-edit"></i> Edit',
        			method: 'edit'
        		},
        		delete: {
        			title: 'Delete this job order',
        			name: 'Delete',
        			apiUrl: '/api/v1/job-order/delete',
        			routeName: '',
        			button: '<i class="fas fa-trash-alt"></i> Delete',
        			method: 'delete'
        		},
        	},
        };
      },

      created(){
        this.getRegions();
        this.getJobOrderDetails();
      },

      methods: {
        getRegions: function() {
          axios.get('/api/v1/lookup/getRegions')
          .then( response => {
            this.regions = response.data.data;
          });
        },

        getProvinces: function(region) {
          axios.post('/api/v1/lookup/getProvinces', {regionId: region.region_id} )
          .then( response => {
            this.provinces = response.data.data;
          });
        },

        getCities: function(province) {
          axios.post('/api/v1/lookup/getCities', {provinceId: province.province_id})
          .then( response => {
            this.cities = response.data.data;
          });
        },

        getJobOrderDetails: function() {
          var id = this.$route.params.id;
          axios.get('/api/v1/job-order/'+id)
          .then(response => {
            var job_order = response.data.data;
            this.job_order.id = id;
            this.job_order.client_name = job_order.client_name;
            this.job_order.order_number = job_order.order_number;
            this.job_order.po_date = job_order.po_date;
            this.job_order.po_number = job_order.po_number;
            this.job_order.po_amount = job_order.po_amount_formated;
            this.job_order.badget_percentage = Math.floor(job_order.badget_percentage*100);
            this.job_order.category = job_order.category;
            this.job_order.updated_po_amount = job_order.updated_po_amount_formated;
          });
        },

        updateBOQAmount: function() {
          this.job_order_details.updated_bill_of_quantities = parseFloat(this.job_order_details.bill_of_quantities)+parseFloat(this.job_order_details.variation_amount);
          this.getBadget();
        },

        getBadget: function() {
            this.job_order_details.badget = (Math.round((Math.round(this.job_order_details.updated_bill_of_quantities*(this.job_order.badget_percentage/100) + "e+2")  + "e-2")-parseFloat(this.job_order_details.expenses)));
            this.job_order_details.balance_amount = this.job_order_details.badget;
        },

        addNewSite: function() {
          this.job_order_details.id = null;
          this.job_order_details.job_order_id = this.job_order.id;
          this.job_order_details.bcf_name = null;
          this.job_order_details.site_name = null;
          this.job_order_details.site_details = null;
          this.job_order_details.bill_of_quantities = 0.00;
          this.job_order_details.variation_amount = 0.00;
          this.job_order_details.updated_bill_of_quantities = 0.00;
          this.job_order_details.expenses = 0.00;
          this.job_order_details.badget = 0.00;
          this.job_order_details.balance_amount = 0.00;
          this.job_order_details.region_id = null;
          this.job_order_details.province_id = null;
          this.job_order_details.city_id = null;
          this.addNewButton = true;
          this.saveButton = false;
          $('#job-site-form').modal('show');
        },

        editSite: function(id) {
          axios.get('/api/v1/job-order/details/'+id)
          .then(response => {
            var job_order_details = response.data.data;
            this.job_order_details.id = id;
            this.job_order_details.job_order_id = job_order_details.job_order_id;
            this.job_order_details.bcf_name = job_order_details.bcf_name;
            this.job_order_details.site_name = job_order_details.site_name;
            this.job_order_details.site_details = job_order_details.site_details;
            this.job_order_details.bill_of_quantities = job_order_details.bill_of_quantities;
            this.job_order_details.variation_amount = job_order_details.variation_amount;
            this.job_order_details.updated_bill_of_quantities = job_order_details.updated_bill_of_quantities;
            this.job_order_details.expenses = job_order_details.expenses;
            this.job_order_details.badget = job_order_details.badget;
            this.job_order_details.balance_amount = job_order_details.balance_amount;
            this.job_order_details.region_id = job_order_details.region_details;
            this.job_order_details.province_id = job_order_details.province_details;
            this.job_order_details.city_id = job_order_details.city_details;
            this.addNewButton = false;
            this.saveButton = true;
            $('#job-site-form').modal('show');
          });
        },

        storeSite: function() {
          this.job_order_details.region_id = this.job_order_details.region_id.id;
          
          if(this.job_order_details.province_id) {
            this.job_order_details.province_id = this.job_order_details.province_id.id;
          }

          if(this.job_order_details.city_id) {
            this.job_order_details.city_id = this.job_order_details.city_id.id;
          }

          axios.post('/api/v1/job-order/details/store', this.job_order_details)
          .then( response => {
            toastr.success(response.data.message)
            this.$refs.dataTable.fetchData();
            this.getJobOrderDetails();
            $('#job-site-form').modal('hide');
          });
        },

        updateSite: function() {
          this.job_order_details.region_id = this.job_order_details.region_id.id;

          if(this.job_order_details.province_id) {
            this.job_order_details.province_id = this.job_order_details.province_id.id;
          }

          if(this.job_order_details.city_id) {
            this.job_order_details.city_id = this.job_order_details.city_id.id;
          }

          axios.put('/api/v1/job-order/details/update', this.job_order_details)
          .then( response => {
              toastr.success(response.data.message);
              this.$refs.dataTable.fetchData();
              this.getJobOrderDetails();
              $('#job-site-form').modal('hide');
          });
        },
      },

      components: {
      	Table, Multiselect
 	    }
    };
</script>