<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Logistics &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewItem">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
	              <li class="breadcrumb-item active">Requisition Management</li>
                <li class="breadcrumb-item active">Logistics</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:otherButtons="otherButtons"
			          	:primaryKey="primaryKey"
                        v-on:editButton="editItem"
                        v-on:modalBatchUpload="modalBatchUpload"
                        ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

        <!-- Modal Add New / Edit Category -->
        <div class="modal fade" id="logistic-form" tabindex="-1" aria-labelledby="logistic-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addNewItem" v-show="addNewButton">Add New Item</h5>
                  <h5 class="modal-title" id="editItem" v-show="saveButton">Edit Item</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">
                    <div class="form-group row">
                      <label for="userName" class="col-sm-4 col-form-label">SKU <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="sku" v-model="logistic.sku" placeholder="SKU" autocomplete="off">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Item Name <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="item_name" v-model="logistic.item_name" placeholder="Item Name" autocomplete="off">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">Unit Of Measurement <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="unit_of_measurement" v-model="logistic.unit_of_measurement" placeholder="UOM" autocomplete="off"/>
                      </div>
                    </div>
                    <div class="form-group row">
	                  <label for="category_id" class="col-sm-4 col-form-label">Category <span class="font-italic">(required)</span></label>
	                  <div class="col-sm-8">
	                    <select class="custom-select" v-model="logistic.category_id">
	                      <option value="">Select Category</option>
	                      <option v-for="category in categories" :value="category.id">{{ category.name }}</option>
	                    </select>
	                  </div>
	                </div>
	                <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label">In Stock</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="in_stock" v-model="logistic.in_stock" placeholder="0" autocomplete="off">
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeItem">Add New Item</button>
                  <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateItem">Save Changes</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Modal Add New Category -->

        <!-- Batch Upload -->
		<div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		      <div class="modal-content">
		      <div class="modal-header">
		          <h5 class="modal-title" id="batchModalLabel">Batch Upload</h5>
		          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		          </button>
		      </div>
		      <div class="modal-body">
		          <form>
		              <div class="form-group col-md-12">
		                  <label>CSV File: <span class="text-danger">*</span></label>
		                  <div class="custom-file">
		                      <input type="file" ref="file" v-on:change="handleFileUpload()" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="custom-file-input" id="batchInput">
		                      <label class="custom-file-label" id="batchInputLabel" for="batchInput">Choose file</label>
		                  </div>
		              </div>
		          </form>
		      </div>
		      <div class="modal-footer justify-content-between">
		          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		          <button type="button" class="btn btn-primary" @click="storeBatch">Save changes</button>
		      </div>
		      </div>
		  </div>
		</div>
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
        name: "Users",
        data() {
            return {
                logistic: {
                    id: '',
                    sku: '',
                    item_name: '',
                    unit_of_measurement: '',
                    category_id: '',
                    in_stock: '',
                },
                categories: [],
                addNewButton: true,
                saveButton: false,                
            	dataFields: {
            		sku: "SKU", 
            		item_name: "Item Name", 
                    unit_of_measurement: "UOM", 
                    category_name: "Category Name", 
                    in_stock: "In Stock", 
                    created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/logistic/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this item',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'logistic.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'edit'
            		},
            		delete: {
            			title: 'Delete this user',
            			name: 'Delete',
            			apiUrl: '/api/v1/logistic/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},
            	otherButtons: {
		            batchUpload: {
		              title: 'Batch Upload',
		              v_on: 'modalBatchUpload',
		              icon: '<i class="fas fa-upload"></i> Batch Upload',
		              class: 'btn btn-primary btn-sm'
		            },
		            downloadTemplate: {
		              downloadLink: '/storage/template/logistics-master.csv',
		              file: 'logistics-master.csv',
		              title: 'Download Template',
		              icon: '<i class="fas fa-download"></i> Download Template',
		              class: 'btn btn-success btn-sm'
		            },
		        }
            };
        },

        created(){
        	axios.get('/api/v1/category/all/requisition')
          	.then(response => this.categories = response.data.data);
        },

        methods: {

            addNewItem: function() {
              this.logistic.id = null;
              this.logistic.sku = null;
              this.logistic.item_name = null;
              this.logistic.unit_of_measurement = null;
              this.logistic.category_id = '';
              this.logistic.in_stock = null;
              this.addNewButton = true;
              this.saveButton = false;
              $('#logistic-form').modal('show');
            },

            editItem: function(id) {
                axios.get('/api/v1/logistic/'+id)
                .then(response => {
                    var logistic = response.data.data;
                    this.logistic.id = id;
                    this.logistic.sku = logistic.sku;
                    this.logistic.item_name = logistic.item_name;
                    this.logistic.unit_of_measurement = logistic.unit_of_measurement;
                    this.logistic.category_id = logistic.category_id;
                    this.logistic.in_stock = logistic.in_stock;
                    this.addNewButton = false;
                    this.saveButton = true;
                    $('#logistic-form').modal('show');
                });
            },

            storeItem: function() {

                axios.post('/api/v1/logistic/store', this.logistic)
                .then( response => {
                    toastr.success(response.data.message)
                    this.$refs.dataTable.fetchData();
                    $('#logistic-form').modal('hide');
                });

            },

            updateItem: function() {

                axios.put('/api/v1/logistic/update', this.logistic)
                .then( response => {
                    toastr.success(response.data.message);
                    this.$refs.dataTable.fetchData();
                    $('#logistic-form').modal('hide');
                });
            },

            modalBatchUpload: function() {
	          $('#batchModal').modal('show');
	        },

	        handleFileUpload: function(){
	            this.file = this.$refs.file.files[0];
	            $('#batchInputLabel').html(this.file.name)
	        },

		    storeBatch: function() {
	            let formData = new FormData();
	            formData.append('file', this.file);

	            axios.post( '/api/v1/logistic/batch-upload' , formData,
	            {
	                headers: {
	                    'Content-Type': 'multipart/form-data'
	                }
	            }).then(response => {
	                this.$refs.dataTable.fetchData();
                    toastr.success(response.data.message);
	                $('#batchModal').modal('toggle')
	                $('#batchInputLabel').html('Choose File')
	            })
	        },

        },

        components: {
        	Table
 	   }
    };
</script>