<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Payment Request</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
	              <li class="breadcrumb-item active">Requisition Management</li>
                <li class="breadcrumb-item active">Non-Catalog Request</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			<div class="card-body">	
	    				<ul class="nav nav-tabs">
					        <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab" @click="filter('')">All</a></li>
					        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filterByType('catalog')">Catalog Request</a></li>
					        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filterByType('non-catalog')">Non-Catalog Request</a></li>
					    </ul>
					    <ul class="nav nav-tabs">
					        <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab" @click="filter(0)">All</a></li>
					        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(6)">Endorsed</a></li>
					        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(7)">Approved</a></li>
					        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(8)">Decline</a></li>
					        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" @click="filter(9)">Canceled</a></li>
					    </ul>
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                  		ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
    export default {
      name: "Non-Catalog",
      data() {
        return {
	        clients: [],
	        addNewButton: true,
	        saveButton: false,
	        payment_form: {
	          type: '',
	          id: 0
	        },                
        	dataFields: {
            request_number: "Request Number", 
            job_order_number: "PO Number",
            requestor_name: "Requested By",
            request_type: "Request Type",
            amount_formated: "Total Gross Amount",
            status_id: {
              name: "Status", 
              type:"Boolean", 
              status: { 
                  1: '<span class="badge btn-secondary">Draft</span>', 
	              2: '<span class="badge badge-success">For Canvassing</span>',
	              3: '<span class="badge badge-warning text-dark">For Verification</span>',
	              4: '<span class="badge badge-primary">Verified</span>',
	              5: '<span class="badge badge-secondary">For Endorsement</span>',
	              6: '<span class="badge bg-info text-dark">Endorsed</span>',
	              7: '<span class="badge badge-success">Approved</span>',
	              8: '<span class="badge badge-danger">Decline</span>',
	              9: '<span class="badge badge-danger">Canceled</span>',
	              10: '<span class="badge badge-danger">For Cancelation</span>',
              },
            },
            created_at: "Date Created"
          },
        	primaryKey: "id",
        	dataUrl: "/api/v1/requisition/non-catalog/payment-list",
        	actionButtons: {
            view: {
              title: 'Review Details',
              name: 'View',
              routeName: 'requests-non-catalog-details',
              button: '<i class="fas fa-file-invoice"></i> Review Details',
              method: 'link'
            },
        	},
        };
      },

      created(){
      },

      methods: {
      	filterByType: function(type) {
	        this.payment_form.type = type;
	        this.$refs.dataTable.filters = this.payment_form;
	        this.$refs.dataTable.fetchData();
	    },

        filter: function(id) {
	       	this.payment_form.id = id;
	        this.$refs.dataTable.filters = this.payment_form;
	        this.$refs.dataTable.fetchData();
	    },
      },

      components: {
      	Table
 	    }
    };
</script>