<template>
	<div>
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Request List &nbsp;&nbsp;<a type="button" class="btn btn-outline-primary btn-sm" @click="addNewRequest">Add New</a></h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li class="breadcrumb-item">Requisition Management</li>
	              <li class="breadcrumb-item active">Request List</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-md-12">
	          	<div class="card">
	    			    <div class="card-body">	
			          	<Table 
			          	:dataFields="dataFields"
			          	:dataUrl="dataUrl"
			          	:actionButtons="actionButtons"
			          	:primaryKey="primaryKey"
                  v-on:editButton="editRequest"
                  ref="dataTable">
			          	</Table>
		          	</div>
		        </div>
	          </div>
	        </div>
	        <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->

        <!-- Modal Add New / Edit Client -->
        <div class="modal fade" id="request-form" tabindex="-1" aria-labelledby="request-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addNewRequest" v-show="addNewButton">Add New Request List</h5>
                  <h5 class="modal-title" id="editRequest" v-show="saveButton">Edit Request List</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">
                    <div class="form-group row">
                      <label for="userName" class="col-sm-4 col-form-label">Request Name <span class="font-italic">(required)</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="client_name" v-model="request.name" placeholder="Request Name">
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" v-show="addNewButton" @click="storeRequest">Add New Request</button>
                  <button type="button" class="btn btn-primary" v-show="saveButton" @click="updateRequest">Save Changes</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Modal Add New Client -->
	</div>
</template>
<script>  
	import Table from '../../../components/Table';
  import Multiselect from 'vue-multiselect';
    export default {
        name: "RequestList",
        data() {
            return {
              request: {
                  id: '',
                  name: '',
              },
              addNewButton: true,
              saveButton: false,                
            	dataFields: {
            		name: "Request", 
                created_at: "Date Created"
            	},
            	primaryKey: "id",
            	dataUrl: "/api/v1/request-list/list",
            	actionButtons: {
            		edit: {
            			title: 'Edit this request',
            			name: 'Edit',
            			apiUrl: '',
            			routeName: 'request.edit',
            			button: '<i class="fas fa-edit"></i> Edit',
            			method: 'edit'
            		},
            		delete: {
            			title: 'Delete this request',
            			name: 'Delete',
            			apiUrl: '/api/v1/request-list/delete',
            			routeName: '',
            			button: '<i class="fas fa-trash-alt"></i> Delete',
            			method: 'delete'
            		},
            	},
            };
        },

        methods: {

          addNewRequest: function() {
            this.request.id = null;
            this.request.name = null;
            this.addNewButton = true;
            this.saveButton = false;
            $('#request-form').modal('show');
          },

          editRequest: function(id) {
              axios.get('/api/v1/request-list/'+id)
              .then(response => {
                  var request = response.data.data;
                  this.request.id = id;
                  this.request.name = request.name;
                  this.addNewButton = false;
                  this.saveButton = true;
                  $('#request-form').modal('show');
              });
          },

          storeRequest: function() {
              axios.post('/api/v1/request-list/store', this.request)
              .then( response => {
                  toastr.success(response.data.message)
                  this.$refs.dataTable.fetchData();
                  $('#request-form').modal('hide');
              });
          },

          updateRequest: function() {
              axios.put('/api/v1/request-list/update', this.request)
              .then( response => {
                  toastr.success(response.data.message);
                  this.$refs.dataTable.fetchData();
                  $('#request-form').modal('hide');
              });
          },
      },

      components: {
      	Table, Multiselect
	    }
    };
</script>